[2021-05-15 11:06] dos65 commented on #2798
Thanks for reporting!

This looks like an issue in SBT. What version do you use?
I made a quick search and found that they fixed smth similar to your problem -https://github.com/sbt/sbt/pull/6165

[2021-05-15 11:42] suliatis commented on #2798
I'm using sbt 1.5.2 and everything seems to work except bsp. I wasn't sure if it metals or sbt related. I will report this issue for the sbt team then we will see.

Than you!

[2021-05-15 12:03] tgodzik commented on #2798
Alternatively, you could try switching to the newest Bloop version `1.4.8-39-c44bf129` (the version can be changed in settings), there were some recent fixes that might help.

[2021-05-15 12:39] tgodzik opened #2800 "Imports from other build targets suggested"
**Describe the bug**

In Metals, when working on Scala 3 it seems we are also suggested classes from the Scala 2 compiler.

**To Reproduce**

Steps to reproduce the behavior:

1. ScalaPresentationCompiler for Scala 3
2. Write tree...
3. You will be suggested treeChecker from `scala.tools.nsc.Global.treeChecker`
4. Code will not compiler

**Expected behavior**

`treeChecker` is not suggested

**Ins

[2021-05-15 12:44] tgodzik opened #2801 "Named parameters are backticked"
**Describe the bug**

When using the named parameters in Scala 3 they get backticked.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a method
2. Try to use it with named paremeters completion
3. Named parameter will get backticked

**Expected behavior**

Named parameter is not backticked.

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v

[2021-05-15 15:15] #2801 closed

[2021-05-15 17:57] suliatis commented on #2798
It works fine with bloop, thanks for the tip.

[2021-05-17 11:01] DavidGoodenough commented on #2776
The problem still seems to exist in the current metals snapshot.  It is still trying to connect after 5 minutes, and in the .metals/metals.log is just says that it timed out and is retrying.  Is there anything I can do to get more information?

[2021-05-17 11:03] DavidGoodenough commented on #2776
Eventually it gave up and returned:-
[code]

[2021-05-17 12:29] tgodzik commented on #2776
There shouldn't be any changes to how sbt BSP works recently. Just to confirm, it was broken in v0.10.2 and is still broken in the SNAPSHOT? what is your system and sbt version?

[2021-05-17 13:15] DavidGoodenough commented on #2776
The only thing that changed was that I started using first scala 3.0.0-RC3 and now 3.0.0.  Up until that change I could use sbt as a BSP with no problems, it was faster than bloop.  But as soon as I moved to 3 of any kind it just stopped worked.  And this is over multiple projects.
I am running on Linux (Debian sid up to date), Java 11, vscodium.

[2021-05-17 15:01] tgodzik commented on #2776
@adpi2 any idea what can cause sbt not allow Metals to connect ?

@DavidGoodenough do you still have the dotty plugin? (it it no longer needed)

[2021-05-17 15:05] DavidGoodenough commented on #2776
No, these were 2.13.5 projects and I did not try 3 until 3.0.0-RC3 with sbt 1.5.1, so no dotty plugin.

[2021-05-18 20:21] kaitolucifer opened #2808 "Error running a class on macOS with Apple M1"
**Describe the bug**

Error running a class on macOS with Apple M1

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the class you want to run
2. Click on `run`
3. See error `Could not initialize class com.zaxxer.nuprocess.osx.OsxProcess`

**Installation:**

- Operating system: macOS
- Editor: Visual Studio Code
- Metals version: v1.10.5

**Additional context**

Have tried `8.0.292-zul

[2021-05-19 07:17] tgodzik commented on #2808
Thanks for reporting! Could you maybe try additionally setting java home in `~/.bloop/bloop.json` as suggested [here](https://scalacenter.github.io/bloop/docs/server-reference#custom-java-home)? And is it the same java version as mentioned in the other issues?

You could maybe also try to update to the newest version of Bloop and see if that helps.

[2021-05-19 10:46] kaitolucifer commented on #2808
@tgodzik
I tried add new `~/.bloop/bloop.json` as below and restart Metals but nothing changed.
[code]

Currently I don't have Bloop except for the one comes with Metals. If I install Bloop with coursier, is Metals gonna use it?

[2021-05-19 11:23] DavidGoodenough commented on #2776
@tgodzik Does it matter that I am using an old style "flat" build.sbt files?  I found a reference to this old flat style leading to this kind of problem searching for "no build target: using presentation compiler with only scala-library: 2.12.13"  which I found in .metals/metals.log.  I have tried updating to the style recommended in the Sbt manual (i.e. wrapping all the settings in
[code]
but it

[2021-05-19 11:28] DavidGoodenough commented on #2776
Correction.  After I told it to attempt to build the bsp config and it now seems to work.  I will try the same with the other projects I am working on

[2021-05-19 12:01] kubukoz opened #2810 "Completions, higher-kinded types and match types"
**Describe the bug**

Completions don't show up on members of a higher-kinded type if it's been applied with a match type (at least with non-standard types).

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file with this content:

[code]

2.  Now add:

[code]

and try to run completions on `.age`.

**Expected behavior**

Seeing `map` in the completions

**Screenshots**

<img width

[2021-05-19 15:25] tgodzik commented on #2810
Thanks for reporting! I think match types are currently not that well supported in Dotty, we need to follow up in the compiler to see what's going on.

[2021-05-19 15:36] tgodzik commented on #2808
What if you use JDK 16? Also, could you maybe upgrade Bloop version to the newest snapshot? `1.4.8-41-f599f9bb` should be good.

[2021-05-19 17:40] bjornregnell commented on #2363
@tgodzik  Any further info on the possibility worksheets at top level esp in builds with no src/blah ceremony? (I'm starting to plan changes in student workspaces and teaching material so this might have some impact on which way I go)

[2021-05-20 10:13] #2549 closed

[2021-05-20 14:53] tgodzik commented on #2363
Checked a couple of things again and my current conclusion is that we can't really do it without some kind of guessing or at least workarounds. There are two main problems:

- the build tool is unable to tell us what target should the worksheet belong to as it isn't contained in any of the source directories. The logic sbt operates with is custom to sbt. Workaround in sbt would be to add `Compile/

[2021-05-20 15:25] tgodzik commented on #2363
The second point seems to be a Java limitation as far as I can tell.

[2021-05-20 15:48] tgodzik commented on #2363
Or is it? Seems I am able to work around it in https://github.com/scalameta/mdoc/pull/505

Though not sure if that would work for Scala 3.

As for the files in root directory I think it is not possible for us to work around sensibly aside from mimicking sbt logic. Not sure if that is a good solution.

[2021-05-20 18:32] bilal-fazlani opened #2811 "Unable to see argument names of a method"
**Unable to see argument names of a method**

When

**trying to use an existing method with one or more arguments in Scala 3**

Steps to reproduce the behavior:

1. Type a method name
2. Open parentheses
3. Type a comma

**Expected behavior**

Should see argument names of the method

**Screenshots**

![image](https://user-images.githubusercontent.com/3396271/119030153-27112e80-b9c7-11eb-8388-f9251

[2021-05-20 18:36] bjornregnell commented on #2363
Thanks for looking into this! In the beginning of a beginner programming course I think it is best to use the bare minimum build.sbt and keeping it as simple as possible. Each new cryptic line is a hurdle for pure beginners that have never seen code before and drains their grit and feeling of being lost. That is why I'm so engaged in this. A beginner gets an important sense of control if a file is

[2021-05-20 18:49] bjornregnell commented on #2363
just tested: empty package does not work in scala3 using a file test.worksheet.scala that access compiled code in .scala fiels, even if the worksheet file is in src/main/scala

But if a package declaration is made it works as expected.

[2021-05-20 21:20] dos65 commented on #2811
Thanks for reporting!

It' because LSP method `completionMethod/resolve` isn't implemented for Scala3 - #2778

[2021-05-21 07:39] tgodzik commented on #2811
Thanks for reporting! As @dos65 it's related to the other issue. You can follow it for updates.

[2021-05-21 07:39] #2811 closed

[2021-05-21 09:20] kaitolucifer commented on #2808
I did `sdk default java 16.0.1-zulu` and modified `bloop.json` as below.
[code]

[2021-05-21 11:07] DavidGoodenough commented on #2776
The problem came back, so whatever the bsp config did obviously got undone, but no messages in the log give a hint as to what it might be

[2021-05-21 11:19] #2766 closed

[2021-05-21 12:30] tgodzik commented on #2776
Do you have maybe a project that it reliably fails on? Maybe it's the Scala 3 sample project? or doe sit work there?

[2021-05-21 12:39] tgodzik commented on #2808
Could you maybe post the full error that you are getting? We might end up going back to the Java API. We've had too many problems with nuprocess.

[2021-05-21 12:53] adpi2 commented on #2776
You can also try to run the argv command in the `.bsp/sbt.json` manually and see if it fails or if it prints an error.

[2021-05-21 14:29] DavidGoodenough commented on #2776
@adpi2 You may have hit the jackpot.  The argv reads:-
[code]
and in /tmp there are six metals* directories, each with an identical sbt-launch.jar, they were even all created at the same time:-
[code]
(I edited this output to eliminate the . and .. files).  Running diff on the files shows that they are all identical.

But the important thing is that none of these directories have the name in the a

[2021-05-21 14:31] DavidGoodenough commented on #2776
Given that /tmp is cleared on each reboot and otherwise every 10 days on a Debian system, why are the jar files being stored there with names hard coded into the argv file?

[2021-05-21 14:35] adpi2 commented on #2776
@tgodzik is it Metals that creates and clears those `sbt-launch.jar`?

[2021-05-21 14:36] tgodzik commented on #2776
Good catch!

Metals uses that sbt jar to run sbt commands when no sbt script is specified. You should be able to fix that in the settings and rerun generating config.

Longer term, since this is being written to `.bsp` directory, we might want to save that jar to `.metals` directory in that case. Previously, that was not an issue with Bloop import.

[2021-05-21 14:41] DavidGoodenough commented on #2776
How much do I need to put in the settings?  Is it just java -jar /usr/share/sbt/bin/sbt-launch.jar ?

[2021-05-21 14:44] tgodzik commented on #2776
If you va SBT on path it should be enough to put 'sbt'

[2021-05-21 14:50] DavidGoodenough commented on #2776
@tgodzik That seems to have done the trick, at least for now.  We will see when I reboot tomorrow morning - but obviously as I am no longer using /tmp this should work.

[2021-05-21 14:55] DavidGoodenough opened #2813 "SQL error in .metals/metals.h2.db"
2021.05.21 15:47:08 ERROR error processing file:/home/david/.cache/coursier/v1/https/repo1.maven.org/maven2/org/scala-lang/scaladoc_3/3.0.0/scaladoc_3-3.0.0-sources.jar
org.h2.jdbc.JdbcBatchUpdateException: Unique index or primary key violation: "PUBLIC.PRIMARY_KEY_3 ON PUBLIC.TOPLEVEL_SYMBOL(JAR, PATH, SYMBOL) VALUES ( /* key:5017 */ 'dotty/tools/scaladoc/SocialLinks.', '/dotty/tools/scaladoc/Soc

[2021-05-21 15:12] dos65 commented on #2813
Thanks for reporting!

Actually, it's already fixed in #2809 so I'll close this one

[2021-05-21 15:12] #2813 closed

[2021-05-24 10:10] dos65 commented on #2816
Just want to add that alignment of pasted code might bring benefits to Scala2 writing experience too.

[2021-05-25 00:27] kaitolucifer commented on #2808
I got only one line.
[code]

And a pop up window lower right says
[code]

[2021-05-25 10:48] dos65 opened #2820 "Metals process doesn't exit after closing VS Code"
Steps to reproduce the behavior:

1. Open Vscode and wait when Metals fully start
2. Do Reload Window (CTRL +R ) / Close editor
3. Check processes: ` ps ax | grep metals` - there will be handed one

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.3

**Additional context**

The interesting thing that this situation doesn't happen in the case of the

[2021-05-25 11:22] ckipp01 commented on #2776
I actually just looked at this. The change necessary to store this in `.metals/` is pretty simple and seems to work. However, before sending a PR for this, I want to make sure this is actually what we want to do @tgodzik seeing that this will create this `sbt-launch.jar` in _every_ workspace then.

Sort of a related questions, but I don't think this is fully working as intended:

https://github.co

[2021-05-25 13:35] tgodzik commented on #2776
Could we only create it only if we are generating bsp config?

Hmm... I thought that it's working, I can't find too many metals dir in my tmp.

[2021-05-25 13:39] tgodzik commented on #2820
Thanks for reporting! I think I found it recently also, but this might be more to do with the metals-vscode plugin? Or alternatively we can add a timeout in the shutdown method to make sure it's always shutdown?

[2021-05-25 13:39] ckipp01 commented on #2776
Yea, that's doable.

😬 I see literally over 20 in mine.

[2021-05-25 13:40] tgodzik commented on #2776
That might be system dependent then :thinking:

[2021-05-25 13:52] #2285 closed

[2021-05-25 13:58] DavidGoodenough commented on #2776
@ckipp01 Presumably the jar is being downloaded by coursier (or the like), why not just use it direct from wherever they store it?

[2021-05-25 14:11] ckipp01 commented on #2776
I know historically there were issues with using `sbt` because it didn't always resolve correctly on windows. Basically having full control over it gives us the greatest guarantee that sbt will behave the way we need it to insure that things like `sbt bloopInstall` work the way we want them to. For most user, just using `sbt` may work fine, but there may be a handful that it doesn't, and it'd prob

[2021-05-25 14:16] tgodzik commented on #2776
I am not sure if coursier can download the launcher jar, it's not a normal sbt artifact.

[2021-05-25 14:37] dos65 commented on #2820
__Update__: I just found that the same happens even in case if the editor was closed in the usual manner.
Will change the title.

@tgodzik Are you about `ScalaPresentationCompiler.shutdown` method?
According to `thread dump`, PC thread stucks at [`waitForMoreWork`](https://github.com/scalameta/metals/blob/main/mtags/src/main/scala-2/scala/tools/nsc/interactive/MetalsGlobalThread.scala#L24)

[2021-05-25 14:40] tgodzik commented on #2820
Maybe shutdown is never run? I meant the shutdown method in the MetalsLanguageServer, it should cancel everything and exit.

[2021-05-25 14:49] dos65 commented on #2820
I will try to investigate it deeper.

I've already tried to fix it but without success and `cancel` were called correctly.

[2021-05-25 15:54] tgodzik commented on #2808
I am out of ideas, the only solution I can think of is going back to Java process API, but I don't think I will have time to work on it.

Unless...

The fix is not yet released there, could you change Bloop version setting to `1.4.8-41-f599f9bb ` in Metals settings in VS Code? There should be a pop up afterwards asking you if you want to restart the build server. You should agree to restart and in

[2021-05-26 04:59] kaitolucifer commented on #2808
I  changed setting to `"metals.bloopVersion": "1.4.8-41-f599f9bb"`.
And restart everything.
But the error is still there.

Here's the full logs I got.

[code]

[2021-05-26 10:36] tgodzik commented on #2808
Ok, so it seems we need to fix that in Bloop. If anyone is able to look at it with Apple M1 that would be awesome, I have no idea where to start with it though. I will work next month more on Bloop, so I will try to take a look at it too.

In the meantime you should be able to use sbt BSP and that should work as far as I know.

More info about that here https://scalameta.org/metals/blog/2020/11/06

[2021-05-26 12:21] mpilquist commented on #2493
I'm running in to this same issue with Metals 1.10.5 and Scala 3.0.0 final. Go to definition works for Java dependencies but not any Scala 3 dependencies. ScalaDoc previews work fine though. Is this a known limitation/issue?

[2021-05-26 12:26] tgodzik commented on #2493
I think that might be a regression. I will take a look at it.

[2021-05-26 12:31] tgodzik commented on #2493
Ok, I seemed to have the same issue, but only because the file was not compiled. After reimporting the build and compiling I started to get correct go to definition for the compiler sources.

@mpilquist do you have a specific instance/library that this doesn't work for?

[2021-05-26 12:38] mpilquist commented on #2493
I'll experiment a bit and report back. I ran in to this on a closed source project but I'll try to reproduce on OSS. I definitely had the project imported and compiled and there are no concerning messages in Metals Output tab.

[2021-05-26 12:42] tgodzik commented on #2493
It might be possible that we inferred a wrong dialect for some sources. I think maybe we should add more debug diags in those cases to turn on when needed.

[2021-05-26 12:50] mpilquist commented on #2493
Everything is working now, both on closed source project and open source -- I think the root cause was me running `sbt bloopInstall` manually and without `-Dbloop.export-jar-classifiers=sources`. I had only done that as a workaround for import build failing. Turns out I had a bad SBT script path in my Metals setting.

BTW, I did have to run `rm -rf {.bsp,.bloop}` on scodec, followed by a fresh imp

[2021-05-26 12:57] tgodzik commented on #2493
That should not be neccessary, but I think we need to work more on stability and recovery in cases such as this. Thanks for checking in on it.  `-Dbloop.export-jar-classifiers=sources` are indeed needed to get the library soruces.

[2021-05-26 12:57] #2493 closed

[2021-05-28 05:46] perrin4869 commented on #1675
Is there a way to trigger scalafix rules other than `OrganizeImports` from metals at this point?

[2021-05-28 06:11] ckipp01 commented on #1675
Hey @perrin4869, at this point there is not.

[2021-05-29 13:00] MRandl commented on #2820
Is this the same as #2722 ? If so this is a known feature

[2021-05-29 15:09] tpolecat opened #2827 "Metals fails to run on Java 11"
**Describe the bug**

Starting with a recent version of Metals (1.10.5 perhaps) it no longer works with [at least] graalvm-java11. **Downgrading to graalvm-ce-java8 resolved the issue.**

The symptoms in my codebases were that some gave the following error on startup:

![](https://files.gitter.im/5ac76d2ad73408ce4f94a2d5/IzUz/image.png)

Other projects loaded up ok but the IDE reported that Metals

[2021-05-30 07:59] bilki opened #2828 "Error when trying to import Scala 3 build with munit as library dependency"
**Describe the bug**

Importing a fresh, minimal new build using Scala 3 and adding munit dependency, the following error shows up:

[code]

Looks like somehow the version used to parse and index munit files is Scala 2.12.13 instead Scala 3.0.0.

**To Reproduce**:

1. `sbt new scala/scala3.g8`
2. Modify `build.sbt` to include `libraryDependencies += "org.scalameta" %% "munit" % "0.7.26" % Test`
3.

[2021-05-31 08:56] suliatis commented on #2798
If add this to my `globals.sbt`:

[code]

then metals and sbt bsp works fine.

Based on this comment: https://github.com/sbt/sbt/issues/6162#issuecomment-732277524

[2021-05-31 17:49] tgodzik commented on #2827
Thanks for reporting! I am not able to reproduce on Linux:
[code]

Does it work for you on `21.1.0` ?

[2021-05-31 17:58] tgodzik commented on #2798
@suliatis thanks! I added an entry to the FAQ https://github.com/scalameta/metals/pull/2832

[2021-05-31 18:47] #2798 closed

[2021-05-31 19:04] tpolecat commented on #2827
Ok so I looked closer at the logs and it looks like Metals is picking up `JAVA_OPTS` from my login shell, which includes some options that GraalVM-11 doesn't recognize. It prints a warning (marked with 🔥 below)  but then it also seems to hose the VM. So that's what the problem was. Removing those options from my login shell fixes it.

Thanks for looking into this. Closing!

[code]

[2021-05-31 19:04] #2827 closed

[2021-06-01 20:33] dos65 commented on #2820
@MRandl it's a different one. In this case, I can confirm that a dangling process is Metals itself

[2021-06-02 10:29] wpopielarski commented on #606
hi @tgodzik,
not sure if you still look at issue but I have similar one.
Metals in vscode deluges me with tones of something like this:
[code]
then trying to navigate in Spark project https://github.com/apache/spark.git
Thanks for advice

[2021-06-02 14:38] tgodzik commented on #606
@wpopielarski it seems spark doesn't properly compile with Bloop:
[code]

You might try with sbt build server.

[2021-06-02 15:36] tgodzik commented on #606
Or you could try importing the project via sbt instead of maven, that seems to also work. Might be a bug in the Bloop maven plugin.

[2021-06-02 20:36] pvid commented on #1287
Hi @tgodzik! I've been looking into this a bit - I don't think that switching to classgraph would be a good approach if you'd want to collect `ClassSignature` objects. Reimplementing a translation from classgraph objects to semanticdb could be quite error prone and hard to maintain.

How about creating an eager and parallel alternative to the lazy  [`GlobalSymbolTable`](https://github.com/scalamet

[2021-06-03 17:19] tgodzik commented on #1287
Hey @pvid, thanks for the interest!

 `Classgraph ` was a long shot anyway, we were mostly just curious if it would help out here. What might be useful is the new field that we added to semanticdb, which points to all parent symbols of a certain symbol (in the SymbolInformation class). It would greatly simplify the overall logic we use and would solve probably our issues with finding references to

[2021-06-03 21:20] pvid commented on #1287
@tgodzik thanks for the write up! I can’t promise anything timewise, but I will certainly look into this if I have any free time

[2021-06-04 05:41] wpopielarski commented on #606
I owe you if you could give me some advices how to use sbt to import maven projects.

[2021-06-04 08:21] tgodzik commented on #606
Ach, so build server here is a no go, but since it is actually an sbt project you should be able to import the build definition from sbt, which I checked works ok. You can run a commad `Run Doctor` and there should be a link to reset the used build tool. Afterwards you should be asked whether to use sbt or maven. If you choose sbt, you should be able to import the build correctly.

![spark-1622794

[2021-06-04 08:38] tgodzik commented on #1287
No worries! A lot have changed since I created the issue so I wanted to rethink what actually needs to be done and write it down here. There is a bunch of things that can be done separately here, so I think this might be more doable.

[2021-06-04 10:13] wpopielarski commented on #606
I know Doctor and used id and only for oldDeps module are some warnings. Strange thing for me is that I see some symbol like class (of module A) unrecognised in file in module B but inside module A this symbol is recognised and navigation possible. Anyway I get it is subtle problem so don't want to nag you too much

[2021-06-05 11:05] tgodzik opened #4005 "Run all/chosen Scalafix rules on source files."
**Is your feature request related to a problem? Please describe.**
It should be possible to run all or one Scalafix rules using Metals. We already have support for Scalafix in Metals for organize imports, but we would need to think about how to exactly implement it for all the other rules.

**Describe the solution you'd like**
I think it should be possible to:
- run all defined rules in `.scalafix

[2021-06-05 11:19] #2769 closed

[2021-06-05 13:39] #2856 closed

[2021-06-05 14:53] ckipp01 opened #2859 "Support project view in TVP panel for Scala 3"
I am not sure this is a bug or the feature isn't support for scala 3 yet.
I created a new sbt project using scala3.g8 template. Then I created some classes and objects in the Main.scala file.
The project explorer only detected the package, nothing else were shown unlike the Libraries section,

![image](https://user-images.githubusercontent.com/42483897/120860899-9df61c00-c5b0-11eb-9c10-604d8273f6e

[2021-06-05 14:55] ckipp01 commented on #2859
To add a little more context, I'd expect this to work in Scala 3 like it does in Scala 2. However, even after some more classes I've been unable to get TVP to show local stuff in the tree view.

Steps to recreate:

1. create a new scala3 project using the metals new project functionality.
2. Go to `Main.scala` and then open the TVP panel.
3. See that nothing is there under `example`.
4. To test fu

[2021-06-05 15:05] dos65 commented on #2859
The reason is that TVP uses `ScalaSig` that works only for scala2. For Scala3 we need to start reading tasty.

[2021-06-05 15:09] dos65 commented on #2662
Close this as a duplicate of https://github.com/scalameta/metals/issues/2859.
The new one is more exact as it describes only one unresolved issue.

[2021-06-05 15:09] #2662 closed

[2021-06-07 06:55] ScalaWilliam commented on #2485
@skakker  at which stage did you run this?

@tgodzik would be ideal to be able to specify an Artifactory/Nexus repository, rather than an http proxy. Most corporate http proxies **block** maven central, and you need to go through an Artifactory/nexus instead which caches+proxies maven central.

[2021-06-07 17:55] skakker commented on #2485
Hi, @ScalaWilliam I have this command in the docker file. The docker file is used to spawn hosted containerized environments. With this command, metals became available in the respective environments.

[2021-06-08 13:03] Swoorup opened #2864 "`-source:future` incapacitates metals worksheet."
Using `-source:future` flag under sbt using a Scala 3 compiler, makes worksheet unusable.

**To Reproduce**

Steps to reproduce the behavior:

1. Create any Scala 3 sbt project
2. In `scalaOptions` enable future flag using `scalacOptions ++= Seq("-source", "future")`
3. Observe the error using any worksheet file in the project.
4. See error

[code]

**Expected behavior**

Compiles and runs the wor

[2021-06-08 15:39] tgodzik commented on #2864
Thanks for reporting! I don't recommend using Metals with that flag on just yet, the parser is not yet fully aware of it, so this might cause a bunch of issues. However, this should still work in mdoc, so it's pretty weird that it's not working. I will take a look.

[2021-06-09 13:37] #2775 closed

[2021-06-09 14:28] adpi2 opened #2866 "Does not connect after GenerateBspConfig"
**Describe the bug**

Metals does not connect to sbt server after running `GenerateBspConfig` in a freshly cloned project

**To Reproduce**

Steps to reproduce the behavior:

1. Clone new project (or run `git clean -dfx`)
2. Open VS code and wait for Metals to start
3. Don't clik `Import build` in the "New sbt workspace" notification
4. Run `GenerateBspConfig`
5. Metals does not connect to sbt ser

[2021-06-09 14:40] ckipp01 commented on #2866
Thanks for the report @adpi2 I was able to just verify that. It's odd since if you do a `bloopInstall` with bloop first, and then do the `BspSwitch`, then it works fine. So I think you're right and in the scenario where you start without ever doing a `bloopInstall` something funky is going on.

[2021-06-09 20:22] #2866 closed

[2021-06-10 09:25] odersky opened #2869 ""save as" duplicates packages"
**Describe the bug**

An open buffer in `dotty/tools/dotc/C.scala` starting with:
[code]
Command: "Save as", argument: `C1.scala`

This gives a buffer
[code]

**Expected behavior**

If there is a package clause given, that package clause should be either removed, or no new clause should be inserted. In any case, the package clause should not be duplicated.

[2021-06-10 12:32] chenjianxin opened #2870 "[VS Code] ERROR"
JDK : 16
SBT: 1.5.3
OS: Win10

`[0m2021.06.10 18:37:32 INFO  Started: Metals version 0.10.4 in workspace 'C:\Users\elecbuggy\scala-thing' for client Visual Studio Code 1.56.2.[0m
[0m2021.06.10 18:37:36 INFO  time: initialize in 3.23s[0m
[0m2021.06.10 18:37:36 WARN  Build server is not auto-connectable.[0m
[0m2021.06.10 18:38:14 INFO  running 'C:\Users\elecbuggy\.jabba\jdk\zulu@1.16.0\bin\ja

[2021-06-10 13:29] dos65 commented on #2869
Thanks for reporting!

I can't reproduce but it seems like a possible bug as we have seen the similar one in original PR #2723.

@Giggiux I found that we replaced `lsp.ResourceOperaion` by command usage only for `Extract` action. I'm afraid there are no other options except of doing the same for `Rename`

[2021-06-10 14:20] tgodzik commented on #2869
@dos65 I managed to reproduce it, but I am not sure how to fix it. Tried it with `DidCreateFile` notification, but it seems that when the new file is first opened it's empty, so we add the package, but it's not really empty. The main problem seems to be that the file write is not atomic, VS Code first creates an empty file, opens it and then copies over the content.

I think we might need to leave

[2021-06-10 14:25] dos65 commented on #2869
@tgodzik It shouldn't be hard to fix. The only we need is to perform an actual rename operation on metals side instead of relying on editor implementation.

[2021-06-10 14:27] tgodzik commented on #2869
Th problem is that it's not rename, `Save as` copies the file as a new one, there is no way around it.

[2021-06-10 14:37] gabro commented on #2869
We already have a check in place to avoid inserting the package statement into a file that contains content, but it's currently checking `path.toFile` here:

https://github.com/scalameta/metals/blob/48157e811b9a039174f5eebd95d371ef1488bfe1/metals/src/main/scala/scala/meta/internal/metals/PackageProvider.scala#L51-L51

What we could try instead is to check the content of the params of `didOpen`, sp

[2021-06-10 14:50] tgodzik commented on #2870
Thanks for reporting! Could you try with JDK 11? We currently don't test with JDK 16, so we can't promise it's going to work.

[2021-06-10 15:43] adpi2 commented on #2482
Since 2.13.x the fields of Scala objects are represented by static fields in bytecode (https://github.com/scala/scala/pull/7270). It's the same in Scala 3.

So maybe you are right @tgodzik, we should enable the `showStaticVariables` setting. And if there is too much noise in it we can always filter...

[2021-06-10 15:47] tgodzik commented on #2482
I am not sure if I ever managed to check if it work with that option. I got kind of confused with the different Scala versions. Did you manage to confirm that it helps here?

[2021-06-11 11:57] adpi2 commented on #2482
I confirm that the `showStaticVariables` works as expected. It shows the object fields, the trait fields and `MODULE$` (that is synthetized by the compiler).

Here for instance, in an object extending `App`:
![image](https://user-images.githubusercontent.com/13123162/121680774-3bbe7f00-caba-11eb-9271-33d790230e92.png)

`MODULE$` is a recursive reference to `this` (not very useful):
![image](https:

[2021-06-11 16:47] tgodzik commented on #2482
I think we can turn it on by default and make the names nicer later on. It's better to have more info and in this case Scala usage of static members is more prevalent than in Java I think.

[2021-06-12 07:39] odersky opened #2873 "Wrong error position in the presence of implicit arguments"
**Describe the bug**

**To Reproduce**

Load the following program:

[code]
You'll see a red underline under `tree` with error message:
[code]
**Expected behavior**

The error should be on `span`, not on `tree`. If I drop the `(using Ctx)` clauses, the error is correctly diagnosed on `span`.
By comparison, if I compile in the terminal, the underline goes over the whole selection.
[code]

[2021-06-12 10:48] #2482 closed

[2021-06-12 11:12] ckipp01 commented on #2869
To follow up on your comment in #2871  @tgodzik

So I think we should actually be careful with how we change this. Partially because I think this is a bit of VS Code logic leaking in here since this doesn't seem to happen for example when mimicking this in Vim.

When you save the current Buffer with "Save As" (`:w C2.scala` in Vim land), it actually behaves as you'd expect. It's not duplicated. An

[2021-06-12 20:28] ireina7 opened #2874 "Problem with trait context bound"
**Metal keeps reporting error when using trait context bounds**
Whenever I use context bounds on trait type parameters, metal reports: `] expected but : found` but my compiler complained nothing.

**To Reproduce**

Here's my code:
[code]
When hovering my mouse over `[A: Eq]`, Metal complains error: `] expected but : found`.

**Expected behavior**

No error

**Installation:**

- Operating system: m

[2021-06-13 04:10] otto-dev opened #2875 "`Insert Type Annotation` not available in `Scala 3` sources despite correct inference"
**Describe the bug**

`Insert Type Annotation` not available in `Code Actions` when the project uses `Scala 3`.

The type is correctly inferred on hover, but inserting this type is not supported.

![DeepinScreenshot_select-area_20210613140013](https://user-images.githubusercontent.com/44302748/121794932-e9af6200-cc4f-11eb-909d-039790f01eaf.png)
(`no code action available`)

Type inferrence:
![Deep

[2021-06-13 04:33] otto-dev commented on #2875
Turns out there is a 1-2 second window a few seconds after `vim` startup where I can trigger the `Insert type annotation` code action, which executes correctly. :thinking:

[2021-06-13 07:27] ckipp01 commented on #2875
Hi @otto-dev! Thanks for the report. Support for this in Scala 3 was actually just merged in a few days ago https://github.com/scalameta/metals/pull/2825. You can use it right away if you use the latest [snapshot](https://scalameta.org/metals/docs/editors/vim.html#using-latest-metals-snapshot) or wait for the next release.

[2021-06-13 07:27] #2875 closed

[2021-06-13 17:05] odersky opened #2877 "scalameta parse error for valid Scala 3 code"
**Describe the bug**

**To Reproduce**

[code]
This program gives a parse error on the `do`:
[code]

**Expected behavior**

It should parse. Interestingly, it does parse if `while` is replaced by `if` and `do` is replaced by `then`.

**Screenshots**

**Installation:**

- Operating system: macOS/Windows/Linux
- Editor: Visual Studio Code/Atom/Vim/Sublime/Emacs
- Metals version: v0.10.4

**Additiona

[2021-06-14 01:40] otto-dev commented on #2875
Thanks, can confirm that inferred type insertion works in the snapshot.

Keep up the good work. :+1:

[2021-06-14 07:24] ckipp01 commented on #2870
@chenjianxin I see you gave @tgodzik comment a thumbs up, so I'm going to assume switching to JDK 11 helped here. If not, feel free to comment back in here and we can dig further!

[2021-06-14 07:24] #2870 closed

[2021-06-14 08:37] ckipp01 commented on #1683
So I just took a closer look at this to see if anything has changed. Using sbt as a BSP server here seems to work as expected. You see the warning, you remove the `""` and the warning goes away.

With Bloop, it depends on what version you're using. In `1.4.8` it's as illustrated up above by @smarter that the warning isn't cleared. I create a ticket in Bloop for this https://github.com/scalacenter/

[2021-06-14 08:47] ckipp01 opened #2878 "No match completion offered in Scala 3"
**Describe the bug**

Given the following code

[code]

I'd expect to get a completion option for `match`.

**Expected behavior**

The same behavior as in Scala 2, get the completion item for `match`.

**Screenshots**

**Installation:**

- Operating system: macOS
- Editor: All
- Metals version:  0.10.4+59-e4b554b4-SNAPSHOT

**Additional context**

This might be what is affect match types here as w

[2021-06-14 09:13] ckipp01 commented on #2256
So I believe this has been fixed with the later versions of mdoc. Trying this out now with the latest Metals snapshot in Scala 3 there is no issues. I'll go ahead and close this now.

[2021-06-14 09:13] #2256 closed

[2021-06-14 09:38] ckipp01 commented on #2311
I looked into this a bit today and something I noticed was that this is actually Bloop specific. Even though the DAP communication seems to be the same, when using Bloop as a BSP server the output is logged out to INFO, but this doesn't happen when using sbt as a BSP server.

[2021-06-14 09:47] ckipp01 commented on #2346
So I'm not 100% sure what to do with the issue. Trying all these example out in non-vscode editors seem to work as expected. Even the `j.i.File` example shows me exactly what I want.

https://user-images.githubusercontent.com/13974112/121873083-4a00db00-cd06-11eb-8d8a-afabda40df6a.mov

I don't believe there is a whole lot that we can do on the Metals side for this since it's actually an issue that

[2021-06-14 10:27] #2500 closed

[2021-06-14 10:55] olafurpg commented on #2346
For the record, the semicolon syntax is a hack that Metals uses because LSP has no equivalent to the select box in IntelliJ that allows you to filter results by “this project”, “dependencies” or “everywhere”.

One feature that is actually missing in Metals is allowing text search through dependency sources. An example usecase would be to search for application.conf of upstream dependencies. But my

[2021-06-14 12:21] tgodzik commented on #2878
So this is currently in the feature requests repo with the rest of unimplemented Scala 3 features. https://github.com/scalameta/metals-feature-requests/issues/175

We might need to create an entry in the docs documenting what is currently available and point to scala 3 feature requests?

[2021-06-14 12:29] ckipp01 commented on #2878
Ahh sorry, I totally forgot to check there. My bad.

Yea I think that's a good idea. I've been meaning to do some other doc updates so I can probably tackle this this week.

[2021-06-14 12:29] #2878 closed

[2021-06-14 12:33] tgodzik commented on #2878
Thanks!

[2021-06-15 17:56] dos65 commented on #2873
The actual reason is in `xsbit.Position`  implementation in scala3 compiler.
In order to have correct ranges in diagnostic, it has to override a bunch of additional methods: `startLine`,`startColumn`, `endColumn` ...

Fixed in: https://github.com/lampepfl/dotty/pull/12838

[2021-06-16 06:29] dos65 commented on #2874
Thanks for reporting!
That's indeed an issue with scalameta parser.

[2021-06-16 10:35] #2861 closed

[2021-06-16 10:36] #2823 closed

[2021-06-16 12:31] spangaer opened #2888 "user.dir system property should not be specified if it user defined in the launch config"
**Describe the bug**

When I specify a `-Duser.dir=`, myself in VSCode launch.json it gets overridden by one metals seems to inject.

[code]

VisualVM read-out:

[code]

**Installation:**

- Operating system: Windows
- Editor: Visual Studio Code 1.57
- Metals version: v0.10.4

[2021-06-16 13:14] tgodzik commented on #2888
Thanks for reporting! This seems to be intentional change done in https://github.com/scalacenter/bloop/pull/1175 to follow the semantics of the build tool.

Working directory is currently set as it is in sbt. It can be changed currently with:
[code]
and reimported.

I think we should be also able to change that Bloop doesn't add user dir property when it's already specified in the java or alternat

[2021-06-16 13:24] #2874 closed

[2021-06-16 13:34] spangaer commented on #2888
One or the other would indeed be kinder than current behavior.

I guess those settings in sbt helping out comes to no surprise, but re-importing for changing that is sort of a though one given that I'm working with source deps to 2 projects ATM, so `sbt bloopInstall` takes while to complete.

[2021-06-16 13:46] tgodzik commented on #2888
Sure, it's not ideal at all, I think we should be able to make the approach a bit more flexible.

[2021-06-16 14:32] tgodzik commented on #2869
You're right, I forgot to mention it. We would most likely need to add a separate client configuration or try to be somehow more clever about it.

[2021-06-18 16:15] #2820 closed

[2021-06-19 08:54] ckipp01 opened #2891 "Issue parsing Scala 3 and macros"
**Describe the bug**

I'm not 100% sure what's going on as I didn't dive too deep into this, but wanted to capture what @keynmol mentioned on Gitter here.

Either there is an issue with Scalameta parsing this or we aren't correctly identifying that the source we are in is Scala 3. However, I do see that in general it recognizes that the build target is Scala 3, so I don't think that's the issue. B

[2021-06-19 08:58] gabro commented on #2891
Does this happen with 3.0.1-RC1 as well? I remember something similar happening with MUnit in 3.0.0 and it was due to a bug regarding macros and -Xsafe-init

[2021-06-19 09:04] ckipp01 commented on #2891
Just bumped it to 3.0.1-RC1 and see the same issue.

[2021-06-19 09:13] dos65 commented on #2891
@ckipp01 Does it happen always or only if you open scala3 source before importing process will completion?

[2021-06-19 09:15] ckipp01 commented on #2891
The order doesn't seem to matter. For example I also tried just opening the build file, letting the full import happen, and then navigating to that file. It ends with the same result.

[2021-06-19 10:06] dos65 commented on #2891
Oh, this one quite trivial. `DefinitionProvider.fromMtags` uses default `2.13` dialect.
Will fix it.

[2021-06-21 13:46] #2891 closed

[2021-06-21 14:01] adpi2 opened #2893 "[Scala3] Does not stop on some breakpoints"
**Describe the bug**

On some Scala 3 source files, some breakpoints cannot be set or the debugger does not stop on them.

**To Reproduce**

On this piece of code:
![image](https://user-images.githubusercontent.com/13123162/122773578-c36d7000-d2a8-11eb-9fa8-20d5c8a12ee2.png)

**Expected behavior**

The debug server receives 3 `setBreakpoints` requests:
[code]
[code]
[code]
The first path is correc

[2021-06-22 10:40] mikail-khan opened #2896 "Scala Play Controller Classes Are Not Picked Up After Indexing"
**Describe the bug**
After importing and indexing this project: https://github.com/hmrc/cds-reimbursement-claim-frontend , searching for any controller class by using the Ctrl-T feature in the Visual Code fails.

**To Reproduce**

1. Clone this repo: https://github.com/hmrc/cds-reimbursement-claim-frontend
2. Import the project
3. Wait for indexing to complete
4. Type in Ctrl-T and search for any

[2021-06-22 11:04] dos65 commented on #2896
Thanks for reporting!
Could you add more details? Is there any error in logs?

I've just tried to open this project and everything works fine.

[2021-06-22 11:06] mikail-khan commented on #2896
urgh! - I re-cloned the project and rebuilt it and now I don't get the problem.

[2021-06-22 11:13] #2896 closed

[2021-06-22 15:41] #2893 closed

[2021-06-27 17:20] agilesteel opened #2901 "Rename refactoring affects unrelated targets."
I created a minimal project to reproduce the issue. Follow the `README.md` here: https://github.com/agilesteel/rename-issue

[2021-06-28 07:06] dos65 commented on #2901
Thanks for reporting! I'm able to reproduce it. That's indeed a bug.

[2021-06-28 07:22] tgodzik commented on #2901
I think this is due to the fact that we don't list references by target, we would nee to change that. Maybe keep BuildTargetId with the BloomFilter and when starting to check for references keep a set of affected build targets, which would be the ones that include this source file and all downstream that depend on them.

[2021-06-28 08:34] philsherry opened #2902 "Metals starts up in every project on macOS"
## Describe the bug

Metals starts up in *every* project on macOS, no matter what kind of file is in the project.

Not all of my projects are Scala-related, but Metals is showing up anyway.

I’d settle for a `.metalsignore` file as long as it was respected.

## To Reproduce

Steps to reproduce the behavior:

1. I open any project.
2. I wait for the Output window to stop scrolling as Metals downloa

[2021-06-28 08:45] tgodzik commented on #2902
Thanks for reporting, Metals is activated by the following:
[code]
so most likely the issue lies within VS Code itself. You should be able to see what activates the extension in "Output -> Log (Extension host)". However, VS Code is known to activate an extension if any of the condition times out.

I am afraid there might be nothing to do on our side.

[2021-06-28 08:49] philsherry commented on #2902
Could a `.metalsignore` file work? I realise this is most likely quite an undertaking, so I'm prepared for a polite refusal here.

[2021-06-28 08:52] tgodzik commented on #2902
You can already disable Metals within certain workspaces, that's inside the extension tab. `Disable (workspace)` should be somewhere around the Metals extension tab.

[2021-06-28 08:53] tgodzik commented on #2902
However, Metals should not be activated in unrelated workspaces, so if you are able to check the extension host, that might be helpful to figure out what's going on.

[2021-06-28 09:01] tgodzik commented on #2902
Something like this should pop up:
[code]

[2021-06-28 09:13] philsherry commented on #2902
Yep, I have this in there:

`[2021-06-28 09:18:35.022] [exthost] [info] ExtensionService#_doActivateExtension scalameta.metals {"startup":true,"extensionId":{"value":"scalameta.metals","_lower":"scalameta.metals"},"activationEvent":"workspaceContainsTimeout:*/src/main/scala,*/*/src/main/scala"}`

[2021-06-28 09:26] tgodzik commented on #2902
So that one seems to be an issue with VS Code. It shouldn't really timeout on checking this depth of directories in a small workspace. Probably something weird is going on but nothing we can fix on the Metals side without changing the current behaviour.

Best to work around it by disabling metals in certain workspaces or enabling it only in some.

[2021-06-28 09:26] #2902 closed

[2021-06-28 12:13] EveryonePrint-dev opened #2903 "Organize import raises server error with - zip END header not found"
**Describe the bug**

When issuing 'organize imports' in LSP client The following error is raised on server side.

(:jsonrpc "2.0" :id 33 :error
          (:code -32603 :message "Internal error." :data "java.util.concurrent.CompletionException: scala.meta.internal.metals.ScalafixProvider$ScalafixRunException: Unable to load symbol table: zip END header not found\n	at java.base/java.util.concurrent

[2021-06-29 11:39] dos65 commented on #2903
Thanks for reporting!

Could you try to clean up gradle cache (`~/.gradle`)?
This error might happen because of having some corrupted jars files in the classpath.

[2021-06-29 18:05] kubukoz opened #2904 "Implicit parameter hints don't appear in top-level generator positions"
**Describe the bug**

Implicit hints don't appear for implicit parameters in a certain position of a for comprehension.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file

[code]

2. Compile
3. Enable implicit parameter hints
4. Only `def x = foo` has an implicit parameter hint

**Expected behavior**

`foo` call in the forcomp shows the Numeric instance used

**Screenshots**

<i

[2021-06-29 18:17] kubukoz opened #2905 "Type hints don't appear on synthetic .apply"
**Describe the bug**

Inferred type hints don't show up for calls to `apply` methods that are automatically expanded from `(...)` calls.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file:

[code]

2. Compile
3. Turn on type hints
4. Wait for hints to show up
5. There's only a hint on `apply` if it's called explicitly

**Expected behavior**

There would be a type hint on `T(...)

[2021-06-30 11:45] tgodzik commented on #2904
Thanks for reporting! This seems to be an issue within semanticdb, we are not producing the correct synthetic information when in a for comprehension.

[2021-06-30 13:17] tgodzik commented on #2905
Thanks for reporting! Fixing it in https://github.com/scalameta/metals/pull/2906

I disabled it for tuples though, since it seems there is no sensible place to include types there and that unfortunately influences doing `Tuple2(1, 2)`, but hopefully not that many people use it.

[2021-06-30 13:46] kubukoz commented on #2905
Interesting, can we use the AST of the expression instead of just the type to determine whether it should show things (Tuple2) or not (`(,)`)?

[2021-06-30 13:57] tgodzik commented on #2905
That would require checking the tree for each synthetic occurrence, which is something I would like to avoid. The other Option is checking the source file itself... maybe that would work.

[2021-06-30 14:58] sbushmanov opened #2907 "Could not optimize @tailrec annotated method factorial"
When I do in scala worksheet:

[code]
I'm getting an error:
[code]

Expected behavior:
`factorial` should be properly evaluated without an error.

Setup:
- vim version: NVIM v0.5.0-dev+1444-gc1120ad
- node version: v15.14.0
- coc.nvim version: 0.0.80-131f6b267f
- same error for both bloop and sbt

[2021-06-30 15:26] tgodzik commented on #2907
Thanks for reporting! We already were fixing it upstream, but forgot to update the fix in Metals. Should work after #2908 is released

[2021-06-30 15:26] tgodzik commented on #2905
I changed it to check if the actual Tuple name exists at synthetic location.

[2021-06-30 16:14] sbushmanov commented on #2907
Perhaps not related, but may I ask why for a problem diagnostic to be identified I need to reload the build?

[2021-06-30 17:45] tgodzik commented on #2907
You should not need to reload anything to get diagnostics, in case of worksheets it should work on save. However, if there is an internal error you might need to reload the worksheet or force another save.

[2021-06-30 18:08] sbushmanov commented on #2907
In `*.scala` files I'm only getting diagnostics on save.  In `*.worksheet.sc` I need to reload build.
Am I missing something?
Or should I open an issue?

[2021-06-30 19:30] esuntag opened #2909 "Goto definition broken for shapeless3 kind objects"
**Describe the bug**

Goto definition seems to be broken for the kind objects in  shapeless3.derivining (shapeless3.deriving.{K0, K1, K11, K2}

**To Reproduce**

Steps to reproduce the behavior:

In the following code snippet, vscode displays the correct type information for `K0` but will not let me go to defintion. It works fine for other shapeless 3 classes like `Complete`. I am using the latest

[2021-06-30 20:08] tgodzik commented on #2907
We only publish diagnostics on save aside from syntax errors, so that is expected.

For worksheets only saving is also needed. How do you reloaf the build? What's the snippet that you are using? Probably best to raise a separate issue with a reproduction

[2021-07-01 11:03] dos65 opened #2918 "[Scala3] Go to defition - handle `stdLibPatches`"
Scala3 applies patches on some parts of scala-library that leads to incorrect go to defition.
In case of having `scala/Predef/assert` Metals navigates into `scala/Predef.scala` while it should open `scala/runtime/stdLibPatches/Predef.scala` - https://github.com/lampepfl/dotty/issues/12942

It's hard to fix in compiler, so for scala3, we need to check if owner symbol has patches in [`scala.runtime.

[2021-07-01 13:11] dos65 opened #2919 "[Scala3] No completions after newline + dot in VScode"
~~It seems that there is an issues in `CompletionPos` calculation~~

[code]

According to traces, metals actually returns completions but they are filtered out by VScode by some reason.
It's needed to check what wrongs with their data.

[2021-07-01 14:28] #2907 closed

[2021-07-01 15:41] Z1kkurat opened #2922 "Support "Go to references" from library sources"
**Is your feature request related to a problem? Please describe.**
Currently, Metals does not find references to a symbol in a current project when searched from library sources. Example with cats-effect:
1. Go to `cats.effect.IO` class
2. Put cursor on `unsafeRunSync` method
3. Do "Go to references"
4. Metals does not find references to this method in the currently open project

**Describe the so

[2021-07-01 15:41] #2922 closed

[2021-07-01 18:59] ckipp01 commented on #2919
Just to make sure I did test this in nvim-metals and it indeed shows.

<img width="991" alt="Screenshot 2021-07-01 at 20 58 51" src="https://user-images.githubusercontent.com/13974112/124176458-32b84080-daaf-11eb-82fb-298dd0eb52bd.png">

[2021-07-01 20:39] dos65 opened #2923 "VScode - Organize Import as CodeAction doesn't work"
Triggering code action on the line with `Unused Import` warning returns `No code action available.`
However, there are trace with `textDocument/codeAction` repsonse:

<details>
  <summary>Trace</summary>
  <pre>
  [Trace - 11:31:17 PM] Received request 'textDocument/codeAction - (24)'
Params: {
  "textDocument": {
    "uri": "file:///home/dos65/projects/metals/metals/tests/unit/src/test/scala/test

[2021-07-02 09:14] tgodzik commented on #2919
Looks like maybe text edit is wrong:
[code]

it shouldn't start at 0, but at 5 like in Scala 2

[2021-07-02 09:18] tgodzik commented on #2919
[code]
looks completely broken because of the above.

[2021-07-02 12:42] tgodzik commented on #2909
Thanks for reporting! @dos65 does you PR help with the issue here?

[2021-07-02 13:19] tgodzik commented on #2909
Ok, it seems it should actually be fixed as of yesterday. Could you check with Metals version `0.10.4+112-9098c2a1-SNAPSHOT` ?

[2021-07-02 14:42] tgodzik commented on #2923
I suspect that this is due to the OrganizeImports kind being set, I wonder if we change it to quickfix for unused imports it would work :thinking:

[2021-07-02 14:43] #2905 closed

[2021-07-02 15:02] esuntag commented on #2909
Thanks, it seems to be working now with that version.

[2021-07-02 15:03] tgodzik commented on #2909
Cool! We will probably do a release together with 3.0.1

[2021-07-02 15:03] #2909 closed

[2021-07-02 16:07] kubukoz opened #2925 "Stability issues / Unexpected warnings/errors in metals.log"
**Describe the bug**

I don't see errors being updated in the UI, this may be related or not.

<details>
<summary>Exhibit 1: newCompile unknown compiler options</summary>

This may be a red herring, `utf8` might be added to the compiler flags because I have `scalacOptions ++= Seq("-encoding", "utf8")` somewhere in the build - not sure how these are added for the presentation compiler.

[code]

</d

[2021-07-02 16:09] kubukoz commented on #2925
Update: after "connect to build server" I have 4 Metals server instances for a single project.

[2021-07-02 17:36] kubukoz opened #2926 ""Autofill with default values" doesn't quote keywords"
**Describe the bug**

Parameter names like

[code]

are filled in verbatim, without being ticked.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file:

[code]

2. Try to call `f`
3. Use "Autofill with default values"
4. See result:

[code]

**Expected behavior**

Keywords like `type` are wrapped in ticks like at the definition site.

**Screenshots**

<img width="610" alt="image"

[2021-07-03 16:09] Swoorup opened #2928 "Worksheet taking forever to evaluate in nightly builds (OSX, VSCode)"
**Describe the bug**

Worksheet appears to be taking forever to evaluate in OSX.

**To Reproduce**

Steps to reproduce the behavior:

1. Use any worksheet.
2. Close and reopen the worksheet in VSCode.
3. Observe the forever evaluation.
![image](https://user-images.githubusercontent.com/3408009/124360338-99cf2400-dc6c-11eb-8395-e479323f2cb4.png)

**Installation:**

- Operating system: macOS
- Edito

[2021-07-03 16:11] Swoorup commented on #2928
Sample worksheet used:

[code]

[2021-07-05 08:59] tgodzik commented on #2928
@Swoorup this might be caused by my recent changes. Thanks for raising this! We'll make sure to revert/change it before the next release.

[2021-07-05 10:44] tgodzik commented on #2925
Thanks for reporting!

That should be fixed in the recent snapshot and might cause some of the issues.

is usually caused by using a wrong flag, I think there was some issue with tpolecat recommended flags?

Might be connected to the multidiude of clients running at the same time

This is a compiler issue, best to report it there, but might have been caused by a specific code state.

That's a fun

[2021-07-05 13:16] #2926 closed

[2021-07-05 13:23] #2776 closed

[2021-07-05 14:05] tgodzik commented on #2764
We need to fix it differently or document it as unsupported in the worksheets.

[2021-07-05 14:48] ckipp01 opened #2932 "Website gitpod examples don't work"
**Describe the bug**

When trying to use the "TRY ONLINE WITH GITPOD" functionality on the homepage of the website, it opens up the projects, but there are some errors and Metals isn't installed. When the project opens up you see the following errors in the workspace:

<img width="668" alt="Screenshot 2021-07-05 at 16 48 12" src="https://user-images.githubusercontent.com/13974112/124489010-cee48f0

[2021-07-05 14:51] tgodzik commented on #2932
Thanks for checking! I guess the reason is that they want to use the openvsx extensions, but not sure if they can be preinstalled for a user.

[2021-07-05 15:14] tgodzik commented on #2932
Ok, it should be fixed now! We can now always rely on the latest extension, which is awesome. Also fixed in the gitpod sample repo.

[2021-07-05 15:14] #2932 closed

[2021-07-05 15:15] ckipp01 commented on #2932
You're too speedy @tgodzik ⚡

[2021-07-05 15:52] kubukoz commented on #2925
I think it's doing what https://docs.scala-lang.org/overviews/compiler-options/index.html does: passing `-encoding`, `utf8` as separate parameters to `scalacOptions`. Perhaps there's some reordering/sorting along the way so they get added to the PC in the wrong order?

I have one client only :/

[2021-07-05 16:27] tgodzik commented on #2925
Might be, but we don't really reorder anything, if you have a short repro we could check it out. I haven't seen an issue with it normally.

yeah, but because of the bug multiple clients might still be connected to Bloop :/

Should be fixed in the newest master.

[2021-07-05 16:38] kubukoz commented on #2925
cool, I'll get onto the bleeding edge :D

[2021-07-05 18:06] mjarosie opened #2934 "Failed to download Metals"
**Describe the bug**

When opening VSCode with powershell (just `code .`) I get the following popup:

![image](https://user-images.githubusercontent.com/9082353/124506591-e2e5bc00-ddc3-11eb-8180-cd50632f5e7a.png)

I also get the following error in Metals' output:

[code]

When I open VSCode with the basic Windows command line, the problem doesn't occur.

**To Reproduce**

Steps to reproduce the be

[2021-07-06 07:13] #2928 closed

[2021-07-06 10:08] #2919 closed

[2021-07-06 11:28] dos65 commented on #2934
Thanks for reporting!

There is such an issue with PowerShell in Coursier - https://github.com/coursier/coursier/issues/2031

[2021-07-06 11:57] tgodzik commented on #2934
It's also related to https://github.com/dirs-dev/directories-jvm/issues/49

[2021-07-08 09:37] tgodzik commented on #2934
In the meantime I would suggest using linux subsystem for windows, which works pretty great with VS Code.

[2021-07-08 16:46] tgodzik opened #2943 "Support end marker in worksheets"
### Discussed in https://github.com/scalameta/metals/discussions/2942

<div type='discussions-op-text'>

<sup>Originally posted by **fcrbe** July  8, 2021</sup>
Hi,

getting familiar with Scala within Visual Code and the Metals extension. Is the [endmarker](https://dotty.epfl.ch/docs/reference/other-new-features/indentation.html#the-end-marker) not supported? When trying to use it, the "end" word

[2021-07-09 10:56] #2923 closed

[2021-07-09 11:43] agilesteel opened #2946 "Metals Doctor + `not yet supported` warning for Scala 3"
Scala 3.0.1 just came out and metals (vscode) works just fine with it, but the popup asking to downgrade Scala to 3.0.0 still appears and the doctor says that `go to definition` and `completions` won't work, but they do.

Expected behavior: no false negatives.

[2021-07-09 12:52] dos65 commented on #2946
Thanks for reporting!

Actually, it shouldn't work as we haven't released Metals with `3.0.1` support yet.

I guess that completions and definitions might work only if there is some bug related to `PresentationCompiler` caches.
I suppose that it won't work if you restart metals server. Could you confirm that?

[2021-07-09 13:32] agilesteel commented on #2946
I restarted the server and even reimported the build. It still works like a charm.

[2021-07-09 14:31] LLCampos opened #3001 "Automatic refactor: convert match statement to pattern matching anonymous function"
**Is your feature request related to a problem? Please describe.**
In IntelliJ, if I have something like:

[code]

I immediately get a suggestion to change it to:

[code]

Currently there's no such thing on Metals

**Describe the solution you'd like**
On Discord, @tgodzik wrote to me that this "(...) it's a good candidate for a quickfix refactoring".

**Describe alternatives you've considered**
Ch

[2021-07-10 05:58] scf37 opened #2949 "Go To Source does not work for Scala3 library classes"
**Describe the bug**

Go to source in Scala 3 fails even on simplest cases

**To Reproduce**

Steps to reproduce the behavior:

Import simple `scalaVersion := 3.0.0` project to vscode, write simple code, Ctrl-click `newBuilder`

**Expected behavior**

going to `newBuilder` definition

**Screenshots**

![image](https://user-images.githubusercontent.com/1148465/125153431-4ec97b00-e15c-11eb-98bb-54ae

[2021-07-10 07:54] dos65 commented on #2949
Thanks for reporting!

Go to definition for Scala3 should work well on this version if there is no compile errors in your project.
It seems that something goes wrong with bsp service. Could you restart bloop/sbt process?

[2021-07-10 08:29] scf37 commented on #2949
Closing vscode, killing all tooling processes, deleting all vscode files from the project, and then reimporting hepled.
But!
After verifying goto source works for newBuilder, I added another line of code and goto source broke again...
![image](https://user-images.githubusercontent.com/1148465/125157182-12a11500-e172-11eb-870e-5aa20f4bda32.png)

[2021-07-10 08:43] dos65 commented on #2946
Oh, yes you right. It works but in this case Metals fallbacks on the latest supported Scala 3 version.

It seems that this `not supported` case for Scala 3 is different from Scala2. We don't need to release and upgrade scalameta for scala 3 so it should work well in most cases.

Probably in this case warning should say:
[code]
@tgodzik wdyt?

[2021-07-10 09:03] dos65 commented on #2949
@scf37 Could you check if there are any error messages in logs?

Also, if you are using bloop you could try to [install it's cli](https://scalacenter.github.io/bloop/setup) and run `bloop compile`. Maybe it will show the exact error.

[2021-07-10 09:49] scf37 commented on #2949
hmmmm what is build target and how to set it?
[code]

[2021-07-10 10:29] dos65 commented on #2949
It's a project in sbt. According to logs this source file doesn't belong to any project.

The reason might be in build definition misconfiguration.
You could check that by running `sbt run`. If it won't find any main classes then you need check your `build.sbt`

[2021-07-10 10:51] tgodzik commented on #2946
Good idea! :+1:

[2021-07-10 11:02] scf37 commented on #2949
[code]

[code]

[code]

There is nothing else

[2021-07-10 12:56] dos65 commented on #2949
@scf37 It looks like project wasn't imported. Could you run `import  build ` and check logs?

Also, you can try the latest SNAPSHOT version - `0.10.4+150-a5639d69-SNAPSHOT`. There were fixes around importing sbt build recently.

[2021-07-10 13:16] scf37 commented on #2949
Found it!
Autocomplete only works after saving. So Ctrl+S first, then Ctrl+click on newly typed code.

[2021-07-10 13:22] scf37 commented on #2949
bloop.settings.json in my project:
[code]

I guess there is no scala3 support.

[2021-07-10 13:45] tgodzik commented on #2949
Scala 3 has built in semanticdb support, so this is no longer needed.

Things should also work even without saving, however if Metals doesn't know it's Scala 3 then there might be some issues. Do you still get the warnings in Metals logs? Can you paste the output of importing the project? That should be in the same logs

[2021-07-10 16:41] scf37 commented on #2949
Here is demo project
[scala3-vscode.tar.gz](https://github.com/scalameta/metals/files/6795629/scala3-vscode.tar.gz)
1. unpack and go to project directory
2. type `code .`
3. click `Import build`
4. metals.log will contain abovementioned exceptions
Ubuntu 20.04.2 LTS / Oracle JDK 1.8.0_181 64 bit / SBT 1.5.2

[2021-07-12 07:38] dos65 commented on #2949
@scf37 I can't reproduce this problem on attached sources. You need to attach your logs. Otherwise we can't investigate what happens.

[2021-07-12 07:57] scf37 commented on #2949
Entire project workspace, with logs and build files.
[scala3-vscode.tar.gz](https://github.com/scalameta/metals/files/6799564/scala3-vscode.tar.gz)

[2021-07-12 14:44] dos65 commented on #2873
Fixed from 3.0.0-RC2

[2021-07-12 14:44] #2873 closed

[2021-07-12 15:15] alec-bernardi opened #2952 "Remote extension disables Metals despite fulfilled dependency"
**Describe the bug**

As of the latest release of VSCode the `Scala (Metals)` extension is disabled when using the `Remote - SSH` extension to develop remotely.
It claims a dependency is disabled, when in reality the `Scala Syntax` extension runs locally, but `Scala (Metals)` runs remotely.

**To Reproduce**

Steps to reproduce the behavior:

1. Install the following extensions: `Remote - SSH`, `S

[2021-07-12 15:23] tgodzik commented on #2952
Thanks for reporting, the issue is caused by a recent change in VS Code, closing in favour of https://github.com/scalameta/metals-vscode/issues/613

[2021-07-12 15:23] #2952 closed

[2021-07-13 10:36] MisterLight opened #2954 "Unexpected error when opening a gatling project"
Im just following  this guide to develop a gatling project in vscode:

https://www.james-willett.com/gatling-vscode/

I just install metal and create and new project with maven, using the gatling archetype v 3.6.1.

At first looks like it´s working, when I open a .scala file, the plugin detect this and ask me for import the build.

But when is downloading the build, give me the following error and

[2021-07-13 20:17] ckipp01 opened #2956 "Metals locks up and becomes unresponsive with Scala 3"
**Describe the bug**

I've been working on a very small project in Scala 3 the last few nights and I keep hitting on Metals just completely freezing and locking up. CPU is locked at like 900%, VisualVM won't open for me to see what's going on, and even `jstack` wasn't working. I'm just completely unable to kill the process and have to restart my computer. I'm currently trying to figure out what's

[2021-07-14 07:51] dos65 commented on #2956
It's hard to say what exactly happens. I expected to see more threads running on doing smth on Scala3 PC side.
It seems that it's time to benchmark Scala 3 completions and compare it with Scala 2.

@ckipp01 Could you try to replace this part by `List.empty` and check if it helps? Found only it in attached jstack and I've noticed that sometimes completions for empty query are slightly slow but it d

[2021-07-14 09:17] tgodzik commented on #2956
I think the issue is that GC is running and trying to free memory and it's failing to do so. It would good to see JMap or anything that can possibly point to memory usage.

You should also be able to open `VisualVM` at the start, which will help you see what is going on exactly.

[2021-07-14 12:46] renevangsgaardjp commented on #507
I just discovered a behaviour similar to this. With Metals version 0.10.5 I am not able to build the repository mentioned in the bug report, https://github.com/benhutchison/metals_import_test.

[2021-07-14 16:20] tgodzik commented on #2954
Thanks for reporting! This seems like an error with the export to Bloop build server. Could you push that reproduction to a repository somewhere so that we can take a look? Alternatively, installing Bloop CLI via coursier might help to find the underlying issue. You should be able to do `bloop compile --verbose`, which might shed a light on what's going on exactly.

[2021-07-14 16:34] tgodzik commented on #2949
It looks like there were some parsing issue in the start (it is expected since the default without import is Scala 2), but later on there are no errors at all after import. Maybe you could try with the new release? Might work better for your case. I haven't managed to reproduce it either.

[2021-07-14 16:53] tgodzik opened #2960 "IdentifierComparator will fail with long numbers"
**Describe the bug**

It seems that with big projects some of the nodes in three view might have ids that are not representable by int. We should switch IdentifierComparator to use Long or use a separate comparator for TreeView

**To Reproduce**

Steps to reproduce the behavior:

1. Open a really large project
2. Try clicking around on the tree view

This was reported on discord, though I totally

[2021-07-14 20:02] armeltd commented on #2875
Hello !

I can't figure out how have this "Insert infered type" action (I am on scala 2).

![image](https://user-images.githubusercontent.com/29709300/125683925-aa978488-44c8-4499-8974-53fbc6f7c8de.png)

Seeing the screenshot in the comment above that should be possible. There is something I must be missing.  Should it be supported out of the box ?

OS: Linux
vim version: NVIM v0.5.0
node version:

[2021-07-14 20:19] pvid opened #2961 "FileWatcher not working for a large project on macOS Big Sur"
**Describe the bug**

Recently I started to work on a large SBT project (metals reports 125 build targets + several hundred library dependencies) with a  newly set up Intel MacBook Pro (running Big Sur).

I noticed "rename" and "find all references" did not work most of the time. The strange thing is that sometimes they worked, sometimes they worked for only some projects, the next time they worke

[2021-07-14 21:27] eatkins commented on #2961
This kind of thing is very difficult to debug. In the past, I've seen similar behavior when there are too many [file system event streams](https://developer.apple.com/documentation/coreservices/1443980-fseventstreamcreate) created on the machine. There are some libraries that try to interact with the osx file system watcher as though it were inotify and create a stream for every directory in the f

[2021-07-14 23:05] benhutchison commented on #507
@jvican Realise I'd missed your question amongst all the github notifications, and recent activity reminded me.

My context is a bit fuzzy on this but I guessing I meant that SBT projects that dont include sbt-bloop plugin can't set that `bloopAggregateSourceDependencies ` setting. In an organization, telling your tech lead (who doesnt use Metals) that every SBT project needs to add a plugin just

[2021-07-15 16:25] kag0 commented on #400
I'm running into this same issue. Ideally I wouldn't need to change the build file since bloop/metals is a local development detail and not one shared by all developers on the project.
That said, adding the setting key didn't seem to help for me.

[2021-07-15 17:22] ckipp01 commented on #400
@kag0 can you include some details about the version of Metals you are using and your system? Is the error you're seeing the exact same as the above?

[2021-07-15 17:29] kag0 commented on #400
It was the exact same as above, I'm on osx 11.4. But somehow after a reboot and a metals update it's working now.
I have some other issues now with symbols not being recognized across sbt projects, but that looks like a different issue.

[2021-07-16 12:51] LoranceChen opened #2973 "In one Ammonite script file cannot recognize another sc file's variable and methods when attempt use code completed."
**Describe the bug**

**To Reproduce** Steps to reproduce the behavior:

1. create one sc file: `MyScript.sc`:
[code]
2. create second sc file: `MyScript2.sc`, the problem is there is not proper tips for `myCount` or `myFunc` when input `MyScript.`
[code]

**Expected behavior**
give tips for `myCount` or `myFunc` when input `MyScript.`

**Screenshots**
![image](https://user-images.githubuserconten

[2021-07-19 10:57] tgodzik commented on #507
I think Bloop already sets `bloopAggregateSourceDependencies` as the default, so it should work :thinking:

[2021-07-19 11:33] tgodzik commented on #2961
Maybe we are doing it wrong in Metals? We are doing:
`sourceDirectoriesToWatch.foreach(repo.register(_, Int.MaxValue))`

so maybe we are watching each target/source directory separately and this causes us to quickly run out of the limit.

We could try watching just the workspace and maybe filter anything that is not in the watched directories?

[2021-07-19 11:33] ckipp01 commented on #2973
Btw this is probably the same issue as in https://github.com/scalameta/metals/issues/2122. It's not limited to getting completions from another script, the issue actually exists in the same file if you try to complete from user defined types.

[2021-07-19 14:29] tgodzik commented on #2973
Thanks Chris, this prompted me to recheck what's going on and I think I got it fixed. And it was all my fault! :sweat_smile:

[2021-07-19 14:51] ckipp01 commented on #2973
Ha, just as much our fault as well for not catching it. Glad you figured it out!

[2021-07-19 16:19] #2122 closed

[2021-07-19 16:19] #2973 closed

[2021-07-19 18:07] ckipp01 commented on #2594
Seeing that this is now ongoing and the application process is complete and decisions were made a while ago, I'm going to close this.

[2021-07-19 18:07] #2594 closed

[2021-07-19 20:51] vishalovercome commented on #2311
Is the logging configurable? Libraries such as Testcontainers generate a lot of logs and running them as part of worksheets results in disks filling up very quickly. We need a cap on the size of the logs as well as log level configurability.

[2021-07-19 21:41] eatkins commented on #2961
Now that I think about it, I could see how this might be a problem for metals that isn't a problem for sbt. In sbt, as I mentioned, we always watch the base directory so that we can detect if the build files changed. As a result, there will only be one watch stream provided that all of the source directories are children of the project root directory (which I'd imagine is effectively always the ca

[2021-07-20 09:11] #2800 closed

[2021-07-20 10:42] tgodzik commented on #2961
Thanks @eatkins! It seems a reasonable course of action and shouldn't be a lot of additional work.

[2021-07-20 14:44] tgodzik commented on #2311
We should most likely not log to file at all, I don't think it's useful at any point. We need to fix it in Bloop itself though.

[2021-07-20 16:09] shonfeder commented on #882
So the linked issue was closed without a fix. For future readers (likely myself) who hit this, the workaround seems to be first doing

[code]

in your project.

[2021-07-20 17:49] #2975 closed

[2021-07-21 01:30] Wolf-Tungsten opened #2976 "Visual Studio Code Request textDocument/completion failed Internal error -32603"
**Describe the bug**

Code completion does not work.

**To Reproduce**

Steps to reproduce the behavior:

1. Import a project.
2. Type some words that should be completed.

**Expected behavior**
There should be code completion like this:
![image](https://user-images.githubusercontent.com/19880884/126415860-575021c3-e80e-4065-8a36-1b0fad783a87.png)

However, same project and same file on a differen

[2021-07-21 03:14] Wolf-Tungsten commented on #2976
Finally, I changed the version back to 0.10.2 and code completion worked.

[2021-07-21 05:16] vishalovercome commented on #2311
While metals.log might not be the right place to log program output, we'll need to have some log file, logging configuring capability as that's the only way to debug our worksheets

[2021-07-21 08:35] tgodzik commented on #2311
Output from a program are normally logged to debug console, so that should be enough. As for worksheets, they should not be logged at all aside from errors, which is a normal Metals logging behaviour.

Timeline will probably be within next couple of months, because I think it's something we need to fix for sure before 1.0.0

[2021-07-21 08:48] tgodzik commented on #2976
Thanks for reporting! This looks like we were unable to download mtags module that contains the ScalaPresentationCompiler class or the jar is invalid. Is there any other errors in the logs? Normally there should not be any issues with that part of code, but maybe it's an issue with the Java version being used on the remote host or proxy issue?

I think the remote is the clue here, but we've never

[2021-07-21 11:37] yuriy-yarosh opened #2977 ""-print-lines" breaks auto-completion"
**Describe the bug**

"-print-lines" dotty arg breaks auto-completion.

**To Reproduce**

Use these scalacOptions

[code]

Results in

[code]

**Expected behavior**

We shouldn't get proper autocompletion
[code]

**Screenshots**

![screenshot](https://i.imgur.com/yk3YUj7.png)

**Installation:**

- Operating system: Arch
- Editor: Visual Studio Code
- VSCode Metals plugin version: v1.10.7
- sbt-blo

[2021-07-21 13:30] tgodzik commented on #2977
Thanks for reporting! Not sure why it's happening, but we can for sure just filter those options out. They are not needed by teh presentation compiler.

Fixing it in https://github.com/scalameta/metals/pull/2979

[2021-07-21 13:51] yuriy-yarosh commented on #2977
NP, Tomasz.
Thanks for the followup and the fix.

[2021-07-21 13:51] #2977 closed

[2021-07-22 11:26] tgodzik commented on #2949
Could you check out with the newest Metals version and let us know?

[2021-07-22 12:15] armeltd opened #2982 ""Insert type annotation" available in vim ?"
Hello !

I can't figure out how to have the "Insert type" action in vim. It doesn't appear in the choices.
Is it expected ?

![image](https://user-images.githubusercontent.com/29709300/125683925-aa978488-44c8-4499-8974-53fbc6f7c8de.png)

OS: Linux
vim version: NVIM v0.5.0
node version: v12.22.0
coc.nvim version: 0.0.80-aa24232066
coc-metals: 1.0.7
scala: 2.13.5

_Originally posted by @armeltd in h

[2021-07-22 12:15] scf37 commented on #2949
Works correctly for v1.10.8

[2021-07-22 12:46] tgodzik commented on #2949
Thanks!

[2021-07-22 12:47] #2949 closed

[2021-07-22 13:16] tgodzik commented on #2982
Thanks for reporting! It looks like the position sent to Metals is that of `"tot"` as the code action suggests the `Convert to interpolation string` code action. Any idea what's going here @ckipp01  ?

[2021-07-22 13:48] #2943 closed

[2021-07-22 15:26] dos65 opened #2983 "MultlineStringFormatter - wrong `stripMargin` position"
Given the following snippet:
[code]

After putting a newline at `@@` it adds `.stripMargin` to nested string interpolation expr:
[code]

Expected result:
[code]

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.5

[2021-07-22 19:58] pvid commented on #2961
Hi @eatkins, I dug a little deeper. After reading about similar issues in various node.js project and gradle, I was curious why there are no errors - issues from other project mention errors while registering paths for watching. I noticed that `FileTreeRepository#register` is returning a value that is ignored in metals. However, it always returns a `Right(true)`.

After some fun with the debugger,

[2021-07-22 20:14] eatkins commented on #2961
Hey @pvid. Thanks for the investigations! Yes, it would be good to submit an issue in the swoval repository. I wrote the core of swoval more than three years ago at this point, so I can't remember why the FileCacheDirectoryTree disregards the result from the path watcher but I agree that it seems wrong and it would be better to report the issue back to the caller. Fixing the reporting issue may al

[2021-07-22 20:25] pvid commented on #2961
I have submitted an issue.

I wouldn't consider a constraint on the number of open FSEvent streams a bug, they should just make it more transparent (and maybe configurable) akin to file descriptors.

[2021-07-22 20:44] eatkins commented on #2961
That's a fair point since it never is a good idea to treat any resource as infinite but like you said, they should be transparent about the limits. I have never seen any reference to stream limits in Apple docs so even if it isn't exactly a technical bug, I'd argue that it's a documentation bug.

[2021-07-23 08:12] ckipp01 commented on #2982
@armeltd are you able to post your mapping that you're using to trigger the code action?

[2021-07-23 09:18] armeltd commented on #2982
Issue fixed indeed it was a binding issue.
Here's what I had :
[code]
I think I copy pasted them a couple of months ago from the [metals website](https://scalameta.org/metals/docs/editors/vim#recommended-cocnvim-mappings).

the default bindings have changed now (line  => selected) and it works when I get the new ones :
[code]
![image](https://user-images.githubusercontent.com/29709300/126761777-36

[2021-07-23 09:20] ckipp01 commented on #2982
Glad it's fixed. If you are able to, please do shoot in a PR to update the bindings, which can be found here: https://github.com/scalameta/metals/blob/main/docs/editors/vim.md#recommended-cocnvim-mappings. I'll go ahead and leave this open a bit until we get the mappings updated. If you don't have time I should be able to quickly do it later today.

[2021-07-23 09:30] armeltd commented on #2982
The default mappings on the site now are working so they don't need any update. it is just the old ones at the time I copy pasted that were not. It is just to "old users" to remind to update their conf sometimes.
Maybe this kind of required action could be notified to users in some way (release note ?) because updating the conf is not something I thought about. Now I will :D but I don't know if ev

[2021-07-23 09:37] ckipp01 commented on #2982
Ahh ok, sounds good. I'll go ahead and close then. I'll try to think of a better way on the coc-metals side to notify users, but I'm not always aware of the changes coc.nvim makes on their end. 👍🏼

[2021-07-23 09:37] #2982 closed

[2021-07-23 11:22] otto-dev commented on #2875
You are using the wrong `<Plug>`  @armeltd. Use this:

[code]

Note this is a coc issue, so it doesn't really belong here.

[2021-07-23 11:27] otto-dev commented on #2982
Saw this a couple hours late. For googlers: The correct mapping for normal mode is
[code]

you may replace `<Space>a` of course

[2021-07-23 12:31] armeltd commented on #2982
ok done. then I suggest to update the doc https://github.com/scalameta/metals/pull/2985

[2021-07-23 12:57] dos65 commented on #2956
It seems like I caught this problem. I have no idea how to reproduce it but I have heap dump.
There are some issues with driver or context. The most memory consuming instances are `dotty.tools.dotc.core.Comments$ContextDocstrings`. I'll look what we can do to avoid that.

Here the largest part is taken by them:
![Screenshot from 2021-07-23 15-53-37](https://user-images.githubusercontent.com/581695

[2021-07-23 16:20] dos65 commented on #2903
I faced the same thing in [bloop](https://github.com/scalacenter/bloop) repo.
At least in `frontend` module, any invocation of organize import fails with the same error as in original report

[2021-07-23 16:29] tgodzik commented on #2903
Maybe it's something on the classpath? We can print the classpath given to scalafix and see if anything doesn't look right.

[2021-07-23 17:09] tgodzik commented on #2816
Closed by https://github.com/scalameta/metals/pull/2815

[2021-07-23 17:09] #2816 closed

[2021-07-26 08:49] asflierl opened #2990 "Organize imports in test sources of subprojects does no longer work"
**Describe the bug**

Organize imports in test sources of subprojects does no longer work. Build server is SBT (via BSP).

**To Reproduce**

Steps to reproduce the behavior:

1. have a (scala) subproject "example" where the test source directory (relative to sbt working dir) is like example/src/test/scala
2. have a source file there with at least one import statement
3. invoke the "organize import

[2021-07-26 09:48] ckipp01 commented on #2990
Thanks for the report @asflierl. Can you by chance provide an example project with this build structure for us to test? It will make it much easier for us to see what's going on. The "SemanticDB not found" error that you're seeing is often caused when you have compilation issues causing semanticDB not to get produced for that file, or if the file is part of a build target that we don't know about,

[2021-07-26 10:28] asflierl commented on #2990
It only needs the most minimal example of a subproject build. You can use this one: https://github.com/asflierl/organize-imports-minimal-example @ckipp01

The error can be witnessed in `example/src/test/scala/Meep.scala`

[2021-07-26 10:40] asflierl commented on #2990
Hmm, I don't know why I thought it only affected sub-projects but it would seem it also doesn't work in the main project. Only the test sources are affected though it seems.

[2021-07-26 10:41] asflierl commented on #2990
I checked the target folders and the semanticdb files definitely get produced.

[2021-07-26 10:52] ckipp01 commented on #2990
Ahh ok gotcha. So I'm able to reproduce this. Note that it does work fine with Bloop, but when using sbt as a BSP server here it seems not correctly find it. Thanks for the repo @asflierl.

[2021-07-26 10:59] tgodzik commented on #2990
@ckipp01 it might have something to the targetroot being set wrongly maybe? I add it explicitely in `ScalafixProvider:195`, so you should be able to see what's going  on there.

[2021-07-27 08:06] ckipp01 commented on #2990
So I don't have a fix yet, but I just took a closer look an in this specific situation the issue is indeed the target root is pointing towards the wrong this. For example in the file you list @asflierl, it's the `#example/Test` build target. So the corresponding targetroot for this should be the value of `example / Test / semanticdbTargetRoot`. When checking in sbt this is correctly set to `.../or

[2021-07-27 08:12] ckipp01 commented on #2990
Ahhhh actually I think the isssue is that the correct target root is getting appended to the values, and we are grabbing the first one. For example it looks like this:

[code]

[2021-07-27 08:20] ckipp01 commented on #2990
Looking at this a bit closer https://github.com/sbt/sbt/blob/develop/main/src/main/scala/sbt/plugins/SemanticdbPlugin.scala, it looks like there is some logic to remove old values and replace them. I'm assuming we'd need to do the same.

We've had a decent amount of issues with getting this all right, or at least I have. I know when we first added this we wanted to fully manage everything to ensur

[2021-07-27 09:49] tgodzik commented on #2990
We should at least have a control over the semanticdb version, but maybe everything else can be handled by sbt? Plus maybe add some options that are not being added by sbt itself.

[2021-07-27 10:03] adpi2 commented on #2990
It's not that simple but it is not far from it. There are 2 things that sbt don't have by default:
- semanticdb enabled with the latest version
- support of the `debugSession/start` request (that's magically added by the fact that sbt-metals depends on sbt-debug-adapter)

So I think it still makes sense to have a `MetalsPlugin` but it should probably not try to replicate the logic from the `Semant

[2021-07-27 10:38] tgodzik commented on #2990
I agree with @adpi2 with the exception that we should check whether Scala version is supported and only enable it then. Otherwise if this works I think it's the correct approach.

[2021-07-27 11:26] adpi2 commented on #2163
I would like to add more tests on the integration with sbt server so I am currently trying to do something like 1. and 2. as in:

[2021-07-27 12:06] Z1kkurat commented on #2960
A bit of clarification: as pointed out in [discord channel](https://discord.com/channels/632642981228314653/632652693013528589/869549202877841459), the problem is in the sorting of the list, namely in `IdentifierComparator` which sorts entries so that `Function10` goes after `Function2` in the list.
To do that it takes that number substring and tries to convert it to Int which fails. But I don't t

[2021-07-27 12:14] Z1kkurat commented on #2960
Here's the illustration of the error for this exact library

![image](https://user-images.githubusercontent.com/7479593/127151702-22092ae9-8d15-4ba8-b2a0-f3aa94b3ceb4.png)

[2021-07-27 12:52] kpodsiad commented on #2983
I'll look at it because I already know what the problem is - it's nested interpolations that mess up with token handling.

[2021-07-28 05:38] Swoorup commented on #2956
Have the same issue, on windows. Within 10 minutes of working on 6K lines of Scala 3 codebase scattered in different places, I run into OOM issues.

[2021-07-28 09:37] kovacshuni opened #2997 "ERROR bad option: -P:wartremover with bloop but not with simple sbt"
Seeing errors when warts are enabled:

[code]

I think when these warts are
[code]

**Installation:**

- Operating system: macOS
- Editor: Visual Studio Code
- Metals version: v0.10.5

**Additional context**

Previously this project compiled and it does compile with simple sbt in the command line.
What I did was that I removed the bloop cache over the weekend (which was 10GB).
But I tried to re-cl

[2021-07-28 09:38] kovacshuni commented on #2997
Tell me if i'm not clear enough. Also it might be a local machine problem, just not finding what :/

[2021-07-28 09:49] ckipp01 commented on #2997
Thanks for the report @kovacshuni! You're actually hitting on this https://github.com/scalacenter/bloop/issues/1421. There are some more details in there.

[2021-07-28 10:02] kovacshuni commented on #2997
Thank you for the prompt reply!

[2021-07-29 12:05] #2502 closed

[2021-07-29 12:05] #2983 closed

[2021-07-30 21:22] blikkiee opened #3026 "Diagnostics missing and vscode-languageclient logging error"
Diagnostics are missing. When I make a typo to trigger an compilation error, no diagnostics are shown.

The logs of metals seem ok. Metals correctly diagnoses the compilation error.
However, no visual feedback of the compilation error is shown in the editor. Also the log of the extension host report an error in the vscode-language client:

[code]

**Installation:**

- Operating system: Ubuntu 20.0

[2021-08-02 11:46] #3001 closed

[2021-08-02 21:56] pfernandez commented on #2020
I ran into the exact same confusion today: Saw  the `update the 'Java Home' setting`, went to `:CocConfig`, typed "`ja..`" and chose `java.config`.

Since the warning message isn't clear enough, maybe consider simply looking for `java.home` when `metals.javaHome` is doesn't exist.

[2021-08-03 13:09] arbitrary-dev opened #3020 ".bloop folder grows without boundaries (bloop-bsp-clients-classes)"
**Describe the bug**

Each new run of vim + coc-metals results in new `bloop-bsp-clients-classes` entries which are identical to the previous ones:

[code]

**To Reproduce**

1. Open project in `vim`
2. Close project
3. Repeat 1-2
4. Observe `.bloop/module/bloop-bsp-clients-classes`

**Expected behavior**

Classes reused and no compilation initiated on repeated project opens

**Installation**

- O

[2021-08-03 17:34] arbitrary-dev commented on #3020
The same seems to be with `.metals/metal.h2.db`

[2021-08-04 07:23] kpodsiad opened #3023 "Incosistent bahavior with exhaustive pattern match completion"
**Describe the bug**

When using an exhaustive pattern match completion there is an inconsistency with names and prefixes. See example below with `Success`.

[code]
However, if I had `import scala.util.Success` in scope then the case would be `case MyTry.Success() => `

**Expected behavior**
Names and their prefixes should be consistent no matter what.

**Installation:**

- Operating system: macOS

[2021-08-04 07:38] jievince opened #3024 "The extension for vscode doesn't work for a project which doesn't have build.sbt file"
The project is https://github.com/neo4j/neo4j/tree/4.3, it consists of java and scala files but doesn't have a build.sbt file. So the extension(v1.10.8) doesn't work.
[code]

[2021-08-04 08:33] tgodzik commented on #3023
Thanks for reporting! Not sure if it's exactly an error, since I can imagine that some people might want the type to be always the shortest possible and that is the current behaviour.

It would probably be a lot of work to actually make it work like suggested, since the types are printed independently.

Connected to https://github.com/scalameta/metals/issues/2700

[2021-08-04 08:43] tgodzik commented on #3024
Thanks for reporting! The project contains `pom.xml`, so it should work correctly, we support sbt, maven, gradle and mill. It looks like the build import failed, do you have any logs from that? You could try rerunning `Metals: Import build` command via command palette or metals view.

[2021-08-04 09:05] jievince commented on #3024
Hi @tgodzik, before I execute `mvn clean install` command in the shell to build the shell, and build success. But `metals` `go to definition` doesn't work.
And After I run `Metals: Import build` as you say, it seems to trigger the build again? Does `metals` just work when after `import build`?
Indeed, I want to use `metals` to do `go to the definition` of functions and header packages.

[2021-08-04 09:16] tgodzik commented on #3024
`Metals: Import build` is needed for Metals to function and it's not the same as `mvn clean install`. It invokes maven to create configuration files that Metals (or Bloop in reality) can understand. Things should work after a successful import was run, but only for Scala files, Java files are not supported.

[2021-08-04 09:23] jievince commented on #3024
The `Metals: Import build` has finished. But there are many errors, the logs are very long, So I intercepted part of it:
Java home: /home/bob/.jabba/jdk/adopt@1.11.0-11
Metals version: 0.10.5
2021.08.04 10:21:59 INFO  logging to file /home/bob/neo4j/.metals/metals.log
2021.08.04 10:21:59 INFO  Started: Metals version 0.10.5 in workspace '/home/bob/neo4j' for client Visual Studio Code 1.58.2.
2021.

[2021-08-04 09:24] jievince commented on #3024
2021.08.04 17:16:39 INFO  time: compiled neo4j-dbms in 2.55s
2021.08.04 17:16:39 INFO  compiling neo4j-consistency-check (55 java sources)
2021.08.04 17:16:42 INFO  Note: /home/bob/neo4j/community/consistency-check/src/main/java/org/neo4j/consistency/report/ConsistencyReporter.java uses or overrides a deprecated API.
2021.08.04 17:16:42 INFO  Note: Recompile with -Xlint:deprecation for details.
20

[2021-08-04 09:25] tgodzik commented on #3020
Thanks for reporting! Bloop directories are removed as soon as the Metals client disconnects, I can't reproduce any issues with that myself. Would it possible that client still runs after restart? It's an issue we've seen in VS Code. @ckipp01 are you able to reproduce with coc-metals ?

As for `.metals/metals.h2.db` we use it to save some information about the workspaces, but it should not grow to

[2021-08-04 09:29] tgodzik commented on #3024
Looks like there is a bunch of issues with your build and some things might not work correctly:
[code]
means that some of the code was compiled with JDK 11 and now it's being compiled with JDK 8. You might want to set the JDK version to the main one you are using in `metals.javaHome` and do a `mvn clean` before reimporting. Btw. You can just attach the metals.log file, which will make it easier to

[2021-08-04 09:41] jievince commented on #3024
Where to set `metals.javaHome`?

[2021-08-04 09:45] tgodzik commented on #3024
In the metals section of the VS Code settings unless you are using a different editor.

[2021-08-04 09:57] ckipp01 commented on #3020
So playing around with this a bit I'm also unable to reproduce. @arbitrary-dev can you check that once you close that Metals is no longer running? You should be able to use `jps` via the command line to quickly check if it goes away after you close:

_When running_:
[code]
And then when close the `scala.meta.metals.Main` should no longer be there if you do another `jps -l`.

[2021-08-04 10:01] jievince commented on #3024
`metals.javaHome` is jdk11, and I do `Metals: Import build` after `mvn clean`, the log errors seem as the same as before:
[code]

[2021-08-04 10:03] tgodzik commented on #3024
That error just means that the code was not correctly compiled, do you see any diagnostics errors anywhere? Let me take a look at thet repo, maybe it's a bug in config generation.

[2021-08-04 10:15] jievince commented on #3024
I don't see anything but metal.log. And the metals.log is too big, I couldn't upload it here

[2021-08-04 10:44] dos65 commented on #3024
I've tried to import this project. It took about 10 minutes and reported that `Import project partially failed ...` however looks like it mostly works well.

Some submodules wasn't imported with `BUILD FAILURE` but it's hard to say if it's problem with this build or bloop plugin.
Attaching my [logs](https://gist.github.com/dos65/a1d89b514b7b42cccb98d1082aaf8aeb) but they are huge.

[2021-08-04 10:45] arbitrary-dev commented on #3020
Here's my `:CocConfig`…
[code]

While vim was opened, these processes were running:
[code]

Here I did a couple runs of `:CocCommand metals.compile-clean`…
[code]

Some more logs:
[code]

[2021-08-04 10:49] jievince commented on #3024
Does the `go to defination` works for scala files in neo4j?

[2021-08-04 10:52] dos65 commented on #3024
@jievince yep, I tried it in some random files it it works

[2021-08-04 11:18] tgodzik commented on #3024
It looks like it doesn't export all the proejct though because of:
[code]
Looks like the issue with snapshot dependencies we had before, we would need to try and guess those dependencies and link them normally.

[2021-08-04 11:22] jievince commented on #3024
Mine doesn't work.
![image](https://user-images.githubusercontent.com/38901892/128172505-03e84ac2-e566-48cb-b423-908e29d0734f.png)

[2021-08-04 16:37] #2901 closed

[2021-08-04 16:48] tgodzik commented on #3024
This one looks like the json file is not generate even after `mvn install` because that one fails:
[code]
Any idea where it's coming from? Maven is based on local jars for dependencies and if one can't be published then the compile will fail and Metals will not know about all the projects that depend on a particular jar.

We should try doing a workaround that would translate or remove those jars s

[2021-08-04 18:02] ckipp01 commented on #3020
So just to confirm, when you stopped, the metals process stopped as well right? So I tried to recreate this a few different ways and still can't seem to. There was a time where I did see some left over files from earlier, but then once Metals closed it actually cleaned up all of them.

[2021-08-04 20:17] arbitrary-dev commented on #3020
Right.

Who cleans up them, Metals or Bloop? Is there a way to anyhow activate verbose logging and observe what's happening during closure?

[2021-08-05 09:50] tgodzik commented on #3020
Bloop is cleaning those directories up when the client disconnects, not sure if it's possible to get the logging anywhere since the logs normally go to the client and that is being shut down.

[2021-08-05 12:15] arbitrary-dev commented on #3020
Could it be that Bloop shuts down before the Metals? 🤔

[2021-08-05 12:28] tgodzik commented on #3020
Bloop doesn't shut down on itself, so that should not happen. Not sure what the behaviour would be in that case

[2021-08-06 16:27] dos65 opened #3029 "[Scala3] Missing folding range for indented Def.Def"
If method body is wrapped in braces and long enough it has a folding range on the same line where it starts.
However, the same written in optional-braces syntax can't be folded.
Examples:
[code]

Expectations: `case 2` should have the same ranges as in `case 1`

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.5

[2021-08-06 17:09] tgodzik commented on #2020
Good idea, changed it in https://github.com/scalameta/metals-vscode/pull/644

[2021-08-06 20:05] tgodzik opened #3030 "[Scala 3] PrettyPrinter cannot always print short type."
**Describe the bug**

[code]

**To Reproduce**

I haven't managed to reproduce but it seems the cause is https://github.com/lampepfl/dotty/blob/master/compiler/src/dotty/tools/dotc/core/Types.scala#L4898

Edit:

Seems using cats-parse and writing `P[NonEmptyList[P.A]]` and trying a completion on that causes the issue.
**Expected behavior**

No exception is thrown.

**Installation:**

- Operating s

[2021-08-10 09:56] stumash opened #3031 "worksheets use relevant sbt file"
**Describe the feature**

I open a worksheet inside of an existing scala project with an sbt file. I can import code from the project in the worksheet.

**Potential ways to implement?**

I'm not even sure why it doesn't work out of the box, don't know enough here

**Additional context**

n/a

**Search terms**

I think they're already here. Feel free to update this

[2021-08-10 13:37] nicolasstucki opened #3062 "Support `.tasty` files"
**Is your feature request related to a problem? Please describe.**

Inability, in VSCode, to open and inspect contents of `.tasty` files.

<img width="997" alt="Screenshot 2021-08-10 at 15 26 02" src="https://user-images.githubusercontent.com/3648029/128875129-6ab2a34d-d197-4043-a978-d176e505b44e.png">

When we click on _open it anyway_ we get that standard binary contents

 <img width="997" alt="

[2021-08-11 12:28] blikkiee commented on #3026
Not sure what was going wrong. I don't experience these problems any longer. Only notably thing that changed is going from vscode version 1.58.2 to 1.59.0.

Also since I am not able to reproduce it any longer, will close this issue.

[2021-08-11 12:28] #3026 closed

[2021-08-11 21:48] antosha417 opened #3033 "Metals wont work with git worktree"
**Describe the bug**

I want to use awesome git feature called git worktree with scala project. But it seems that metals can't import build due to some error.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone any scala repository. For example `git clone https://github.com/alonsodomin/cron4s`
2. Run `git worktree add 0.4.x` to add another worktree for branch `0.4.x`. Or any other branch

[2021-08-12 09:51] dos65 commented on #3033
Thanks for reporting but I don't think that it's an Metals issue.

I've cloned the repo and tried to run sbt in worktree directory and got the same error:
[code]

It looks like a problem with some of sbt-plugins that are used in this project

[2021-08-15 02:26] HuangBoHong commented on #2956
The same problem occurs to me when using Emacs on Linux.

[2021-08-15 12:31] hnaderi commented on #2956
I have the same issue on emacs, while suggesting auto complete, it takes all the available ram and cpu suddenly and my only solution so far is `kill -9` and disable it.

[2021-08-15 13:09] Swoorup commented on #2956
Same problem with mac, recently its become bit unusable every 5-10 minutes on the beefiest MAC machine I have got.

[2021-08-15 17:53] felher commented on #2956
Same thing happens to me on linux with vim and coc. If there is anything I can do to help you when it happens the next time, let me know.

[2021-08-16 18:45] dos65 opened #3044 "[Scala3] Interactive semanticdb might fail internally in compiler"
Steps to reproduce:
- set up scala3 project with :
[code]
- open `cats.effect.kernel.Resource` source from dependency.
- notice the following in metals.log:
  <details>
     <summary>Error</summary>
     <code><pre>
        Exception in thread "pool-4-thread-7" java.lang.AssertionError: assertion failed: Attempt to commit TS[160796X, 160786X, 158994, 137830, 137829, 137827] into already committed

[2021-08-16 19:08] dos65 commented on #2956
I made a fix but I'm not sure if it solves this problem fully.
@felher @Swoorup @HuangBoHong could you try the latest snapshot release: `0.10.6-M1+29-22f5a4b1-SNAPSHOT` and check if you encounter the same problem or it disappeared completely.

[2021-08-17 05:44] hnaderi commented on #2956
Thanks @dos65 :pray:
I tested the version you mentioned and it seems that the problem is fixed!

[2021-08-17 10:46] #1645 closed

[2021-08-17 11:52] HuangBoHong commented on #2956
That works! It seems that the completion speed was also improved thanks to your commit.

[2021-08-17 13:06] kpodsiad opened #3048 "Completion with default parameters doesn't work correctly"
**To Reproduce**

[code]
In the completion, default value is shown as `{}` instead of `true`

**Expected behavior**
Completion shows valid default parameter value

**Screenshots**
<img width="713" alt="Screenshot 2021-08-17 at 13 01 09" src="https://user-images.githubusercontent.com/37124721/129715121-30877b93-1a51-40d3-80bd-ec5ba0db2997.png">

[2021-08-17 13:14] #2956 closed

[2021-08-17 14:55] tgodzik commented on #3044
Thanks for finding this one! Should we report it in Dotty repository?

[2021-08-17 20:35] felher commented on #2956
Even though I'm late to the party, just wanted to let you know that it seems to have fixed it for me, too. I tested it over an hour and everything kept working while it would freeze within minutes before the fix.

Thanks!

[2021-08-17 21:26] Swoorup commented on #2956
Yeah @dos65 I haven't found much issues so far.

[2021-08-18 09:12] dos65 commented on #2956
Cool! Thanks for confirming that it works!

[2021-08-18 11:39] markehammons opened #3050 "Metals assumes that sbt has been run once"
**Describe the bug**

When running metals in a brand new environment that sbt hasn't touched, it fails to connect to bloop because it cannot find certain scala jars.

These are the specific files:

2021.08.18 11:32:29 WARN  Scala instance jar /root/.sbt/boot/scala-2.12.14/lib/scala-library.jar doesn't exist!
2021.08.18 11:32:29 WARN  Scala instance jar /root/.sbt/boot/scala-2.12.14/lib/scala-compi

[2021-08-18 12:49] tgodzik commented on #3050
Thanks for reporting! This is most likely caused by the `.bloop`  and `.metals` directories being copied to the new container. It contains the configuration that is specific to the current workspace and will not work in another environment. There is really no way around it aside from rerunning build import, since no dependencies will be available in the container.

Some workarounds that I can thin

[2021-08-18 13:01] markehammons commented on #3050
Reimporting does not work. It's one of the first things I do when I've rebuilt the container. Likewise, I just tried wiping .bloop and .metals right now, and I get the same result after reimporting the build.

The only thing that's been proven to work is running sbt in the fresh container. Once it's been done once, metals acts as expected.

The sbt command you listed does fix the issue, but that's

[2021-08-18 13:10] tgodzik commented on #3050
Reimporting does actually run `sbt -Dbloop.export-jar-classifiers=sources bloopInstall`, so that should work exactly the same as running the command manually. Did you remove .bloop and .metals directories in the Docker file? In that case we treat the container as a new workspace and everything should work correctly.

The problem with the workflow here is that the build tool is the one that downloa

[2021-08-18 13:15] tgodzik commented on #3050
Also, all the paths might be broken in the container, so there is no way rather than reimporting the project once again. I would imagine VS Code would need to provide some kind of a virtual file system that we would need to make it work.

[2021-08-18 16:23] tgodzik commented on #1706
This issue should be solved with the release of Dotty that comes with https://github.com/lampepfl/dotty/pull/12885

[2021-08-18 16:39] tgodzik commented on #2011
This might be solved by https://github.com/scalameta/metals/pull/3003

[2021-08-18 16:42] tgodzik commented on #2683
Fixed most likely by https://github.com/scalameta/metals/pull/3047

[2021-08-18 16:42] #2683 closed

[2021-08-18 16:58] megri opened #3051 "Evaluate expressions during debugging."
**Describe the solution you'd like**
While debugging there is a debug console. Any command entered into it currently results in the message "an implementation is missing". It would be nice if the console had access to the currently viewed stack-frame and allowed evaluation of arbitrary expressions.

**Search terms**:
debug, debugger, evaluate expression

[2021-08-18 17:04] tgodzik commented on #3033
Closing for now, let us know if there is something we might need to fix in Metals!

[2021-08-18 17:04] #3033 closed

[2021-08-18 17:07] #2976 closed

[2021-08-18 17:07] tgodzik commented on #2976
This was most likely an issue with download, let us know if this happens again.

[2021-08-19 08:37] ckipp01 commented on #2163
Closed via https://github.com/scalameta/metals/pull/3006

[2021-08-19 08:37] #2163 closed

[2021-08-19 11:11] rochala opened #3052 "Lack of completion for Quotes Terms"
Hi, I found that metals doesn't autocomplete Terms from Quoted. It applies to everything defined in that trait.

**To Reproduce**

Steps to reproduce the behavior:

1. Insert following code or clone my repository: https://github.com/rochala/metals-completion-bug
[code]
2. Try to get autocompletion for value tree
3. See no completion

**Expected behavior**
Completion for Terms should be provided.

[2021-08-19 12:07] tgodzik commented on #3052
Awesome! Thanks for the reproduction.

[2021-08-19 17:52] dos65 opened #3053 "[Scala3] Weird document highlighting in particular function in dotty repo"
Steps to reproduce the behavior:

1. open the [dotty repo](https://github.com/lampepfl/dotty) in Metals
2. open `compiler/src/dotty/tools/dotc/ast/Desugar.scala`
3. put a cursor on any line in `def classDef` method body
4. notice that full body is highlighted
![Screenshot from 2021-08-19 20-49-32](https://user-images.githubusercontent.com/5816952/130119024-57a774a1-37a9-4d53-9e3c-2edb58a4f968.png)

[2021-08-19 18:00] tgodzik commented on #1854
This was fixed recently in https://github.com/scalameta/metals/pull/2974 :tada:

[2021-08-19 18:00] #1854 closed

[2021-08-19 18:18] tgodzik commented on #2432
I cannot reproduce this anymore, it seems that maybe this was fixed by some of the recent changes? Let's reopen if an issue pops up again.

[2021-08-19 18:18] #2432 closed

[2021-08-20 12:26] cayhorstmann opened #3054 "NullPointerException when assigning null to a variable in a Scala 3 worksheet"
**Describe the bug**

A statement such as

[code]

in a worksheet causes VS Code to stop evaluating the worksheet, with an exception
[code]
**To Reproduce**

Steps to reproduce the behavior:

1. `sbt new scala/scala3.g8 --name=ch1`
2. `echo "val x: String = null" > ch1/src/main/scala/my.worksheet.sc`
3. `codium ch1`
4. Trust the authors
5. Import build
6. Open src/main/my.worksheet.sc
7. Observe t

[2021-08-20 14:02] tanishiking commented on #3053
Looks like this happens when cursor on `{ ... }.method()`.

Actually, if we remove `.shodowing` at the end of the `classDef` method, it works fine.

[code]

<img width="641" alt="Screen Shot 2021-08-20 at 22 59 08" src="https://user-images.githubusercontent.com/9353584/130244784-d7d0b904-45bc-43e9-8104-d1bbb5fe4926.png">

[2021-08-20 18:13] dos65 commented on #3053
@tanishiking I thought about that. However, I couldn't reproduce the similar thing on smaller samples.
For example, if I add an method with a similar structure in this file it works well and provides correct highlithing
![Screenshot from 2021-08-20 21-12-13](https://user-images.githubusercontent.com/5816952/130276191-5a76ce2f-3547-47e0-9123-e66225ef8f41.png)

[2021-08-20 22:21] tgodzik commented on #2903
@mlachkar did you see this issues with scalafix before?

[2021-08-20 22:37] griggt opened #3056 "[Scala3] Using `???` in worksheet may result in spurious postfixOps errors"
**Describe the bug**

Using `???` in a Scala 3 worksheet written in significant indentation (optional braces) style, in some instances will spuriously complain about needing a `scala.language.postfixOps` import, and fail to compile.

**To Reproduce**

Create a Scala 3 worksheet with the following code:

[code]

This results in two errors when the worksheet is compiled:

[code]

**Expected behavior

[2021-08-21 06:39] griggt commented on #3056
This might be fixed by scalameta/mdoc#530 (assuming I've done the following experiment correctly)

With a locally built and published snapshot of Metals, bumping the mdoc dependency to 2.2.22+2-6ac66175-SNAPSHOT made the problem go away.

It's not at all clear to me why that PR would fix it though.  Was the bug actually in the Scala 3 compiler?

[2021-08-21 10:14] Kordyjan opened #3057 "`*` is not the first suggestion in import autocompletion"
**To Reproduce**

Steps to reproduce the behavior:

1. type `import scala.collection.*`
2. press `Enter` to start a new line

The line would be completed with `*#:` which is not what's desired in most cases.

**Expected behavior**
`*` should be the first suggestion

**Screenshots**
<img width="529" alt="obraz" src="https://user-images.githubusercontent.com/11855167/130317871-083ca19f-10cc-4167-87f

[2021-08-21 10:18] tgodzik commented on #3057
Thanks for reporting! This should probably be a part of keywords completions fro Scala 3. But I think due to the usability issues this is currently a bug.

[2021-08-21 10:50] tgodzik commented on #3056
Thanks for reporting! I think it's not yet fixed in mdoc, but this shouldn't be a big issue. I think the code generated with `???` doesn't add newline properly.

[2021-08-23 08:20] mlachkar commented on #2903
I will try later this afternoon on bloop to reproduce the error.

[2021-08-23 09:16] tgodzik commented on #2903
Thanks!

[2021-08-23 09:17] tgodzik commented on #2903
It seems to always happen with Bloop, this might be some classpath issue maybe? We can try to fix it on the Metals side, but I think this might also happen via sbt.

[2021-08-23 17:23] tgodzik commented on #3054
Thanks for reporting! We need to fix this upstream in https://github.com/scalameta/mdoc/pull/550

[2021-08-24 09:05] tgodzik commented on #3053
It seems that we are getting a wrong range maybe?

[2021-08-24 10:26] cayhorstmann opened #3064 "Worksheet cannot instantiate local class whose name shadows outer class in other worksheet without using new (Scala 3)"
**Describe the bug**

I have a worksheet defining a class A. A second worksheet would like to demonstrate a small variation of A, not enough to warrant a new project, so the second worksheet makes its version of A local to a @main method.

An instance is allocated with `A()`, to teach the new-free syntax.

The resulting program compiles and runs with sbt, but the worksheet shows an error in VS Cod

[2021-08-24 11:11] tgodzik commented on #3064
Thanks for reporting! A minor comment about worksheets. Worksheets are files starting ending with `.worksheet.sc`, the files here are just normal Scala files.

[2021-08-24 11:33] #3029 closed

[2021-08-24 12:34] cayhorstmann commented on #3064
I noticed the problem with worksheets, but you are right--it has nothing to do with them per se. I updated the title and description.

[2021-08-24 15:39] griggt commented on #3052
Upstream PR: https://github.com/lampepfl/dotty/pull/13368

[2021-08-24 21:03] dgalichet opened #4059 "Append parameter names in method for simple types for Scala3"
### Is your feature request related to a problem? Please describe.

This feature is related to https://github.com/scalameta/metals-feature-requests/issues/184 that proposes to show parameter names for simple types

It could be nice to have a code action to append these parameters directly on the source code (according to @tgodzik ) it should be pretty simple to do)

### Describe the solution you'd

[2021-08-25 11:19] 1mdc opened #3068 "Unique index or primary key violation Error"
Classes are not compiling due to h2 error. I have to reconnect or recompile the whole project every time this happens

It happens randomly so it is hard to know exact steps to re-produce the issue. Below is the error:
[code]

Class should be compiled and auto completed/ go to reference should work in Vs Code.

**Installation:**

- Operating system: macOS (intel CPU)
- Editor: Visual Studio Code
-

[2021-08-25 12:18] dos65 commented on #3068
Thanks for reporting!

@1mdc Could you look at jar that causes this error? Does it contain any scala or java sources? It's hard to say what happens. According to code, I have an assumption that might happen in case if jar is empty.

[2021-08-25 12:24] 1mdc commented on #3068
You are right. It seems that jar file is empty source. At the location, `lib-5.5-sources.jar` is empty but `lib-5.5.jar` is not empty. It is one of dependency we rely on. I'm not sure how it happened

[2021-08-26 20:33] tgodzik opened #3071 "Don't run Ammonite with Scala 3"
**Describe the bug**

Currently, Scala 3 support for Ammonite doesn't work and we should fallback to Scala 2.13 even when in Scala 3 workspace. Otherwise, we will get exceptions and it will be difficult for users to understand what is going on.

**To Reproduce**

Steps to reproduce the behavior:

1. Create ammonite script in a Scala 3 workspace
2. Try to start an ammonite server
3. See errors.

**

[2021-08-27 12:18] ckipp01 opened #3072 "Exception being thrown on hover at times in Scala 3"
**Describe the bug**

I've seen this pop up a handful of times lately. I haven't been able to consistently reproduce it, so I don't have steps. I'm not even sure this is something we can fix on the Metals side and may be an issue with the upstream presentation compiler. However, I'll add this here for now and try to include any more information if I get any.

This will happen as I try to hover at

[2021-08-27 12:22] hoangong opened #3073 "Some integration tests are not working"
**Describe the bug**

Some integration tests are not working. e.g. test that creates embeded squeryl h2 database. I have this error while running the test:
[code]
The test is working fine with `sbt test`

**To Reproduce**
run test with `bloop test root`

**Expected behavior**

The test should pass as it passes in sbt test

**Screenshots**

**Installation:**

- Operating system: intel macOS
- Edito

[2021-08-27 14:49] #3073 closed, assigned to nobody

[2021-08-28 02:36] 1mdc commented on #3073
I switch ed to sbt-bsp but I do not see the option to run the test from IDE (vs code). It seems the feature is not implemented. How do I run the test to make sure sbt-bsp is working?

[2021-08-29 13:03] Alexander770 opened #3075 "Unable to run simple hello-world scala example"
**Describe the bug**

  Message: Internal error.
  Code: -32603
java.util.concurrent.CompletionException: scala.meta.internal.metals.MetalsBspException: BSP connection failed in the attempt to get: DebugSessionAddress.  Debugging is not supported because bloop server is running on a JRE C:\Program Files\Java\jre1.8.0_281 with no support for Java Debug Interface: 'JDI implementation is not provided

[2021-08-29 13:28] Alexander770 opened #3076 "Not able to run basic hello-world example"
Please ask a question using [GitHub Discussions](https://github.com/scalameta/metals/discussions/new)

The main issue tracker is reserved for bug reports and issues with an assigned milestone.

It seems like issue with Java. I tryied to reinstall, change versions nothing help. Please help me to fix it:

Caused by: scala.meta.internal.metals.MetalsBspException: BSP connection failed in the attempt

[2021-08-29 13:28] ckipp01 commented on #3075
Thanks for the report @Alexander770. The message you posted actually points towards your issue. Bloop needs to be running on a JDK in order to support debugging, and it's running on a JRE. You'll have to install a full JDK and ensure that Bloop is started with that.

## Steps to fix this

- Stop Bloop either with `bloop exit`, or just kill the process
- Install a JDK
- Let metals start bloop again

[2021-08-29 13:28] #3075 closed

[2021-08-29 13:30] ckipp01 commented on #3076
Hey @Alexander770, I responded in https://github.com/scalameta/metals/issues/3075. Let's try to keep the conversation in one place. I'll close this and you can continue any more questions you have there.

[2021-08-29 13:30] #3076 closed

[2021-08-29 13:35] Alexander770 commented on #3076
Thanks

Can you send me a link to proper JDK for windows 10?

On Sun, Aug 29, 2021, 4:30 PM Chris Kipp ***@***.***> wrote:

[2021-08-29 13:39] ckipp01 commented on #3076
There are many different ways that you can install a JDK.

- Just download from Oracle like so https://docs.oracle.com/en/java/javase/11/install/installation-jdk-microsoft-windows-platforms.html#GUID-DAF345BA-B3E7-4CF2-B87A-B6662D691840
- Or use something like https://sdkman.io/

You'll have to do a quick search for more detailed instructions on "Installing a JDK on Windows".

[2021-08-30 06:40] #2120 closed

[2021-08-30 06:45] tgodzik commented on #3073
It should work using sbt-bsp. Is the code compiling? Is there anything in the logs?

[2021-08-30 07:13] Alexander770 commented on #3075
Thanks

No matter what I did reinstall java, reinstall VScode, recreated the project (hello-world), switched to Java 8, defined and redefined env variables the error persists.

Please see the attached log:
[metals.log](https://github.com/scalameta/metals/files/7074871/metals.log)

[2021-08-30 07:18] Alexander770 commented on #3075
![scala_vscode_error](https://user-images.githubusercontent.com/53492569/131300889-f1e5af39-7dc2-49a7-8b8f-efa60c72bf00.jpg)
![vscode_settings](https://user-images.githubusercontent.com/53492569/131300895-3dbd6c3a-5a55-487b-ba86-e887fff1d924.jpg)
()

[2021-08-30 07:22] ckipp01 commented on #3075
Looking at the logs it still seems that Bloop is being started with a JRE instead of the JDK. Are you sure you stopped it before setting the new `javaHome`? Are you able to check the output of `bloop about`? It should tell you what JDK it's running with there.

[2021-08-30 07:45] Alexander770 commented on #3075
How to stop it and how I check the output of bloop?

[2021-08-30 07:47] ckipp01 commented on #3075
If you have Bloop CLI installed you can do a `bloop exit` to stop Bloop. Then Metals should automatically start it up again and you can use the command `bloop about` to see what I mentioned above.

[2021-08-30 08:02] ckipp01 commented on #3075
No it didn't. Maybe something easier to try is just `Metals: Restart Build Server` command from VS Code.

[2021-08-30 08:06] Alexander770 commented on #3075
Can I stop Bloop by Using VScode tools?

[2021-08-30 08:08] ckipp01 commented on #3075
Yes, exactly as I just mentioned. The `Metals: Restart Build Server` is shutting down Bloop and then starting it again. So then it should pick up the new JDK.... hopefully

[2021-08-30 08:08] Alexander770 commented on #3075
It has an option: Disconnecting from Bloop session...

[2021-08-30 08:18] Alexander770 commented on #3075
i disconnected and reconnected again it still says:
 bloop server is running on a JRE C:\Program Files\Java\jre1.8.0_281

how can I control it?

[2021-08-30 08:21] ckipp01 commented on #3075
Have you tried https://scalacenter.github.io/bloop/docs/server-reference#custom-java-home?

[2021-08-30 08:43] #2961 closed

[2021-08-30 08:52] Alexander770 commented on #3075
Tried, still: **2021.08.30 11:51:30 INFO  Connected to Build server: Bloop v1.4.8-19-4d9f966b**

[2021-08-31 17:10] dos65 opened #3081 "Wrong activeSignature in `signatureHelp` for overloaded method"
It seems that `activeSignature` selection isn't based on already applied argument types.
Example:
[code]

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.5

[2021-09-01 12:29] tgodzik commented on #3081
Thanks for reporting! I checked it quickly and it seems the symbol being found by the compiler will fit the number of parameters first and only the type second. We should be able to improve it by using something like:

https://github.com/scalameta/metals/compare/main...tgodzik:test-sig?expand=1

But I don't want to spend too much time on it right now, I can take a look at a later point or if anyon

[2021-09-01 17:13] timjstewart opened #3096 "Error: Vim:E117: Unknown function: coc#util#has_preview"
After I visit a scala buffer, I see a message saying "Metals is Ready"  and then after a few seconds a stack trace message is displayed (see below).

**To Reproduce**

Steps to reproduce the behavior:

1. Visit a scala source file in neovim
2. See error:
[code]

**Expected behavior**

No error message appears.

What is curious is that there is a `coc#list#has_preview` in the `coc` plugin but not t

[2021-09-02 06:31] ckipp01 commented on #3096
Thanks for the report @timjstewart! This was already reported here: https://github.com/scalameta/coc-metals/issues/421 and actually fixed. You should be able to update to the latest updates on the `main` branch of `coc-metals` and the issue should be fixed.

[2021-09-02 06:31] #3096 closed

[2021-09-02 08:51] vpinna80 opened #3097 "Eclipse plugin error: Cannot run powershell.exe"
When starting up Eclipse, I see the following in the log, and the plugin seems not to work.
It happened just after Eclipse reboot post-installation.
I think it may be related to #2934 but I can't really say for sure.

I'm on a Windows 10 machine with 16GB ram and using OpenJDK 11.

java.lang.RuntimeException: java.io.IOException: Cannot run program "powershell.exe": CreateProcess error=5, Access d

[2021-09-02 09:56] kpodsiad opened #3098 "Check for trace files also in `.metals/` directory"
### Discussed in https://github.com/scalameta/metals/discussions/3074

Long story short:
<div type='discussions-op-text'>
<sup>Originally posted by **tgodzik** August 28, 2021</sup>

I think it's a good idea, though I would maybe add it as a new option? So if you create `~/.metals/lsp.trace.json` it will only log there and not to the global one. What do you think?
</div>

[2021-09-02 13:24] bjenkinsgit opened #3099 "Out of the box code produced from simple, scala3 gitter template does not compile."
Creating a new, simple, "hello world" scala 3 app from the scala/scala3.g8 gitter template does not immediately compile in visual studio code v 1.59.1.  It errors on the main entry point of the program, specifically on the line "@main def hello: Unit = ".  This is liable to stop new users of visual studio code and scalameta/metals from using:  Scala 3, Visual Studio code, and/or scalameta.  From t

[2021-09-02 13:38] dos65 commented on #3099
Thanks for reporting!

I think the reason is that template project was upgraded to the latest 3.0.2 version that will be supported by Metals only after the next release.
If you set `scalaVersion := "3.0.1"` it should work well.

[2021-09-02 14:30] tgodzik commented on #3099
I think there is also the issue of stale scalameta diagnostics, we should purge all diagnostics after the build is imported.

[2021-09-04 10:14] ckipp01 commented on #3031
I'm going to go ahead and close seeing that his hasn't had any activity since my reply. If you do still have issues with this and the above isn't clear, please do let us know.

[2021-09-04 10:14] #3031 closed

[2021-09-04 10:19] ckipp01 commented on #3054
This is fixed in the latest snapshot that includes mdoc 2.2.23 so closing.

[2021-09-04 10:19] #3054 closed

[2021-09-04 15:28] stumash commented on #3031
hey, sorry for the no-reply. very rude of me. you're absolutely right that it already works. good call closing this.

thanks again

[2021-09-04 21:26] piggybox commented on #2934
I ran into the exact same problem and would like to confirm @tgodzik 's suggestion on using WSL works well. Just remember to install JDK and sbt again in WSL. The ones installed natively in Windows (thus outside of WSL) still cause some weird bugs.

[2021-09-06 13:27] dos65 commented on #3052
Fixed in 3.0.1-RC1

[2021-09-06 13:27] #3052 closed

[2021-09-06 14:47] kpodsiad commented on #3048
Actually, it's not only boolean parameters but all types are not displayed correctly.

[2021-09-07 09:15] EveryonePrint-dev commented on #2903
I've tried to wipe .bloop, .gradle and .metals, to have everything be compiled from scratch.
But the error persists.
So this is a bloop issue?

[2021-09-07 10:01] kpodsiad commented on #1539
I'll have a look at this one.

[2021-09-08 17:35] domaspoliakas commented on #2255
I no longer have access to the machine that was suffering from this issue, so I will close this issue

[2021-09-08 17:35] #2255 closed

[2021-09-09 07:29] spangaer opened #3108 "Something is off with the 0.10.6 indent on paste"
6 Images say 6000 words right? ;)

![metals_v0 10 6_indent-bug](https://user-images.githubusercontent.com/677147/132642057-d56dfebf-cb0e-4a3c-aa46-0f90928f59bb.gif)

[2021-09-09 07:36] tgodzik commented on #3108
Thanks for finding this! We will try to fix it as soon as possible. If it's problematic you can disable `Formatting on paste` option in the settings.

[2021-09-09 07:38] spangaer commented on #3108
Had read that in the release notes indeed, but thanks for reminding.

The only thing I could think though: "So hate optional braces"  🤷‍♂️

[2021-09-09 07:42] tgodzik commented on #3108
Optional braces are being highly disputed, but this feature should help out also when printing in normal blocks (unless it breaks :fearful: )

[2021-09-09 07:58] dos65 commented on #3108
Hmm. @tgodzik did you reproduce that? I didn't

[2021-09-09 08:04] tgodzik commented on #3108
Yeah, you need to paste something after a def.

[2021-09-09 08:12] spangaer commented on #3108
Input source
![image](https://user-images.githubusercontent.com/677147/132648556-a90d34b2-b05a-4a7e-8023-e3c3c4b416da.png)

And Scala 2.12.10, should those make any difference.

[2021-09-09 08:34] dos65 commented on #3108
Still without success even after upgrading vscode to the latest one.
Maybe it somehow depends on platform.
Ok, I'll wait a fix from @tgodzik

[2021-09-10 12:46] liar666 opened #3110 "Upgrade does not work behind proxy"
**Describe the bug**

I'm behind a proxy, I use Emacs + LSP to access `metals` functionalities.

Recently `metals` has tried to upgrade, but fails, with following messages in Emacs:
[code]
Seems that metals from within Emacs does not take into account System proxy (`*_proxy` env vars), nor Emacs config-file proxy.

I discovered that metals is installed in `/home/gmuller/.emacs.d/.cache/lsp/metals/

[2021-09-10 12:56] mlachkar commented on #2903
Hello, finally we had the time to check:
Scalafix receives a classpath containing `.md` files, then it fails to parse them as jars.
One solution would be to send the classpath without the resource files or just filter anything that is not a jar.

[2021-09-10 13:01] kpodsiad commented on #1539
Ok, so here's the deal:
Let `Main.scala` be:
[code]
semanticDB looks like (I used `metap`)
[code]

And let `Main2.scala` be:
[code]
semanticDB looks like
[code]

Symbol name `me/kpodsiad/Main.MyDataType#` vs `local0` makes difference because in there is check if the symbol is type symbol. `isType` checks if symbol ends with a `#` and because `local0` doesn't hence difference in behavior.
https://g

[2021-09-10 13:30] tgodzik commented on #3110
Thanks for reporting! Did you try to ask about this in https://github.com/emacs-lsp/lsp-metals ? It might be better to report it there.

[2021-09-10 13:35] tgodzik commented on #1539
We can do `!occurence.symbol.desc.isType || (symbol.isLocal && symbolInformation.isType) ` You can find SymbolInformation in the current TextDocument lazily.

[2021-09-10 13:55] bramvdbogaerde commented on #1692
@tgodzik Can you give an update on this? It still doesn't work for me, running Scala 3.0.2 with Metals 0.10.6.

[2021-09-10 14:03] dos65 commented on #1692
@bramvdbogaerde I still isn't implemented

[2021-09-10 14:13] #2903 closed

[2021-09-11 00:18] trevoryao commented on #2680
Any chance you figured out why the issue was happening? I am currently having the same issue on macOS with Scala 2.13.3.

[2021-09-11 19:45] bent95 commented on #2680
@trevoryao Unfortunately, I never figured out why it was happening. I ended up not using Scala for my project after all, so I have barely used metals since.

[2021-09-11 20:38] hoangong opened #3113 "I have to restart server and re-import project every 30 minutes or so"
**Describe the bug**

Metals has some problem. I don't know exact what caused but it happens very randomly. I have to close IDE and terminal all java process then re-import the project to fix the issue. This is the error I have when I see the problem and tried to restart server
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Do the coding but then auto complete not working.
2. Click

[2021-09-11 21:36] dos65 commented on #3113
@1mdc Could you try to upgrade to the latest sbt - 1.5.5? Maybe it's some kind of issue with sbt-bsp-server

[2021-09-11 21:39] 1mdc commented on #3113
Thanks for the quick response. If that is because of sbt BSP I think I cannot do much at the moment because my team is still using a play framework version which is not compatible with sbt 1.5.x

[2021-09-13 14:23] trevoryao commented on #2680
@tgodzik I closed the workspace and metals and just checked on it again, seems to be working, but I did clean compile previously to no avail. I will make an issue if it happens again.

[2021-09-14 15:35] dos65 commented on #3113
@1mdc
I realized that it might an issue on metals side if you say that autocompletion stop working. Even if smth goes wrong with bsp server autocompletion should continue work.

Are there any error in log/ `~.metals/metals.log`?

[2021-09-14 17:17] dos65 opened #3118 "[Scala3] Incremental compilation in Bloop ignores class deletion"
Steps to reproduce the behavior:

- Compile this source with scala `3.0.1+`:
[code]
- then comment `class X` line and save file:
- no error reported

**Expected behavior**
[code]

It seems that the issue is on bloop side. Bloop doesn't report errors nor from command line / bsp.
I can't reproduce the same in sbt/sbt-bsp.

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- M

[2021-09-14 17:32] tgodzik commented on #3118
Should we open the issue in Bloop? Was it happening before 3.0.2?

[2021-09-14 17:45] dos65 commented on #3118
if there were no related fixes in 1.4.9. I wasn't sure about that as the current version in metals is 1.4.8-*.

Probably it would be more correct just to write scala 3. Wrote 3.0.1 just because I checked on it and higher versions

[2021-09-15 11:25] #3108 closed

[2021-09-15 11:27] tgodzik commented on #3110
Most likely the tool that is being used is coursier, you might find some tips here https://scalameta.org/metals/docs/troubleshooting/proxy or as suggested before in lsp-metals. Closing for now, let me know if there is anything we need to do on the server side.

For some proxy/mirrors related issues you might want to follow https://github.com/scalameta/metals/issues/2485

[2021-09-15 11:27] #3110 closed

[2021-09-15 13:53] thinkiny commented on #2376
why is this removed from  v1.0.0 milestone ?

[2021-09-15 16:22] 1mdc opened #3128 "code navigation does not work for the file ..."
**Describe the bug**

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Right click on a class
2. Go to references
3. Nothing happens

**Expected behavior**

**Screenshots**

**Installation:**

- Operating system: macOS Intell
- Editor: Visual Studio Code
- Metals version: v0.10.6

**Additional context**

**Search terms**

[2021-09-15 16:27] tgodzik commented on #3128
Thanks for reporting! This looks like an issue with the file in question. We are not detecting it to be a part of any build target or there might be errors when trying to compile it.

Do you see anything in the problems view?

[2021-09-15 16:33] 1mdc commented on #3128
The problem view does not have any error.
<img width="1215" alt="Screenshot 2021-09-15 at 17 31 28" src="https://user-images.githubusercontent.com/5703525/133473135-a69f288d-a3ea-4ce6-a032-647073d8b52c.png">

The whole project is compiling fine from the command line, so I think the file itself does not have any error. I tried to restart build server and cascade compile, but it still same error.

[2021-09-15 16:34] 1mdc commented on #3128
I have this error in a few classes. Majority of other classes are still working fine.

[2021-09-16 09:05] #3062 closed

[2021-09-16 16:09] tgodzik opened #3133 "[Scala 3] Rename extension parameter does not work"
**Describe the bug**

[code]

Renaming will `sbd` only rename the ones in one of the method.

**To Reproduce**

Use the above code snippet

**Expected behavior**

All occurrences of `sbd` are renamed.

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.6

**Additional context**

This is caused by the fact that extension methods generate separate metho

[2021-09-16 17:30] tgodzik opened #3135 "Show tasty doesn't work for tasty files"
**Describe the bug**

When clicking on the tasty file it's not possible to currently read it.

**To Reproduce**

Steps to reproduce the behavior:

1. Classes directory inside `.bloop` directory
2. Click on any tasty file.
3. Run `Show tasty` command
4. See error about the file not belonging to build target.

**Expected behavior**

We should seach build targets for a class directory that belongs to

[2021-09-16 17:34] tgodzik commented on #3135
We should also see if when opening tasty files in VS Code we could automatically display tasty instead. Currently it ask to open it and only if you try to open it with txt editor you will be able to run the command.

[2021-09-16 17:39] tgodzik opened #3136 "Show tasty works only for classes named the same as the file"
**Describe the bug**

If we are in a file with multiple classes and none of them is named as the file (or we have not classes at all), Metals will not find the proper tasty file.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a file name `Main.scala`
2. Add example contents:

[code]
3. Run `Show tasty` command
4. See error about not being able to find the tasty file.

**Expected be

[2021-09-16 18:44] smarter commented on #1683
Just tried it with metals 0.10.7 / bloop 1.4.9 and I see warnings showing up on save and not getting cleared on subsequent saves.

[2021-09-17 10:45] #2346 closed

[2021-09-17 11:48] tgodzik commented on #1683
I need to finally update zinc and see if it's fixed by it.

[2021-09-17 17:01] tgodzik commented on #3128
Anything specific about those files? Are they in sources? Do they all belong to a single module?

`�[0m2021.09.15 16:45:25 WARN  invalid jar: ...-sources.jar�[0m` seems a bit worrying, if that's where the definition is coming from then it will not work for anything coming out of that jar.

[2021-09-17 18:38] dos65 opened #3140 "[Scala3] Completions with empty query have wrong scope"
Having the following sample:
[code]

The reason of this that `MetalsInteractive.contextOfPath` doesn't handle the case when cursor is just inside `Template` and there is no additional tree inside.

**Installation:**

- Metals version: v0.10.7

[2021-09-17 20:04] keynmol commented on #3136
After discussion on discord, it seems like it's sensitive to package vs. file structure

    Operating system: MacOS
    Editor: Neovim
    Metals version: v0.10.7

https://user-images.githubusercontent.com/1052965/133847054-23774bd8-33d3-4190-8c1d-6c4823db7058.mov

[2021-09-18 05:38] kpodsiad commented on #2200
What is the current scope of this issue? It's still the same as the title? The discussion took place almost a year ago and I'm a little bit confused because of it.

[2021-09-18 05:49] kpodsiad commented on #2296
Small description + GIF will be good enough?

[2021-09-18 06:25] tgodzik commented on #2200
It would be good to also in implement hard reset, but we could follow it up in a separate issue and focus on just displaying the info here.

[2021-09-18 08:50] kpodsiad commented on #1539
Unfortunately, I've spotted another issue regarding this topic :(
Steps to reproduce:
1. Have code like this
[code]
2a. Try to rename `Instance` from the `final case class Instance() extends Hierarchy` line.
2b. Try to rename `Instance` apply method call `val bar2: Instance = Instance()`

![my-app-1631954835932](https://user-images.githubusercontent.com/37124721/133882952-0bc72fc2-cd21-4bd2-895d-4

[2021-09-18 13:15] Rainrider commented on #2934
You could also use the "Open with Code" context menu entry in File Explorer if you checked it in the installation of VS Code, it works for now at least.

[2021-09-19 23:24] Arthurm1 commented on #3128
You might also be getting this message because Metals hasn't finished initialising which is indicated by this message...
`�[0m2021.09.15 16:45:31 INFO  time: indexed workspace in 51s�[0m`
which comes after your errors.

[2021-09-20 00:00] 1mdc commented on #3128
I don't think that is because of source file because of indexing. I tried it even after indexing it still have the same issue.

However, I got this fixed now by updating my project to the sbt 1.3.x to 1.5.5. I think somethings may not compatible between old sbt version and metals/bloop.

Thank you for helping!

[2021-09-20 09:07] tgodzik commented on #3128
1.3.x should work, but it might be some particular behavior causing issues here. Without any kind of a small repro we might not be able to help out here.

[2021-09-20 14:26] tgodzik opened #3146 "Restart Bloop via console when unable to connect via launcher"
**Describe the bug**

Sometimes, though rare, it happens that Metals cannot connect to Bloop. This might be due to multiple reasons, one might be that there is an older Bloop server running that is non-responsive.

**Expected behavior**

We could try to run:
`coursier launch ch.epfl.scala:bloopgun_2.12:1.4.5 --main-class bloop.bloopgun.Bloopgun -- exit`
via ShellRunner in that case.

We could also

[2021-09-20 14:26] tgodzik commented on #2200
Created a follow up in https://github.com/scalameta/metals/issues/3146

[2021-09-20 14:26] #2200 closed

[2021-09-20 14:32] kpodsiad opened #3147 "Distinguish actions that require no range selection"
Discussion https://github.com/scalameta/metals/pull/3130#discussion_r711999354

Some actions, such as rewrite brackets, convert pattern match, or string interpolation, only require start position and don't care about end position.
`CodeAction` should be extended by field like e.g.  "supportSelectionRange" which will be used to filter out invalid code actions at the contribution point.

[2021-09-20 15:24] tgodzik commented on #3135
Fixed by https://github.com/scalameta/metals/pull/3107

[2021-09-20 15:27] tgodzik commented on #3135
OR  maybe, let's keep it open, the actual Show tasty command doesn't work yet. We should reuse the same logic as in #3107

[2021-09-21 19:33] ckipp01 opened #3150 "javap viewer not always working"
**Describe the bug**

When in a `.scala` file and attempting to view the decompiled version of it via the newly added javap functionality, I'm hitting on it not really ever being able to find the class. It seems to not be taking packages into account. I see this is being worked on for TASTy stuff in https://github.com/scalameta/metals/pull/3148, but I figured I'd also make sure we have this report

[2021-09-21 20:17] tgodzik commented on #3150
This is a very similar issue to https://github.com/scalameta/metals/issues/3136

I think we can solve them both at the same time. @kpodsiad is looking into using ClassFinder for that.

[2021-09-23 08:28] sdennyk opened #3153 "Metals extension in VSCode fails to open giter8 templates behind http proxy"
I'm a new user of metals extension in VSCode. I'm executing metals server behind a http proxy through metals extension in VSCode. Per documentation, I have configured the Metals Server Properties as below (the proxyHost and port have been masked for illustration purpose)

    "http.proxyAuthorization": null,
    "metals.serverProperties": [
        "-Xmx512m",
        "-Dhttps.proxyHost=proxy.doma

[2021-09-23 15:50] kpodsiad commented on #3135
Any chance that you know how to do this?

[2021-09-23 16:07] tgodzik commented on #3135
Looks like we can use https://code.visualstudio.com/api/extension-guides/custom-editors

Example: https://github.com/Microsoft/vscode-extension-samples/tree/main/custom-editor-sample

[2021-09-23 16:45] kpodsiad commented on #3135
Thanks @tgodzik, I'll look at them!

[2021-09-23 17:11] tgodzik commented on #3118
Let's check it after the work around https://github.com/scalacenter/bloop/pull/1477 is finished.

[2021-09-24 17:48] #3059 closed

[2021-09-27 11:46] adpi2 commented on #3051
@tgodzik should we close this issue since #2959 got merged?

[2021-09-27 12:18] tgodzik commented on #3051
We still need Scala 3 support to close it or we can raise another issue.

[2021-09-28 08:00] #3135 closed

[2021-10-04 11:49] mbovel opened #3181 "Syntax errors when opening "scala/scala3.g8""
**Describe the bug**

Scalameta incorrectly assumes Scala 2 when opening "scala/scala3.g8".

**To Reproduce**

Steps to reproduce the behavior:

1. `sbt new scala/scala3.g8`
2. `cd [project-dir]`
3. `code .`
4. Error: `expected start of definition (scalameta)` (see screeshot).

Note: quitting and re-opening VSCode solves the problem.

**Expected behavior**

No errors when opening for the first tim

[2021-10-04 14:48] tgodzik commented on #3181
Thanks for reporting! This is due to the fact that the default version of Scala used is Scala 2.12, which will report issues before importing the project. We changed that in the most recent master, but you should also be able to run build import and modify the file to get that error to disappear.

This should be fixed with the next release.

[2021-10-04 14:48] #3181 closed

[2021-10-04 14:56] mbovel commented on #3181
Thanks for the quick answer! So will this work out of the box with the next Metals release? Do you know when it will be released?

Yes that works.

[2021-10-04 14:59] sa- commented on #3051
Cool to see this merged!
I still see `an implementation is missing` when I try to debug, is it going to be a while until this is included in the plugin?

[2021-10-04 15:02] tgodzik commented on #3051
You should be able to update to newest snapshot of metals and restart the build server to test it out. We are still working on some fixes for a smoother experience for the users, but it would be cool to hear feedback already!

[2021-10-04 15:07] sa- commented on #3051
I'm new to VS Code and language servers, what's the easiest way for me to install a snapshot build?

[2021-10-04 15:13] sa- commented on #3051
Never mind, I found this: https://scalameta.org/metals/docs/editors/vscode#using-latest-metals-snapshot

Thanks again for working on this!

[2021-10-04 15:18] sa- commented on #3051
It looks like there is some autocomplete when I try to type in the console, but it still says an implementation is missing when I try to run this.

![image](https://user-images.githubusercontent.com/1297369/135877970-d3f3b164-8cf2-4c55-ab6e-e89213b0d7a1.png)

I am running this in an instance of VS Code that is attached to a pod in kubernetes, if this makes a difference.

[2021-10-04 15:27] mbovel commented on #3181
Ok, cool!

Excellent, thanks for pointing out this setting. I added `"metals.fallbackScalaVersion": "3.0.2"` to `.vscode/settings.json` in [the project in question](https://gitlab.epfl.ch/lamp/cs210-worksheets), so that it already works from the first opening for all its users.

[2021-10-04 17:59] tgodzik commented on #1304
I reopened it since we might be able to skip the wrong directory when listing everything recursively. Let's investigate this one.

[2021-10-05 07:59] sa- commented on #3051
`Metals version: 0.10.7+78-03c450a0-SNAPSHOT`

`Connected to Build server: Bloop v1.4.9-18-1ef3bf32`

Today the error is a bit different:

[code]

[2021-10-05 08:18] adpi2 commented on #3051
@sa- That looks like a bug. Expression evaluation in Metals is provided by https://github.com/scalacenter/scala-debug-adapter. Could you find a minimization of the bug and report it there? Thanks a lot.

[2021-10-05 08:24] sa- commented on #3051
Do you mean steps to reproduce?

[2021-10-05 08:30] adpi2 commented on #3051
Yes, we need the piece of code, the position of the breakpoint and the expression to reproduce the bug.

[2021-10-05 08:56] sa- commented on #3051
Sure.

- Run this container: https://gist.github.com/sa-/09c8a347d0dbe864d29d1f8f66eb8e88
- Attach VS Code to the running container
- Install metals and set the server version to `0.10.7+78-03c450a0-SNAPSHOT`
- create a new scala project using the gitter 8 `hello-world` template
- Import build
- add a breakpoint and hit debug above `object Main extends App`
- Try to evaluate expression unsuccessfu

[2021-10-05 11:54] tgodzik commented on #3051
That seems to be an issue with definitions, not related to your container. Will take a look!

[2021-10-05 15:02] tgodzik commented on #3051
Fixing it here https://github.com/scalacenter/scala-debug-adapter/pull/113

[2021-10-05 22:29] tribbloid commented on #1697
enconuter the same error:

[code]

The more severe problem is that the real error was hidden. Making it impossible to address it properly

[2021-10-06 08:44] tgodzik commented on #1697
I need to try and figure out why it's masking the real issues. In the meantime, could you check if a Bloop process is running in the background (it could be a leftover broken process, though I have never been able to reproduce it). You could do `ps aux | grep bloop` and maybe then `kill -9 <pid>`? Alternatively, could you try and install bloop commandline and see if it's running from there?  https

[2021-10-07 19:32] sicr0 opened #3189 ""expected start of definition" error"
**Describe the bug**
I run `sbt new scala/scala3.g8` to generate a Scala 3
project. After when I edit it with **Vim** (I have only **coc-metals** installed) I always get the message _expected start of definition [scalameta:]_. Metals doesn't suggest anything else when I type.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `sbt new scala/scala3.g8`
2. Edit it with **Vim** using **coc-m

[2021-10-08 05:41] ckipp01 commented on #3189
Thanks for the report @sicr0, this is due to the previous fallback version being 2.12 for metals meaning that when you first open a project, it assumes it's in 2.12 until everything gets registered and it thinks you're in 3.x land. In the latest snapshots of Metals this is changed and should fix this for you. Feel free to give it a try following the instructions [here](https://scalameta.org/metals

[2021-10-08 05:41] #3189 closed

[2021-10-09 12:17] adpi2 opened #3191 "[sbt server] Navigation does not work in meta build target"
**Describe the bug**

In sbt 1.5.5 we added support for the meta build target (the `SbtBuildTarget` in the [BSP specification](https://build-server-protocol.github.io/docs/extensions/sbt.html)).

Navigation does not work in Metals on this build target. That's probably because semanticdb is not enabled.

**To Reproduce**

1. In an sbt 1.5.5 or 1.6.0-M1 project
2. Import the build with sbt as the bu

[2021-10-10 15:50] olafurpg opened #3193 "Cascade compile command failed"
**Describe the bug**

Triggering the Cascade Compile command reports an error that the command failed.

**To Reproduce**

I haven't found a reliable reproduction yet. The modal appeared when I triggered the command, but the error doesn't happen every time I trigger the command.

**Expected behavior**

The error message is not actionable so I don't expect the modal to show up. Modal prompts should

[2021-10-10 16:51] tgodzik commented on #3193
Thanks for finding this! Wow, i haven't seen issues like this aside from when the Metals extension was not loaded. This is on the VS Code side, so there could be some logs in the metals log tab or extension host one.

Could you check it next time it happens? It should be reproducible, I will take a look next week if no one manages to check out before.

[2021-10-11 11:04] ckipp01 opened #3195 "Scala 3 hover showing when not on a symbol"
**Describe the bug**

When in Scala 3 and you trigger a hover on a position that is not the position on a symbol it shows the hover of the enclosing symbol.

**To Reproduce**

Steps to reproduce the behavior:

Create a file like this:

[code]

Trigger a hover right before the `@` or before the `p` and you'll see the following:

![2021-10-11 12 58 31](https://user-images.githubusercontent.com/13974

[2021-10-11 11:12] #3195 closed, assigned to nobody

[2021-10-11 21:29] Pardhu448 commented on #3051
Hi, I am also facing the same issue. _Metals version: _1.10.11__

![metals_debugissue](https://user-images.githubusercontent.com/10006246/136857520-ceed8970-1d1c-477e-96d7-0ab2492a3b2b.png)

[2021-10-12 01:14] asegarra opened #3196 "Switching to sbt server gives 'Run "Import build" to enable code navigation' warning"
**Describe the bug**

Switching to sbt server gives the warning pop up 'Run "Import build" to enable code navigation' but importing the build doe not resolve it. Going back to bloop makes it go away.

**To Reproduce**

1) Create a new Scala 3 project using scala/scala3.g8
2) Switch the project to sbt server
3) Import build

**Expected behavior**
This warning should be cleared by taking the recomme

[2021-10-12 06:37] tgodzik commented on #3051
@tdudzik could you check a look if this is fixed in the most recent version of Scala debug?

[2021-10-12 11:06] #3136 closed

[2021-10-12 11:06] #3150 closed

[2021-10-13 04:00] Pardhu448 commented on #3051
@adpi2 I am using [MUnit](https://scalameta.org/munit/) testing library.

[2021-10-13 11:07] olafurpg opened #3197 "textDocument/documentHighlight highlights unrelated symbols in build.sbt"
**Describe the bug**

Moving my mouse over an sbt setting highlights lot of unrelated names in build.sbt.

**To Reproduce**

Steps to reproduce the behavior:

1. Move cursor over an sbt symbol like `settings` in build.sbt

**Expected behavior**

It should only highlight other usages of the `settings` symbol.

**Screenshots**
![CleanShot 2021-10-13 at 13 05 14](https://user-images.githubusercontent

[2021-10-13 13:11] adpi2 commented on #3051
I managed to reproduce the bug with the current snapshot of Metals. Also with the latest version of the debug adapter it seems the bug is fixed, but we have another bug now:

When I evaluate `1+1` the result is `"values are not the same"`. Curiously this is not an error. The debugger really thinks that this is the result of `1 + 1`. The root cause seems to be that there is a  by-name parameter cal

[2021-10-14 18:19] dickwall opened #3201 "Snapshot build 0.10.7+94-7bd4dd41-SNAPSHOT appears to leak file handles"
**Describe the bug**

I have been trying out version `0.10.7+94-7bd4dd41-SNAPSHOT` as it enables readable toStrings on the debugger (which works great by the way)!

However I noticed that repeated debugging sessions were failing to start with this version, and after some trial and error I noticed that the problem appeared to be `Too Many Open Files` in the Java process. This seems to be related to

[2021-10-14 19:57] dos65 commented on #3201
I've tried to reproduce it on Metals repo but it seems that after several debug sessions the number of opened files doesn't change nor at Metals process nor at Bloop.

@dickwall Could you add main class name to processes you reported?

[2021-10-14 21:01] dickwall commented on #3201
OK - with the snapshot build version:

[code]

And the open files count, prior to running the debugger at all:

[code]

And after starting the debugger the first time:

[code]

after stopping the debugger:

[code]

and after starting a second time:

[code]

also got this in the metals log:

[code]

sorry for the redactions, but I'm working on company code and better safe than sorry :-)

the debugg

[2021-10-15 07:36] adpi2 commented on #3201
Update: I think the root cause is that the inputStreams [here](https://github.com/scalacenter/scala-debug-adapter/blob/8fbd52d435b45d9bfeab040875745af08b7271a7/core/src/main/scala/ch/epfl/scala/debugadapter/internal/ClassEntryLookUp.scala#L268) and [here](https://github.com/scalacenter/scala-debug-adapter/blob/8fbd52d435b45d9bfeab040875745af08b7271a7/core/src/main/scala/ch/epfl/scala/debugadapter/

[2021-10-15 08:22] #3201 closed, assigned to nobody

[2021-10-16 11:48] olafurpg commented on #3193
@dos65 I don't think that stack trace is related to the cascade compile failure, but maybe it is 🤷

[2021-10-17 10:44] olafurpg commented on #3193
I'm seeing the same error with other commands like "Connect to build server"

<img width="896" alt="image" src="https://user-images.githubusercontent.com/1408093/137623796-3a337d84-5429-498f-967c-1c39d2e51466.png">

We can transfer this issue to the VS Code extension since there's nothing wrong about the Metals side (I think)

[2021-10-18 23:00] deusaquilus opened #3214 "[Scala3] Regression: Multiple error inlines are not shown starting 3.0.1"
**Describe the bug**

When using Scala 3.0.0 if you have code that has errors in multiple levels of inlining, there is a red underline for every single one:
![image](https://user-images.githubusercontent.com/1369480/137816020-74602948-2047-4de4-9367-78f08459e4bb.png)

---

You can hover over any of them and see the errors thrown at that point:
![image](https://user-images.githubusercontent.com/136

[2021-10-19 12:16] jievince commented on #3024
Hi @tgodzik, How's it going?

[2021-10-20 18:26] stumash opened #3215 "Silencer plugin affecting worksheet evaluation"
**Describe the bug**

worksheets are not evaluating and showing the results as virtual text

**To Reproduce** Steps to reproduce the behavior:

1. Open a scala project with an sbt file and everything
2. Verify that various LSP/Metals-related functionality is working (go to def, show help, etc.)
3. Open an existing `*.worksheet.sc` file
4. Autocomplete still works in it, and the lsp status bar says

[2021-10-20 19:28] ckipp01 commented on #3215
Transfered this over to the main repo since it's not `nvin-metals` specific looking at the logs. By chance are you using https://github.com/ghik/silencer in your build? From looking at the logs it seems to be chocking on that, although I'm not sure why. To verify this, if you just go to a scratch workspace and create a worksheet does it work for you?

[2021-10-20 19:52] stumash commented on #3215
ah! good idea! you're right! it worked in a blank repo!

but why would metals get affected by the particular dependencies of my scala project?

[2021-10-20 20:09] ckipp01 commented on #3215
What version of Scala are you using? As of 2.12.13 this plugin is obsolete as it's no build into the language with `@nowarn`. So my quick answer would be try to get rid of it. However, I'll try to see if I can reproduce this to understand why it's affecting worksheet evaluations.

[2021-10-20 20:15] stumash commented on #3215
I'm on 2.12.12 😳

[2021-10-20 21:54] stumash commented on #3215
If it's of any use, whenever I open it in a new scala project with this `silencer` dependency, it tells me there's something wrong and to hit 1 to see diagnostic info (metals doctor). The doctor says everything is fine though, and there's nothing suspicious in the logs until I go try a worksheet

[2021-10-21 08:47] tgodzik commented on #3215
I think the reason here might be that we compile mdoc only for the most recent 2.12.x version, which is not perfect but seems to work ok for the part of the compiler that mdoc uses. This might cause issues with  other plugins :thinking: that use API that changed, but not sure exactly why.

[2021-10-21 10:13] gdxn96 opened #3217 "envFile doesn't Parse String Values with `=` correctly"
**Describe the bug**

When using the envFile parameter in launch.json, if my .env file has an Environment variable like an API key with an = sign in it, the variable value is not parsed correctly.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'launch.json'
2. Populate "envFile" with an env file
3. Set an env variable named `TEST` to `TEST='http://localhost:8086?test=1&foo=bar'`
4.

[2021-10-21 10:46] dos65 commented on #3217
@tgodzik I've checked it - DotEnvFileParser works well. The reason is in in bloop: https://github.com/scalacenter/bloop/blob/00cf880507a638fe4431d4dd2d2c1a0be6e0c8fb/frontend/src/main/scala/bloop/exec/JvmProcessForker.scala#L103-L106

[2021-10-21 10:48] gdxn96 commented on #3217
I believe I am using bloop yes

[2021-10-22 10:11] ckipp01 opened #3219 "TestFile functionality should work if build target and the ones it depends on have no errors."
**Describe the bug**

Let's say we have 3 build targets.

[code]

If there are errors in C, but none in B and A and you try to trigger a test on B via something like this:

[code]
You won't be able to test it if there is an error in C.

[code]

Right now we check the entire build for errors here:

https://github.com/scalameta/metals/blob/c34ab1aad6441fe0597f64678d2ef0395836e9bc/metals/src/main/sca

[2021-10-22 13:33] dos65 opened #3221 "Range Hover - tree is picked wrongly if selection range includes whitespaces"
In case if selection includes whitespaces tree is matched incorrectly.
In the following example:
[code]
Results:
- Scala 2 - empty
- Scala 3 - `def xd: Int`

- Metals version: 0.10.7+160-5b808860-SNAPSHOT

[2021-10-22 13:46] #3215 closed, assigned to nobody

[2021-10-25 11:31] #3221 closed, assigned to tgodzik

[2021-10-26 07:38] Meowcolm024 opened #3228 "Failed to connect with build server on M1 Mac"
**Describe the bug**

**To Reproduce**

Opens a metal project, and import the build. The plugin prompts for installing JDK 11. After installing, everything works fine.

But when reopening the project, it fails to connect to the build server. It is strange that it works for the first, but fails later.

**Expected behavior**

The server should be running.

**Screenshots**

[code]

**Installation:**

[2021-10-27 20:25] tribbloid opened #3235 "Code with no empty safety was used."
**Describe the bug**

The following stacktrace was displayed at some point:

2021.10.27 16:21:37 ERROR java.lang.UnsupportedOperationException: empty.max
	at scala.collection.TraversableOnce.max(TraversableOnce.scala:275)
	at scala.collection.TraversableOnce.max$(TraversableOnce.scala:273)
	at scala.collection.AbstractTraversable.max(Traversable.scala:108)
	at sbt.internal.server.BuildServerProtoc

[2021-10-28 18:49] thisisian opened #3236 "Breakpoints are not working"
**Describe the bug**

After upgrading from vscode-metals 1.10.11, breakpoints are no longer being hit. The thread in the stack trace will say "Paused on breakpoint" but the editor won't snap to the breakpoint and the program won't continue until you disconnect the debugger. I get the following exception in the log after starting the debugger:

[code]

**Installation:**

- Operating system: Windows

[2021-10-29 14:10] #3236 closed, assigned to nobody

[2021-10-29 18:27] dos65 opened #3243 "[Scala3] Option for generating code using optional-braces"
Currently, generated code from `NewFileProvider` and `ImplementAbstractMembers` uses only braces syntax.
It would be useful to parametrize this logic to be able to generate braceless variants for Scala3 sources.

Probably, it will be required to add a setting to enable/disable this behavior as there might be users who won't be happy about that.

[2021-10-30 15:39] scalavision commented on #1697
I also have problems with this inside the vscode devcontainer:

[code]

I find it strange that everything else works besides bloop (sbt etc.). It would be incredibly useful if bloop where able to give some kind of logging or error message somewhere to pick up. Using --verbose for bloop doesn't is completely silent.

[2021-10-30 21:03] chessman opened #3244 "import $exec in Ammonite scripts is not supported"
**Describe the bug**

https://ammonite.io/#import$exec

**To Reproduce**

Steps to reproduce the behavior:

imports.sc
[code]

script.sc
[code]

Metals shows an error: "not found: value hello".

**Expected behavior**

Metals shows no errors.

**Installation:**

- Operating system: Linux
- Editor: Emacs
- Metals version: v0.10.8

[2021-10-30 21:18] chessman opened #3245 "Exception when hover nonexistent case class"
**Describe the bug**

I found a case where HoverProvider throws an exception.It doesn't affect UX much, but I guess it would be good to fix.

**To Reproduce**

Steps to reproduce the behavior:

1. Write `val a = A(1)` where A is not defined.
2. Put cursor on `1`.
3. See exception in logs:

[code]

**Expected behavior**

No exceptions.

**Installation:**

- Operating system: Linux
- Editor: Emacs
-

[2021-10-31 13:38] justf0rfun opened #3246 "No autocomplete suggestions for methods on Scala 3"
**Describe the bug**

On a simple project I get no autocomplete suggestions for methods on a given symbol when project is configured to Scala 3.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a project
2. Configure it for Scala 3 with Mill or with SBT
3. Open the project folder with VSCode
4. Create a Scala source file
5. Create a Scala symbol representing an object e.g. a String l

[2021-11-01 09:42] dos65 commented on #3246
@justf0rfun Thanks for reporting!

Which scala 3 version do you use?
I'm able to reproduce it, the completions list for `s.@@` is incorrect but in my case it isn't empty.

[2021-11-01 09:58] dos65 commented on #3246
@justf0rfun I want' correct. Everything works fine, tested in on all Scala3 versions: `3.0.0` -> `3.1.0`.

I have no idea what might be wrong. Could you attach the full `.metals/metals.log`?

[2021-11-01 16:28] dos65 commented on #3245
Thanks for reporting! That's a bug.

The only thing, is that I'm wondering how it happened on Emacs as this branch only executes for range hover request which was implemented specifically only for VS Code and for nvim.

@chessman could you [collect traces](https://scalameta.org/metals/docs/contributors/getting-started/#json-rpc-trace) reproducing this issue and share them? I think it would be usef

[2021-11-01 17:44] chessman commented on #3245
@dos65 there are bsp and lsp traces https://gist.github.com/chessman/3dd294024813bfa640aa9a247d1d376b

[2021-11-02 07:47] ye-will opened #3257 "Lose type info for circe semi-auto derivation with @JsonCodec annotation"
**Describe the bug**

Seems type infer was broken with circe's @JsonCodec annotation.

**To Reproduce**

There's no auto completions for val `json`, but NO problem was detected in PROBLEMS window of vscode.

[code]

However, these code works correctly.

[code]

**Expected behavior**

**Screenshots**

**Installation:**

- Operating system: macOS (M1 chip) / Linux
- Editor: Visual Studio Code
- Meta

[2021-11-02 10:13] dos65 commented on #3245
@chessman Thanks! I was a bit confused that according to stacktrace this shouldn't happen for Emacs editor but after you provided lsp-traces I found a bug on our side

[2021-11-02 15:41] Z1kkurat opened #3260 "textDocument/definition returns only dependency results instead of local"
**Describe the bug**

Context: I'm using cats' syntax extension with F-polymorphic code in for-comprehension, declaring a variable of type `F[X]` and using it later in for-comprehension. When I use "Go to definition" on the usage of a variable in a for-comprehension, instead of jumping to the locally declared variable, it rather jumps into cats' syntax sources.

**To Reproduce**

Code:
[code]

Use

[2021-11-02 17:07] tgodzik commented on #3260
Thanks for reporting! This might be an issue with semanticdb, but not 100% sure.

[2021-11-02 17:26] GuillaumeDesforges opened #3261 "Unrecognized option: --add-exports"
**Describe the bug**

When Starting VSCode, I get

[code]

**To Reproduce**

* Create a simple Scala project
* Write to `.jvmopts`
[code]

**Expected behavior**

Language server should not crash. Indeed, `sbt` works fine from console for instance.

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.8

**Additional context**

I am providing OpenJDK and

[2021-11-02 18:12] dos65 commented on #3260
yep, that's semanticdb

[2021-11-02 18:41] tgodzik commented on #3261
Thanks for reporting!

Metals uses `.jvmopts` for starting the server by default and it seems JDK doesn't recognize the `--add-exports` option. If you remove it the server should start. You can also specify a separate javaHome to a JDK that recognizes the option.

[2021-11-02 18:55] #3245 closed

[2021-11-02 18:59] tgodzik commented on #3257
Thanks for reporting! Does it work if you put `JsonCodec` annotated class in a separate file? I think this might be an issue with macros not being processed by the presentation compiler in Metals, which could be on purpose as macros break the trees that we use for completions.

[2021-11-02 18:59] deusaquilus commented on #3214
Curiously, is lampepfl/dotty#12425 still a blocker for this issue? Seems like it was merged in May.
Is there still an upstream fix needed?

[2021-11-02 19:43] tgodzik commented on #3244
Thanks for reporting! Normally ammonite generates special files that we can use to make it all work with the `$file` imports. This doesn't seem to happen with `$exec`, not sure where it can be handled. @alexarchambault any pointer where we should look?

[2021-11-02 20:13] dos65 commented on #3214
@deusaquilus yep it was merged and probably that was a reason of this regression.

[2021-11-02 22:06] deusaquilus commented on #3214
What does that mean? Does it mean there needs to be a new fix for something on epfl/dotty?

[2021-11-02 23:16] marciocg opened #3262 ""debug"/"debug test" not working on VS Code within Windows"
**Describe the bug**

Debug session freezes and doesn't executes properly.
**To Reproduce**

Steps to reproduce the behavior:

1. Go to any .scala file
2. Click on 'debug' or 'debug test'
3. See error

Debug toolbar is inactive and keys F10/F11 can't be used on debug session. The line with breakpoint isn't attached for inspection.

Screenshot of the disabled debug toolbar:
![image](https://user-im

[2021-11-03 01:33] ye-will commented on #3257
It's OK now while putting `@JsonCodec` in a separate file, thanks.

[2021-11-03 08:44] dos65 commented on #3214
@deusaquilus

Yes, it should fixed there.

[2021-11-03 09:19] dos65 commented on #3262
Thanks for reporting!
This one is already fixed in #3238 and will be released soon

[2021-11-03 09:21] tgodzik commented on #3262
Actually, just checked and it's a different error https://github.com/scalameta/metals/pull/3263

Should have fixed it together.

[2021-11-03 09:55] GuillaumeDesforges commented on #3261
Thanks for your reply. After some investigation, I actually think that the extension does not support options in the .jvmopts written with a space.

With

[code]

Looking at https://github.com/scalameta/metals-languageclient/blob/main/src/fetchMetals.ts#L26 I expect that java is called with the jvm opts, but using console.log I could see it parsed it "wrong",

[code]

gave

[code]

however, child

[2021-11-03 10:12] Z1kkurat commented on #3260
@dos65 is there any issue to track the progress on that one?

[2021-11-03 10:28] #3262 closed

[2021-11-03 10:29] tgodzik commented on #3260
Not currently, we can open one in `scalameta/scalameta` but we can also keep track here.

[2021-11-03 12:14] tgodzik opened #3266 "FileSytemNotFound for src.zip when debugging on windows"
**Describe the bug**

I added a workaround on Windows for this in https://github.com/scalameta/metals/pull/3265
However I wasn't able why it was the case and it only happens for src.zip.

**To Reproduce**

Steps to reproduce the behavior:

1. Start debugging session with a breakpoint in something that runs within a Thread (I reproduced it with FoldingRangeSuite in metals)
2. Exception will be thro

[2021-11-03 18:14] dos65 commented on #2763
This one was fixed in [this commit](https://github.com/scalameta/metals/pull/3212/commits/9f615ff0cc192aa091ac9b61cd465a2762359a4e)

[2021-11-03 18:14] #2763 closed

[2021-11-03 23:05] deusaquilus commented on #3214
What is the upstream fix that is needed?

[2021-11-03 23:07] DamianReeves commented on #3214
Being affected by this as well. Would be great to get it fixed.

[2021-11-04 09:24] #3098 closed

[2021-11-04 18:35] #3219 closed

[2021-11-04 19:21] ckipp01 commented on #3128
Since you got this working I'm going to go ahead and close. If you do happen to hit on this again and have a reproduction, please do reopen!

[2021-11-04 19:21] #3128 closed

[2021-11-05 10:51] ckipp01 commented on #3072
I haven't seen this for a while, so either it was fixed in newer version of Dotty or something else fixed it. If I see it pop up again I'll re-open.

[2021-11-05 10:51] #3072 closed

[2021-11-05 15:18] bjornregnell opened #3272 "Align the documentation of how to do debugging with official docs, help beginners to get started with debugging"
I'm trying to help my beginner programming students to grok how to use the debugger in vs code and one problem is that this page https://code.visualstudio.com/docs/editor/debugging does not mention Scala and this page https://scalameta.org/metals/docs/editors/vscode/#running-and-debugging-your-code does not really show how to do debugging in vs code and it is not really aligned with the official d

[2021-11-05 15:25] bjornregnell commented on #3272
Example of misalignemnt: On the official docs it says to press the "Launch program" button but in Scala Metals it is "Run and Debug" but the it starts a run config and that is more diffcult than just press "debug" above your @main. But that does not happen if you dont have a build.sbt etc.

[2021-11-05 15:27] bjornregnell commented on #3272
If you follow the offical docs you risk ending up with
![image](https://user-images.githubusercontent.com/3601817/140535803-b2cbd5cf-e9cf-47dc-bd12-1335cd32c312.png)

[2021-11-05 16:08] bjornregnell commented on #3272
I guess Metals need to fix a launch config in order for the official docs to work. If we cannot impact the offical docs then we need to adapt so they work. Searching for "vs code debug" will land most beginners on the official docs...

[2021-11-08 11:28] tgodzik commented on #3257
Closing it as it's working as expected. It's not perfect at all, but I don't think we'll be able to fix this any time soon.

[2021-11-08 11:28] #3257 closed

[2021-11-08 15:41] tgodzik commented on #3260
this is the semanticdb we are getting:
[code]

[2021-11-11 15:14] render1980 opened #3282 "UnhandledRejection with `metals.super-method-hierarchy` and `metals.goto-super-method` commands"
**Bug description**

Hello!

Got problem with coc commands `metals.super-method-hierarchy` and `metals.goto-super-method`
using nvim coc-metals plugin in Scala project.

[code]

**To Reproduce** Steps:

1. Open `.scala` source code file in neovim
2. Move to parent method of Class / trait (in Scala)
3. Type `:CocCommand` and choose `metals.super-method-hierarchy` or `metals.goto-super-method`
4. Ty

[2021-11-11 20:16] render1980 commented on #3282
Hi @ckipp01

Thank you for the response.

If I want to see the implementations on the parent member I also can use `coc-implementation` command and it works (at the parent site).

[code]

But currently these both methods (`metals.super-method-hierarchy` and `metals.goto-super-method`) don't work on both sites and produce the same errors.

[2021-11-11 20:59] ckipp01 commented on #3282
@render1980 does it work on the minimal example that I have up above, or is this only happening in your project? I'll move this back over to the coc-metals repo. I don't actually even have coc-metals set up for myself with nvim anymore as I solely use nvim-metals now, so it might take a bit for me to get to this. I'm surprised something is going wrong with this though as there isn't a whole lot go

[2021-11-11 22:18] erdnaxeli opened #3283 "Organize imports fails with by-type given import"
**Describe the bug**

When using a by-type given import, the "organize imports" action on VSCode fails with the following error:

**To Reproduce**

Create a new scala3 project, then

Toto.scala
[code]

`Main.scala`
[code]

Execute the "organize imports "action.

**Expected behavior**

It works :)

**Installation:**

- Operating system: Linux
- Editor: Visual Studio Code
- Metals version: v0.10.14

[2021-11-12 09:57] dos65 commented on #3283
@erdnaxeli Thanks for reporting! This one was fixed in #3273
Until the next release, you can switch on the snapshot version of Metals - `0.10.9+30-f4bd2700-SNAPSHOT` which includes this fix

[2021-11-12 09:57] #3283 closed

[2021-11-13 20:35] scilari opened #3285 "Scaladoc does not autocomplete on Scala 3 (works on Scala 2.13.7)"
**Describe the bug**

Instead of suggesting and autocompleting Scaladoc, Metals suggests random Scala completions, making the feature unusable.

**To Reproduce**

Steps to reproduce the behavior:

1. Create new Scala project with Metals using template scalameta.mill-scala-seed.g8
2. Test Scaladoc autocomplete with the default Scala version 2.13.7 => Works as expected
3. Change Scala version in bui

[2021-11-14 09:59] ckipp01 commented on #3285
Thanks for the report @scilari! This isn't yet implemented for Scala 3. You can see the feature request for it here: https://github.com/scalameta/metals-feature-requests/issues/181

[2021-11-14 09:59] #3285 closed

[2021-11-16 14:25] ayoub-benali opened #3294 "Ammonite import fails"
**Describe the bug**

Metals fails to import ammonite scripts after clicking on the prompt. Bellow is the stacktrace that is logged

[code]

Strangely adding `// ammonite 2.4.1` to the top of the file fixed the problem. This version matches with my local ammonite version, should that matter ?

**To Reproduce**

Steps to reproduce the behavior:

1. create any `*.sc` file
2. Click on 'import' from t

[2021-11-16 19:25] deusaquilus commented on #3214
Hey guys, sorry to pester. What is the upstream fix that is needed?

[2021-11-17 09:41] dos65 commented on #3214
@deusaquilus I'm going to look at it today.

[2021-11-17 12:05] tgodzik commented on #3294
Thanks for reporting! Ammonite scripts are not yet supported for 2.13.7, https://github.com/scalameta/metals/pull/3292 should fix that, but some errors popped up there,which I wasn't yet able to investigate.

[2021-11-17 14:35] ayoub-benali commented on #3294
So setting the version in the script forces Metal to download a more recent version of ammonite than the default one ?

[2021-11-17 15:13] ckipp01 commented on #3294
Correct, we use https://github.com/alexarchambault/ammonite-runner under the hood. The reason yours was failing was because that version wasn't published for 2.13.7, but putting your `// ammonite 2.4.1` on top caused that version of ammonite to be used.

[2021-11-17 16:19] tgodzik opened #3296 "Wrong code lenses show on standalone file"
**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:

1. Create a scala file outside of source
2. Set fallback Scala version to the latest Scala 3
3. Paste:

[code]

4. See:

![image](https://user-images.githubusercontent.com/3807253/142238880-f25f64d8-a8cd-49ef-9140-7c94350c6b93.png)

**Expected behavior**

No code lenses shown as the file doesn't compile.

**Installation:**

[2021-11-18 08:18] ckipp01 commented on #3071
Just to tie these together, I started work on getting support for Scala 3 in ammonite-runner in hopes we can still support it instead of disabling it https://github.com/alexarchambault/ammonite-runner/pull/127/files

[2021-11-18 16:49] ches commented on #2859
So this applies for the Libraries section where dependencies are built with Scala 3, I assume. If I'm on the right track then [`ClasspathSymbols.scala`][1] is the place to start.

For Scala 3 files local to a project, I imagine [`Signature` and `SymbolInformation` support][2] will open the way for this?

Could this extraction from JARs, abstracting over ScalaSig or TASTy, be in a SemanticDB utilit

[2021-11-18 16:56] ayoub-benali opened #3300 "Type Annotation on Code Selection doesn't work with Ammonite build server"
**Describe the bug**
`textDocument/hover` with position works fine with standalone ammonite scripts but when sending `range` metals sends an empty reponse.

**To Reproduce**
For the following `test.sc` file
[code]
This is the LSP log when just a position is sent when hovering `toFloat`
[code]
And this is the LSP log when sending a range by selecting `toFloat`
[code]

**Expected behavior**
`textDoc

[2021-11-18 17:49] dos65 commented on #2859
@ches The only that is currently required is to add support of reading Tasty files at the place where TVP uses ScalaSig.

Everything related to Semanticdb already works well and shouldn't be connected with this thing.

[2021-11-19 07:02] pyzxwjj opened #3301 "Only one user can use metals on ubuntu20.04"
**Describe the bug**

Metals works well for the first user on ubuntu, but it cannot connect to the server for the other users on the same server.

Log

error: The launcher failed to establish a bsp connection, aborting...
[0m2021.11.19 14:43:59 ERROR Failed to connect with build server, no functionality will work.
java.lang.RuntimeException: The server did not start, got FailedToOpenBspConnection

[2021-11-19 11:46] jypma opened #3302 "ScalaJS project on Scala 2.13.7 looking for non-existent org.scalameta:mtags_2.13.7:0.10.8"
**Describe the bug**

I'm trying to compile a ScalaJS 1.7.1 project on Scala 2.13.7 with Metals 0.10.9 (from within Emacs with `lsp-mode`). After import, creating the presentation compiler fails with the following log lines:

[code]

Incidentally, the only version available online of that library seems to be [0.10.9](https://mvnrepository.com/artifact/org.scalameta/mtags_2.13.7). Version 0.10.8 is

[2021-11-19 11:53] jypma commented on #3302
I can add that downgrading to Scala 2.13.6 works around the issue (but the log still shows the same ScalaJS errors, they're probably unrelated).
[code]
But now code navigation (including into libraries) works fine. Mysterious :-)

[2021-11-19 11:56] ckipp01 commented on #3302
Thanks for the report @jypma, I just tried this out and didn't have any issues with 2.13.7. If you look at the Metals doctor it should show you what version of Bloop is being used. What version does it say?

You mention 0.10.9 here, but it looks like it's searching for 0.10.8, are you 100% sure you're on 0.10.9? Did you install metals with coursier? If so can you do a `metals -version` to verify?

[2021-11-19 12:12] jypma commented on #3302
Good point... well, yes and now. I'm running arch, and the [AUR package](https://aur.archlinux.org/packages/metals/) for metals is still on 0.10.8. So I built it myself, figuring that bumping the version number would be enough.

I overlooked that that package apparently [messes with](https://aur.archlinux.org/cgit/aur.git/tree/version-fix.patch?h=metals) the version detection of metals, causing it

[2021-11-19 12:12] #3302 closed

[2021-11-19 13:43] tgodzik commented on #3301
Thanks for reporting! This is a current limitation of Bloop, but we are actually working on making it possible to use multiple Bloop servers on one machine.

As a current workaround you could use sbt or mill BSP servers.

I think there should be a way of changing the default port for Bloop, but I can't find it currently.

[2021-11-19 17:28] #3300 closed

[2021-11-19 17:30] tgodzik commented on #3294
This is now fixed in https://github.com/scalameta/metals/pull/3303

Previously, we would revert to latest Scala 2.13 version in Ammonite for `automatic` version and we should revert to the latest ammonite supported version.

[2021-11-19 17:30] #3294 closed

[2021-11-21 07:41] pyzxwjj commented on #3301
thank you for your reply.

[2021-11-22 14:18] ayoub-benali opened #3305 "Doctor show false warnings on ammonite scripts"
**Describe the bug**
Doctor commands shows a false positive warning message when using standalone ammonite scripts and ammonite is used as BSP.

**To Reproduce**

1. Create any ammonite file outsite of a project
2. Run doctor command
3. Notice false warnings
[code]
Also this warning although the code navigation works fine
![image](https://user-images.githubusercontent.com/1632384/142876726-8ef74c8

[2021-11-22 14:29] tgodzik commented on #3305
Thanks for reporting! This is most likely one of the cases with Ammonite we forgot to cover.

[2021-11-22 17:17] arbitrary-dev opened #3306 "metals.sbt duplicated during initial project import"
**Describe the bug**

When I import new project in vim I get 3 identical files:

[code]

**Expected behavior**

[code]

**Installation:**

- Operating system: Linux
- Editor: Vim 8.2 8023428
- Metals version: v0.10.9
- coc-nvim: 0.0.80-03c9add7cd
- node: v14.17.6
- coc-metals: 1.0.11

**Search terms**

metals.sbt duplication

[2021-11-22 17:32] ckipp01 commented on #3306
Hey @arbitrary-dev, so this is actually working as expected. To give a bit of insight into what is going on here, the first `project/metals.sbt` is needed to be able to import your build definition. Then you want to actually have support for your sbt files, meaning your meta-build, which means we also need to add the plugin one layer above that. Then, you also probably want support for the files i

[2021-11-22 17:32] #3306 closed

[2021-11-23 06:51] gombosg opened #3379 "Find References not working"
**Describe the bug**

**To Reproduce** Steps to reproduce the behavior:

1. Import project
2. Try a "find references" feature
3. No references found anywhere.

**Expected behavior**

Find references is working!

**Screenshots**

Run doctor says it's all right:
![image](https://user-images.githubusercontent.com/23086060/142980887-a413070f-a9b8-40b9-818e-0c3764d93038.png)
![image](https://user-image

[2021-11-24 12:17] tgodzik commented on #3272
Related https://github.com/scalameta/metals-vscode/pull/767 <- however I don't think it will cause Metals to pop up on the main page, but should be more discoverable.

[2021-11-24 12:21] bjornregnell commented on #3272
How about providing a launch config out-of-the-box so the standard "Launch Program" button "just works"?

[2021-11-24 12:27] tgodzik commented on #3272
I am thinking we could try and run the existing command that will try to discover a main method in the current file instead of creating the config with the pop ups, which I never really found too useful.

We could also link to the official docs from the Metals page as it's much more complete when it comes to the debugging explanations, what do you think?

[2021-11-24 12:30] bjornregnell commented on #3272
Well, as long as the button that is given if you just click the Bug-tab on the left and the launch button just works then its fine (I thought that youperhaps had to have a launch config in order for the button to work)

[2021-11-24 12:36] tgodzik commented on #3272
I think it should be possible to not need it, but I ahven't managed yet to figure it out https://github.com/microsoft/vscode/issues/54212

[2021-11-25 09:23] ayoub-benali commented on #3305
I don't know if it is related but I noticed this log line from metals as well:
`INFO  no build target: using presentation compiler with only scala-library: 3.1.0`

I don't know if scala 3.1.0 is really used or the message is wrong

[2021-11-25 09:43] tgodzik commented on #3305
I think the message is wrong, I hoped I fixed it, but it seems I haven't unfortunately. That's the default Scala version fro standalone files and for second or two before connecting to the build server Metals thinks that the file doesn't belong to any build target.

[2021-11-25 10:05] tgodzik commented on #3272
Ok, so I did some research and I think currently the best approach would be to prefill the launch.json configuration for the user instead of making the users fill everything by themselves. This will require some discover endpoint on the Metals side, but it can be done on top of https://github.com/scalameta/metals/pull/3277

We can also use the dynamic configuration, which shows up when users run `

[2021-11-25 10:32] bjornregnell commented on #3272
That sounds promising! :heart_decoration:

[2021-11-25 11:27] ayoub-benali commented on #3305
Just realized another issue:
Goto definition effectively does **not** work properly unless `// scala 2.13.7` is added to the script. This makes part of the warnings true.
But setting the version fixes the problem but the warming remains.

[2021-11-29 06:18] lucag commented on #3071
Why not supporting [scala-cli](https://scala-cli.virtuslab.org) instead?

* It works wonderfully for all versions of Scala
* Supports dependences in comments (so that a scala-cli scrip is still valid Scala
* Its feature list is long: see the link above!

[2021-11-29 07:38] ckipp01 commented on #3071
Hi @lucag Metals should already support `scala-cli` as you can see in the [docs](https://scala-cli.virtuslab.org/docs/getting_started#ide-support).

[2021-11-29 12:27] #3307 closed

[2021-12-01 12:06] tgodzik commented on #1706
Works in 3.1.x :tada:

[2021-12-01 12:06] #1706 closed

[2021-12-01 16:58] danielbasso opened #3331 "The debugger and the debuggee are running in different versions of JVMs. You could see wrong source mapping results."
When trying to run a project (sometimes not even debugging) I keep getting this warning on vscode:

[code]

The solution seems simple, all I want to is use the `Debugger JVM ` as the 11.0.13. But I can't find where I change this setting.  Help please.

[2021-12-01 17:23] tgodzik commented on #3331
Thanks for reporting! The java home can be set in https://scalacenter.github.io/bloop/docs/server-reference#custom-java-home

[2021-12-01 18:24] danielbasso commented on #3331
Thank you @tgodzik . It seems to have worked, but now the project won't start:

[code]

Sorry, I work with Java for years, but the Scala + Bloop + Metals combination isn't that easy to get.

[2021-12-01 18:37] tgodzik commented on #3331
Maybe the java home is set incorrectly? Otherwise, you can just remove the added JSON to get back to where you started.

We are working actively to simplify it all.

[2021-12-02 06:17] ckipp01 commented on #3235
Since there hasn't been any response to this I'll go ahead and close.

[2021-12-02 06:17] #3235 closed

[2021-12-02 12:40] dos65 opened #3333 "[Worksheet] Issues with using coursier"
**To Reproduce**

Create worksheet in Metals repo at `metals/src/main/scala/scala/meta/internal/metals/`t with the following code:
[code]

Notice the error from mdoc:
[code]

**Installation:**

- Metals version: v0.10.9

[2021-12-02 14:04] tgodzik commented on #3333
That looks like an issue with scalapb versions :thinking:

[2021-12-02 15:21] danielbasso commented on #3331
Ok ,that is what I've tried so far:

1) F1 > "Java: Configure Java Runtime":
![image](https://user-images.githubusercontent.com/20959177/144448791-cd626ddf-bd12-43c9-a387-854767fc6a76.png)

`build.gradle`:

[code]
Didn't work, same warning.

2) Settings > Metals: Java Home:

![image](https://user-images.githubusercontent.com/20959177/144449073-1fc3d936-b947-42cb-b574-0fc4b695ba90.png)

Didn't work

[2021-12-02 16:34] tgodzik commented on #3331
That's separate setting, Metals doesn't use Java Language Server currently.

Could you try to update to newest Metals snapshot? https://scalameta.org/metals/docs/ and changes server version settings.

The snapshot version should print the issues with connection to Bloop in detail.

[2021-12-02 18:17] danielbasso commented on #3331
Hi. Did it:

![image](https://user-images.githubusercontent.com/20959177/144479640-d4d0e808-322c-467e-80e4-589eff37d766.png)

Reloaded the window and then:

![image](https://user-images.githubusercontent.com/20959177/144479784-abc7c24f-b657-4e1d-a3ff-38ca02101786.png)

And:

![image](https://user-images.githubusercontent.com/20959177/144479908-5b481ead-4c05-4b23-b004-2c1daad7cea7.png)

![image](ht

[2021-12-02 19:38] tgodzik commented on #3331
@danielbasso sorry I wasn't too specific. I meant that if you define javaHome in bloop.json and it fails to connect we should be able to see the reason for it under the newest snapshot.

[2021-12-02 23:55] danielbasso commented on #3331
Ok, so I created a file called `bloop.json` insde `.bloop` with the `javaHome` config. Checked the logs and the error was accusing missing filds in the json that were the same fields present on `myprojectname.json` (also inside `.bloop`). So I just copied the fields, run the project, it compiled successfully, and the warning persists.

[2021-12-03 04:38] ams1 commented on #3153
Hi, I've also hit the exact same thing - working behind a proxy and trying to create a New Scala project. Any possible workarrounds until the bug is fixed?

P.S.: Great initiative with the extension!

[2021-12-03 09:02] kpodsiad commented on #3153
Hi @ams1. I'm afraid that currently there is no workaround for this bug.

However, I'm working on simplifying proxy set up and I'll fix this bug too!

[2021-12-03 09:49] tgodzik commented on #3331
Where did you create the `bloop.json` file? For me it's `/home/tgodzik/.bloop/bloop.json`, did you create it in your workspace by any chance?

[2021-12-03 13:49] danielbasso commented on #3331
Hi! I don't have bloop installed in my machine, but this isn't a requirement, as stated [here](https://scalacenter.github.io/bloop/docs/ides/metals#installation-requirements):

I think if this is the case, the `.bloop` folder it uses is inside the project directory. So yeah, I created in my workspace.

But just to make sure, I've created `.bloop` inside my home, also created a `bloop.json` file wi

[2021-12-03 14:19] tgodzik commented on #3331
Did you run `Metals: Restart build server` afterwards?

It's not require, but the only difference is that you don't have the Bloop cli, everything else is the same, so the server should pick up bloop.json in home.

`.bloop` only contains config files for modules, so if you add another json it will think you added a new target, so this is not a right place to add anything manually.

[2021-12-03 16:16] danielbasso commented on #3331
That's it! The warning is gone. Thank you for your kindness and patience. And sorry, I'm a beginner in the bloop world.

So, solution recap to anyone out there:

1. Create .bloop folder inside your home, a bloop.json file inside it and write the javaHome config (as stated in the first reply);

2. Run `Metals: Restart build server` in Vscode (as stated in the last reply).

[2021-12-03 16:16] #3331 closed

[2021-12-03 17:11] tgodzik commented on #3331
No worries! This is way too complex, we should try and simplify it in the future. We already had a lot of discussions about, but having an easy way of switching JVMs is a complex topic :sweat_smile:

[2021-12-06 13:16] ayoub-benali opened #3338 "Metals throws Internal error when receiving null for window/showMessageRequest"
**To Reproduce**
1. Trigger a `window/showMessageRequest` by running "new scala file" command for example
2. dismiss the panel by closing it without making a choice.
3. Notice Metals logging an exception
[code]

**Expected behavior**
Metals handling the null case correctly since it is valid answer.
As per the LSP spec `result: the selected MessageActionItem | null if none got selected.`

Maybe Met

[2021-12-07 15:10] #3338 closed

[2021-12-09 05:15] arbitrary-dev opened #3346 "Metals doesn't show case class field references in pattern matching and partial functions"
**Describe the bug**

Metals doesn't show case class field references in pattern matching and partial functions:

[code]

**Expected behavior**

References in pattern matching and partial functions are to show up as well.

**Installation:**

- Operating system: Linux
- Editor: Vim 8.2.0814 (coc-nvim 0.0.80-03c9add7cd, coc-metals 1.0.11)
- Metals version: v0.10.9

**Search terms**

references patte

[2021-12-09 11:10] vishalovercome opened #3347 "Worksheet mode in VSCode stops working and perhaps causes metals to stop as well"
**Describe the bug**
1. Problem becomes visible when there's no output beside the code in worksheets
2. Running doctor / Checking logs via Metals extension UI stops working
3. Log file .metals/metals.log will have no error but some output like this
```[0m2021.12.09 16:22:27 INFO  time: evaluated worksheet 'SomeWorksheet.worksheet.sc' in 14s[0m```
4. After some edits event saving the file doesn't

[2021-12-09 11:17] tgodzik commented on #3346
Thanks for reporting!

The name inside the class and the name inside the pattern match are actually different symbols.

You can use different name:
[code]
and it will be correct. That name is actually local to the case clause.

We could special case it that if the name matches that it will be renamed, but I don't think that is a correct solution here.

[2021-12-09 19:25] tgodzik commented on #3347
Thanks for reporting! Could you try and run `jstack` on the Metals process next time this happens? It's probably that something is hanging inside the process itself.

Alternatively, it might be possible that it will help to increase the `-Xmx` proeprty in the server settings.

[2021-12-10 10:53] ckipp01 opened #3352 "Anything using quick pick is broken in the latest SNAPSHOT"
This commit introduced a regression where Gson isn't able to correctly handle the Scala Option. So when you try to create a new Scala File or a new Scala Project you see this in the logs and nothing happens:

[code]

_Originally posted by @ckipp01 in https://github.com/scalameta/metals/pull/3344#issuecomment-990859190_

[2021-12-10 11:36] kpodsiad commented on #3352
Thanks for vigilance @ckipp01. I'm on it.

[2021-12-10 22:12] ayoub-benali opened #3354 "Implement LSP Code Lens Refresh Request"
Metals is using a custom command `metals-model-refresh` while there is an LSP command for the same purpose [Code Lens Refresh Request](https://microsoft.github.io/language-server-protocol/specification#codeLens_refresh)

This would avoid to the clients implementing custom commands.

**Expected behavior**
Metals using LSP commands when available.

**Search terms**
LSP, code lens

[2021-12-11 23:40] arbitrary-dev commented on #3346
The bug is not about renaming the field, but about reference lookup. Though renaming would also be nice.

[2021-12-12 10:31] tgodzik commented on #3346
Ach sorry, we use the same mechanism in renames as for references.

Overall, I don't think this is a bug, since the symbols are unrelated and having the same name is not required.

I will move it to feature requests instead.

[2021-12-12 16:01] ckipp01 opened #3358 "Unable to "Step In" to a Java Source"
**Describe the bug**

When trying to "Step In" to a java source while debugging an exception is throw, which then floats up to the UI causing nothing to work.

**To Reproduce**

Steps to reproduce the behavior:

The piece of code I'm using for this is:

[code]

1. Have a minimal Main like shown above
2. Set a breakpoint on the line that contains the `println`
3. Trigger a debug and when it stops a

[2021-12-12 16:12] ckipp01 commented on #3358
After a bit more debugging, this seems to work when I switch to jdk 8, but breaks when using 11.