[2022-05-21 07:42] ckipp01 commented on #3936
Thanks for the report @camgraff! So looking a bit closer, the issue is actually here:

https://github.com/lichess-org/lila/blob/master/project/BuildSettings.scala#L22-L23

This line:

[code]
means that there is nothing generated for test targets meaning that Bloop / Metals won't know about this targets. You can verify this by looking at the Doctor and seeing that there is no `user-test` target. If

[2022-05-21 07:42] #3936 closed

[2022-05-21 13:43] camgraff commented on #3936
Ah ok, thanks!

[2022-05-22 09:11] ckipp01 opened #3937 "Out of bounds cursor position given when creating new empty scala file"
### Describe the bug

When a user attempts to create a new scala file using the `scala-file` id (Empty file), the `metals-goto-location` that is returned via the `metals/executeClientCommand` has a position that is out of bounds in the file that was actually created. This throws errors in some clients since the position is not valid. Here is an example of what a `nvim-metals` user sees:

[code]

H

[2022-05-22 17:59] kpodsiad opened #3938 "Implicit parameter is not visible in yield clause"
Following code
[code]
yields this

<img width="504" alt="Screenshot 2022-05-22 at 18 38 37" src="https://user-images.githubusercontent.com/37124721/169706115-62f9d4c0-a2f5-4b7e-b9ca-10df381f35fe.png">

`evidence` is visible in the ordinary map, but there is no implicit parameter in yield clause.

[2022-05-23 09:03] Arthurm1 opened #3939 "Metals doesn't recognise method overrides with vararg params"
### Describe the bug

When extending a Java class that has abstract methods that take vararg params, Metals doesn't mark these as override methods (i.e. there is no goto parent codelens) and then gives warnings that method parameters aren't used.

It works fine with methods without varargs and fine when extending Scala.

Example...
![image](https://user-images.githubusercontent.com/5612295/1697799

[2022-05-23 15:21] tgodzik commented on #3937
Thanks for reporting, I think VS Code might be falling back to the end of the file in this case. This should be quick to check out and fix, anyone wants to take a look?

[2022-05-23 15:44] ckipp01 commented on #3937
_Interesting_, so looking at VS Code gave me a bit more insight. Looking at the `textDocument/didOpen` I do actually see there are `\n\n` so in theory, there should be 3 lines, however in Neovim for me it's only showing the two and the last newline isn't there. I think this is an issue on the client side, sorry for the noise!

[2022-05-23 15:44] #3937 closed

[2022-05-23 19:46] fiatjaf commented on #3559
Irrelevant to Metals, but for anyone arriving here with the same issue, this seems to be an issue with sorting of autocomplete options on https://github.com/hrsh7th/nvim-cmp (or maybe other editor completers have similar issues):

You can customize sorting by passing an array of sorting functions to `sorting.comparators` on setup. [These are the defaults](https://github.com/hrsh7th/nvim-cmp/blob/6

[2022-05-24 02:08] jievince commented on #3024
Hey, guys. How's it going

[2022-05-24 09:20] tgodzik commented on #3024
No progress recently unfortunately.

[2022-05-24 12:52] tgodzik commented on #3939
Thanks for reporting! This looks like a bug within the compiler probably somewhere around https://github.com/scala/scala/blob/0c58491cd7c59e442b003fbf4dede7e17314a79b/src/reflect/scala/reflect/internal/Types.scala#L4952 both Metals and the compiler warning issue might stem from that.

Checked within scalameta and we are not getting any information about overriden symbols for those particular symbo

[2022-05-24 12:58] tgodzik commented on #3939
Looks like it's connected to https://github.com/scala/bug/issues/11944

[2022-05-24 13:00] tgodzik commented on #3939
But on the other hand this one doesn't cause compilation issues, but it causes the warning. So maybe it's still valid to report it?

[2022-05-24 14:33] Arthurm1 commented on #3939
@tgodzik thanks

Reported https://github.com/scala/bug/issues/12594

[2022-05-24 14:56] keynmol opened #3945 "Methods with empty parens argument lists are suggested incorrectly"
### Describe the bug

Scala 3.1.2

When a method is defined with empty parens, the suggestion from autocomplete is incorrect:
![2022-05-24 15 53 31](https://user-images.githubusercontent.com/1052965/170066571-6cf4cf0e-a681-4c7b-9492-97d557bda320.gif)

### Expected behavior

The method in question is suggested as `now()` and inserted as such.

### Operating system

macOS

### Editor/Extension

Nvim

[2022-05-25 14:51] tgodzik commented on #3724
This is fixed upstream :tada:

[2022-05-25 15:39] tgodzik commented on #3949
Related to https://github.com/lampepfl/dotty/issues/15249

[2022-05-26 01:50] jievince commented on #3024
Oh, feeling sadly

[2022-05-26 11:33] #3888 closed

[2022-05-27 12:35] prolativ opened #3961 "Syntactically incorrect using directive breaks build"
### Describe the bug

1. Create a file:
UnclosedLiteral.scala:
[code]

2. Run
```scala-cli setup-ide UnclosedLiteral.scala```

3. Open the project in VSCode

4. Metals' output:
[code]

### Expected behavior

Metals should not crash and show an error about the incorrect using directive instead

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.5

### Extra cont

[2022-05-30 09:13] #3961 closed

[2022-05-30 20:23] kpodsiad commented on #3961
I dug a bit more into this issue to see if what is the real issue here. I started investigation on `0.11.5` and then I worked on `c517435d216113c366d118cf24375e9e61dbfa42` (it's a main without @dos65 fix). Issuse seems to be present only on `0.11.5`.

---

Let's start with what is causing NPE (God bless better NPE messages) - `java.lang.NullPointerException: Cannot invoke "Object.toString()" becau

[2022-05-31 07:34] tanishiking commented on #3961
@kpodsiad Thank you very much for investigating the root cause of the problem!

Indeed, with the latest nightly Metals, I received something below, which means Metals is actually watching all files under `/` (root directory). This should be fixed.
[code]

---

Let me clarify something

- Metals 0.11.6 without https://github.com/scalameta/metals/pull/3964 should fix this NPE issue because switching

[2022-05-31 07:36] tanishiking commented on #3961
If my assumptions are all correct, what we should do are

- (optional) revert https://github.com/scalameta/metals/pull/3964
- Open another issue for watching `/` directory problem.
  - It would be good to fix before `v0.11.6`, but we don't need to rush as it had been the issue for a long time (?)

[2022-05-31 07:55] kpodsiad commented on #3961
It seems so. I tried to reproduce issue using the same steps but I couldn't. I logged incoming events and all of them were related to the files.

---

1. Hard to say, at least not directly. Watching `/` is connected with with NPE, because code is calling `getFileName` which may return nullable String for root directory (and probably for other directories too), but after https://github.com/scalamet

[2022-05-31 10:22] dos65 commented on #3961
@kpodsiad thx for investigations!
I still don't fully understand how it was possible to get `/`  in `watchRoots` but overall looks like you are right

[2022-05-31 10:39] tgodzik commented on #3961
It would probably be good to default to current directory instead of `/` in case of empty build targets.

[2022-05-31 14:20] mbovel opened #3968 "Content of global Bloop JSON is not escaped"
### Describe the bug

Discovered with a student that had set a path containing `\` characters. This resulted in an invalid JSON file.

https://github.com/scalameta/metals/blob/9378da0ffdc7e53d50abccbb84500ce40f3b2a87/metals/src/main/scala/scala/meta/internal/metals/BloopServers.scala#L151

### Expected behavior

Should escape content of strings.

Could we use a real JSON writer for more robustness

[2022-05-31 14:20] mbovel commented on #3968
cc @adpi2

[2022-05-31 14:33] dos65 commented on #3968
@mbovel Thanks for reporting!

We can switch this thing on ujson

[2022-06-01 02:58] benrbray opened #3973 "`metals.showImplicitArguments` option should work with for-comprehensions"
### Is your feature request related to a problem? Please describe.

It's often useful to flip on `metals.showImplicitArguments` when I'm having difficulty tracking down the source of an implicit argument.  However, using the VS Code Metals extension, implicit arguments are not shown inside of for-comprehensions:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/221963/17

[2022-06-01 18:27] #3973 closed, assigned to nobody

[2022-06-01 22:23] frioux opened #3975 "Metals cannot follow definitions of some items"
### Describe the bug

At work we use Gradle.  It seems like any types that we import via an `includeBuild` cannot be followed by metals.  This means you can't go to those definitions, you can't autocomplete them, etc.

I made a reproduction by taking a very small slice of our monorepo to try.  If I knew gradle more it'd be smaller, apologies for that.  The repro is in https://github.com/frioux/met

[2022-06-02 11:23] ckipp01 commented on #3975
Thanks for the report @frioux. Just to tie these all together (and for visibility, let's continue the conversation here, not on Discord), I hit on the same issue that @dos65 mentioned on Discord. When I opened `App.scala` while it did correctly identify root in nvim-metals as `example/spark/` the import fails with the following:

[code]

Same question as @dos65, where do these variables come from?

[2022-06-02 13:00] frioux commented on #3975
Ah sorry about that.  First you need to symlink ~/.gradle/init.d/init-repos.gradle to the path of https://github.com/frioux/metalsBug/blob/main/common/gradle/init-repos.gradle, then set the env var STARTERVIEW to the root of your repo. That should unblock you.

On Thu, Jun 2, 2022, at 4:23 AM, Chris Kipp wrote:

`

--
fREW Schmidt
https://blog.afoolishmanifesto.com

[2022-06-02 13:14] ckipp01 commented on #3975
Alright, more issues. After doing the steps I still wasn't able to do a bloop install.
[code]

After removing all of the Bloop stuff from your build definition and letting Metals just handle the import I was able to get the import to succeed, however it doesn't recognize your `com.ziprecruiter` dependency, which causes compilation not to work in your project. The only reference I see to this dep i

[2022-06-02 13:22] frioux commented on #3975
I am surprised that the bloop config caused issues, but who knows. The dep you are not seeing is present in the repo and should be configured by https://github.com/frioux/metalsBug/blob/main/examples/spark/settings.gradle.

Maybe go into examples/spark and run ./gradlew build , to see it working?

On Thu, Jun 2, 2022, at 6:14 AM, Chris Kipp wrote:

`

`

`

--
fREW Schmidt
https://blog.afoolishman

[2022-06-02 14:46] #3968 closed

[2022-06-02 15:48] Arthurm1 commented on #3975
Looking at this on my phone so it's a bit tricky.

The way gradle works is that it always builds the jars for projects and sub projects.

This appears to be a multi project build and the project that doesn't compile is depending on the zr-config project.

Normally you'd depend on another project using something like `implementation project(':zr-config')`
This would be fine in bloop as the project

[2022-06-02 16:19] frioux commented on #3975
Just to be 100% clear: bloop *does* successfully compile this project.  It may not surface metadata to metals as expected or hoped for, but it builds just fine.

As for why the weird structure, I honestly couldn't tell you.  People who've worked on Scala and Java projects much more than I have set it up this way.  It may be related to the fact that it's a monorepo with over 300 gradle based subpro

[2022-06-02 16:34] Arthurm1 commented on #3975
I can't examine the files locally but I imagine the reason bloop compiles is because you've already created the jar using gradle and that is what bloop is using. In the workspace `.bloop`, there should be a number of JSON files. Can you post them here? I suspect the classpath is referring to the jar instead of the classes dir of the zr-config project.

[2022-06-02 16:38] frioux commented on #3975
Here's the main one, I think you're right:

[code]

[2022-06-02 17:13] ckipp01 commented on #3975
Exactly this. This is why when I first tried I had compilation issues until I used gradle to build the project.

Looking around more:

This also seems to be correct, for example you can change some stuff in commons, and it won't be reflected when you're trying to use it in your example project _unless_ you compile it with gradle and then it will pick that up and compile with Bloop.

[2022-06-02 17:19] frioux commented on #3975
OK, thanks for figuring this out folks.

Is it worth opening an issue with Bloop about this do you think?

[2022-06-02 17:19] Arthurm1 commented on #3975
The `/home/frew/code/eg/common/scala/config/build/libs/zr-config.jar"` line shows bloop thinks this is a dependency jar and the fact that the `dependencies` section is empty shows it doesn't think this is a project dependency. Both of which are wrong

You can try changing your build definition to use `implementation project(':zr-config')` and re-importing the build.  If that works then great - tha

[2022-06-02 17:28] frioux commented on #3975
I'll try that stuff @Arthurm1; I'm not totally sure how to do it so it might take a bit.

[2022-06-03 14:39] #3945 closed

[2022-06-04 16:10] frioux commented on #3975
OK @Arthurm1 I verified that I cannot simply switch to the more typical way of declaring cross library dependencies as you suggested.  I can also confirm that at least IntelliJ knows how to follow these kinds of deps, so being able to follow them with Metals would be useful.  I'm trying to simplify my example for you in the meantime.

[2022-06-05 04:10] robmwalsh opened #3994 "'Implement all members' quick fix inserts method stubs before self type"
**Describe the bug**
'Implement all members' quick fix inserts method stubs before self type.

**To Reproduce** Steps to reproduce the behavior:

1. Add a new abstract method to a trait or whatever which has a concrete subtype
2. Compilation of concrete class correctly fails (blah needs to be abstract, missing implementation of new method)
3. Add a self type to the concrete class
4. Try and use th

[2022-06-06 09:00] kpodsiad opened #3997 "Synthetic's link in for yield doesn't work for `<-`"
### Describe the bug

EDIT: by `No synthetic for evidence >>` I meant no link in synthetic ;)

[code]
Both `print` and `printOpt` have synthetics for `String` and `evidence`. However, `printOpt`'s evidence doesn't have link to used implicit argument.

To reproduce:
1. Hover over `print`'s `evidence` - there is link.
2. Hover over `printOpt`'s `evidence` - there is no link.

<img width="619" alt="S

[2022-06-06 12:33] ckipp01 opened #4036 "`gradleScript` setting not working"
### Describe the bug

I don't have a clear reproduction yet, but just carrying this over from #vim-users on Discord where a person was setting this, but it didn't seem to be taking affect. I've never actually tested this out as I never use gradle, but it seemed to not be working in their example. This needs to be checked.

### Expected behavior

_No response_

### Operating system

macOS

### Vers

[2022-06-06 21:07] armanbilge opened #4000 ""Show decompiled with CFR" doesn't show the decompiled sources"
### Describe the bug

https://github.com/armanbilge/sandbox/tree/cfr-bug

1. Open https://gitpod.io/#https://github.com/armanbilge/sandbox/tree/cfr-bug
2. `sdk install scalacli`
3. `scala-cli setup-ide bug.scala`
4. Import build to Metals.
5. Metals: Show decompiled with CFR.

Output:
[code]

### Expected behavior

To see decompiled sources :)

### Operating system

Linux

### Editor/Extension

VS

[2022-06-07 05:23] ckipp01 opened #4001 "Constant prompts to restart Bloop"
### Describe the bug

I've had some [reports of this](https://github.com/scalameta/nvim-metals/discussions/411) in `nvim-metals` and I'm also hitting on it this morning so thought I'd open this up although it's not 100% clear what's causing it yet. My guess is that Bloop just isn't being correctly shut down.

However, the issue is that when you open a project you're prompted like so:

[code]

Then

[2022-06-07 05:29] ckipp01 commented on #4001
Also note that after going into my `.bloop/bloop.json` and _removing_ the `javaHome` setting, I no long get the prompt.

[2022-06-07 10:31] ninth-dev opened #4003 "Server Experimental Capabilities are no longer not passing through"
### Describe the bug

Server Experimental Capabilities are not passing through.

1. Enable Logging
2. Start Metals
3. Check Logs
4. Check the initialize response
5. Check the value under `.capabilities.experimental`
6. Observe `experimental: {} ... `

### Expected behavior

Expect the server experimental to have `{'rangeHoverProvider': True}`

See [MetalsExperimental.scala](https://github.com/scal

[2022-06-07 13:27] prolativ opened #4004 "Empty parentheses added to completed extension method"
### Describe the bug

[code]
Invoking code completion on `"abc".fo` results in `"abc".foo()` (which won't compile).

### Expected behavior

The code should be completed with just `"abc".foo` without following parentheses.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.6+48-26045a93-SNAPSHOT

### Extra context or search terms

_No response_

[2022-06-07 13:45] riiswa commented on #3994
Hey, I'm on it!

[2022-06-07 13:49] prolativ commented on #4004
A probably related issue:
[code]
Here the suggested completions for `"abc".ba` are all displayed as parameterless methods returning an `Int`:
[code]
but they should be displayed as
[code]

[2022-06-07 18:13] jimka2001 opened #4006 "popup: Test Explorer won't work due to mis-configuration"
### Describe the bug

I'm running vscode/metals within gitpod, so I don't know whether this is a metals issue, vscode issue, or gitpod issue.   But I often see the  popup message shown in the image here.  When I click on the "More Information" button nothing happens.   Any suggestions about what this means, or what I should be doing about it?

<img width="469" alt="Screenshot 2022-06-06 at 18 25 1

[2022-06-07 19:21] tgodzik commented on #4006
Thanks for reporting! What does happen after clicking `More information` ? What testing library are you using? @kpodsiad maybe we could easy of with the warning and only show it in the doctor?

[2022-06-07 19:39] kpodsiad commented on #4006
@tgodzik nothing' haooens after clicking on it. I spotted this behavior but I didn't have enought time to investigate what's causing the problem.

However, I know why nothing happens. It's because we keep track doctor opened/closed state and this action probably doesn't change that state.

[2022-06-07 20:59] jimka2001 commented on #4006
nothing seems to happen when I tap More information.  It seems to have no effect.  I forgot whether that makes the popup go away or not.

[2022-06-08 05:11] tanishiking commented on #3994
@riiswa Awesome! If you have any questions on anything (project setup, about codebase, testing, whatever), feel free to ask questions :)

[2022-06-08 15:19] tgodzik commented on #4000
Thanks for reporting! It seems that if we have `JAVA_TOOL_OPTIONS` set it will get printed to the error stream and because of that we assume it;s broken (but it's actually not)

[2022-06-08 15:23] armanbilge commented on #4000
Aha, thanks. `JAVA_TOOL_OPTIONS` is just one of those annoying GitPod things.

[2022-06-08 15:30] tgodzik commented on #4000
Trying to fix it in https://github.com/scalameta/metals/pull/4012 but not sure how to test it without modifying everything to run with the tools option

[2022-06-08 16:12] ckipp01 commented on #3994
Closed via https://github.com/scalameta/metals/pull/4009

[2022-06-08 16:12] #3994 closed

[2022-06-08 16:40] #4000 closed

[2022-06-09 11:16] riiswa commented on #4004
Hi, I think I have fixed the bug I am now trying to write a test. Is this the right file: `metals/tests/cross/src/test/scala/tests/pc/CompletionMatchSuite.scala` ?

[2022-06-09 11:19] ckipp01 commented on #4004
Hey @riiswa, that specific suite is for the completions related to the `match` completion functionality. Check out the general `CompletionSuite.scala`, and you should be able to stick it in there. Also note how the `compat` param works as you might want different behavior with Scala 2 or Scala 3.

[2022-06-09 11:50] tgodzik commented on #4004
It's probably bet to add it to `CompletionSnippetSuite` with a `tag(IgnoreScala2)` as the extension methods don't work for Scala 2.

[2022-06-09 11:57] davidmlw commented on #3301
@tdudzik I confirm that bloop CLI respect the BLOOP_PORT var and start muliple servers. Currently I use metals from Emacs and Vscode, both of them will not respect BLOOP_PORT and different users will conflict the default bloop port in metals.

It is better that metals can support a scheme, respeting an environment var or start with a parameter, then Emacs and Vscode can use this capability.

[2022-06-09 15:55] #4004 closed

[2022-06-09 18:43] #3997 closed

[2022-06-10 06:22] LeUser111 commented on #1923
@tgodzik I've finally found the time to evaluate Metals again :) The experience is _much_ smoother now - thank you :)

We are still having minor issues with build imports (Metals 0.11.6):
* On my PC the maven-wrapper now seems to use the Maven Settings (~/.m2/settings.xml), however it does not seem use ~/.mavenrc which includes the path to the CA certificate used by our repository
* On my colleagu

[2022-06-10 17:57] tgodzik commented on #1923
@LeUser111 you can specify which maven scrupt to run in the Metals settings `metals.mavenScript`.

[2022-06-11 18:33] kubukoz opened #4020 ""Format on save" deletes recently written code"
### Describe the bug

In the latest release, I started noticing some formatting issues that I never saw before: When used with format-on-save, saving a file will remove some code I just wrote.

In case it's not possible to demonstrate with a code example, here's a recording:

https://user-images.githubusercontent.com/894884/173199758-9acb55e4-9adb-4faf-a405-993ce618c7e7.mov

Steps (doesn't always

[2022-06-11 18:34] kubukoz commented on #4020
oops, accidentally resubmitted here - here's the extension issue instead https://github.com/scalameta/metals-vscode/issues/1016

[2022-06-11 18:34] #4020 closed

[2022-06-12 04:57] rcano opened #4021 "Structural types have no completion of members"
### Describe the bug

Structural types show no completions, in the following example:

[code]

`x` is never offered despite being a direct member of the type (applyDynamic *is* offered though).

Note: I don't believe this is a feature request, but rather a direct bug, since the type declares the member to be available.

### Expected behavior

members declared by structural types should be suggeste

[2022-06-12 06:45] tanishiking commented on #4021
@rcano Thank you for reporting! Good news, this is already implemented in the upstream https://github.com/lampepfl/dotty/pull/15283 and will be available with the next Scala3 release :)

[2022-06-12 09:23] Arthurm1 commented on #3975
@frioux I've had a proper look at your setup and I don't think there's anything wrong with it.  It's fine to setup composite builds to manage large codebases.

However `includeBuild` is currently not supported.  The bloop gradle plugin doesn't interrogate included builds so you're left with the classes output of `zr-config` on the classpath of `spark-example` but no `zr-config` project managing th

[2022-06-12 11:32] cifrzak opened #4022 "hello issue"
issue body example

[2022-06-12 11:33] #4022 closed

[2022-06-13 06:24] jievince opened #4023 "vscode-metals doesn't work for Apache Spark"
### Describe the bug

`Go to definition` doesn't work for https://github.com/apache/spark
![image](https://user-images.githubusercontent.com/38901892/173292239-de1af070-de77-48e9-9189-cf9459488892.png)

![image](https://user-images.githubusercontent.com/38901892/173292282-2c5b08ac-4fdf-4ff2-9d0d-1d662d65a533.png)

The log:
[code]

### Expected behavior

`Go to definition` could work well.

### Ope

[2022-06-13 07:08] ckipp01 commented on #4023
Thanks for the report @jievince. I just tried getting spark set up, and I did hit on a few things at first, which you also may be hitting on, but it's hard to tell without more info from you.

When I first attempted to import it continued to fail since the maven enforcer would fail due to metals by default using an older version of Maven. This is something we should probably update on our side, bu

[2022-06-13 07:10] ckipp01 commented on #4001
I haven't seen this again since #4002 as merged, so I'll go ahead and close.

[2022-06-13 07:10] #4001 closed

[2022-06-13 10:05] jievince commented on #4023
![image](https://user-images.githubusercontent.com/38901892/173329266-acf38542-4e34-47e7-ac4e-38fdbb555160.png)
![image](https://user-images.githubusercontent.com/38901892/173330163-ecfdafa2-f93e-44f9-9726-31a3833a1876.png)

Hi @ckipp01 ,  I tried to set the Metals Maven Script setting to point towards build/mvn, and it really works. Thank you!

[2022-06-13 10:08] tgodzik commented on #4023
The previous warnings might come from the fact that, the Bloop Java Home was set previously and Metals is being run with a different Java version.

We currently try to make sure that both are run with the same one, since that makes sure that you get completions that will always compile.

[2022-06-13 11:54] jievince commented on #4023
Where to set the bloop java home? I haven't do it.
![image](https://user-images.githubusercontent.com/38901892/173348039-df2f61af-d26b-4168-b475-836723ac5418.png)

[2022-06-13 11:58] tgodzik commented on #4023
It's the same one as the usual `javaHome`. There was an issue that caused the pop up show even if you had this set properly, but should have been fixed. If you agree to apply and restart, does it show up again?

[2022-06-13 12:04] jievince commented on #4023
It doesn't show up again.

[2022-06-13 16:15] #4023 closed

[2022-06-14 13:44] tanishiking opened #4027 "Support tab-indentation for implement-all abstract members code action"
### Describe the bug

follow-up from https://github.com/scalameta/metals/pull/3960#discussion_r895719962

[code]

run `implement members` code action on `FooImpl`, we get

[code]

### Expected behavior

`implement-all` code action should work with tab indent

[code]

These code examples are written in Scala3, but Scala2 should have the same problem.

Maybe we can fix this following: https://github

[2022-06-15 08:47] prolativ opened #4034 "Imprecise return type of expression"
### Describe the bug

[code]
The expressions type of selection `fooOut(FooA1)` is shown to be `Out`

### Expected behavior

`Out` should be replaced with the actual type of the expression, which is `A1.type` in this case

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.6+94-4fdaace3-SNAPSHOT

### Extra context or search terms

_No response_

[2022-06-15 09:49] prolativ opened #4052 "Adding stub implementations for abstract given instances"
### Is your feature request related to a problem? Please describe.

Given the following scala 3 snippet
[code]

### Describe the solution you'd like

`given Foo` should provide a code action for implementing its missing members resulting in
[code]

### Describe alternatives you've considered

Currently one has to write
[code]
for the code action to be invocable

### Additional contex

_No response

[2022-06-15 12:51] ZongHan13 opened #4035 ".sc file gets error in VScode"
### Describe the bug
When I open a project in vscode which is  builded by mill then metals will detect Ammonite script, it will ask you to import `.sc` file or not.
![截圖 2022-06-15 20 23 10](https://user-images.githubusercontent.com/63963971/173829615-3d08af00-a564-4dcf-984e-79a0cca93bf1.png)
---

If choose import or Automatically all the `.sc` file will get error like this.
![截圖 2022-06-15 20 45

[2022-06-15 15:18] ckipp01 commented on #4036
I'm transferring this over to the main repo. I tried importing this build via VS Code and also get the same issues, so it's not something specific to `nvim-metals`. Just a note about all the other stuff that was mentioned, that is all taken care of, it was due to two different metals being attached at the same time. So the main issue at this point is just that the build import in the linked repo d

[2022-06-15 15:32] ckipp01 commented on #4036
@Arthurm1 teach me obi wan, how did you get that info? I ran with `--info` and I get close, `--trace` gave me more, but still not what I wanted. I tried `--debug` but that was nuts and I still didn't see it.

[2022-06-15 15:41] fiatjaf commented on #4036
It's JDK11, yes.

That SNAPSHOT thing is published locally, but it should work if you replace it for `com.fiatjaf:immortan_2.13:0.7.0`.

[2022-06-15 15:51] Arthurm1 commented on #4036
@ckipp01 I often use the `--stacktrace` option e.g. `./gradlew bloopInstall --stacktrace` to get the detail but I didn't need it here.

[2022-06-15 15:56] Arthurm1 commented on #4036
@fiatjaf What's the current error you're getting when trying `./gradlew bloopInstall`?

[2022-06-15 15:56] ckipp01 commented on #4036
Super, thanks for the detailed explanation!

[2022-06-15 16:11] Arthurm1 commented on #4036
@fiatjaf Yes - I can see that now.  All compilation failures.  So the import is successful (to a point)

You're using `apply plugin: "scala.android"`?

The `Bloop` plugin doesn't support that, only the `Scala` and `Java` plugins.  So no Scala library or compiler info is being added to the Bloop files, hence it''s struggling to compile the Scala files.

I can have a look at adding support - not sur

[2022-06-15 16:13] Arthurm1 commented on #4036
@fiatjaf Is this plugin still supported?  The last commit was 6 years ago and the supported Scala and Gradle versions are very old...
![image](https://user-images.githubusercontent.com/5612295/173875373-e878d597-1eb5-49ff-b883-97edc968c3bd.png)

[2022-06-15 16:42] Arthurm1 commented on #4036
@fiatjaf Which dependency is the `com.samourai.wallet.schnorr.Schnorr` class coming from?

[2022-06-15 17:19] fiatjaf commented on #4036
This is the plugin I'm using: https://github.com/dsvdsv/scala-android-plugin

I don't think there are many people using it though, probably none, but compilation works fine. Maybe there is a way for me to hardcode something on the Metals/Bloop side to make it recognize things even if it doesn't understand the plugin?

I was actually thinking about making a `build.sbt` file with the dependencies ju

[2022-06-15 17:22] fiatjaf commented on #4036
Sorry for taking so long to reply, there are way too many things happening here today.

That `com.samourai.wallet` thing is not declared anywhere. I removed it since it wasn't being used, but now that you mention I see it being used in a test. I should remove that test since it's not needed.

[2022-06-15 21:00] fiatjaf commented on #4036
Awesome, @Arthurm1, this worked.

For future reference, I've copied the `"scala" section from another project I had lying here into inside `.bloop/app-debug.json` (`under "project"`) and it started working.

[2022-06-16 11:52] fiatjaf commented on #4036
Weirdly, I can navigate to external dependencies and I can get the type of any variable, and even Android classes are recognized, but I can't navigate internally.

If click to go to _references_ the Metals logs output this (but nothing else happens):

[code]

And if I click to go to _definitions_ I get this log line:

[code]

[2022-06-16 12:16] Arthurm1 commented on #4036
@fiatjaf It works for me.

If the semantic file isn't there then it hasn't compiled properly.  Probably because it thinks that it's already compiled.

You could try the Metals `Recompile workspace` command.

If that doesn't work - you could try deleting the directories under `.bloop` - NOT the `.json` files directly under it though.  Then run the Metals `restart build server` command.

If neither

[2022-06-17 12:44] dos65 opened #4040 "Opened sources from dependencies aren't updated after build import"
### Describe the bug

Step to reproduce:
- Open a project and import build
[code]
- Open `scribe.writer.Writer` (symbol search `Writer;`)
- upgrade scribe version to `3.9.0`
- notice that `Writer.scala` wasn't updated + additional info diagnostic that tries to typecheck the source using updated library

Closing document and opening it again doesn't help by some reason.
Symbol search for query `Wri

[2022-06-17 16:28] tanishiking commented on #4035
Hmm, Metals should show `New Mill workspace detected, would you like to import the build?` popup instead of detecting `build.sc` as an Ammonite script.
I tried to reproduce the issue, but I couldn't get `Ammonite script detected` for `build.sc` 🤔
Does anybody have any ideas who know more about mill/ammonite support?

[2022-06-17 17:01] ckipp01 commented on #4035
Yea I'm able to mimic this. It only happens when you have an ammonite script at the root of your build as well as your `build.sc`. So let's say you have:

[code]
and you open up `test.sc` you'll first be prompted to import your mill build, but then you'll also get a prompt to import your ammonite scripts. When you do that, then you hit on issues since it seems to report errors for you build file w

[2022-06-17 17:49] dos65 commented on #4035
@ckipp01 Nice catch! After your explanation I've noticed that `test.sc` is presented on the screenshot :smile:

[2022-06-17 18:27] ckipp01 commented on #4035
I think the issue might be here:

https://github.com/scalameta/metals/blob/859dac6c220d015efe6f74b8a08a21780a809c40/metals/src/main/scala/scala/meta/internal/metals/ammonite/Ammonite.scala#L265-L266

Since when we do trigger Ammonite, we load up the current script and all the opened ones and filter by `.isAmmoniteScript`, but that will take any `*.sc`.

[2022-06-17 19:09] ckipp01 opened #4043 "Override completion for default java method includes <defaultMethod>/"
### Describe the bug

When trying to completed a java method that is a `default` it seems that it actually includes the `<defaultMethod>` inside of the `newText` for the completion.

For example, go to the `DelegatingLanguageClient.scala` in the metals codebase and attempt to complete `def createProgress`. Accept the override completion and you'll end up with:

[code]

[2022-06-19 05:35] ZongHan13 commented on #4035
Sorry about that, you are right.

[2022-06-21 05:29] LeUser111 commented on #1923
@tgodzik Ah yes, of course. I had missed it somehow - now everything works like a charm! That is awesome :) Thank you :)

[2022-06-21 13:20] #4027 closed

[2022-06-21 18:55] deusaquilus commented on #3214
Hi @dos65. Now with the release of 3.1.3 it looks like they enhanced the information provided with inline information:
https://scala-lang.org/blog/2022/06/21/scala-3.1.3-released.html#better-error-reporting-in-inlined-code

Is does this provided the feature set that you need for this kind of functionality to be implemented in Metals?

[2022-06-21 19:22] dos65 commented on #3214
@deusaquilus it doesn't. It' requires  more changes in a bunch of interfaces.

I've seen that @ckipp01 started working on that - https://contributors.scala-lang.org/t/revisiting-dotty-diagnostics-for-tooling/5649/17

[2022-06-21 20:39] deusaquilus commented on #3214
Interesting. Does metals require SBT changes to [`Problem.java`](https://github.com/sbt/sbt/blob/develop/internal/util-interface/src/main/java/xsbti/Problem.java) in order to move forward?

[2022-06-22 03:57] tanishiking commented on #3214
@deusaquilus Yes, and it's already done by @ckipp01 :tada: here https://github.com/sbt/sbt/commit/f90b09f1ee3ffd46100773d302d7aff60369f741

[2022-06-22 07:46] #4034 closed

[2022-06-22 07:52] tgodzik commented on #3953
Looking into this one!

[2022-06-22 14:09] kurnevsky opened #4053 "Metals caches path to java"
### Describe the bug

Metacls caches path to java in `~/.bloop/bloop.json` and then uses it to start bloop. It's not always correct thing to do. For instance, in NixOS I get the following value of this file: `{"javaHome":"/nix/store/mir2hanra9zc3cmn8h78insschpxdg0i-openjdk-17.0.3+7/lib/openjdk"}`, i.e. it cached path to nix store which might change after NixOS update. This leads to the error `java

[2022-06-22 14:33] kurnevsky opened #4054 "Integral goes before Int in completion"
### Describe the bug

It seems vscode applies its own ordering in completion but it might affect other editors (i.e. emacs). When you write `def f(x: Int)` you get the following completion response for Int:
[code]

Integral has sortText `00000` and Int `00002`.

### Expected behavior

Int is prioritized over Integer.

### Operating system

Linux

### Editor/Extension

Emacs (lsp-metals)

### Versi

[2022-06-22 14:58] kurnevsky commented on #4053
Probably metals just followed the symlink `/run/current-system/sw/bin/java -> /nix/store/mir2hanra9zc3cmn8h78insschpxdg0i-openjdk-17.0.3+7/bin/java`?

[2022-06-22 15:03] dos65 commented on #4054
Thanks for reporting!
That's a definitely an ordering bug

[2022-06-22 19:45] vishalovercome opened #4057 "Protobuf generated (Java) package not detected"
### Describe the bug

I have lots of Java classes generated using protobuf that I use in my Scala project. My code used to compile with metals earlier. It still works with sbt shell. However, it seems to not be able to detect the package with all the generated code. Something seems to have regressed between 0.11.4 to 0.11.6. Below is sample error message in logs:

`2022.06.23 01:07:29 WARN  Could

[2022-06-22 20:13] tgodzik commented on #4053
Then the users running Bloop from CLI could have different JVM. Config is the safest place currently, though it would probably be best if bloopgun downloaded the Java instance itself and defaulted to latest LTS + release flags.

[2022-06-22 20:48] dos65 commented on #4053
@tgodzik if the plan is to prepare to switch to jdk17 we anyway need to download it before starting Metals(run both metals-server and bloop on jdk17+). In this case, the approach with passing jvmHome would work well.

The only non-compat case might came from bloop-cli users but I think we can detect it on Metals side.

Config thing isn't reliable enough. The same problem with bloop-cli might happe

[2022-06-22 21:25] kurnevsky commented on #4053
NixOS is not FHS system, so downloaded binaries don't work here in most cases, without additional patching or environment setup. So if this happens can we have an option to use system java? :)

[2022-06-23 04:19] tanishiking commented on #4057
@vishalovercome Thank you for reporting!

Do you mean `package XXX` is the package of the generated Java files (from protobuf), and you get this error on the source code that refers to the generated Java packages (`XXX`) right?
Also, `2022.06.23 01:07:29 WARN Could not load snapshot text for ...` is shown in the file that refers to the generated Java packages?

Do you mean, that downgrading the Me

[2022-06-23 08:06] tgodzik commented on #4053
Bloop already downloads a bunch of things such as the compiler bridges, doesn't it currently cause any issues?

[2022-06-23 08:10] kurnevsky commented on #4053
It doesn't since it's jar that's executed by system jvm. But native ELF binary will have problems, which is the case if we download java itself. Same way coursier native binaries have problems, see https://github.com/emacs-lsp/lsp-metals/issues/68

[2022-06-23 08:51] tanishiking commented on #4059
Are you interested in working on Scala3 support @camgraff ? If you're interested in it, let me assign it to you (you don't have to be in rush :)

[2022-06-23 09:19] vishalovercome commented on #4057
Yes

I saw this in the bloop logs.

Yes

I had to delete the folder inside the project. Haven't tried deleting the other one but the problem has resurfaced, so maybe I should delete that also?

Yes. I use the sbt-protoc plugin to generate java classes via sbt shell. Once created, they remain as part of the repository.

No

[2022-06-23 11:20] tanishiking opened #4060 "Don't run `InteractiveDriver.run` every time for the same input"
### Describe the issue

While I CPU profile using [async-profiler](https://github.com/jvm-profiling-tools/async-profiler/), I realized that Metals (Scala3) invokes `InteractiveDriver.run` quite frequently, especially from `HoverProvider.hover`.

This is because we invoke `InteractiveDriver.run` every time when Metals uses information from presentation compilers.
For example, `HoverProvider.hover`

[2022-06-23 18:31] tgodzik commented on #4054
I dug into it a bit and it seems that `Int` is showing up later because the symbol that we get is actually an `Int` object and BigInt is a field. We prioritize fields which is causing this issue. I tried to fix it in:

https://github.com/scalameta/metals/compare/main...tgodzik:fix-int?expand=1

but I am not sure about this fix :/

[2022-06-23 19:06] deusaquilus commented on #3214
Looks like the SBT changes are done. Thanks @ckipp01!!
Just curious, how does this affect Metals?

[2022-06-23 20:14] ckipp01 commented on #3214
So the idea here is that the inlined positions can be listed as `DiagnosticRelatedInformation`. So the actual error message would be at the specific error site, and then all of the inlined positions would be linked so that a user could click and jump right two them from the actual diagnostic. You can see a POC of this [here](https://contributors.scala-lang.org/t/revisiting-dotty-diagnostics-for-to

[2022-06-23 20:31] deusaquilus commented on #3214
That totally makes sense and is in line with what I saw in early Dotty versions. Thanks for the explanation! I can’t wait for Metals and other build tools to take advantage of `DiagnosticRelatedInformation`!!

[2022-06-24 04:30] armanbilge opened #4062 "Scala 3 "implement all members" adds them above the class"
### Describe the bug

You can see the output of running "implement all members" action on `InMemoryNodeDb` right above it! 😀

https://github.com/armanbilge/cheshire/blob/069da8e64aab69894330b7bec24cf852b5f531b8/treedb/src/main/scala/cheshire/treedb/InMemoryNodeDb.scala#L33

Should be easy to reproduce by deleting these lines and running the action yourself.
https://github.com/armanbilge/cheshire/b

[2022-06-24 05:17] tanishiking commented on #4062
Thank you for reporting!
I could reproduce it with

[code]

and we got

[code]

[2022-06-24 08:57] kurnevsky commented on #4054
If sorting in vscode is good enough, then probably we can just replicate it on metals side? :)

[2022-06-24 09:17] dos65 commented on #4054
@tgodzik oh, I got what are you about. Maybe we can try to fix by it keeping a symbol in `filterInteresting` that has a less relevance?

[2022-06-24 12:20] odersky opened #4063 "Funky behavior when creating new file"
### Describe the bug

In VSCode + Metals

Create new file %n

 - Gives a new tab Untitled-2

In that tab, click save %s

 - Opens a form to enter the file name

Choose `foo.scala` somewhere in your project directory (say, `dotty`).

 - Creates a _new_ tab named `foo.scala` and adds the line `package dotty` at the top.

 - The original tab Untitled-2 stays open.

### Expected behavior

I would expe

[2022-06-25 13:31] fuyou001 opened #4065 "cant' code navigation"
### Describe the bug

1. git clone https://github.com/apache/kafka.git
2. cd kakfa
3. code . //code is Visual Studio Code
4. install Metals (Visual Studio Code  Extension)
5. open Timer.scala
6. ctrl+click -->advanceClock method
7. but not code navigation to advanceClock method

### Expected behavior

expected to code navigation is work.

### Operating system

macOS

### Editor/Extension

VS Code

[2022-06-25 17:14] Arthurm1 commented on #4065
I'm using JDK 17 and this won't compile for me because of various `bad path element` warnings and `-Werror` being set in the javac options.

The `upgrade-system-tests-XX` projects have no sources under `main`, only under `test` so Bloop doesn't create the output classes dir so javac, for dependent projects, complains that classes dir doesn't exist.

To fix this for now I...
1) removed `"-Werror",`

[2022-06-25 18:18] kubukoz opened #4066 "Scala 3: Invalid import inserted when apply method is completed"
### Describe the bug

If you try to complete "SimpleBuilderForString" in the place of `???` in the following code, you get an invalid import:

[code]

### Expected behavior

Completing this:

<img width="2162" alt="image" src="https://user-images.githubusercontent.com/894884/175785718-a677c51c-fee5-4dea-b709-ebd802621afa.png">

results in this code:

[code]

For comparison, Scala 2.13.7's handling

[2022-06-25 18:19] kubukoz commented on #4066
I think there's 2 things happening here: first of all, I don't think `apply` should be part of the import. Second of all, the parent class is imported instead of the child.

[2022-06-26 21:09] caenrique opened #4068 "java.lang.BootstrapMethodError thrown when writing a `.` (dot) to access an object/class member"
### Describe the bug

When accessing a member of an object or class, this exception gets thown and I'm not getting completions.

full stack trace:

[code]

### Expected behavior

Get completions for the object/class members, and no exception thrown

### Operating system

macOS

### Editor/Extension

Nvim (nvim-metals)

### Version of Metals

v0.11.6

### Extra context or search terms

_No response

[2022-06-27 07:08] tgodzik commented on #4068
Thanks for reporting! Could you also send us the code that it's failing for? Also, what Scala version are you using?

[2022-06-27 07:42] zmerr opened #4069 "overlapping param names in generating for comprehension"
### Describe the bug

documenting the discussion in https://github.com/scalameta/metals/pull/3885#discussion_r897339744

A complication for solving the bug is that,

For now,

### Expected behavior

Metals should correctly find and rename the overlapping param names for generating a for comprehension.

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of Metals

[2022-06-27 08:50] tgodzik commented on #4063
Thanks for reporting! I suspect it's the same issue as https://github.com/scalameta/metals/issues/2869 since in those cases it invokes `save as`.

I wasn't able to reproduce that one, it changed the tab to the new name for me. Does it happen every time in your case?

[2022-06-27 09:22] tgodzik commented on #4060
I think that is a great idea! I remember @odersky talking about some caching inside the compiler, so maybe we could somehow move it there? We can open up a discussion on the dotty repo also.

[2022-06-27 09:50] dos65 commented on #4060
in general it's good idea. I would only notice that there might one case when it might work incorrect - several files and non-saved changes.
For example:
[code]

[2022-06-27 10:23] caenrique commented on #4068
I just found that it works with Scala `2.13.3`. After `2.13.4` (including that one) it throws the exception

[2022-06-27 10:28] tgodzik commented on #4068
I can't seem to reproduce it. What code exactly does it fail on? What Java version are you using?

[2022-06-27 10:29] dos65 commented on #4068
@caenrique
Thanks for providing updates and additional info but to investigate it we need a snippet to be able to reproduce it.
Does completion works in the case below?
[code]

[2022-06-27 10:45] ckipp01 opened #4070 "Should I get an error when running `run_scalafix` without having any rules defined?"

[2022-06-27 10:46] ckipp01 commented on #4070
Thanks for reporting this @caenrique! You're correct, this shouldn't happen. I'd expect the user to see a nicer message this this, not an `Internal error` message. We need to handle this a bit differently in Metals, so I've moved this issue over to the main repo since that's where the fix will be.

[2022-06-27 10:47] caenrique commented on #4068
I've tested with java 8 and java 11

No, it also fails on that example when writing the  `.`

[2022-06-27 10:51] ckipp01 commented on #4068
For what it's worth I thought this _might_ be due to something related to how the change was being sent to metals via Neovim, but I just tested with the code snippet above and also can't reproduce it.

[2022-06-27 10:54] tanishiking commented on #4060
@dos65  Yeah, you're right, if `A.scala` depends on `B.scala`, and we changed `B.scala`, InteractiveDriver has to compiler `A.scala` again to obtain the latest information of the source code...

[2022-06-27 10:58] tgodzik commented on #4068
This looks like the scala-library is in a separate classloader, but that doesn't seem possible. Or maybe there is a problem with the jar itself? Did you try removing the cached scala-libary jars in the coursier dir?

[2022-06-27 11:14] dos65 commented on #4060
@tanishiking
btw, I just realized that it's connected to signature compilation that I'm working on.
I haven't experimented with this thing yet (need to unblock bloop first) but my plan was to introduce some incremental compilation/invalidation to `PresentationCompiler`. So probably, the case I mentioned will be possible to fix after the infrastructure for signature compilation appears.

[2022-06-27 11:19] caenrique commented on #4068
I tried removing the coursier cache dir, but the same thing happens with the mentioned java versions.

I'm ok with this now. I can use the more recent java versions, but it's definitely weird that this happens :(

Thanks for your help!

[2022-06-27 11:31] tgodzik commented on #4068
That is weird, those compiler versions should correctly work with an older Java version also :thinking:

[2022-06-27 12:01] tgodzik commented on #4070
Thanks for reporting! So the question here is whether we should just show a nicer error or maybe we should add OrganizeImports by default ?

[2022-06-27 12:08] tgodzik commented on #4057
That might be some stale compilation I think. Maybe the reproduction step would be to gnerate the protobuf files after indexing everything in Metals? I think metals workspace itself sometimes has issues with the generated BuildInfo files

[2022-06-27 12:32] tanishiking commented on #4070
I came up with three options (1 is the easiest, 3 is the richest, I guess)

- 1. Just do nothing, and ignore `run_scalafix` if rules are unavailable.
  - I think it's natural to ignore run scalafix if rules are not available. However, it might make it hard to troubleshoot for users.
- 2. Show a nicer, actionable error (maybe warn) instead of showing a stack trace. Something like `rules are missing

[2022-06-27 12:34] armanbilge commented on #4070
Related?
- https://github.com/scalacenter/scalafix/issues/1613

[2022-06-27 12:44] ckipp01 commented on #4070
Yea I'm sort of liking `iii` since it would most closely align with the behavior of triggering scalafmt for the first time. The only tricky this is that if we do this, then users will expect it to work with organize imports and it will with Metals maybe, but not with their build tool or others on their team using IntelliJ for example. Full circle makes me wish dependencies could be defined in your

[2022-06-27 13:27] zmerr commented on #3536
Hey, instead of going the `ShellRunner` path, do you think it would have been a better idea to simply do System.getProperty("java.version”) according to [this](https://stackoverflow.com/questions/5103121/how-to-find-the-jvm-version-from-a-program)

[2022-06-27 14:29] vishalovercome commented on #4057
Metals never had any such issues earlier and this combined with some other issues with bloop (repeated java upgrade / restart prompts, etc.) leads me to believe that something has regressed recently. Hopefully the recently added fixes to bloop will make it go away. For now, deleting both .bloop folders is the only way to make things work

[2022-06-27 16:04] tgodzik commented on #3536
We already discussed it with @zmerr but I think it's important to sum up that this unfortunately will not work because the Metals Java home might be different than that of the project.

[2022-06-27 16:32] tgodzik commented on #4065
I think exceptions don't show up properly, but we should be able to fix it in Bloop.

That should really work, I think ScalaCLI uses that flag.

[2022-06-27 22:03] bjaglin commented on #4070
If you decide to go for `i`, it would/will benefit from https://github.com/scalacenter/scalafix/pull/1624

That's definitely something that would be beneficial to all scalafix clients, and it wouldn't be too hard to implement by [inferring a high-level tool-classpath from dependencies optionally listed in the conf file](https://github.com/bjaglin/scalafix/blob/3694af653dde8c6c05a2af5051540a3f7f787

[2022-06-28 04:47] ckipp01 commented on #4070
Sure, to expand on the example I had, let's pretend that we create a `.scalafix.conf` file for the user, but it's empty. However when the user triggers `run scalafix` and we organize imports for example the user will still get their imports organized. Then they check in their code with this new `.scalafix.conf` with their build tool still needing to add that external rule. Whereas if you could inc

[2022-06-28 07:12] tanishiking commented on #4057
:+1:

Oh, is there a relevant fix in bloop?

[2022-06-28 08:35] tanishiking commented on #3536
After Metals drop the java 8 support in the future, [Runtime.version()](https://docs.oracle.com/en/java/javase/12/docs/api/java.base/java/lang/Runtime.html#version()) will be a handy way to obtain the runtime version I guess.

(for `<=8`, we can use something like `Runtime.getRuntime.getClass.getPackage.getImplementationVersion()` but for `>=9` it starts returning `null`, it may no longer read the

[2022-06-28 08:40] zmerr commented on #3536
@tanishiking thank you so much  for the input. So does this give us the Metals’ jdk version or that of the java installed on user’s machine. It seems that the goal is to capture the latter.

[2022-06-28 08:50] tanishiking commented on #3536
I think the goal of this issue is to capture the JDK version that runs Metals (the former one), and I guess Runtime provides us with a former one (I haven't confirmed though).

[2022-06-28 08:54] tgodzik commented on #3536
We actually want the JDK used for the project, so when we switch to Metals built-in JDK it will be different that the one used for project.

[2022-06-28 08:56] tgodzik commented on #4057
Clean compiler should now properly remove the old class directory.

[2022-06-28 09:09] tanishiking commented on #3536
Ahhh, I got it, then `Runtime` won't work as we want unfortunately anyway.

[2022-06-28 12:00] tgodzik commented on #4066
Thanks for reporting!

What do you mean by that? It's just the apply completion so that you will get a proper () snippet

We should not import anything, but use the full name, I think the issue here is that look for conflicting symbols in a wrong scope or don't check all possible symbols.

[2022-06-28 14:26] tgodzik commented on #4062
I will take a quick look here.

[2022-06-28 15:33] bjaglin commented on #4070
Thanks @ckipp01, very clear - I added https://github.com/scalacenter/scalafix/issues/1625 to track the feature request.

[2022-06-28 17:05] kpodsiad commented on #4053
@tgodzik what is current state of this issue? Will it be resolved before next release? Currently, every Java update which removes old one is causing problems.

[2022-06-28 17:18] tgodzik commented on #4053
I haven't yet figured out how to fix it properly. A workaround would be to specify the java home in Bloop yourself and ignore the notification (this will get saved in the next version).

[2022-06-29 04:28] tanishiking commented on #3955
I'm on it :)

[2022-06-29 04:44] tanishiking commented on #3786
Closing, confirmed this is fixed in Scala 3.2.0-RC1 https://github.com/lampepfl/dotty/pull/15047 :tada:

[2022-06-29 04:44] #3786 closed

[2022-06-29 04:47] tanishiking commented on #4021
Confirmed this is fixed in 3.2.0-RC1 :tada: stay tuned!
![Screen Shot 2022-06-29 at 13 46 44](https://user-images.githubusercontent.com/9353584/176353810-90a454a6-6a27-4862-b298-4fbe3dc2ce81.png)

[2022-06-29 04:47] #4021 closed

[2022-06-29 05:07] tanishiking commented on #3901
Fixed in Scala 3.2.0-RC1 :tada:

As a result, we won't have any highlights when the cursor is on `end given` anymore, and on `"done"` it doesn't highlight `end given` part.
This is a bit different from the requested expected behavior `Only given should be highlighted.`, but I believe this is the right behavior as `end given` doesn't have a symbol (it's a reserved keyword).

![Screen Shot 2022-06-2

[2022-06-29 05:07] #3901 closed

[2022-06-29 05:24] tanishiking commented on #3724
Confirmed fixed in Scala 3.2.0-RC1 :tada: thank you @dos65 @mirzov

[code]

### 3.1.2
![Screen Shot 2022-06-29 at 14 22 27](https://user-images.githubusercontent.com/9353584/176357996-63c2e20a-5188-44ca-8fbe-f729a725f6c9.png)

### 3.2.0-RC1
![Screen Shot 2022-06-29 at 14 23 10](https://user-images.githubusercontent.com/9353584/176358003-3001ceb2-c797-45d2-b5ed-8e8c6e0d1f95.png)

[2022-06-29 05:24] #3724 closed

[2022-06-29 05:50] tanishiking commented on #3952
I enjoy the file name completion in Scala3 every time I create a new file and define a class/object 😄 Thank you again!

[2022-06-29 10:53] tgodzik commented on #4062
It seems we could group the completions by extensionParams if it exists and create proper extensions. Another issue seems to be that we don't offer overrides for abstract extension methods.

I will leave it to you @tanishiking

[2022-06-29 11:04] tgodzik commented on #4053
@kurnevsky is there any way we can infer java home in your case? Is it available via `JAVA_HOME` for example?

[2022-06-29 11:27] tgodzik commented on #4053
Ok, let's just not cache "/nix/store" path as it will never we a correct one. Bloop will try to find java by itself, but it should be the correct one with nix.

[2022-06-29 11:34] kurnevsky commented on #4053
Can we just use java from `$PATH`? I don't have `JAVA_HOME` defined at the moment, but nixos has module that adds it: https://github.com/NixOS/nixpkgs/blob/634141959076a8ab69ca2cca0f266852256d79ee/nixos/modules/programs/java.nix so I guess for nix it won't be a problem.

[2022-06-29 11:38] kurnevsky commented on #4053
Well, nixos defines `environment.variables.JAVA_HOME = ''${pkgs.jdk.home}/lib/openjdk;` which means `JAVA_HOME` will point to nix store, so caching it won't help here :)

[2022-06-29 11:42] tgodzik commented on #4053
Anyway, seems like we should not cache `/store/nix` at all, since that will never be correct in the long run. I don't have a better idea to make it work right now :sweat:

We could not cache at all, but then we are back at the start and we might get different versions of Metals/Bloop java versions and things breaking because of that.

[2022-06-29 11:57] zmerr commented on #4053
Can Metals know which OS it is running on?

[2022-06-29 11:58] tgodzik commented on #4053
It can, but nix can be run on different OSes from what I know.

[2022-06-29 11:59] zmerr commented on #4053
So can we add a specific logic for the most common combination of nix + OS?

[2022-06-29 12:00] tgodzik commented on #4053
How would you go about it?

[2022-06-29 12:08] zmerr commented on #4053
I am wondering why this one is not working?

[2022-06-29 12:13] tgodzik commented on #4053
It's not really a bug, but the way nix operates. We don't have a way to use stable link for Java Home currently. That might be possible to do, but it's not done by default.

[2022-06-30 16:51] tanishiking opened #4082 "[Scala3] Implement-all code action doesn't handle higher kind type parameters"
### Describe the bug

Originally reported in https://github.com/scalameta/metals/issues/4062

[code]

invoke `implement all` code action on `InMemoryNodeDb`, we get

[code]

but this doesn't compile

### Expected behavior

We should get
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.7

### Extra context or search terms

code action / implement all

[2022-06-30 18:57] kubukoz commented on #4066
Sorry, I forgot to show the actual behavior on 3.x 😅

This import gets added:

`import another.SimpleBuilder.apply`

That's not the 2.x behavior though - what is more, if there were other members in `SimpleBuilderForString` or some extension methods in scope, I might be trying to call `SimpleBuilderForString.foo` and not `apply`.

I don't see why `apply` would be imported anyway, since you don't n

[2022-07-01 08:32] #4062 closed

[2022-07-01 08:43] tgodzik commented on #4068
I will go ahead and close it since it seems to work correctly on newest Java versions.

[2022-07-01 08:43] #4068 closed

[2022-07-01 08:44] tgodzik commented on #4066
Thanks! We should not import apply in that case, that's a bug for sure.

[2022-07-01 08:45] tgodzik commented on #4063
I will close this one since it's already covered in the other issue.

[2022-07-01 08:45] #4063 closed

[2022-07-01 08:46] tgodzik commented on #4060
We will also probably take a look at it in the compiler.

[2022-07-01 08:52] tanishiking commented on #4062
@armanbilge The insert position is fixed, but the code action still works wrong with your code example 😭
 will follow-up in https://github.com/scalameta/metals/issues/4082

[2022-07-02 19:45] unthingable opened #4093 "[Scala3] occurrence highlighting: Metals thinks var reference and assignment are different"
### Describe the bug

When highlighting occurrences of selected identifier, Metals seems to think `var` occurrences on RHS and LHS of an assignment are different, and only highlights one or the other.

[code]

![image](https://user-images.githubusercontent.com/925755/177014352-003bb172-d109-4e87-aa7a-89789fb27c11.png)

![image](https://user-images.githubusercontent.com/925755/177014354-de184ad5-3c

[2022-07-03 05:51] tanishiking commented on #4093
@unthingable Thank you for reporting!
Hmm, as you mentioned, I couldn't reproduce the issue with the simple code example 🤔 I'll take a look more later.

[2022-07-03 12:55] unthingable opened #4094 "Metals hides Java Home preference in VSCode"
### Describe the bug

When setting `Metals: Java Home` property in VSCode, Metals writes it to `~/.bloop/bloop.json`. The problem is two-fold:

1. It is not immediately obvious that this is happening and that `~/.bloop/bloop.json` is the true source of Java home for Metals
2. Worse, `Metals: Java Home` setting still appears blank in VSCode even if it is set in bloop.json

This can lead to a really

[2022-07-04 06:59] dos65 commented on #4093
probably it might be related to `inline def` in original sample.

[2022-07-04 07:09] dos65 commented on #4094
@unthingable

After changing this setting you need to reload VSCode.

[2022-07-04 08:43] unthingable commented on #4094
It is blank after reloading VSCode.

[2022-07-04 11:51] tanishiking commented on #4093
Checked the semanticdb and I got:

[code]

<details>

[code]
</details>

[2022-07-04 11:54] tanishiking commented on #4093
Looks like

[code]

- `keyScrollOffset` on LHS has symbol name `var method keyScrollOffset_=(x$1: Int): Unit` (that's fine)
- and keyScrollOffset on RHS has symbol `var method keyScrollOffsetInt`, not sure why we have `Int` suffix here 🤔

[2022-07-04 12:24] tanishiking commented on #4093
Never mind, `Int` suffix is just a printer issue

[2022-07-04 12:26] tanishiking commented on #4093
I guess the problem is `ExtractSemanticdb` doesn't see the reference and assignment differently, and assigns another id when they are `local` symbols.

[2022-07-04 12:40] tanishiking commented on #4093
Found a minimal code example

[code]

[code]

[2022-07-05 10:00] tanishiking commented on #4060
I tried to experiment, maybe we can cache invalidate by checking the combination of file content and `runId` https://github.com/scalameta/metals/pull/4100/

However, I realized that this work only if we edit files only in Metals. For example, if we edit `A.scala` outside of Metals (in the @dos65's setting https://github.com/scalameta/metals/issues/4060#issuecomment-1167133998) (this often happens,

[2022-07-05 10:39] tgodzik commented on #4093
I think the key logic we need to fix is here: https://github.com/scalameta/metals/blob/03704c17b5397bd8feb4771d0bedf9a6dfe0a660/metals/src/main/scala/scala/meta/internal/metals/DocumentHighlightProvider.scala#L75

For local symbols we need to search for the definition.

[2022-07-05 10:46] tgodzik commented on #4093
Maybe @jkciesluk could take a look? This is a good opportunity to take a look at semanticdb and what's going on.

[2022-07-05 12:46] tanishiking commented on #4093
Yeah, it's a good first issue to play around with SemanticDB 😁
btw, thanks @tgodzik to answer in the upstram issue, I agree we should solve the issue on consumer side.

[2022-07-05 15:11] #3953 closed

[2022-07-06 05:13] kpodsiad commented on #4094
@unthingable
`~/.bloop/bloop.json` isn't a true source of Java home for Metals. Java defined in `bloop.json` will be used for running bloop and doesn't affect the Metals one. If anything, it's the other way around. Metals write to that file to make bloop uses the same Java as Metals uses.

[2022-07-06 08:29] #3955 closed

[2022-07-06 11:25] KacperFKorban opened #4107 "Weird start indentations when using FlatMapToForComprehensionCodeAction"
### Describe the bug

For the following code:
[code]

Convert both of the `pipelines` to `for-comprehensions`. The first one has start indentation `1`, and the other has start indentation `3`. (both are different from my editor setting i.e. `2`)

Gif:
![metals_for_conversion_indentation_bug](https://user-images.githubusercontent.com/39772805/177538609-5690e697-9a36-4cb4-8598-7cde1a1b502b.gif)

###

[2022-07-06 12:49] tgodzik commented on #4107
Thanks for reporting. Also, it looks like the braces are not needed here.

@zmerr can you take a look at it?

[2022-07-07 08:28] strelec opened #4112 "Misaligned highlights when using tabs (3 space width)"
### Describe the bug

1. set tab size = 3
2. open any Scala source and click on a symbol that occurs more than once in the file

### Expected behavior

When clicking keywords, I would expect the highlight to cover the keyword exactly.

Yet for every indent level of the line, it is one space extra to the left, which makes me assume that your plugin hardcodes tab size = 2.

You might think that this

[2022-07-07 08:46] tanishiking commented on #4112
Hi, @strelec thank you for reporting!
Which version of Scala are you using, it should be fixed in Scala 3.2.0-RC1 https://github.com/scalameta/metals/issues/3724 so if you're using Scala3.x, could you check it works correctly with Scala 3.2.0-RC1?
If you're using Scala2.x, we have to fix something.

[2022-07-07 09:20] strelec commented on #4112
I am very surprised that this is a Scala issue.

I am using latest stable, 3.1.3

Let's hope 3.2 gets officially released soon

[2022-07-07 09:48] #4035 closed

[2022-07-07 12:42] prolativ opened #4113 "Incorrect inserted type ascriptions with literal types and refined types in scala 3"
### Describe the bug

In scala 3 (tested with 3.2.0-RC1):
[code]
Invoking `Insert type annotation` on `b` results in
[code]
Invoking `Insert type annotation` on `d` results in
[code]

The inserted type annotations are syntactically incorrect and the code stops compiling.

### Expected behavior

The inserted type annotations should be
[code]
and
[code]
or (preferably):
[code]

### Operating system

[2022-07-07 16:19] #4113 closed

[2022-07-07 16:29] #2348 closed

[2022-07-08 06:06] liuzqt opened #4123 "Implement all members doesn't work"
### Describe the bug

click the `Implement all members` quick fix, nothing happen

### Expected behavior

should auto insert members stub

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v1.18.0

### Extra context or search terms

VSCode version: 1.69.0

MacOS version: 12.4

Intel chip Mac

Metals output log in vscode:
[code]

[2022-07-08 07:16] tgodzik commented on #4123
Thanks for reporting! Do you have a sample code that this is not working on? Which Scala version it is?

[2022-07-08 17:09] #3536 closed

[2022-07-11 12:23] nitrino38 opened #4132 "DO NOT OPEN FEATURE REQUESTS HERE"
Please open feature requests here https://github.com/scalameta/metals-feature-requests

The main issue tracker is reserved for bug reports and issues with an assigned milestone.

[2022-07-11 13:42] #4093 closed

[2022-07-11 17:40] kubukoz opened #4133 "Syntax highlighting doesn't respect -Xsource"
### Describe the bug

1. Enable the `-Xsource:3.0` scalacOption

2. Write this
[code]

3. See error: `; expected but false found`

### Expected behavior

No redness

### Operating system

macOS

### Editor/Extension

vscode

### Version of Metals

0.11.7+7-67ce8743-SNAPSHOT

### Extra context or search terms

scalameta, scalafmt

[2022-07-11 18:18] liuzqt commented on #4123
hi @tgodzik  sorry I was unable to reproduce this issue after I reboot.....I guess it's probably due to come inconsistent states of vscode itself, not a metals-related issue. I will close this issue.

[2022-07-11 18:18] #4123 closed

[2022-07-12 02:56] tanishiking commented on #4133
Hmm, looks like the dialect for scalameta parser used for emitting diagnostics inside Metals doesn't take `-X:source3` into account 🤔

[2022-07-12 03:02] tanishiking commented on #4133
Ah, gotcha, it has to be `-Xsource:3` instead of `-Xsource:3.0`
https://github.com/scalameta/metals/blob/ec89eac187c5c9e1358a8229ebac85b64a71a8a9/metals/src/main/scala/scala/meta/internal/metals/ScalaTarget.scala#L72

[2022-07-12 03:07] tanishiking commented on #4133
As it is valid to specify `-Xsource:3.0` or `-Xsource:3.x.x`, we should recognise `-Xsource:3.x.x` as well 👍
https://github.com/scala/scala/blob/d23424cd3aa17f7ad95b81018c70ceed2566962b/src/compiler/scala/tools/nsc/settings/ScalaSettings.scala#L105

[2022-07-12 07:56] #4133 closed

[2022-07-12 11:23] Swoorup opened #4138 "Metals worksheet broken?"
### Describe the bug

It appears that VS worksheet appears to be broken for 3.2.0-RC2 Scala

for a simple worksheet containing `println("hello")`

I get the following error

[code]

Other times I get

[code]

### Expected behavior

_No response_

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.7+24-425cc9e0-SNAPSHOT

### Extra context or search terms

_No r

[2022-07-12 13:50] tgodzik commented on #4138
Thanks for reporting! I need to check out why mdoc will not work with Scala 3.2.x. Worst case scenario we will need to release for each binary version :/

[2022-07-12 14:02] kpodsiad commented on #4138
@tgodzik this might be useful https://github.com/scalameta/mdoc/pull/568

[2022-07-12 18:49] ckipp01 opened #4143 "Formatting with Scala 3 can break your build when triggered in a `project/*.scala` file"
Ahh, this is a good catch. I can reproduce this with just triggering a format in a Scala 3 project when there is a Scala file in the `project` dir and I have a setting like:

[code]
Which indeed will format the `project/*.scala` file in a way that will cause the re-import to fail. This is actually something we'll need to fix in Metals itself. I'll create an issue with this discussion over there.

[2022-07-12 18:51] ckipp01 commented on #4143
For context you can reproduce this with a minamal hello-world project in Scala 3. Create a `project/Example.scala` file with the following:

[code]
And have the following `.scalafmt.conf` file:

[code]
After an import trigger a format in `project/Example.scala`, notices it removes the braces, and now you broke you build it the request to re-import will fail.

[2022-07-12 20:18] dos65 commented on #4143
I don't think that it's a Metals issue.
The same will happen if you run scalafmt directly. We can do a workaround only in Metals but I don't think that it will be a good solution. Honestly, I have no idea how it might be fixed in general.

[2022-07-12 20:39] keynmol commented on #4143
Theoretically Metals _can_ fix this.

[code]

I've been riding these 2 overrides in most of my Scala 3 projects.

[2022-07-12 20:40] keynmol commented on #4143
To clarify - if Metals already takes it upon itself to update scalafmt config when it detects different build targets having different dialects, it can sure recommend to add overrides for SBT files and the meta build.

[2022-07-13 05:36] ckipp01 commented on #4143
Sure, but as a user when you use a Metals feature and it breaks your build, they see it as a Metals issue. Thanks for the workaround @keynmol, that's good to have listed. I still think we might want to try and address this either in scalafmt or here.

[2022-07-13 11:07] tgodzik commented on #4107
The code action should work now correctly with default of 2. We can improve that a bit later on.

[2022-07-13 13:12] tgodzik commented on #4143
Also, we currently set the highest dialect possible, maybe we should rather set the correct dialect for all the build targets? We could add file overrides for those target versions that there are less of.

[2022-07-14 09:20] vzmerr opened #4149 "Mishandling of Empty Metals Version in Workspace"
### Describe the bug

I had `Metals Server Version`  set to `0.11.8-SNAPSHOT`  in `User` tab.

I had `Metals Server Version`  set to empty in `WorkSpace` tab.

Then no matter how many times I was running `publishLocal` and then reloading the window, the changes were not getting applied. while Metals was fully functional.

But, as soon as I put `0.11.8-SNAPSHOT`  in the `Workspace` tab, and reloade

[2022-07-14 10:14] vzmerr commented on #3817
well, the `onlyFourQuotes` methods seems to be misnamed, because it actually checks for 3 quotes.
And the bug I think precisely lies in the difference between

`s@@ `-> `s""@@`
and
`sql@@` -> `sql"@@`

So we do not automatically add the first closing quote automatically when it is `sql`, so when adding the second quote manually, the cursor ends up in `sql""@@"` after automatic insertion of the clo

[2022-07-14 10:15] tgodzik commented on #3817
it doesn't matter, since the functionality operates only on tokens

[2022-07-14 10:38] vzmerr commented on #3817
It seems that since the first closing quote in `s""@@` is put automatically by VSCode, the fact that it there isn't one in case of `sql"@@` is a bug on VSCode side. Now the only thing we can fix is what happens when someone pressed enter after `s"""@@` or `sql"""@@`

[2022-07-14 15:47] #4052 closed

[2022-07-14 20:04] kpodsiad opened #4154 "Add builder for LSP code actions"
Currently, building LSP code actions is quite verbose and repetitive, e.g. there are a lot of `asJava` calls needed.

[code]

We can consider refactoring some builder/helper to reduce amount of boilerplate. Something along those lines should do the work.

[code]

[2022-07-15 09:51] robknapen opened #4156 "Stack overflow on VSCode with Metals but not on IntelliJ IDEA, for ZIO effect with recursion"
### Describe the bug

Hi,

The small program below is running fine from IDEA, but causes a stack overflow exception (see the attached screenshot) when run from VSCode. This is on macOS 12.4, Apple M1 cpu, Temurin JDK 17.0.2, Scala 3.1.3, and ZIO 2.0.0. VSCode is using Metals 0.11.7. IDEA the Scala plugin version 2022.1.629.

The stack overflow also happens in VSCode with much smaller values for n

[2022-07-15 11:04] kpodsiad commented on #4156
I've obtained SO too with scala cli reproduction
[code]

[2022-07-15 12:21] vzmerr commented on #2296
Do you think the gifs should just cover the simplest scenario to convey the message, or be a mixture of multiple usage scenarios?

[2022-07-15 13:08] tgodzik commented on #2296
I think it should be a simple scenario to show case the exact purpose of the code action. Otherwise, it might get a bit too complex to get the main purpose behind it.

[2022-07-18 08:56] tgodzik opened #4160 "Properly mention all the client commands"
### Describe the bug

Currently, there is a bit of disorder when it comes to ServerCommands and ClientCommands.

Initially, I think, client commands were supposed to indicate which commands need to be implemented by the client. So some duplication is expected there, but some of the commands such as ResetChoice or ResetNotifications only exist in the server commands.

I think we should either:
- ma

[2022-07-18 13:56] #4059 closed

[2022-07-19 07:41] vzmerr opened #4163 "update Metals version to the newest one through dialogue only updates in User tab."
### Describe the bug

To produce, put `0.11.8-SNAPSHOT` in Metals Server Version in both Workspace and User tabs of VSCode. Then, totally close VSCode. (Do not `Relead Window` instead.) And reopen it.
A dialogue would appear asking if you want to update the Metals Version to the newest one. And you should confirm. Then reload and check the Metals Version setting:
It is only updated in the User tab

[2022-07-19 09:57] asflierl opened #4166 "Remember choice of "Don't show this again" for reloading builds"
Whenever I change something in my SBT (which I use as BSP server) build, a small notification pops up in VSCode that I have to reload my build. I usually click on "don't show this again". But as soon as I reload my build - I usually do that on the console with sbtn reload - and then reconnect to SBT again with the "connect to build server" command, VSCode forgets what I have chosen before and will

[2022-07-19 11:20] tgodzik commented on #4166
Thanks for reporting! Moving it to the main repo, since I think this is a bug really.

[2022-07-19 11:30] olafurpg opened #4167 "sbt-metals should not overwrite javaHome"
### Describe the bug

In my sbt project https://github.com/sourcegraph/scip-java, the sbt-metals plugin overwrites `javaHome` to become `None` causing my codebase to fail compilation. The culprit code appears to be https://github.com/scalameta/metals/blob/8488a02cbab8628b6bf990249bc5483badb705a1/sbt-metals/src/main/scala/scala/meta/metals/MetalsPlugin.scala#L51-L64

I ran `inspect javaHome` to ver

[2022-07-19 11:58] dos65 commented on #4167
Thanks for reporting! Will look what is going on there

[2022-07-19 14:02] dos65 commented on #4167
@olafurpg it looks like everything is fine with javaHome. If you check `inspect minimized/Compile/javaHome` it should return an expected result.

The fun thing is that compiling the semanticdb-javac plugin using semanticdb-javac from classpath leads to an error:
[code]

The compilation works with sbt-metals if you add: `disablePlugin(MetalsPlugin)` for `plugin` and do the same for `minimized$N` pr

[2022-07-19 17:01] dos65 commented on #4167
Update - the suggestion is wrong. If compile on bloop is called from metals it uses the same compiler options and fails for `plugin` project too. The log is incomplete but javac fails:
[code]

[2022-07-20 08:12] erayaydin opened #4170 "Bloop lockfile hardcoded path"
### Describe the bug

Metals create `~/.bloop/created_by_metals.lock` file without option to describe bloop path. https://github.com/scalameta/metals/blob/8488a02cbab8628b6bf990249bc5483badb705a1/metals/src/main/scala/scala/meta/internal/metals/BloopServers.scala#L534-L542

Reproduce (nvim-metals):
1. Start nvim
2. Open a buffer with `scala` filetype.
3. Its create `~/.bloop` and `~/.bloop/created

[2022-07-20 10:14] tgodzik commented on #4170
Thanks for reporting! There was a PR allowing some configuration for Bloop home https://github.com/scalacenter/bloop/pull/1757

However, I decided against it since it's not that easy to make sure that the proper `.bloop` directory is used. You would need to start Bloop with that env variable and that could be a bit problematic if you wanted to change it from Metlas (you would need to manually stop

[2022-07-20 11:11] prolativ opened #4172 "Wrong scala version suggestion for older RC"
### Describe the bug

When scala version in a build is set to a RC which is no longer supported because a newer RC got released, Metals Doctor claims that this version is `not yet` supported, suggesting a downgrade to the latest stable release.
E.g. after the release of 3.2.0-RC2 the message is
[code]

### Expected behavior

Instead Doctor should claim the version is `no longer` supported and sugg

[2022-07-20 15:53] erayaydin commented on #4170
If I understand your question correct; Its default behaviour of nvim-metals.

I'm okay with single running Bloop server. I'm trying to stick with my XDG configuration:

[code]

Just need to move `~/.bloop` to `~/.local/etc/bloop`. Are there anyway for override `sys.props.get("user.home")` ? (maybe `JAVA_HOME` or nvim-metals bloop jvm options)

[2022-07-20 19:53] safqwf opened #4178 "Two "main" methods bug"
Hey, when two extend App objects are in main, click F5, then Esc -> Internal error.
I'm able to choose, but if I want to cancel the popup with Esc, it shows internal error.
Don't see any other error information.

Latest Vscode and Metals, latest Macos m1.

[2022-07-21 10:37] tgodzik commented on #4178
@dos65 isn't this an issue only in VS Code?

[2022-07-21 11:16] dos65 commented on #4178
@tgodzik initially I thought that it's only a server issue but seems that to fix it properly need to change server and client.
To avoid showing any error message in this case, `StartDebugAdapter` command should return a result - was session started or it was cancelled.

[2022-07-21 17:35] kpodsiad opened #4181 "Odd completions ordering for ZIO"
### Describe the bug

scala-cli reproduction
[code]
1. Type `ZIO.succ@@`
2. `succeed` isn't the first completion option
<img width="399" alt="Screenshot 2022-07-21 at 19 27 49" src="https://user-images.githubusercontent.com/37124721/180276559-b78c1791-977a-4aa3-8023-c3ead8d9fb17.png">

### Expected behavior

Completions for `ZIO.succ@@` should return `succedd` as the first option.

`succeedBlockin

[2022-07-21 18:00] dos65 commented on #4181
@kpodsiad could you also ensure that it's an ordering issue on Metals side (from lsp trace)?
Vscode sometimes changes the order.

[2022-07-21 18:45] kpodsiad commented on #4181
I forgot about that vscode can alter this, thanks for reminding @dos65.
I've checked and it's Metals issue,
[code]

[2022-07-21 18:57] dos65 commented on #4181
@kpodsiad thanks for confirming!

[2022-07-21 19:28] kpodsiad opened #4182 "[Scala3] Add keyword completion for match"
In Scala 3 I would like to have keyword completion for `match`:
[code]

Scala 2 for the reference:
<img width="288" alt="Screenshot 2022-07-21 at 21 13 55" src="https://user-images.githubusercontent.com/37124721/180299495-856002d1-67de-44d4-8e47-d07b28516c4e.png">

[2022-07-21 20:11] ahmedriza commented on #2376
This still happens randomly.  There are no compilation errors at all.

[2022-07-21 20:27] riiswa opened #7768 "Add filter+map to collect code action"
### Is your feature request related to a problem? Please describe.

The following code which contains a filter followed in map (the reciprocal is also possible) can be optimized with the collect method:

[code]

### Describe the solution you'd like

Propose to the user the following code:

[code]

### Describe alternatives you've considered

.

### Additional contex

_No response_

### Search term

[2022-07-22 08:47] prolativ opened #4184 "Type parameters from extension receiver not forwarded to completions in scala 3"
### Describe the bug

If the signature of a method added by an extension or an implicit conversion refers to a type parameter which should be fixed by the method receiver, the type is not substituted in code completions, e.g. for
[code]
or
[code]
the suggested completion is
[code]

### Expected behavior

Type parameters from the extension receiver should be properly propagated, e.g. in the given e

[2022-07-22 11:19] tgodzik commented on #4184
I think we could do 2 things:
- copy over the logic from https://github.com/lampepfl/dotty/pull/11187/files or try to reuse it in some way
- make the interface for completions a bit better (@prolativ already raised na issue): https://github.com/lampepfl/dotty/issues/15730. We can use it for the newer versions of compiler

[2022-07-22 12:22] dos65 commented on #4184
@tgodzik @prolativ I would choose to not to change interfaces. Actually, the are good enough to use.
The issue is that by some reason we are getting a symbol with not-precise denot or info. But it's possible to fix

We can reuse this thing that we have in metals:
https://github.com/scalameta/metals/blob/d9677cff9df3cbd3af977470e3513334abd74b53/mtags/src/main/scala-3/scala/meta/internal/mtags/Mtags

[2022-07-22 12:41] prolativ commented on #4184
The point is that in a case like this it's impossible to get the full type signature from a symbol - one needs the entire typed tree of the extension receiver

[2022-07-22 13:08] #4166 closed

[2022-07-22 13:26] dos65 commented on #4184
@prolativ but it's possible on dotty side. I only meant that it would be nice to change public interfaces

[2022-07-22 13:33] prolativ commented on #4184
`I would choose to not to change interfaces`
`it would be nice to change public interfaces`
Now I'm quite confused which solution you would prefer 😕

[2022-07-22 13:36] dos65 commented on #4184
opps :smile:

I mean do NOT to change

[2022-07-25 06:41] kpodsiad opened #4186 "Incorrect inferred type for type alias in for comprehension"
### Describe the bug

[code]
<img width="245" alt="Screenshot 2022-07-25 at 08 37 46" src="https://user-images.githubusercontent.com/37124721/180713804-a5d05fec-9dea-4e48-8d41-ae989b6eb314.png">

### Expected behavior

`a` has inferred type `Foo`

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.7+59-4322516c-SNAPSHOT

### Extra context or search terms

_No r

[2022-07-25 06:50] #2296 closed

[2022-07-25 09:40] kpodsiad opened #4187 "Cannot rename symbol in for comprehension for `F[_]`"
### Describe the bug

1. Try to rename `renameMe` in `foo` and `foo_2`
2. Renaming only works in the seconds case

[code]

### Expected behavior

Renaming work for both cases.

I took a quick look at semanticDB and there is no occurrence for the usage of `<- renameMe` for type `F`.
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.7+59-4322516c-SNAPSHO

[2022-07-25 10:31] slovvik opened #4189 "Running test from test explorer using sbt build server fails in MetalsBspException"
### Describe the bug

Given `build.sbt`

[code]
and switched to sbt build server, when running test from text explorer metals output:
[code]

### Expected behavior

The test should be run and executed.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.17

### Extra context or search terms

_No response_

[2022-07-25 10:49] kpodsiad commented on #4189
Just to confirm, you were using bloop and then you switched to the sbt, right?

[2022-07-25 11:49] slovvik commented on #4189
yes and no :) At first I imported the build using bloop and then switched to sbt. On the second try, I removed all configuration files and folders and when opened the project with vs code I did not import it with bloop instead, I switched to sbt.

[2022-07-25 16:05] tgodzik commented on #4189
Does it work with you run the test using F5 in the specific fail containing the test? Alternatively you could switch to code lenses in the settings to see if test explorer is the culprint.

[2022-07-25 16:05] #4186 closed

[2022-07-25 16:07] tgodzik commented on #4187
Thanks for reporting. This might need a fix in scalameta :thinking:

[2022-07-25 16:26] kpodsiad commented on #4186
Thanks @tgodzik!

[2022-07-25 19:34] slovvik commented on #4189
It does not work in both cases. The same error occurs.

[2022-07-26 03:42] Meowcolm024 opened #4190 "Wrong code folding in Scala3"
**Describe the bug**

Code blocks do not fold well with the new syntax introduced by Scala 3

**Expected behavior**

Should fold like code block with braces

**Screenshots**

**Using indent and colon only**

<img width="386" alt="螢幕截圖 2022-07-26 上午11 36 19" src="https://user-images.githubusercontent.com/23007687/180917777-bcec9c28-b357-4bf5-abe0-00993d7ad4a8.png">
<img width="351" alt="螢幕截圖 2022-0

[2022-07-26 05:37] tanishiking commented on #4190
@Meowcolm024 Thank you for reporting! I transferred this issue to `scalameta/metals` as it seems a bug in the Language Server implementation, not vscode specific.

Indeed `yield()` should be folded even in Scala3 :+1:

[2022-07-26 06:48] tanishiking commented on #4190
Realized the root cause is https://github.com/scalameta/metals/blob/81b014d4deb62f55fdef99f266e2aedf02efcc90/metals/src/main/scala/scala/meta/internal/parsing/FoldingRangeProvider.scala#L86-L91
we `-1` from the end line of folding range to preserve end of the block `}`.

However, in braceless syntax, we don't need this adjustment.

[2022-07-26 14:12] prolativ opened #4192 "Wrong hover info for structural members in scala 3"
### Describe the bug

The expression type shown when hovering on a structural member selection in scala 3 is displayed incorrectly as the declared return type of `selectDynamic` or `applyDynamic`, e.g. for the following snippet
[code]
- hover on `foo2` and `bar2` after a dot (lines 9 & 10) without a selection doesn't show hover popups at all
- hover on `.foo2` (when at least one character is selec

[2022-07-27 02:46] #4190 closed

[2022-07-27 08:10] silles79 commented on #2376
i have the same issue, very big project. compiles fine. but in some files code navigation just doesn't work.

[2022-07-27 10:04] tgodzik commented on #4189
I tried to reproduce and everything seems to work ok for me. What is the sbt and JDK version that you are using? Did the code manage to compile? Does running main classes work?

[2022-07-27 11:18] tgodzik commented on #3071
Btw. I have done some work on this in https://github.com/scalameta/metals/compare/main...tgodzik:metals:update-ammonite-runner?expand=1

Though we are getting wrong Scala version for the build target

[2022-07-27 11:30] slovvik commented on #4189
Sbt 1.6.2
Java 11.02

Yes

Yes

But I have noticed something. I will put in points on how to reproduce it.

1. Open a new window in VScode
2. Open any scala project (this in my opinion starts metals)
3. Go to metals extension
4. Create a new Scala Project from Build commands (creating a new project when no scala project is open does not work)
5. Choose scala/scala-testexample.g8 (notice that it no

[2022-07-27 12:39] vzmerr opened #4194 "Go To Definition and Go To Implementation not working properly"
### Describe the bug

In the following code in Scala 3 Completions file, we have the following problem on the `toString` method of `Symbol.Symbol`

https://user-images.githubusercontent.com/109077949/181247893-630530b5-cd5a-422b-9e01-901cf76ddb93.mov

:

### Expected behavior

_No response_

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.7+61-a6299f3a-SNAPS

[2022-07-27 13:11] vzmerr opened #4195 "non-members appearing as member completions for Scala 3"
### Describe the bug

In the following code, for `Symbol.Symbol` items that are not members of it are suggested as completions.

https://user-images.githubusercontent.com/109077949/181255145-8fbecb77-5c0e-422e-a72d-14f75c2f07b2.mov

### Expected behavior

only members of an object should be suggested as completions.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

[2022-07-27 13:22] tgodzik commented on #4194
Looks like it's the same issue as was fixed in https://github.com/lampepfl/dotty/pull/15536

We can confirm when we update metals to 3.2.0

[2022-07-27 13:24] tgodzik commented on #4195
Thanks for reporting! Those suggestions are from VS Code and can probably be turned off. It's nothing we can fix in Metals

[2022-07-27 13:24] #4195 closed

[2022-07-27 13:28] vzmerr commented on #4195
You mean `Include Symbols`? It is turned off. There are a bunch of completion settings which are enabled by default for other languages such as Java, though.

[2022-07-27 13:31] vzmerr commented on #4195
disabling Java Completions and Intellicode Completions for Java did not change the behaviour.

[2022-07-27 13:44] tgodzik commented on #4195
I think that might be `editor.wordBasedSuggestions` setting. Anyway, it's not coming from metals

[2022-07-27 13:54] tgodzik commented on #3071
The fix should be here https://github.com/com-lihaoyi/Ammonite/pull/1278

[2022-07-27 17:44] tgodzik opened #4196 "Interrupting presentation compiler thread closes jar filesystem"
### Describe the bug

I managed to reproduce it often by trying to get completions for `for@@` in weird places in ScalaPrecentationCompiler for Scala 3
[code]

later it's not possible to navigate to some of the sources

### Expected behavior

User should still be able to navigate to all the libraries.

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

v0.11.7

###

[2022-07-27 17:44] tgodzik commented on #4196
I will try and look at it soon as it's blocking for the release.

[2022-07-28 06:25] #3071 closed

[2022-07-28 09:01] tanishiking commented on #4196
How did you reproduce it? I tried to by writing `for` at random places in `mtags/src/main/scala-3/scala/meta/internal/pc/ScalaPresentationCompiler.scala` but I couldn't reproduce it.
using `0.11.7+68-57b05f3f-SNAPSHOT` on VSCode on Mac

[2022-07-28 09:04] tgodzik commented on #4196
It might actually be a lot of hovers and cancelling them maybe? I had it happen multiple times so this is for sure an issue, but not super clear on reproduction yet.

[2022-07-28 16:19] tgodzik opened #4201 "[Scala 3] File completions for Ammonite"
Ammonite allows to import symbols from other file using `import $file` syntax, for example:
[code]

This is already supported for Scala 2 in https://github.com/scalameta/metals/blob/main/mtags/src/main/scala-2/scala/meta/internal/pc/completions/AmmoniteCompletions.scala

And tests are available in:
https://github.com/scalameta/metals/blob/main/tests/unit/src/main/scala/tests/BaseAmmoniteSuite.scal

[2022-07-29 12:35] vzmerr commented on #4196
I get this a lot next to this exception:

To reproduce, in a Scala 3 document, where you have never typed or used one of these collections: `Seq`, `Map` `IndexedSeq` `Iterable` , start typing `new Seq` and then choose one of the suggestions by `enter`.

[2022-07-29 13:30] vzmerr commented on #4196
You can as well reproduce by typing `val a: Str` then pressing ctrl-space

[2022-07-29 16:18] #4182 closed

[2022-07-29 17:17] BlackAnubis7 opened #4217 "Adjust type if mismatch"
### Is your feature request related to a problem? Please describe.

When I define a value/variable of a wrong type (i.e. `val a: Int = "abc"`), I have no way to automatically fix it

### Describe the solution you'd like

A context action which will change the variable type. Example:
`val a: Int = Some("abc")` -> `val a: Option[String] = Some("abc")`

### Describe alternatives you've considered

Ma

[2022-07-30 05:52] kpodsiad commented on #2904
Closed by https://github.com/scalameta/metals/pull/3974?

<img width="594" alt="Screenshot 2022-07-30 at 07 48 15" src="https://user-images.githubusercontent.com/37124721/181876766-d930fea6-9145-4be6-804c-01b61a08d873.png">

@kubukoz reopen issue if I'm wrong

[2022-07-30 05:52] #2904 closed

[2022-07-30 17:05] dev-lluo opened #4205 "Stuck on Starting Metals server"
### Describe the bug

Clicking on either button (New Scala Project/Start Metals) just pops up the same notification again.

### Expected behavior

new empty project

### Operating system

Other (WSL2)

### Editor/Extension

_No response_

### Version of Metals

0.11.7

### Extra context or search terms

2022.07.31 01:00:07 INFO  tracing is disabled for protocol LSP, to enable tracing of incoming a

[2022-07-31 06:21] tanishiking commented on #4205
@dev-lluo hey, thanks for reporting!
Foes your project directory contains build.sbt?
As the warning suggests, there should be a build file in the project root :)

[2022-07-31 13:38] vzmerr opened #4206 "Scala 2 Completions showing private members"
### Describe the bug

Metals sometimes shows private members as completions for Scala 2, such as

`ProcessBuilderImpl - scala.sys.process` in this test:

https://github.com/scalameta/metals/blob/main/tests/cross/src/test/scala/tests/pc/CompletionSuite.scala#L356

### Expected behavior

Private members that are not in scope should not be suggested as completion.

### Operating system

_No response_

[2022-07-31 16:55] ckipp01 opened #4207 "No effects from "Extract" code action"
### Describe the bug

Lately when triggering code actions I see a lot of messages that are unclear related to the "Extract ... as value" code action. For example I just opened Metals and triggered this in a few places and while I can't get it to happen all the time I often see code actions that look like this:

<img width="585" alt="Screenshot 2022-07-31 at 18 49 56" src="https://user-images.githu

[2022-08-01 05:22] kpodsiad opened #4211 "Add sbt-vspp for publishing sbt-metals plugin"
The same as in https://github.com/scalacenter/bloop/pull/1766

[2022-08-01 06:55] kpodsiad commented on #4196
@tgodzik I wonder, is this issue related to the following?
<img width="452" alt="Screenshot 2022-07-30 at 07 58 50" src="https://user-images.githubusercontent.com/37124721/182089950-912e41c3-1ea0-4a3b-8703-c31d746ec440.png">

[2022-08-01 07:26] tanishiking opened #4212 "refactor: Do not index extension methods in workspaceSymbolIndex"
### Describe the bug

In https://github.com/scalameta/metals/pull/4141 we started indexing the extension methods (to make auto-import missing extension methods feature available) in `workspaceSymbolIndex` where we should index only top-level symbols.

However, later https://github.com/scalameta/metals/pull/4183 we decided to index those extension method symbols in a separate index (see more detail

[2022-08-01 08:05] tgodzik commented on #4196
Might be, if the exception was thrown. Although status bar should handle it :thinking:

[2022-08-01 09:00] #4196 closed

[2022-08-01 09:25] tgodzik commented on #4205
Alternatively if you want to start quickly working on Scala you can:
- create a single Ammonite Scala script (.sc), which should not require anything else.
- run `Create new Scala project` command and choose one of the recommended templates
- you can try to use https://scala-cli.virtuslab.org/ which we are trying to use to simplify the experience of getting started

[2022-08-01 09:32] tgodzik commented on #4207
Thanks for reporting! I think we have 3 different issues here (discussed it a bit offline with @jkciesluk ):
- the title - we should make it more meaningful, we shouldn't show empty lines and in case of longer expressions maybe a range? This might require some tinkering.
- Maybe we shouldn't extract a single apply with {}, since that is usually some kind of Future or Task and extracting value woul

[2022-08-01 10:01] kpodsiad commented on #4207
Small reproduction for people without imagination (me 😄 )
[code]
<img width="415" alt="Screenshot 2022-08-01 at 11 59 00" src="https://user-images.githubusercontent.com/37124721/182124153-493cc1ff-d8fd-4e60-9240-1832f3c430dc.png">

This can be also just a plain value and sometimes it can be helpful to extract it.

[2022-08-01 12:57] #3954 closed

[2022-08-01 12:57] #3956 closed

[2022-08-01 15:00] vzmerr opened #4213 "Inconsistent and incomplete completion results for Scala 2 and 3"
### Describe the bug

If you put this in `CompletionSuite`, you would see that there are differences between the results returned for scala 3 and 2

- some of the results are members of java._ so they should not differ between Scala 2 and 3.
- some of the results of Scala 2 such as `String=` seem to be incorrect for the position.
-  a valid result such as `StringIndexOutOfBoundsException`, is omit

[2022-08-01 16:05] #4192 closed

[2022-08-02 06:24] tanishiking opened #4215 "Provide extension method code completions when typing `xxx.@@`"
### Describe the bug

Define an extension method like

[code]

Try to use the extension method in another package

[code]

if we type `1.i` we will have an auto-completion for `increment` extension method. However, if we type `1.@@` we don't get the completion for `increment`

### Expected behavior

https://github.com/scalameta/metals/pull/4183#discussion_r934249157

### Operating system

_No resp

[2022-08-02 06:40] tanishiking commented on #4215
- It doesn't work because we guard for an empty query [here](https://github.com/scalameta/metals/blob/d2ab724848b0c8b5c066694e5cf431c809715d34/mtags/src/main/scala-3/scala/meta/internal/pc/completions/Completions.scala#L456), we have to remove this guard
- However, just removing `if query.nonEmpty` doesn't work
  - it calls [MetalsSymbolSearch.searchMethods](https://github.com/scalameta/metals/blo

[2022-08-02 09:47] tanishiking opened #4216 "Delete files doesn't run compilation"
### Describe the bug

Create two files

[code]

and then delete `B.scala`.

### Expected behavior

Run compilation and receive an error in `A.scala` (`Not found: B`).

---

I guess this is because we don't run compilation when Metals detect the file deletion https://github.com/scalameta/metals/blob/d2ab724848b0c8b5c066694e5cf431c809715d34/metals/src/main/scala/scala/meta/internal/metals/MetalsLang

[2022-08-02 12:17] tgodzik commented on #4216
Thanks for finding this! I think we should actually invoke the compilation in such case

[2022-08-02 19:42] grpvw commented on #3464
Happens when working with Sbt as Bsp as well in Vscode.
Noticed that multiple Sbt as Bsp were running, maybe that's the issue.
Next time it happens try to `jps -mlvV`

[2022-08-03 12:54] vzmerr commented on #4194
One extra case to check
![Go To def](https://user-images.githubusercontent.com/109077949/182612839-54d9d43d-ca39-4f0d-9ce2-75b034b93fff.gif)

[2022-08-03 13:34] tgodzik commented on #4194
That is unrelated, but it does work for me. It needs the code to compile though.

[2022-08-03 14:13] vzmerr commented on #4194
I ran the tests, so it is compiled. I wonder why it is not working on my side.

By the way, I guess it would be cool if we add a trouble shoot tutorial in the docs.

[2022-08-03 14:29] vzmerr commented on #4194
sbt

[2022-08-03 14:31] tgodzik commented on #4194
Yeah, sbt compilation is unrelated unless you use sbt server. If you use Bloop it probably didn't compile. Maybe something is shown in the problems view?

[2022-08-03 14:37] vzmerr commented on #4194
![Problem View Ammonite](https://user-images.githubusercontent.com/109077949/182635850-b5092149-2ca9-44f1-95d9-5074e03ff75e.gif)
 Yes, 66 problems

[2022-08-03 14:42] vzmerr commented on #4194
the problem might be Bloop
<img width="749" alt="Screenshot 2022-08-03 at 16 42 15" src="https://user-images.githubusercontent.com/109077949/182637083-a47a856d-be2a-4bf9-b88f-be86d9b0ab17.png">

[2022-08-03 15:24] vzmerr commented on #4194
after running `sbt clean` followed by `sbt compile`, the problems number  increased to 227.

Same with `Clean Java Language Server Workspace` command.

[2022-08-03 15:29] dos65 commented on #4194
@vzmerr this clean command is located in Metals ta
![Screenshot from 2022-08-03 18-29-31](https://user-images.githubusercontent.com/5816952/182647925-8af7eec0-8b98-47ba-a3a0-33499da31424.png)

[2022-08-03 15:35] kpodsiad commented on #4194
@vzmerr if you are using sbt extensively you may consider switching build server to sbt

[2022-08-03 15:46] vzmerr commented on #4194
@dos65 thanks the problems got reduced to 3
<img width="558" alt="Screenshot 2022-08-03 at 17 44 44" src="https://user-images.githubusercontent.com/109077949/182651629-7f5478bc-6a34-4577-98b8-e79ce2ff0bd6.png">

@kpodsiad

how do I do that?

[2022-08-03 15:49] vzmerr commented on #4194
The standard way of using Metals is with Bloop, though. So I guess for the sake of revealing the functionality of Metals from the user perspective, I have to stick to Bloop.

[2022-08-03 15:50] tgodzik commented on #4213
Looks like the issue with `StringIndexOutOfBoundsException` is related to the compiler. We are getting an object from the compiler :thinking:

[code]

[2022-08-03 15:50] dos65 commented on #4194
@vzmerr you need to trigger compilation once from sbt - `BuildInfo` is a generated source and only sbt can generate it

[2022-08-03 15:54] vzmerr commented on #4213
Similar behaviour is observed with typing `IndexedSeq`, `Future`, `Iterator`, `Iterable` in different stages of typing; or in other words, how many characters we have typed; in the live demo.

[2022-08-03 15:56] vzmerr commented on #4194
But I did so. I ran the test.

[2022-08-03 15:56] vzmerr commented on #4194
I think I really have to make a troubleshoot doc PR

[2022-08-03 16:12] vzmerr commented on #4194
The issue got solved by deleting the `.bloop` directory and then compiling and importing build. credit to @dos65
Also, with the newest work of Vadim on Bloop, this issue might not be encountered by users again :)

[2022-08-03 16:21] vzmerr commented on #4213
Michal might know something about it @prolativ

[2022-08-03 16:44] vzmerr commented on #3246
Just for the reference of future users: make sure you have enabled "show methods" in VSCode completion settings.

[2022-08-04 09:07] prolativ commented on #4213
I'm not sure if I understood the issue correctly. In your initial example which of the completions exactly
1) are returned by the compiler but shouldn't be?
2) aren't returned by the compiler but should be?
Regarding `StringIndexOutOfBoundsException` I think the problem is actually not that an object is returned but that a class should be also returned but it isn't. In general representation of ja

[2022-08-04 09:10] vzmerr commented on #4213
Interesting 🧐 because the current implementation does not return object completions when type is expected.

Any way to filter whether an object has type members or not?

[2022-08-04 09:13] vzmerr commented on #4213
`String=` for Scala 2 because it is the equals method

In Scala 3:
`StringBufferInputStream` and `StringIndexOutOfBoundsException`

In Scala 2:

`StringIndexOutOfBoundsException`

[2022-08-04 09:23] prolativ commented on #4213
I would argue that it's correct that `StringBufferInputStream` is missing - it's not in scope by default unless you import it, e.g.
[code]
doesn't compile

[2022-08-04 09:32] prolativ commented on #4213
I'm not sure if it really makes sense to filter out objects without members. Actually for true scala objects you always have `.type` as a possible member.
For java types - the line below compiles in scala 2 but not i scala 3
[code]

[2022-08-04 09:42] tgodzik commented on #4213
Sure, but it's rarely used in reality.

The main issue seems to be that we only get an object for `StringIndexOutOfBoundsException`, but since we don't actually have objects in Java and you always need a class, maybe we could allow Java objects @vzmerr ?

[2022-08-04 09:49] vzmerr commented on #4213
So what we would do for Scala 3 is this:

- Allow objects coming from Scala that have type members other than `.type`
- Allow all objects coming from java

[2022-08-04 10:01] tgodzik commented on #4213
This one is harder to do efficiently, so I would not do that unless anyone raises an issue.

I think that should be fine.

[2022-08-04 10:02] vzmerr commented on #4213
I guess you meant

👍

[2022-08-04 11:01] prolativ commented on #4213
We need objects with `.type` as the only type members because something like `Foo.type` might actually be what the user wanted to type. In case of `trait`s and `type`s that don't have a companion objects (`classe`s).
Actually it's java pseudo-objects that we might want to exclude if they don't have any nested types

[2022-08-04 11:04] vzmerr commented on #4213
Thank you for this. So how should we recognise them? Through flags?

[2022-08-04 11:06] vzmerr commented on #4213
Also, can you please check why specifically `StringBufferInputStream` is appearing when typing `StringBuffe` but it does not appear when we type `Stri`?

[2022-08-04 11:10] prolativ commented on #4213
I'm afraid there are no flags on a class indicating if it has any nested type members. But if you have a symbol and you know it's a class you should be able to list all of its members and check if there are any type symbols among them

[2022-08-04 11:16] vzmerr commented on #4213
So what is a java  `pseudo-object`? one with no explicitly defined constructor and only static methods?

[2022-08-04 11:17] vzmerr commented on #4213
But java `pseudo-object`s can be instantiated too. So they are valid types.

[2022-08-04 11:49] tgodzik commented on #4213
It's the only completion we are getting, so we can't exclude them.

This might be what the user wanted, sure, but since it's a rare scenario we don't want to show it in type positions. At least that's what we are doing in Scala 2 and that never was a problem. This is a bit of conflict between usability and correctness.

[2022-08-04 11:55] tgodzik commented on #4213
Actually, I might be wrong about that, we do suggest objects where type is applicable. It seems we just exclude any advanced completions there :thinking:

[2022-08-04 12:19] vzmerr commented on #4213
Oh no, we don't suggest objects currently in type completions as in `val a: Str@@`. This something to be fixed.

[2022-08-04 14:37] vzmerr commented on #4206
It seems that after allowing objects in type and new positions as in https://github.com/scalameta/metals/pull/4224, the issue appeared also for Scala 3.
So the main problem is to filter out the private members. both for Scala 2 and 3.

[2022-08-05 08:00] vzmerr opened #4226 "Presentation Compiler infinite loop"
### Describe the bug

The presentation compiler was indefinitely running and this was in metals log:

[code]

And this was in metals output:
[code]

### Expected behavior

Presentation compiler should not run indefinitely

### Operating system

macOS

### Editor/Extension

_No response_

### Version of Metals

0.11.7+79-d2ab7248-SNAPSHOT

### Extra context or search terms

infinite loop presentati

[2022-08-05 08:45] vzmerr opened #4227 "Not showing Javadoc on Hover in Scala 3"
### Describe the bug

![Javadoc on Hover](https://user-images.githubusercontent.com/109077949/183039312-d7fa2156-4dad-43de-9d8c-a157cc7602a6.gif)

This happens in the saved workspace, despite the fact that Go to Definition is working.
The Problems view in VSCode is empty.

### Expected behavior

_No response_

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.

[2022-08-05 08:46] tgodzik commented on #4226
Thanks for reporting! How did you notice that it was running infinitely? Could you maybe get a stack trace next time? For example using Visualvm? I think the issue might be related to 3.1.3 bug and is fixed in 3.2.0

[2022-08-05 08:50] vzmerr commented on #4226
There was a pop up in the bottom right corner which was was showing some message like "Presentation compiler running for 17m" and the number of minutes were just keeping increasing.

Each time this happens, it does not end even after a long period, such as an hour, unless I just hit `cancel`

[2022-08-05 08:51] vzmerr commented on #4226
Could you please point to a link for its usage?

[2022-08-05 08:57] tgodzik commented on #4227
Thanks for reporting! This is the same issue as https://github.com/scalameta/metals/issues/4194

[2022-08-05 08:57] #4227 closed

[2022-08-05 09:00] tgodzik commented on #4226
Seems like the same issue I've seen. Might be connected to hanging presentation compiler, maybe when we kill it the pop up doesn't close.

Visualvm is here https://visualvm.github.io/

[2022-08-05 09:01] vzmerr commented on #4194
I mean the Problems view issue, not the javadoc on hover one.

[2022-08-05 12:50] matthughes opened #4228 "Deleting worksheet with compiler error does not clear"
### Describe the bug

Given a worksheet with a compiler error, delete the offending worksheet.  Metals/VsCode continue to report errors in this non-existent file.  The only work around I've found is to stop metals/blow away .bloop/.metals directory and reimport.

### Expected behavior

Deleted files should not report compiler errors.

### Operating system

macOS

### Editor/Extension

VS Code

###

[2022-08-05 17:55] godenji opened #4230 "`.scala.semanticdb` Files Littering Source Directories"
### Describe the bug

Compilation results in creation of hundreds of `.scala.semanticdb` files alongside companion `.scala` source files.

I've brought this up on Discord and most users report sementicdb files being created in `target` directory. Not sure why this is happening, but it's quite annoying when dropping down to VIM (which is often necessary due to lack of support for build.sbt `Project

[2022-08-05 22:32] godenji commented on #4230
Removing `Global / semanticdbEnabled := true` from my `/.sbt/1.0/global.sbt` reduced the number of `.scala.semanticdb` files signficantly, but there are still a handful after a `;clean;compile` (despite having gotten rid of them with `find . *.scala.semanticdb | xargs -exec rm -f`)

What am I missing if I disable semanticdb globally?

[2022-08-06 03:11] godenji commented on #4230
Think I see what's happening now.

During my VS Code journey I started out, as we all do, with Bloop as the default build server. After some time I grew frustrated with various aspects of the editing experience and switched over to sbt as the build server, which worked fine, except for the `.scala.semanticdb` file issue.

It turns out that the automatically generated `metals.sbt` file included a s

[2022-08-06 03:11] #4230 closed

[2022-08-06 16:25] godenji commented on #2020
No, in most linux distros you'll see as @bes1002t points out, something like:

Seems that vs code doesn't resolve symlinks, so your only option is to hard code the path, which is unfortunate.

[2022-08-08 08:57] tgodzik commented on #4230
Thanks for reporting! You should not have to add anything manually especially to the global sbt configuration. It might cause some unexpected issues.

[2022-08-08 10:31] vzmerr opened #4232 "Implement All Members for trait instantiation with `new` not working"
### Describe the bug

Metals suggests t "Implement All Members" in the Quick Fix for the code below in Scala 3, but when it is selected, nothing happens
![ImplementAllMembersTrait](https://user-images.githubusercontent.com/109077949/183398215-9f54cd89-d319-40dc-9a44-d7b4712ffcfa.gif)

### Expected behavior

It should implement `def iterator: Iterator[Int] = ???`

### Operating system

macOS

### E

[2022-08-08 12:46] tgodzik commented on #4232
Thanks for finding this! @tanishiking could you take a look at it?

[2022-08-08 13:15] tgodzik commented on #4230
We don't actually targetroot, it should use the defaults, which means using the target directory.

[2022-08-08 13:22] godenji commented on #4230
Right, and when I `show semanticdbTargetRoot` it correctly displays the `/tmp/sbt` build target, so how is that source folders also become an eligible target when boh vscdoe and separate terminal session are running?

It doesn't seem like an uncommon scenario, running the two processes together; certainly if you're running any kind of dev server you need a separate terminal based sbt session.

[2022-08-08 13:46] tgodzik commented on #4230
I have honestly no idea how that would happen. Maybe they had a separate working directories?

[2022-08-08 14:08] tgodzik commented on #2020
How would using `/usr/bin/java` work if it was a symlink to a directory? Or do you mean something else?

We could possibly try to resolve the symlink and go up the directories to infer real java home, which might work. Would you mind raising it in VS Code repository `scalameta/metals-vscode` ?

[2022-08-08 14:18] godenji commented on #4230
Interesting, you might have found the scenario that's triggering this bizarre behavior.

Myy application is built on dependent `ProjectRef`s, the top level project being the "gateway" (where Akka HTTP dev server is run from). It's from this project directory where I open terminal sbt session and fire up the dev server.

Now, in vscode I'm currently working lower down in a project that "gateway" de

[2022-08-08 14:25] godenji commented on #2020
I was incorrect, it does of course link to the java binary.

If the path resolves to a *file* named "java", then yes, you could probably traverse up to find java home. That would be a nice set-it-and-forget-it option for Linux users.

[2022-08-08 14:48] godenji commented on #2020
[Done](https://github.com/scalameta/metals-vscode/issues/1094)

[2022-08-09 00:52] godenji commented on #4230
`.scala.semanticdb` files in compile target and source directories differ (i.e. always the same byte difference between target and source binaries). And that difference is accounted for at the head of the files.

In correctly located compile target version we have:

local0*self��R"P

But extraneous source directory version has:

local0*self��R"P

I assume that the problem is [MetalsPlugin.scala](h

[2022-08-09 11:04] tgodzik commented on #4189
This looks like an issue in https://github.com/scalacenter/scala-debug-adapter

@adpi2 any idea what can cause it?

TLDR;

Running tests don't work with BSP sbt for itegration configuration.

[2022-08-09 11:28] adpi2 commented on #4189
@tgodzik Thanks for pointing this out to me.

I confirm the integration tests are not automatically supported by the `sbt-debug-adapter` plugin. It needs to be configured manually with these settings:
[code]

I don't think it is possible to add these settings automatically because we don't know if the `IntegrationTest` config was added or not in the configs of the project.

[2022-08-09 13:14] tgodzik commented on #4189
Hmm.... wouldn't it be possible to use the keys from the map here:

https://github.com/scalacenter/scala-debug-adapter/blob/main/sbt/plugin/src/main/scala/ch/epfl/scala/debugadapter/sbtplugin/DebugAdapterPlugin.scala#L78

?

[2022-08-09 14:05] tgodzik commented on #4189
Should we move the issue to scala-debug-adapter? We'll add the info about the workaround and mark it as feature request for now. Maybe someone will want to contribute?

[2022-08-09 14:19] adpi2 commented on #4189
Here is the issue: https://github.com/scalacenter/scala-debug-adapter/issues/267

[2022-08-09 14:19] #4189 closed

[2022-08-09 14:42] tgodzik commented on #4189
Thanks!

[2022-08-09 15:19] smiklos opened #4238 "Compile errors during import build affects other compile-able classes"
### Describe the bug

I'm using vscode with the metals extension and have a multi project setup.

Inside one of the projects, (2nd layer in the <> architecture) I have two files in two packages,
lets say x.y.z.File1 and x.y.z.x.File2. (Tested with flat hierarchy too, e.g when File1 and File2 is in the same package)

File1 has compilation errors unrelated to File2, File2 compiles just fine.

When I

[2022-08-09 15:24] tgodzik commented on #4238
Thanks for reporting! This is currently expected behaviour since the presentation compiler requires the classpath to have working completions for other files. This is not a trivial matter unfortunately.

There is a long standing issue that raises this https://github.com/scalameta/metals/issues/917

Closing it as a duplicate of that one.

[2022-08-09 15:24] #4238 closed

[2022-08-09 15:25] smiklos commented on #4238
Thank you!

[2022-08-10 07:49] yuxuan-z19 opened #4242 "Metals VSCode v.1.19.0 not working for scala 2.12.15"
### Describe the bug

I was working perfectly on VSCode with Metals v1.18.0 until the extension was "forced" upgrading to v1.19.0 a few minutes ago
After I restarted VSCode, warning appears:

[code]

and I couldn't perform simple operations like code linting, navigation & etc.
This is what Metals Doctor shows

<img width="1001" alt="截屏2022-08-10 15 47 33" src="https://user-images.githubusercontent

[2022-08-10 08:06] ckipp01 commented on #4242
Thanks for the report @yuxuan-z19 but something seems to be borked with your build. Looking at:

[code]
It's trying to resolve the 2.12.15 jar from the 2.12.16 path, which isn't going to work, and I'm sure is also screwing up how semanticdb is being applied. Is the `build.sbt` you showed the only thing that is configuring your build, or do you have any other build-related files?

[2022-08-10 08:17] yuxuan-z19 commented on #4242
@ckipp01 sorry for causing misunderstanding, it should be 2.12.15 (updated)

[2022-08-10 12:42] tgodzik commented on #4242
Thanks for reporting! Do you have a bit more logs? The version of Bloop is exactly the same so no issues should really pop up if you change Metals version. If you go back to the new version, does it happen again? Did you reimport the build around the same time?

[2022-08-10 13:06] #4228 closed

[2022-08-10 14:05] dos65 commented on #4242
I'm wondering if it might be a repo sync issue.
I'm noticed that your repo is: `maven.aliyun.com`. Does it sync `repo1.maven.org`?

Does it have an artifact copy for this path: https://repo1.maven.org/maven2/org/scalameta/semanticdb-scalac_2.12.15/4.5.11/ ?
Unfortunately, I can browse files at this repo. The following link https://maven.aliyun.com/repository/central/org/scalameta/semanticdb-scalac

[2022-08-10 15:36] szymon-rd opened #4243 "ArrayIndexOutOfBoundsException on request textDocument/foldingRange"
### Describe the bug

The following error occurred when importing a small scala-cli script. I was unable to reproduce it with the same source code.
[code]

### Expected behavior

_No response_

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v1.19.0

### Extra context or search terms

_No response_

[2022-08-10 16:07] jkciesluk opened #4244 "ArgCompletions not working for nested apply"
### Describe the bug

ArgCompletions for scala 2 are not showing for nested apply. Example:

[code]

### Expected behavior

See named argument completions in both cases.

---

I think the problem is with the `typedTreeAt`
https://github.com/scalameta/metals/blob/46db7773f0d61c7bc4ea26292ec356209c124862/mtags/src/main/scala-2/scala/meta/internal/pc/completions/ArgCompletions.scala#L21-L24

It doesn

[2022-08-10 16:29] #4217 closed

[2022-08-10 20:44] agilesteel opened #4246 "Go-to implementation for anonymous classes in Scala3"
### Describe the bug

[code]
This was broken since forever and finally started working on the latest version `0.11.8`, but only for Scala2. In fact I initially wanted to file this bug for Scala 2, but was pleasantly surprised when I found out that it was resolved (probably by https://github.com/scalameta/metals/pull/4176).

### Expected behavior

It should list/go-to the `new` keyword on line `6`.

[2022-08-11 00:30] ekrich commented on #3503
Was wondering about a portion of this one. In Scala native projects we get the following:

[code]

Is this true and if so is there anything Scala Native can do to make this better?

[2022-08-11 05:09] kpodsiad commented on #4246
@agilesteel

[2022-08-11 09:12] #4243 closed

[2022-08-11 09:40] #4201 closed

[2022-08-11 10:01] #4244 closed

[2022-08-11 11:02] ckipp01 opened #4249 "Incorrect `activeParameter`"
### Describe the bug

When executing a `textDocument/signatureHelp` at times I get the wrong `activeParameter`. You can see an example of this in the Metals codebase. Trigger signature help on top of `viewId` here:

https://github.com/scalameta/metals/blob/main/metals/src/main/scala/scala/meta/internal/tvp/ClasspathTreeView.scala#L33

Here is the request and response:

[code]

This ends up showing

[2022-08-11 12:11] agilesteel commented on #4246
I tried it before submitting and it worked 🤷‍♂️

[2022-08-11 12:48] dos65 opened #4250 "Imporper completions suffixes and ordering in TypePos"
### Describe the bug

There are a several samples that behaves non-properly when completion happens in a pos that requires a type and there is a companion object for a requested type.

### Expected behavior

- a type from classpath
[code]
- local defined type
[code]

Also, we currently don't show in label/description that completion comes with suffix or not.
So, in the frist sample we are getting

[2022-08-11 12:50] vzmerr commented on #4250
Same in Scala 3

[2022-08-11 13:38] tgodzik commented on #4249
Thanks for reporting this! I have seen it in some places, but never remembered to take a look.

It turns out the fix is not that complicated :sweat_smile:

https://github.com/scalameta/metals/pull/4251

[2022-08-11 14:55] #4249 closed

[2022-08-12 02:14] fuyou001 commented on #4065
what's the plan to fix it ?

[2022-08-12 04:36] kpodsiad commented on #4246
cc: @tanishiking as you have experience with Scala3's semanticDB too ;)

[2022-08-12 05:29] tanishiking commented on #4246
@kpodsiad Thank you very much for finding this!
Yes, I think we should emit those `local` symbol occurrences for `new Foo {}`s.

Scala3 doesn't do that because it doesn't emit symbol occurrence [if the symbol is present in the original source](https://github.com/lampepfl/dotty/blob/e560c2d6970c864ceea5607597d74cf49c443965/compiler/src/dotty/tools/dotc/semanticdb/ExtractSemanticDB.scala#L358), `new

[2022-08-12 05:50] kpodsiad commented on #4246
Will you create an issue @tanishiking?

[2022-08-12 07:24] tgodzik commented on #4065
There is no progress currently, we haven't been able to look into it unfortunately.

[2022-08-12 11:41] ckipp01 opened #4254 "Don't attempt to compile targets that have `canCompile` set to false"
### Describe the bug

I just hit on this in https://github.com/com-lihaoyi/mill/pull/1977 but Metals seems to send in compile requets for all targets no matter what. I dug in a bit since I thought it'd be a quick fix and thought I could just change this:

https://github.com/scalameta/metals/blob/ab314f8f23de51b84c4415aa0f8f355c893f5502/metals/src/main/scala/scala/meta/internal/metals/Compilations.

[2022-08-12 12:09] ckipp01 opened #4255 "Incorrect goto definition"
### Describe the bug

When doing a goto definition on `Indexer` here:
https://github.com/scalameta/metals/blob/ab314f8f23de51b84c4415aa0f8f355c893f5502/metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala#L2496

This brings me to the companion object here:

https://github.com/scalameta/metals/blob/ab314f8f23de51b84c4415aa0f8f355c893f5502/metals/src/main/scala/scala/meta/inte

[2022-08-12 12:37] tgodzik commented on #4254
I'll take a look :eyes:

[2022-08-12 12:55] tgodzik commented on #4255
Thanks for reporting! This seems another one that I ignored :sweat_smile: and it actually popped up a couple of times. Let me check it out. Keep those issues coming! :D

[2022-08-12 13:54] #4254 closed

[2022-08-12 18:40] agilesteel commented on #4246
Please make sure that the fix handles the type inference case in Scala3, where code looks like this `new:` so there is no `Foo` to go to. I guess the cursor would/should jump to `@@new` in this case?

[2022-08-13 04:43] tanishiking commented on #4246
@agilesteel Can you share the full source code that you expect to work?

[2022-08-13 07:52] tanishiking commented on #4246
Ah, nevermind, you mean like this

[code]

[2022-08-13 07:53] tanishiking commented on #4246
Reported in dotty repo https://github.com/lampepfl/dotty/issues/15852

[2022-08-15 14:55] Swoorup opened #4268 "Worksheet not re-compiling if signature changed on source"
### Describe the bug

When a signature changes in source scala file, metals worksheet fails to recompile with the following error:

[code]

The workaround is to restart metals server.

### Expected behavior

Metals recompiles both source followed by worksheet.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8+23-2dffaf36-SNAPSHOT

### Extra context or searc

[2022-08-15 16:20] tgodzik commented on #4268
Thanks for reporting! Do you have an example to share, I managed to change the signature and the worksheets still worked. The only issue was that the completions were not up to date, which we should fix, but it was compiling alright.

[2022-08-15 16:40] tgodzik commented on #4268
Related https://github.com/scalameta/metals/pull/4270

[2022-08-16 00:10] Swoorup commented on #4268
I can't seem to recreate an isolated enough example :/
I'll post it here when I am able to...

[2022-08-16 06:12] tanishiking commented on #4246
I opened a PR to fix in lampepfl/dotty, this PR should fix both `val x =new Foo { ... }` and `val x: Foo = new { ... }` case :+1:

[2022-08-16 09:34] Swoorup commented on #4268
Tried the latest change and got this

[code]

[2022-08-16 09:51] tgodzik commented on #4268
The latest change was just a minor tweak, unfortunately it wouldn't fix anything. Mdoc should pick up the classpath with the compiled artifacts and should be able to run normally. There are sometimes issues with more complicated classpath loading issues such as akka, but otherwise there shouldn't be any issue.

This looks like the code compiled and failed to run, which is unexpected. Does the code

[2022-08-17 08:21] #2105 closed

[2022-08-17 09:18] tgodzik commented on #3951
Fixed in https://github.com/scalameta/metals/pull/4248

[2022-08-17 09:18] #3951 closed

[2022-08-18 11:56] Jasper-M opened #4276 "ConvertToNamedArguments doesn't work on constructor invocations"
### Describe the bug

[code]
On the second line Metals doesn't provide the option to convert to named arguments.

### Expected behavior

Constructors should be able to be converted to named arguments, just like regular methods or `apply` methods.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.8

### Extra context or search terms

_No response_

[2022-08-18 17:34] kubukoz opened #4278 ""no build tool detected in workspace", but some features work"
### Describe the bug

Pretty much all the time, I'm getting errors like:

in a project where **scala-cli** is the build server. Some features work, like go to definition (including external libraries).

I also get messages like `ERROR Unexpected error when compiling project_183d125c5c: 'null'`.

This _seems_ to be dependent on the Scalafmt config in the project. This looks fine:

[code]

but this

[2022-08-18 17:37] kubukoz commented on #4278
Update, looks like even with the updated scalafmt config I get the output panel to show up with errors. Apparently this happens whenever I change something in the scala-cli build config.

[2022-08-18 17:44] kubukoz commented on #2555
This seems to look better these days:

<img width="1072" alt="image" src="https://user-images.githubusercontent.com/894884/185460316-282e3e4d-efb6-4d72-9c47-5b177fd6d7e3.png">

but `(here)` still shows up in the wrong place, IMO - it's a parameter to `in`, not `checkThing1`. Seems like weird ordering too ;)

[2022-08-18 17:49] kubukoz commented on #2634
yeah, at least with scala-cli I'm getting `putHeaders` and other completions in that last example.

The main one still occurs, though.

[2022-08-18 17:51] kubukoz commented on #2127
Seems like this has changed:

<img width="491" alt="image" src="https://user-images.githubusercontent.com/894884/185461548-a7915987-4b06-4dcf-9f6f-78b0722091a0.png">

I guess it's no longer incorrect, so maybe we can close this 😅

[2022-08-19 02:30] tanishiking commented on #2127
Thank you for confirming this! It's "solved" in a wired way 😅
Closing for now, but if anyone find a same issue, feel free to open a new issue, or re-open this ticket :)

[2022-08-19 02:30] #2127 closed

[2022-08-19 05:32] tanishiking commented on #4207
Oh, sorry, I missed the context about this and rejected the change in the PR https://github.com/scalameta/metals/pull/4274 However, I'm basically against extracting block apply as a function.
I understand extracting code in `Future { }`, `Task { }`, or, `IO { }` as value would change the semantics by this refactoring, but if we extract `Try { }` as function, the refacctored code will be a bit odd.

[2022-08-19 12:02] dos65 commented on #4278
@kubukoz  Thanks for reporting!

I can't reproduce the thing with: `ERROR Unexpected error when compiling project_183d125c5c: 'null'`
Which scala-cli version do you use?

In my case I have the following one:
`2022.08.19 14:52:42 ERROR scalafmt: /home/dos65/projects/metals/samples/issues/scala-cli-4278/.scalafmt.conf: Invalid config: Unknown input 'scala213Source3'. Expected one of: scala212, sbt1,

[2022-08-19 12:38] kubukoz commented on #4278
I'm on 0.1.11.

[2022-08-19 13:54] dos65 commented on #4278
I have the same.
It's needed more info or a reliable way to reproduce it.

The only idea I have, than we can improve error message in bloop logs for this situation to get smth useful instead of just 'null'

[2022-08-19 17:53] kubukoz commented on #4278
that'd be good enough! I don't know how to reproduce this outside of that one particular project, and I can't publish the code... seeing some more detail of the error would definitely be helpful for me to minimize the issue.

[2022-08-21 04:13] mindlid opened #4283 "Metals formatter does not respect .scalafmt.conf on format on save"
### Describe the bug

The default formatter for scala in vscode is set to metals, but seems to ignore `scalafmt.conf` on format on save
[code]

## Test case:
- Set imports to avoid expanding

- Triggering formatting manually using palette command, works as expected
- Make a change and save, it will be formatted ignoring `scalafmt.conf` configuration

### Expected behavior

Format on save behave th

[2022-08-21 04:57] tanishiking commented on #4283
Hi @mindlid

How it will be formatted? it is like default scalafmt ignoring `scalafmt.conf` or just format doesn't work?
Can you check `editor.formatOnSaveMode` is `file` (not `modification`, Metals + scalafmt doesn't support incremental formatting).

Metals use `scalafmt` honoring `.scalafmt.conf` for file formatting (never ignore `.scalafmt.conf`), so I guess that your case happens because

-  `

[2022-08-21 05:41] mindlid commented on #4283
@tanishiking
https://user-images.githubusercontent.com/19735362/185777322-7532b540-b812-4153-8310-1ed42835c6cb.mov

[2022-08-21 05:46] tanishiking commented on #4283
Hmm, not sure what's going on, and I can't reproduce it. Is it possible to share a reproducible environment / project?

[2022-08-21 05:48] mindlid commented on #4283
just sent you invite

[2022-08-21 06:03] tanishiking commented on #4283
@mindlid Can't reproduce, can you include .vscode settings and .scalafmt.conf?

![formatonsave](https://user-images.githubusercontent.com/9353584/185777913-29c3f37c-9b22-4d9c-a7f0-21bd67bb3386.gif)

[2022-08-21 06:09] tanishiking commented on #4283
I noticed, if Metals **ignore** the `.scalafmt.conf`, scalafmt shouldn't format that way, there should be a configuration like

[code]

[2022-08-21 06:12] mindlid commented on #4283
just pushed the .scalafmt and .vscode

[2022-08-21 06:15] mindlid commented on #4283
![image](https://user-images.githubusercontent.com/19735362/185778237-541e0b2d-57bf-4a94-8963-4205dbe50c4b.png)

[2022-08-21 06:17] mindlid commented on #4283
i also opened the project with intellij, which generates some stuff let me clone again and open with vscode only

[2022-08-21 06:31] mindlid commented on #4283
just cloned, same import expand behaviour

[2022-08-21 06:36] tanishiking commented on #4283
Do you get the same behavior (inconsistent between format file from command palette vs format on save) in another, new project?
I'm still unable to reproduce it.

[2022-08-21 06:43] mindlid commented on #4283
yes, inconsistent behaviour, i don't have a clue, but i'm glad it's working for you, i'm on M1, Monterrey 12.5, until someone else can reproduce it will be an isolated bug

[2022-08-21 06:46] mindlid commented on #4283
by the way i remembered having the same bug on another m1 mac, i will test tomorrow on windows/linux

[2022-08-21 18:29] mindlid commented on #4283
@tanishiking got it working, i started to disable any interfering action from settings.json like
![image](https://user-images.githubusercontent.com/19735362/185805533-d3ec5c94-52cb-4f7b-97bf-8dd533d80f83.png)
so some other global configurations don't play well when using other languages

[2022-08-21 18:29] #4283 closed

[2022-08-22 00:02] tanishiking commented on #4283
@mindlid Good to hear you.found a solution!
organizeImport makes additional edit, so it's natural that causes different result.

[2022-08-22 08:59] tanishiking commented on #4207
Closing for https://github.com/scalameta/metals/pull/4274 :tada:

[2022-08-22 10:24] tgodzik commented on #4207
@tanishiking to we have a separate issue for the bug also reported by @ckipp01 ?

[2022-08-22 10:51] tanishiking commented on #4207
Oh, this one?

Sorry, maybe I didn't fully understand the issue.
The thing https://github.com/scalameta/metals/pull/4274 fixed was about the code action title, another things haven't fixed. Let's re-open the issue. Can you rename the title of the issue? I actually fully understand the problem 😅

[2022-08-22 11:26] tgodzik commented on #4207
I changed the name, if anyone has a better idea for the detail please rename it :sweat_smile:

[2022-08-22 15:03] tgodzik commented on #4278
Looks like an issue with ScalaCLI. This is actually a message forwarded from Bloop. Maybe running `scala-cli -v -v -v` when this happens would shed more information?

I think the dialect should be `Scala213Source3`

[2022-08-22 15:47] dos65 commented on #4278
I think I got this error - `Unexpected error when compiling project_183d125c5c: 'null'`. In my case, there is also a stacktrace from scala cli

@alexarchambault Have you seen anything like this?
[code]

[2022-08-22 15:50] alexarchambault commented on #4278
Yes, that should be fixed by https://github.com/scala-cli/bloop-core/pull/112, that the upcoming Scala CLI release will use by default.

In the mean time, the following commands should bump the (Scala CLI's own) Bloop server version:
[code]

[2022-08-22 17:39] #4232 closed

[2022-08-23 23:20] kubukoz opened #4294 ""Show SemanticDB": StackOverflowError"
### Describe the bug

In some projects, trying to show semanticdb / semanticdb detailed can result in "error: can't decompile" with a stack overflow's stack trace. The "proto" version works fine.

For example:

[code]

Might be a bug in semanticdb  or metap.

I can't provide a reproduction at this time.

### Expected behavior

The file's semanticdb is shown correctly.

### Operating system

macOS

[2022-08-23 23:21] kubukoz commented on #4278
After updating to scala-cli 0.1.12 and reverting to this version of the project, I'm (so far) unable to reproduce the issue.

I definitely see this in the output:

[code]

which makes sense with the default dialect, as I have `-Xsource:3.0` enabled and I'm using Scala 2.13.

Closing, will reopen if it happens again - thanks everyone!

[2022-08-24 02:43] tanishiking commented on #4060
Closing for https://github.com/scalameta/metals/pull/4225

[2022-08-24 02:43] #4060 closed

[2022-08-24 12:17] tgodzik commented on #4294
Thanks for reporting! Did you try bumping -Xss value for Metals server? We run semanticdb printing inside the Metals process, so this should most likely help.

Does it happen in files with complicated types or a lot of code?

[2022-08-24 12:27] dos65 commented on #4294
It might have a similar reason as in scalameta/scalameta#2509

[2022-08-24 13:15] kubukoz commented on #4294
@tgodzik semi-complicated types (some higher kinds but nothing too crazy), but not a lot of code (<100 lines). I'll try bumping stack.

[2022-08-24 14:23] tgodzik commented on #4255
Duplicate of https://github.com/scalameta/metals/issues/1809

[2022-08-24 14:23] #4255 closed

[2022-08-25 08:23] #1809 closed

[2022-08-25 13:33] PeuTit commented on #4154
Hey! I'll take this issue.

[2022-08-26 09:22] kpodsiad opened #4301 "Convert to named arguments doesn't handle backticked names"
### Describe the bug

Executing code action on
[code]
will yield

[code]

### Expected behavior

names are bacticked if necessary
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8+38-1832a3cf-SNAPSHOT

### Extra context or search terms

_No response_

[2022-08-26 12:36] #4212 closed

[2022-08-30 16:48] tgodzik commented on #4278
I can't seem to reproduce, but this looks like an issue with ScalaCLI

Does this happen every time for you with that file? Or just in that specific workspace?

[2022-08-31 00:27] kubukoz commented on #4278
It's specific to the workspace but it's not the first one I've seen it in.

[2022-09-01 07:11] keynmol opened #4325 "Scala 3 export statements Go To Definition/Hover is broken"
### Describe the bug

Say you have a Scala CLI file like this (BSP doesn't matter, I originally spotted it in SBT project way back):

[code]

When you GTD on `SymbolKind`, it takes you to `export` statement - not to definition of the trait.
When you hover on `SymbolKind` it shows `type SymbolKind`, not `trait`.

![2022-09-01 08 06 52](https://user-images.githubusercontent.com/1052965/187853935-f52

[2022-09-01 09:02] unthingable opened #4328 "[Scala3] failures to look up definitions from Java dependency"
## Problem
Definition lookup on external dependencies can suddenly stop working.

## Steps to reproduce

1. Checkout https://github.com/unthingable/monster-jam/tree/metals-definition-bug, import build
2. Navigate to https://github.com/unthingable/monster-jam/blob/e8570ac9c4268515181c15d40de2eb0579595978/src/main/scala/com/github/unthingable/MonsterJamExtension.scala#L34 (MonsterJamExtension.scala)

[2022-09-01 10:24] tgodzik commented on #4328
Thanks for reporting and the reproduction!

[2022-09-01 10:39] tgodzik commented on #4325
Thanks for the reproduction! I see great use of ScalCLI :rocket:

[2022-09-01 10:50] tgodzik commented on #4216
Great to hear! We would probably need to add additional method:

https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#workspace_didDeleteFiles

These are represented in MetalsLanguageServer as https://github.com/scalameta/metals/blob/main/metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala#L1249

We would need to add a method also to [

[2022-09-01 10:54] tanishiking commented on #4216
@PeuTit Thank you for your interest!

## some context
- Metals has a FileWatcher that observes file modification, creation, and deletion under the projects
  - [FileWatcher.scala](https://github.com/scalameta/metals/blob/c80f730d27092e6b1c51552c90bc9c7d5ec05421/metals/src/main/scala/scala/meta/internal/metals/watcher/FileWatcher.scala#L37)
- `MetalsLanguageServer` instantiate the file watcher, pas

[2022-09-01 11:00] tanishiking commented on #4216
Oh, we commented on the same timing!

Metals doesn't use LSP's file watcher because of the following reasons
https://github.com/scalameta/metals/blob/c80f730d27092e6b1c51552c90bc9c7d5ec05421/metals/src/main/scala/scala/meta/internal/metals/watcher/FileWatcher.scala#L30-L35

So, I think we won't receive those `workspace/didDeleteFiles` events from the LSP client. I believe relying on the current Fi

[2022-09-01 11:03] tgodzik commented on #4216
Isn't it a different thing though? I think the notification is send when user deletes it themselves. We do rely on `didOpen` and `didSave` notifications, which are similar to this. File watching is the one in `"workspace/didChangeWatchedFiles`, no?

[2022-09-01 11:06] tgodzik commented on #4216
We should check which target it belonged to and compile that one in that case as I explained above. Though you might be right that we only need to modify the action invoked on delete. So maybe the new LSP method is not needed.

[2022-09-01 11:25] tgodzik commented on #4278
If you compile that using CLI does it show the same error? Maybe you could compile with `-v -v -v` options to see what is happening?

[2022-09-01 13:17] dos65 commented on #4328
The issue is in qdox parser - `Transport.java` contains `void record();` line that breaks parser.

https://github.com/paul-hammant/qdox/issues/108

[2022-09-01 21:49] riiswa opened #4330 "Convention for toLsp methods"
To unify the code we can replace the occurrences of `toLSP` by `toLsp` and make sure that this is the new convention.

If this fix seems relevant to you, I'll open a PR.

[2022-09-02 06:23] ssahayam-zd opened #4406 "Synthetic information can't render Sublime links correctly"

[2022-09-02 08:31] tanishiking opened #4333 "Enable mergify against scala-steward PRs"
### Describe the bug

Originally proposed by @keynmol at scalameta discord, mergify should only merge `semver-patche`s, to avoid unintended breakages.

Does anyone mind auto-merging scala-steward PRs?

TODOs

- [ ] scala-steward to add labels
  - https://github.com/scala-steward-org/scala-steward/pull/2523
  - This change enables scala-steward to add Github labels like `semver-spec-patch`. We can

[2022-09-02 10:44] tgodzik commented on #4333
I approved mergify for metals :rocket:

[2022-09-02 10:46] tgodzik commented on #4333
Looks like the cron is actually invalid https://github.com/scalameta/metals/actions/runs/2978475788 @tanishiking

[2022-09-02 13:26] #4276 closed

[2022-09-02 15:06] tanishiking commented on #4333
https://github.com/scalameta/metals/pull/4336 Just a hunch, maybe we should use single quote instead of double quote?

[2022-09-03 05:53] kpodsiad opened #4338 "Incorrect inferred method type argument in Scala 3"
### Describe the bug

[code]
![Screenshot 2022-09-03 at 07 43 01](https://user-images.githubusercontent.com/37124721/188257601-42817a21-ea1c-4070-bef0-187c10d50d06.png)

### Expected behavior

`StateT.modify` has correct inferred type `[Id, Int]`

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8+72-6567f1a3-SNAPSHOT

### Extra context or search terms

_No r

[2022-09-03 08:15] tgodzik commented on #4333
I think it was the space, since the job stopped failing.

[2022-09-03 11:17] keynmol opened #4339 "Scala 3 incorrect return type suggestion for opaque type extensions"
### Describe the bug

Not sure if it's a Metals or Scala 3 bug, but even though the precise type of the extension method is known, it returns generic type parameter name.

![Screenshot 2022-09-03 at 12 12 02](https://user-images.githubusercontent.com/1052965/188267833-0248e852-779a-42f3-99c4-6e4488a7957d.png)

Or may be this doesn't work on a fundamental level?

Code:

[code]

### Expected behavio

[2022-09-03 18:10] tgodzik commented on #4338
Thanks for reporting, it seems in semanticdb we get:
`[13:4..13:17) => *[<?>, Int]`

Which means we need to fix it in the compiler.

[2022-09-03 18:14] tgodzik commented on #4339
Thanks for reporting! Looks like the issue related to https://github.com/lampepfl/dotty/issues/15730 and https://github.com/scalameta/metals/issues/4184

[2022-09-03 22:11] unthingable opened #4341 "Scala3: "Implement all members" quick fix does not work with anonymous trait instances"
### Describe the bug

1. ```scala
    trait Foo:
        def foo: Unit
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8

### Extra context or search terms

_No response_

[2022-09-04 05:37] tanishiking commented on #4341
Thanks for reporting @unthingable !
Actually, it is duplicated with https://github.com/scalameta/metals/issues/4232 and will be fixed in the next release https://github.com/scalameta/metals/pull/4284
Sorry for the inconvenience!

[2022-09-04 05:37] #4341 closed

[2022-09-04 05:45] tanishiking commented on #4333
You mean `* * * * 1, 5`? I'm actually have no idea why it's invalid 🤔

[2022-09-04 05:48] tanishiking commented on #4333
Ah, no we should `0 0 * * 1,5` https://crontab.guru/#0_0_*_*_1,5
`0 0 0 * 1,5` is invalid https://crontab.guru/#0_0_0_*_1,5 :bow:

[2022-09-04 11:41] robmwalsh commented on #4154
Should this be closed now?

[2022-09-04 11:43] robmwalsh commented on #4215
I'll give this one a go

[2022-09-04 11:51] ckipp01 commented on #4154
Yes, thanks for catching this @robmwalsh.

Closed via #4302

[2022-09-04 11:51] #4154 closed

[2022-09-04 12:59] tgodzik commented on #3358
I will close it for now and reopen if it is still a problem.

[2022-09-04 12:59] #3358 closed

[2022-09-04 13:02] tgodzik commented on #4215
Great to hear! Let us know if you encounter any difficulties!

[2022-09-04 13:09] ckipp01 commented on #3358
Hey, sorry totally missed the mention. Just double checked and it looks like I no longer have the issue. So either something was funky with my system before or some update fixed it. 🎉

[2022-09-04 13:10] tgodzik commented on #3358
Awesome! Thanks for confirming!

[2022-09-05 06:57] tanishiking commented on #4330
Closing for https://github.com/scalameta/metals/pull/4331

[2022-09-05 06:57] #4330 closed

[2022-09-05 08:06] tanishiking commented on #4325
Indeed Scala3 generates `all.SymbolKind#` instead of `enumerations.SymbolKind`.

[code]

[2022-09-05 08:11] keynmol commented on #4325
Ohh that's a nice view of the code!
Pardon the stupid question - but how did you get that?

[2022-09-05 08:16] tanishiking commented on #4325
It's not a stupid question!

In lampepfl/dotty repository, it provides a way to regression test for semanticdb.
We can put (basically) a self-contained Scala file in the [expect directory](https://github.com/lampepfl/dotty/tree/main/tests/semanticdb/expect) (e.g. `Vals.scala`), and we can generate `Vals.expect.scala` (something like the scala code I pasted above) by running `sbt:scala3> scala3-com

[2022-09-05 08:17] tanishiking commented on #4325
For more details: https://github.com/lampepfl/dotty/blob/fba41063b7cae5b9235ec2c5e2d92b58de776c9b/docs/_docs/contributing/testing.md#semanticdb-tests

[2022-09-05 09:41] tanishiking commented on #4325
I'm wondering if we should see this behavior as "broken" 🤔

- SemanticDB points to the right place
  - In the above example, the SemanticDB symbol for `new SymbolKind` points to `all.enumeration.*`, which is semantically correct
  - Because the export clause seems like a syntax sugar that expands to export aliases https://dotty.epfl.ch/docs/reference/other-new-features/export.html
  - Therefore, i

[2022-09-05 12:42] pavelfatin commented on #4325
Thought on the topic of aliases / exports in the IntelliJ Scala plugin:
* https://youtrack.jetbrains.com/issue/SCL-19928/Heuristics-for-transparent-term-aliases - term aliases
* https://contributors.scala-lang.org/t/transparent-term-aliases/5553
* https://youtrack.jetbrains.com/issue/SCL-19928/Heuristics-for-transparent-term-aliases#focus=Comments-27-5777615.0-0 - exports, "a dual of import"
* htt

[2022-09-06 05:45] tanishiking commented on #4338
Probably related to https://github.com/scalameta/metals/issues/3935
I'll take a look :eyes:

[2022-09-06 07:08] tanishiking commented on #3935
I'm not sure how it was fixed, but it looks like it's fixed in scala 3.2.0 :tada:

<img width="1149" alt="Screen Shot 2022-09-06 at 16 04 35" src="https://user-images.githubusercontent.com/9353584/188568856-d9b7083c-5e6a-4d3b-960a-a2cbbba9ffb5.png">

[code]

[2022-09-06 07:24] tgodzik commented on #3935
That's awesome! I can confirm that it works with the example. We should probably add a test case to close this.

[2022-09-06 10:06] tanishiking commented on #4338
Looks like this is caused by the lack of `HKTypeLambda` support in SemanticDB for Scala3, maybe it's time to working on it 👍

[2022-09-06 10:25] unthingable opened #4348 "Scala3: unnecessary quotes in autogenerated imports"
### Describe the bug

When autocompleting a symbol generates an import containing a keyword, the keyword is wrapped in quotes.

Example:

[code]

### Expected behavior

[code]

At least with `extention` the quotes are unnecessary.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.18

### Extra context or search terms

_No response_

[2022-09-06 10:35] #3950 closed

[2022-09-06 10:39] tgodzik commented on #4348
Thanks for reporting! We should be able to not backtick the `extension` keyword in imports, that's a safe place for the soft keyword.

[2022-09-06 12:02] Arthurm1 opened #4350 "Java error not shown"
### Describe the bug

Create a java file with the following...

[code]
this compiles fine and if errors are introduced then they are reported on the VSCode Problems page and highlighted in red.

Now change `bar` to...
[code]

Now there are `java tokenisation` errors in the logs because the `String` is invalid which is fine but there are no errors on the Problems page and nothing highlighted in red

[2022-09-06 12:04] tgodzik commented on #4350
Thanks for reporting, this might be related to tokenization that we do in Metals :thinking: It's needed to calculate the current position for the diagnostic.

[2022-09-06 12:05] tgodzik commented on #4294
Did it help?

[2022-09-06 12:07] tgodzik commented on #4242
Looks like the issue is not on the Metals side, but it's a repo sync issue as suggested by @dos65

[2022-09-06 12:07] #4242 closed

[2022-09-06 12:08] tgodzik commented on #4226
I think the issue might have been a race condition. I moved the notification elsewhere, so this should not show up again.

[2022-09-06 12:08] #4226 closed

[2022-09-06 17:05] keynmol opened #4352 "Scala 3 match completion works incorrectly for enums with parameters"
_I just want to say how excited I am for this to land in future metals release_

### Describe the bug

Reproduction is very simple, any enum will do:

![2022-09-06 16 59 03](https://user-images.githubusercontent.com/1052965/188696771-72b0fe5c-b845-497b-a035-f647dbc04fb3.gif)

Notice how `Spoon` is generated without parameters

### Expected behavior

A match is generated correctly, like in Scala 2

[2022-09-06 17:14] lmduc opened #4357 "Cannot go to implementations of classes in external packages"
**Describe the bug**

In a file of my project, I import a class from an external package by

[code]

The package is hosted in a custom host and I need to connect to a VPN to download it. I can go to the implementations of `AmazonS3Client`, which looks like

[code]

Then I want to go to the implementations of `AmazonS3` but it shows errors

[code]

In my local, the path of the file is

[code]

**Ex

[2022-09-06 17:43] tanishiking commented on #4352
Thanks for reporting! Could you take a look? @jkciesluk
(btw I'm also really excited that this feature will be available in the next Metals release :tada:)

[2022-09-06 17:49] jkciesluk commented on #4352
Thanks for reporting! This pr should fix it https://github.com/scalameta/metals/pull/4354

[2022-09-06 18:42] #4352 closed

[2022-09-06 19:24] Swoorup opened #4355 "Metals Crashes when using class exports in extensions"
### Describe the bug

Metals appears to crash with the following stacktrace for the following code. I haven't tried to reproduce in a small case.

[code]

[code]

### Expected behavior

Works and compiles fine

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8+81-94ced16c-SNAPSHOT

### Extra context or search terms

_No response_

[2022-09-07 08:45] Swoorup commented on #4355
Minimized Repro:

`extexport.worksheet.sc`

[code]

[2022-09-07 10:27] tgodzik commented on #4357
Thanks for reporting! I wonder if it's an issue with path encoding, I will need to check if it works locally.

[2022-09-08 10:08] tanishiking opened #4358 "[Scala3] Refactor type completions to provide both type symbol and object"
## TODOs
- [ ] Show both `List` and `List[$0]` as completions
- [ ] Prioritize `List[$0]` in the place where users should provide type parameters

### Describe the bug

Currently, type completion (in Scala3) filters out "non-compilable completions"

For example, for `val x: scala.IndexedSe@@`, Scala3 complete `IndexedSeq[$0]` (for `type IndexedSeq[T]`), but doesn't return `IndexedSeq` (for `object

[2022-09-08 10:11] tanishiking commented on #4358
Also, I realized in Scala3, we filter out completions like `ListBuffer[A](elems: A*): CC[A]` are filtered based on completion positions.
However, I don't think they're never useful, and maybe we can filter out them based on symbols.

[2022-09-08 10:14] tanishiking commented on #4112
Closing for Scala 3.2.0 is officially released :tada:

[2022-09-08 10:14] #4112 closed

[2022-09-08 12:02] tanishiking commented on #4358
kinda related https://github.com/scalameta/metals/issues/4250

[2022-09-08 14:19] tgodzik commented on #4325
I think it should be fine to jump to the export clause if it's more complex, but it would be cool to jump to the original if the export is for example a wildcard :thinking:

100% agree, this could be a separate issue.

[2022-09-08 14:23] Swoorup commented on #4325
I normally have a single file called `syntax.scala` where multiple symbols from various file for that project are exported. Would be cool if we could jump right to the source in case of `*` and `given`s

[2022-09-08 15:28] kubukoz commented on #4294
Not really - I'm trying with these flags

[code]

my default was 10m for Xss. Bumping to 100m doesn't seem to help, and the flags seem to be used.

[2022-09-08 15:29] kubukoz commented on #4294
Bumped stack to 1g, now it takes more time (~10s) but it still SOOs.

[2022-09-08 15:32] tgodzik commented on #4294
@kubukoz that seems like a cycle then :thinking:  Could you post the full stacktrace (in a file if possible?)

[2022-09-08 15:34] kubukoz commented on #4278
I don't see any issues when using the CLI.

[2022-09-08 15:36] kubukoz commented on #4294
Sure - https://gist.github.com/kubukoz/2172c9b3a9a8aa76918e3f5bda98da1b - that's the one for Xss100m.

[2022-09-08 15:50] kubukoz commented on #4294
OK, managed to get you a full repro - https://github.com/kubukoz/demos/tree/metals-semanticdb-soo

Includes a bunch of generated code which affects this. The file that has issues with SemanticDB is `ForceActivate.scala`.

[2022-09-08 15:57] tgodzik commented on #4294
Thanks!

[2022-09-08 16:11] tgodzik commented on #4294
Looks like the issue is somewhere here:

https://github.com/scalameta/scalameta/blob/772619fd388c0ce5255e59bcc7f46f0563c53e47/semanticdb/metap/src/main/scala/scala/meta/internal/metap/SymbolInformationPrinter.scala#L222

Somehow infos for type parameters are the same ones as the ones being printed? :fearful:

[2022-09-08 18:16] jkciesluk opened #4360 "Extract method bug for inner methods"
### Describe the bug

While running code action here

<img width="514" alt="image" src="https://user-images.githubusercontent.com/72950514/189195196-cdf2a79a-cc25-4e8c-91bb-f27da954cd8b.png">

 It doesn't extract methods as parameters, which results in an error

<img width="355" alt="image" src="https://user-images.githubusercontent.com/72950514/189195313-3d7abb02-23bb-4bdd-97d4-1c337945efc1.png">

[2022-09-08 23:33] SethTisue commented on #2287
Must I modify my `build.sbt` to have the `scalaVersion` I want to use in Metals, or can I switch on the fly somehow...? (I'm using sbt as my build server.)

[2022-09-08 23:48] SethTisue commented on #2287
I guess I can go to the Metals tab, click on "Terminal", then run `sbt -client ++3.1.3`, then click "Connect to build server"; that causes the Scala version shown in the Metals Doctor to update.

If there's a better way, lmk.

[2022-09-09 04:22] tanishiking commented on #4333
Hmm, auto-approve github action fails to approve PR created by scalameta-bot labeled with `semver-spec-batch`...

https://github.com/scalameta/metals/pull/4364
https://github.com/scalameta/metals/runs/8261788560?check_suite_focus=true

with this github action https://github.com/scalameta/metals/blob/46cf3548176501e1d5b0880f6d4de8d165f76630/.github/workflows/auto-approve.yml

It looks like scala-st

[2022-09-09 04:25] tanishiking commented on #4333
Maybe we should run the workflow on label event instead (by `github.actor == scalameta-bot`

[2022-09-09 07:24] kpodsiad opened #4366 "Cannot go to dependecy for `summonFrom`"
### Describe the bug

Execute `Go to definition` on
[code]
it doesn't work. However, `summon@@From()` works but argument of `summonFrom` must be pattern matching closure so one has to always use `{}` brackets.

### Expected behavior

Go to definition works

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.8

### Extra context or search terms

scala 3, go to

[2022-09-09 08:42] jkciesluk opened #4367 "Case completions with keyword in scala3"
### Describe the bug

When triggering completions in
[code]
It doesn't see `new` (it doesn't appear on path).
Tree looks like for
[code]
i.e.
[code]
This bug happens for other keywords too. Because of it metals sends all completions, becuase they are not filtered out by fuzzy match

### Expected behavior

`new` is correctly seen as an `Ident` or `Bind`
In scala 2 we get
[code]

### Operating syste

[2022-09-09 09:26] jkciesluk opened #4368 "Inconsistent case completions with conflicts"
### Describe the bug

Case completions in scala 3 don't add prefix when conflict with another symbol occurs. Triggering completions in
[code]
results in
[code]

### Expected behavior

In scala 2 we get
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.8

### Extra context or search terms

_No response_

[2022-09-10 15:34] PeuTit commented on #4216
Hey thanks for the insight on the issue.
If I understood correctly, I need to update the branch in the if statement to re-run the compilation on file deletion.

https://github.com/scalameta/metals/blob/c80f730d27092e6b1c51552c90bc9c7d5ec05421/metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala#L1412

I need to call the `onChange` method to re-run the compilation.

https://g

[2022-09-10 17:16] tanishiking commented on #4216
@PeuTit Yes, that's perfectly what I was thinking about :100:
As @tgodzik mentioned, there might be a problem (I hope there's no problem🤞), but let's see ...

[2022-09-11 16:09] kpodsiad commented on #4366
`MetalsInteractive.enclosingSymbols` is called with wrong tree - https://github.com/scalameta/metals/blob/4f7a7106d4ab0868e6e5bd440aff93e83d8d1f66/mtags/src/main/scala-3/scala/meta/internal/pc/PcDefinitionProvider.scala#L62 so problem is with https://github.com/scalameta/metals/blob/4f7a7106d4ab0868e6e5bd440aff93e83d8d1f66/mtags/src/main/scala-3/scala/meta/internal/pc/PcDefinitionProvider.scala#L4

[2022-09-12 08:29] unthingable opened #4372 "Scala3: inferred type parameters shown twice"
### Describe the bug

![image](https://user-images.githubusercontent.com/925755/189605961-8242bbf5-6b82-4775-bf2f-5c6d4c16451a.png)

Even though a parameter is explicitly specified, another `[A]` is shown.

A more complex example:

[code]
![image](https://user-images.githubusercontent.com/925755/189607016-eb04c720-8353-4298-9f1f-1d4b9191b90d.png)

Vector type is displayed correctly, but `new Slide

[2022-09-12 09:25] tanishiking commented on #4372
@unthingable Thank you for reporting! Indeed it (after `extends C1[A]`) shouldn't be shown.

[2022-09-12 13:36] Quafadas opened #4374 "Env variables not propogated to tests"
### Describe the bug

After some chatter with @kpodsiad on discord;

I had the hope that this launch file would start tests, with access to environment variables defined in the ".env-test" file.
[code]
Which I do not believe it does.

It is not clear, that this is a "bug" per se, as it is likely expected behaviour at the moment.

It was suggested to raise this as an issue though.

### Expected beh

[2022-09-12 19:44] dos65 commented on #4366
The issue is that `summonFrom` doesn't exist in after typer.
It's transformed into `InlineMatch(EmptyTree, ...)`. We can match it back into `summonFrom` but we need to wait lampepfl/dotty#16025. Right now the position isn't correct and `Interactive.pathTo` returns a set of different results instead of  `InlineMatch :: _`

[2022-09-12 19:58] tgodzik commented on #2287
For sbt that's probably the best way, we would need an additional endpoint for BSP to change it on the fly :thinking:

[2022-09-13 06:14] tanishiking commented on #4338
Realized synthetics for inferred type parameters have disappeared in 3.2.0 :cry:
https://github.com/lampepfl/dotty/pull/15877

- https://github.com/lampepfl/dotty/commit/e835dc0a6fb3de39ea4f072fda51207652e0048b
- https://github.com/lampepfl/dotty/commit/097b179755fd664f29243308dc5691f48f845633
- https://github.com/lampepfl/dotty/commit/097b179755fd664f29243308dc5691f48f845633

[2022-09-13 06:32] kpodsiad commented on #4338
What does that mean @tanishiking ?

[2022-09-13 06:47] tanishiking commented on #4338
inferred type decoration for `StateT.modify` won't be available with the latest version of Scala.
(same applies to all the type apply like `List(1.2.3)` -> `List[Int](1.2.3)`).

<img width="554" alt="Screen Shot 2022-09-13 at 15 46 10" src="https://user-images.githubusercontent.com/9353584/189829647-1e7ab30e-96f9-4d5f-bcf1-ef8f24bf2c0a.png">

It's regression, I'll take a look before working on lam

[2022-09-13 07:08] kpodsiad commented on #4338
It was a big PR, no one can review 8k lines of code 😞 Thanks @tanishiking

[2022-09-13 07:23] tgodzik commented on #4338
Thanks for finding this @tanishiking ! I asked Martin about it in https://github.com/lampepfl/dotty/pull/15877/files#r969241924 It's not cool that it contained so visible regressions and yet it was just merged.

[2022-09-13 07:33] #4165 closed

[2022-09-13 07:47] tanishiking commented on #4338
Thanks, @tgodzik! Yeah, it (ignoring the regression test) shouldn't happen, but for this case, it might be easier to fix on top of the change made by Martin compared to revert it.

[2022-09-13 08:03] tgodzik commented on #4338
Sure, I get that, but I think next time they should have us sign off on such changes.

[2022-09-13 10:40] tgodzik commented on #4357
Looks like this is an issue with encoding of `:42042`, we should probably encode `:` in https://github.com/scalameta/metals/blob/main/mtags/src/main/scala-2/scala/meta/internal/metals/URIEncoderDecoder.scala

Though, we might want to do that only in specific cases.

[2022-09-13 10:41] tgodzik commented on #4357
We would need to encode any `:` but the first.

[2022-09-13 11:52] tanishiking commented on #4338
Submit a PR https://github.com/lampepfl/dotty/pull/16031 to fix the regression

[2022-09-13 11:53] tanishiking commented on #4372
https://github.com/lampepfl/dotty/pull/16031 this PR should fix the problem :)

[2022-09-13 13:51] PeuTit commented on #4216
Hi again!

I tried to do something like this to mimic the behaviour of the createOrModify branch:

[code]

But the issue is that the event that we get hold the path to the deleted file. This means that we cannot pass it to the `onChange` function as it will throw an error.

What path do I have access to at this point? Can I get a list of all files of the project? Or even better, all the file that

[2022-09-13 14:11] tanishiking commented on #4216
@PeuTit Thank you for taking a look at this!
I think re-using `onChange` doesn't work because, first of all, we call `FileIO.slurp` but I guess it will throw an exception because the target file is already deleted (btw, what error did you get?)

https://github.com/scalameta/metals/blob/f7e47862deb39209d5fd24f619e706af081adec9/metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.sc

[2022-09-13 15:08] PeuTit commented on #4216
Thanks for the insight, I appreciate it!

The exception I was getting was: `Exception in thread "metals-watch-callback-thread" java.nio.file.NoSuchFileException: path-of-file`.

[2022-09-14 01:31] tim-2022 opened #4378 "VS Code takes forever to Start Metals on Mac"
### Describe the bug

This sounds similar to https://github.com/scalameta/metals-vscode/issues/821 and https://github.com/scalameta/metals/issues/3508, but I don't think it's the same root cause, since those were solved by explicitly setting Metal's Java Home -- and that doesn't seem to do anything here.

I'm unable to use metals in VS Code; starting it (every time!) triggers the same JAR download

[2022-09-14 02:23] tanishiking commented on #4378
That sounds like a network issue as the log says `Downloading...` but never says `Downloaded`, are you running your computer behind a proxy?, or usually use some custom repositories?

What happens if you try to download Metals from coursier CLI?
`coursier bootstrap org.scalameta:metals_2.13:0.11.8+96-734fbf48-SNAPSHOT -o metals -f
` (with the same java) ?

[2022-09-14 02:26] tanishiking commented on #4372
`3.2.1-RC2` (or `3.2.1`) should fix the issue, let's close after confirming this is fixed in the next release version.

[2022-09-14 02:28] tanishiking commented on #4246
this should be fixed in the next release of Scala (3.2.1-RC2 or 3.2.1), wait for the release before closing :eyes:

[2022-09-14 02:37] tim-2022 commented on #4378
After more experimentation, seems that the repository was the problem.  You can close this, and thank you for the hint!

[2022-09-14 02:41] tanishiking commented on #4378
I'm glad that you solved the problem!

[2022-09-14 02:41] #4378 closed

[2022-09-14 08:36] guofengzh opened #4379 "Type alias definition using 'with' keyword show error message, but can be run successfully."
### Describe the bug

`type A = AnyRef with
  type T>: Null
`
The above is accepted by Scala 3.2.0/3.1.3 REPL:
`scala> type A = AnyRef with
     |   type T>: Null
     |
// defined alias type A = AnyRef{T >: Null}
`

But in VS Code, there is a red indicator under the 'with' keyword, and the problem panel display "identifier expected but indent found scalameta". Even so, I can successfully launch t

[2022-09-14 14:11] dos65 commented on #4328
Fixed by #4344

[2022-09-14 14:11] #4328 closed

[2022-09-14 15:22] tanishiking commented on #4216
closing for https://github.com/scalameta/metals/pull/4377

[2022-09-14 15:22] #4216 closed

[2022-09-16 14:12] lmduc commented on #4357
In the mean time, one of my colleagues suggested me to use the symlink to temporarily fix the issue:
[code]

[2022-09-16 14:18] tgodzik commented on #4357
Did that help?

[2022-09-17 10:11] nkgm commented on #1381
Would it be too much to ask to extend the scope of this to all type members (defs & vals) the way IntelliJ does?

[2022-09-17 16:46] olafurpg commented on #1381
It boils down to the same problem, if you solve it for type aliases you also solve it for defs and refs.

[2022-09-18 09:21] nkgm commented on #1381
Just realised that's exactly what kubukoz suggested in his previous message. Really looking forward to this feature 🤞

[2022-09-18 21:30] lmduc commented on #4357
Yes, it did.

[2022-09-19 12:37] #4374 closed

[2022-09-19 17:24] kubukoz opened #4411 ""implement method" renders singleton types wrong between modules"
### Describe the bug

When implementing an abstract method (through completions or a code action), you may end up with an incorrectly rendered singleton type in the code (which doesn't parse).

Notably, I can't reproduce this in a single file - a separate file or module is required, it seems. This applies to Scala 2 only. Both sbt and scala-cli produce the same results.

To reproduce:

1. Create f

[2022-09-22 10:15] #4044 closed

[2022-09-22 13:56] tanishiking opened #4419 "Metals shouldn't offer `extension` keyword completions in an inappropriate positions"
### Describe the bug

When we type (where `@@` is the cursor position)

[code]

we'll have the completions for the `extension` keyword.

### Expected behavior

We should receive `extension` keyword completion only when it's on top-level

(we should remove `extension` from those tests)

https://github.com/tanishiking/metals/blob/5b3e8da80f8c917ba7bdd927aae339a33f400a89/tests/cross/src/test/scala/te

[2022-09-22 14:31] #4420 closed

[2022-09-22 18:18] ayoub-benali commented on #4406
A potential complement, this might be useful for the server to know how the format the markdown:
[code]
It is part of the initialization request

[2022-09-22 19:31] kpodsiad opened #4422 "Named arguments code action doesn't work when argument is a block expression"
### Describe the bug

Execute `convert to named arguments` code action on
[code]
only `n` is being named, `fn` is not inserted. After removing `{ }` code action works.

### Expected behavior

it should work also work block expressions

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

0.11.8+157-e74c0082-SNAPSHOT

### Extra context or search terms

named arguments

[2022-09-22 20:36] kpodsiad opened #4423 "Find references finds invalid references of symbol"
Try to find all references to the `FooFailure`
[code]

To my surprise it finds `FooFailure` and `$msg`. I looked at semanticDB using sing `Metals: show semanticDB detailed` and it turns out that there are two occurrences which match FooFailure:
[3:13..3:23) <= _empty_/Main.FooFailure#
[4:32..4:35) => _empty_/Main.FooFailure# - this matches exactly `msg` in `s"Error: $msg"`

It's an issue with sema

[2022-09-23 08:27] keynmol opened #4430 "Scala 2/3: exhaustive match completion pulls in private cases"
### Describe the bug

![2022-09-23 09 24 47](https://user-images.githubusercontent.com/1052965/191920536-bd20f0b2-58c0-4c3c-95fc-683a87dcb0d2.gif)

As you can see private classes from the implementation are pulled in.

### Expected behavior

I was going to say "do what Scala 2 does" but it seems like it also pulls in private classes, but differently:

[code]

### Operating system

_No response_

#

[2022-09-23 08:36] jkciesluk commented on #4422
I see that this codeaction doesn't accept block arguments explicitly
https://github.com/scalameta/metals/blob/57ee5a460f1fd7ae9fe4c5bfb61424d380265e55/metals/src/main/scala/scala/meta/internal/metals/codeactions/ConvertToNamedArguments.scala#L64-L65

But if we pass also the block argument index, we get
`foo(n = 5, { fn = str => 5 })`

I will look into it

[2022-09-23 08:45] jkciesluk commented on #4422
I think this codeaction was not accepting block arguments because for presentation compiler, the tree for `foo(5, { str => 5 })` and `foo(5,   str => 5  )` looks the same, so also the position of `str => 5` is the same, so the `fn = ` is inserted in the wrong place.

[2022-09-23 09:46] kpodsiad commented on #4422
Thanks for explanation, fell free to close it or to hack workaround. I'm fine with either of these ;)

[2022-09-23 14:57] tanishiking opened #4434 "Design doc for Language support for VSCode notebook"
See more discussions from https://github.com/scalameta/metals/pull/4309

Language support for VSCode notebook

# Overview

We can run Scala programs on Jupyter Notebooks using a Jupyter Kernel for Scala called [Almond](https://almond.sh/).

Currently, when using notebook cells in VSCode, Metals cannot provide language support such as code completion (by Metals) and code navigations.

This design d

[2022-09-23 14:59] tanishiking commented on #4434
Closing, this is just for saving / indexing this doc, for more discussion, it should go https://github.com/scalameta/metals-feature-requests/issues/236

[2022-09-23 14:59] #4434 closed

[2022-09-23 16:21] #3801 closed

[2022-09-23 16:21] #3754 closed

[2022-09-23 17:05] kpodsiad commented on #3556
closed via #4432

[2022-09-23 17:05] #3556 closed

[2022-09-26 10:19] #4430 closed

[2022-09-26 12:32] #2547 closed

[2022-09-26 18:12] kpodsiad opened #4445 "Debug shouldn't be allowed for build server which don't implement debug."
Steps to reproduce with vscode:

1. Open a mill project (could be via Metals: New scala project)
2. run `./mill mill.bsp.BSP/install`
3. execute `switch build server`
4. execute `metals.run-current-file`
5. timeout exception after 60s

Debugging shouldn't be allowed + user should be informed that build server doesn't support debugging.

Can be fixed by checking if `buildTarget` has debug capabilit

[2022-09-27 00:22] matthughes opened #4446 "Scala 3 code without case statement fails to reveal type information"
### Describe the bug

In Scala 2, if you had an anonymous function that took more than one argument, you needed to preface the argument tuple with a case keyword:

[code]
In Scala 3, the same code can omit the case keyword:
[code]

However, with the latest Metals (0.11.8+174-c286a1c3-SNAPSHOT), go to definition and reveal type info (hover) do not work when operating on the `x` usage on the `printl

[2022-09-27 00:23] matthughes commented on #4446
This is probably a scalameta issue.

[2022-09-27 07:17] #4411 closed

[2022-09-27 08:51] tgodzik commented on #4446
Thanks for reporting! This looks like a regression with Scala 3.2.0, we need to fix it in the compiler.

[2022-09-27 09:30] tgodzik commented on #4446
Looks like Scala 3.2.0 started marking the `x` as synthetic. Which doesn't seem to be true.

[2022-09-27 09:51] tgodzik commented on #4446
For now I opened https://github.com/lampepfl/dotty/issues/16110

Not sure how to actually work around it currently, since we try not to show synthetic symbols or hover when not on name.

[2022-09-27 13:41] tanishiking opened #4447 "Import Scala script as Scala Cli script breaks the compilation (in Metals) of the files in the same directory"
### Describe the bug

https://github.com/tanishiking/metals-scalacli-issue

[code]

[code]

- confirm `sbt compile` compiles `main.scala` without any compile errors
- open `foo.sc`
- import `foo.sc` as a scala-cli script
  - ![Screen Shot 2022-09-27 at 22 13 21](https://user-images.githubusercontent.com/9353584/192538619-ce1ab02a-829a-4102-944e-4df064b6a869.png)
- we get wrong diagnostics in `main

[2022-09-28 02:04] tanishiking commented on #4447
It looks like the root cause of this issue seems is, `.bloop/project_xxx.json` contains `src/main/scala/main.scala` in `sources`.

[code]

This causes two issues

### (1) bloop notifies `build/publishDiagnostics` for `main.scala` based on ScalaCLI build target

[code]

`buildTarget#uri` shouldn't be ScalaCLI generated target.

### (2) Metals sees `main.scala` belongs to the ScalaCLI build target

[2022-09-28 06:53] tanishiking commented on #4447
~I'm wondering maybe if we can exclude non-scala-script (main.scala) from sources in .bloop/project_xxx.json on ScalaCLI BSP implementation~ Hmm, if we remove `main.scala` here, it breaks the BSP feature of ScalaCLI. it shouldn't be the case.

[2022-09-28 08:44] tanishiking commented on #4447
Talked with @dos65 and he mentioned he has some ideas to fix it :tada: assigning @dos65

[2022-09-28 09:18] spangaer opened #4449 "SemanticDB "generation" broken for Scala 2.13.9"
### Describe the bug

Metals 0.11.8
Bloop (SBT plugin) 1.5.3

Scala 2.13.8
![image](https://user-images.githubusercontent.com/677147/192740559-ea291173-1f3f-4523-9b1c-84338f40995f.png)

Scala 2.13.9
![image](https://user-images.githubusercontent.com/677147/192740618-2c7a8cd8-66d6-4533-a653-1272bdf39c8d.png)

I tried once with Bloop sbt plugin v1.5.3-42-75a0d6ee too, but no difference.

### Expecte

[2022-09-28 13:30] tgodzik commented on #4449
Thanks for reporting! This should actually work ok, does it happen still after restarting the build server?

[2022-09-28 13:31] tgodzik commented on #4449
Do you seen anything in `metals.log` pointing to problems downloading the new semanticdb plugin?

[2022-09-28 14:37] spangaer commented on #4449
https://repo1.maven.org/maven2/org/scalameta/semanticdb-scalac_2.13.9/4.5.11/semanticdb-scalac_2.13.9-4.5.11.jar

Downloads just fine with curl

[2022-09-28 14:53] tanishiking commented on #4449
Hmm, I also confirmed semanticdb generation failed for 2.13.9 with Metals server 0.11.8 🤔
`0.11.8+181-d8bafc76-SNAPSHOT` works fine FYI @spangaer

[2022-09-28 14:55] armanbilge commented on #4449
Not entirely sure if it's related, but I've been having problems with sbt-metals. AFAICT my issue is because this setting is evaluating to `false`.
https://github.com/scalameta/metals/blob/d8bafc765a58e7b005c4a843444e7bd5fac101b8/sbt-metals/src/main/scala/scala/meta/metals/MetalsPlugin.scala#L91-L95

Almost definitely because `supportedScala2Versions` does not include `2.13.9` for sbt-metals `0.11

[2022-09-28 15:09] tanishiking commented on #4449
Looks like Metals can't enable semanticdb plugin until the next release. For the time being please use the latest snapshot versions :bow:

Maybe we should remove the check @armanbilge mentioned so that we can use all Metals features without waiting for the next release.
I guess this check is added when the semanticdb is not yet widely supported in scala versions, but now recent Scala versions supp

[2022-09-28 15:20] tanishiking commented on #4449
Thank you for reporting @spangaer and thanks for your pointer @armanbilge !

[2022-09-28 15:34] tgodzik commented on #4449
We should actually, since we now backpublish it should be safe do to so. Could you raise a PR for that @tanishiking ?

0.11.8+181-d8bafc76-SNAPSHOT works fine for me FYI @spangaer

This seems to be another problem actually, I will look into that.

[2022-09-28 15:44] tgodzik commented on #4449
We need to change that in Bloop it seems :/

[2022-09-29 01:13] mbesida commented on #2376
Have the same issues, putput log in vs code prints that compilation has finished, but on some files navigation simply doesn't work with exact same problem

[2022-09-29 05:05] tanishiking commented on #2376
if someone uses Scala 2.13.9, see https://github.com/scalameta/metals/issues/4449
workaround: revert to 2.13.8 / use the latest SNAPSHOT of Metals / wait for the next Metals release (it's around the corner!)

[2022-09-29 06:52] tanishiking commented on #4194
Now Scala 3.2.0 is released https://github.com/lampepfl/dotty/pull/15536
closing, if there're remained issues related to this, feel free to open a new one :)

[2022-09-29 06:52] #4194 closed

[2022-09-29 07:05] tanishiking commented on #2376
Also, when you hit the same issue, please attach your

- **metals (server) version**
- **scala version**
- **what kind of symbol you tried to navigate**

That information is really helpful for fixing this issue.

**what kind of symbol you tried to navigate** is important, for example, code navigation doesn't work for `mutable` in

[code]

(it might navigate to the package object if exists. maybe w

[2022-09-29 08:13] tgodzik commented on #4449
@spangaer if you update Bloop version in Metals to `1.5.3-44-03658369` it should work.

[2022-09-29 09:41] #4449 closed

[2022-09-30 10:53] unthingable opened #4467 "var assignments ignored when renaming"
### Describe the bug

Related: #4093

When invoking "Rename symbol" on a `var`, LHS occurrences in assignments are ignored. Additionally, attempting to rename such occurrence has no effect.

[code]

After renaming `v5` to `v6` (using the occurrence on the first line):

[code]

### Expected behavior

[code]

### Operating system

_No response_

### Editor/Extension

VS Code

### Version of Metals

[2022-09-30 12:38] tgodzik commented on #4467
Thanks for reporting! I realized we don't actually properly test renaming variables. I created a PR with a fix, we should get it into the upcoming release.

[2022-09-30 13:44] #4467 closed

[2022-09-30 21:04] unthingable commented on #4467
I have to say, using Metals and the attention to bug reports has been the best part of Scala development so far :-D

[2022-10-01 13:56] kubukoz commented on #4301
I'd like to take this one.

[2022-10-03 09:17] riiswa opened #4473 "Get signature from presentation compiler"
It will be useful to have a method from the presentation compiler to get the signature of a member (given his position). The code for this method can be extracted from  `HoverProvider`, and it will be used in https://github.com/scalameta/metals/blob/main/metals/src/main/scala/scala/meta/internal/metals/callHierarchy/CallHierarchyItemBuilder.scala to replace the `getSignatureFromHover` method.

Rel

[2022-10-03 09:21] tgodzik commented on #4473
It can also be just the hover with an additional flag not to give expression type I think. This would just require manipulating a couple of boolean values.

[2022-10-03 10:52] kpodsiad opened #4474 "Incosistent in showing inferred type parameters for type parameters"
Given following snippet (scala version will change later)
[code]
for Scala 2.13.8 Metals don't show inferred type of type parameter `A` which is Int
<img width="439" alt="Screenshot 2022-10-03 at 12 47 32" src="https://user-images.githubusercontent.com/37124721/193559844-9d273bf8-bb29-499a-a61f-77a44a8bbbdc.png">

whereas for 3.2.0 inferred type is showed.
<img width="450" alt="Screenshot 2022-10-

[2022-10-03 13:37] #4301 closed

[2022-10-04 08:26] kpodsiad commented on #4474
I'd like to fix this one, could you guide me a bit what do I need to do? I'm guessing this need fix in https://github.com/scalameta/scalameta/tree/main/semanticdb?
cc: @tanishiking

[2022-10-04 19:05] carlosedp opened #4481 "Folders with mixed Scala version (2.13 / 3.2) scripts consider the whole folder as Scala 2.13 project"
### Describe the bug

I have a folder with multiple Scala utility scripts (`.sc` files).

I use `//> using scala "2.13"` / `//> using scala "3"` on each script but when opening VSCode / Metals, the whole folder (project) is considered a 2.13 project.

![image](https://user-images.githubusercontent.com/20382/193904326-ad615f59-4cc4-4258-8b26-46e4ea90a4a9.png)

### Expected behavior

Detect each fil

[2022-10-04 19:19] carlosedp opened #4482 "Opening a Scala script using Scala 3.nightly and FewerBraces, FB is not detected"
### Describe the bug

I have a scala-cli script using SIP-44 (FewerBraces) and use the `scala 3.nightly` directive.

While opening this script on VSCode/Metals, it showing the popup and clicking "Scala CLI", FewerBraces is not detected and shows error on it's syntax.

If I run `scala-cli setup-ide --scala 3.nightly .` before opening VSCode, the script is detected successfully.

[code]
![image](htt

[2022-10-04 19:37] carlosedp commented on #4481
Samples:

[code]

![image](https://user-images.githubusercontent.com/20382/193909958-e38bcd30-5fc5-40b3-a59e-ba6b7e1a7fe6.png)

[2022-10-05 11:57] tgodzik commented on #4482
Thanks for reporting! If you change the file in any way does the error disappear? I think it might be a stale error from the parser.

[2022-10-05 16:58] carlosedp commented on #4482
Yes, it goes away! Sorry I didn't do a simple test like this before.

[2022-10-05 17:16] tgodzik commented on #4482
No worries, I just wanted to confirm. :+1:

[2022-10-05 17:50] kubukoz opened #4484 ""go to definition" on an apply method call should show `apply` as one of the definitions"
### Describe the bug

In an "implicit" call to an apply method, if the method isn't synthetic, it should be shown as one of the definitions.
Currently "go to definition" moves you to the companion object instead of the actual method.

To reproduce:

1. Create a Scala file with

[code]

2. Go to definition on the call to `A`  inside `object B`
3. Cursor is now at `object A<here>`

### Expected beha

[2022-10-05 18:51] tgodzik commented on #4481
Thanks for reporting! By default we try to include all the files within a directory together in order to allow you to import things between them.

There is a couple of options available to fix your current issue:
- always treat scripts as standalone (no importing from other files)
- try to check other files for the using directives, if they are in multiple files then just import the script
- there

[2022-10-05 18:55] tgodzik commented on #4484
Thanks for reporting! This looks related to https://github.com/scalameta/metals/issues/4255 and probably can be fixed in a similar manner.

[2022-10-05 19:22] kubukoz commented on #4484
Oh, maybe it's already fixed then. Let me try a snapshot...

[2022-10-05 19:27] kubukoz commented on #4484
It works in `0.11.8+203-5b1c34ca-SNAPSHOT`:

<img width="993" alt="image" src="https://user-images.githubusercontent.com/894884/194145446-c6a224d5-0894-426e-b692-2387b7adb366.png">

Both `apply` and the object it's being called on are shown (even if `apply` comes from a third-party trait) - I'm satisfied :)

[2022-10-05 19:28] kubukoz commented on #4484
thanks @tgodzik for the link!

[2022-10-05 19:47] tgodzik commented on #4484
That's cool! These are the best issues :sweat_smile:

[2022-10-06 12:25] #4482 closed

[2022-10-06 14:40] carlosedp commented on #4481
Thanks for the feedback Tomasz, my 2 cents:

I think this is a good idea for scripts since they are usually self-contained and the ideal way is to explicitly import other scripts thru `$file` or `//> using file ...`. If things are imported, would metals be able to reference the imported file?

    //> using target.scala "2.13"

This might not solve the issue for multiple scripts directory...

[2022-10-06 17:43] susliko opened #4487 "StringIndexOutOfBoundsException on textDocument/hover"
### Describe the bug

### Summary
`textDocument/hover` sometimes crashes with `java.lang.StringIndexOutOfBoundsException` claiming start index to be larger than end index
### Steps to reproduce
1. Open [internal/metals/Compilers.scala](https://github.com/scalameta/metals/blob/56ef2390eb3fc5b56aa8c20a90310e5e7d662f17/metals/src/main/scala/scala/meta/internal/metals/Compilers.scala#L1) at any place

[2022-10-06 18:07] kubukoz opened #4488 "Call hierarchy doesn't include superclass calls"
### Describe the bug

I understand that this might be related to "find references", but it's annoying nevertheless and in an ideal world it would work:

1. Create file (tested on scala 2.13.8)

[code]

3. Try to get the call hierarchy of `Impl.get`
4. Nothing is returned

### Expected behavior

The call to `s.get()` is found

### Operating system

macOS

### Editor/Extension

VS Code

### Version

[2022-10-06 18:12] kubukoz opened #4489 "Call hierarchy: "calls from" shows type parameter"
### Describe the bug

Not sure if it should be like this, but it certainly looks weird.

1. Create file (tested on scala 2.13.8)

[code]

3. Try to get the call hierarchy of `Impl.get`
4. Reverse the order so that it shows "calls from"
5. see type parameter:

<img width="492" alt="image" src="https://user-images.githubusercontent.com/894884/194387880-597aaa8f-4f8c-4240-a2ef-81d1a17bdaf9.png">

###

[2022-10-06 18:52] carlosedp commented on #4481
Maybe an idea for folders with multiple scripts (no build tool files), would be having Metals handle one Build target for each script...

[2022-10-06 19:31] kubukoz commented on #3786
working as expected in 3.2.0!

<img width="847" alt="image" src="https://user-images.githubusercontent.com/894884/194402434-186dc00b-4c21-41e1-95fd-0d551607dc18.png">

[2022-10-06 19:36] agilesteel commented on #4246
Scala 3.2.1 is not out yet, but I already went ahead and tested with the latest nightly 3.2.2-RC1-bin-20221003-5d1497d-NIGHTLY and it works! 🎉

[2022-10-06 20:28] riiswa commented on #4488
Yes, the common part between call hierarchy and references is the symbol lookup in build targets.

[2022-10-06 22:14] ohuu opened #4492 "partial functions using fewerBraces incorrectly reports an error"
### Describe the bug

Using fewerBraces syntax on partial functions incorrectly renders an error

![image](https://user-images.githubusercontent.com/25370730/194426655-9c02d480-ce07-440d-b049-e6aaffc82b14.png)

This code compiles correctly in SBT. In the example above, the error disappears when reverting to the old curly brace syntax. E.g.

![image](https://user-images.githubusercontent.com/253707

[2022-10-07 04:15] tanishiking commented on #4246
Thank you for confirming! Let me close this issue then :)

[2022-10-07 04:15] #4246 closed

[2022-10-07 04:37] tanishiking commented on #4487
Thank you for reporting!
I couldn't reproduce it in my environment (with VSCode), but as you mentioned, we should have `check of substring start being less than substring end` :+1:

[2022-10-07 04:43] tanishiking commented on #4481
Yeah, that's true.
and @dos65 mentioned something about multiple build server/target stuff
https://github.com/scalameta/metals/pull/4455#discussion_r983491205

[2022-10-07 05:32] kpodsiad opened #4495 "Wrong type & no completions for package object alias"
### Describe the bug

Here's [repo](https://github.com/kpodsiad/package-type) with reproduction.

a/package.scala
[code]
a/Main.scala
[code]

There are no completions for type alias
<img width="379" alt="Screenshot 2022-10-07 at 07 28 13" src="https://user-images.githubusercontent.com/37124721/194474437-31058567-3d68-4f9f-a179-34d4528c0a85.png">
<img width="279" alt="Screenshot 2022-10-07 at 07 30

[2022-10-07 11:11] narma opened #4498 "CompletionException with snapshot versions with non-escaped symbols"
### Describe the bug

1. Open project with zio snapshot version
2. Type `ZIO.succeed` or any other method
3. Go to Definition (it works)
4. Go to definition inside ZIO class doesn't work:
[code]

### Expected behavior

4. Go to definition works

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.9

### Extra context or search terms

File
`/Users/alzo/Library/C

[2022-10-07 16:39] tgodzik commented on #4495
Thanks for reporting! This looks like an issue in the Scala compiler, we get error type for n.

I created a reproduction in https://github.com/scalameta/metals/compare/main...tgodzik:metals:add-test?expand=1

[2022-10-07 16:46] tgodzik commented on #4498
Thanks for reporting! Looks like we are not correctly escaping some of the non alphanumeric characters.

[2022-10-07 17:03] tgodzik commented on #4487
Hmm... if we add the check then  we will not see why this happened, looks like there is a bug in the logic that searches for range.

Ach! I think I know what is going on, the range contains multiple lines and we don't seem to be handling that.

Trying a fix here https://github.com/scalameta/metals/pull/4501

[2022-10-07 17:04] tgodzik commented on #4492
Thanks for reporting! Looks like a case that we forgot to check properly. The error is actually in scalameta, will transfer it there.

[2022-10-07 17:44] susliko commented on #4487
I wonder why nobody else was able to reproduce this behavior on `Compilers.scala` file 🤔
Meanwhile it reproduces consistently in my setup

[2022-10-08 12:01] kpodsiad commented on #4474
@tanishiking could you give a few tips how to test/debug semanticDB scalac plugin? Anything better than `save-expect`?

[2022-10-09 14:47] Bersier opened #4502 "import path.{*, given} wrongly marked as illegal"
### Describe the bug

Use an import of the form

[code]

Error:
[code]

### Expected behavior

No error, as the code compiles fine.

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of Metals

v1.20.0

### Extra context or search terms

_No response_

[2022-10-09 15:04] kpodsiad commented on #4495
It's a bit strange that this might be a compiler error since `package object scala` contains multiple type aliases e.g. for collections 🤔

[2022-10-09 15:33] tgodzik commented on #4495
this might work differently with published jars maybe?

[2022-10-09 15:35] tgodzik commented on #4495
Ok, it seems to be an issue if it's located within the same package. It works if you move class A to another package.

[2022-10-09 15:47] #4487 closed

[2022-10-09 15:48] tgodzik commented on #4487
Thanks! I was able to test the fix on that file.

[2022-10-09 15:55] tgodzik commented on #4474
There is the TargetedSuite that is useful for debugging since it can work on arbitrary block of code.

[2022-10-10 15:23] #4348 closed

[2022-10-11 07:06] frioux commented on #3975
Thanks for checking

On Sun, Jun 12, 2022, at 2:23 AM, Arthur McGibbon wrote:

--
fREW Schmidt
https://blog.afoolishmanifesto.com

[2022-10-11 10:55] tgodzik commented on #4502
Thanks for reporting! I can't seems to reproduce it in a Scala 3 codebase. This only shows up if the last import is neither given nor *. Do you perhaps have repository with a reproduction?

[2022-10-11 11:30] Bersier commented on #4502
I cannot share my repository at this time. But I now see that it only happens for one import:
[code]
In my `build.sbt`, that project is imported with
[code]
Hopefully, that is enough to reproduce the issue.

[2022-10-11 11:45] tgodzik commented on #4502
Maybe the code is not seen as a Scala 3 one? In that case given would be treated as any other identifier.

[2022-10-11 12:14] Bersier commented on #4502
@tgodzik yes, that seems likely, actually. Is there some setting I missed to get Metals to interpret the code as Scala 3?

[2022-10-11 12:52] tgodzik commented on #4502
It should automatically pick up the build tool's Scala version. What build tool do you use? Did you import the build after changes to Scala 3? Do you get any warnings in the metals output?

[2022-10-11 13:31] #4489 closed

[2022-10-11 14:49] Bersier commented on #4502
I use sbt. I found these logs:
[code]

[2022-10-11 15:28] tgodzik commented on #4502
`2022.10.11 10:41:51 WARN  Scala instance jar c:\home\bersier\.sbt\boot\scala-2.12.16\lib\scala-library.jar doesn't exist!`

Does that file exist but with capital C: ? Could you try reimporting the build? It seems we are unable to start the build server because it can't find the jars for compiling Scala.

[2022-10-11 15:59] tgodzik commented on #4502
Alternatively you can try and switch to sbt BSP with Switch build server command

[2022-10-12 16:36] kpodsiad opened #4515 "Incorrect case completions"
### Describe the bug

Happens on both 2.13 and 3
[code]
<img width="429" alt="Screenshot 2022-10-12 at 18 33 39" src="https://user-images.githubusercontent.com/37124721/195399224-895511eb-17ae-4336-b4e3-315b362d609a.png">

### Expected behavior

Don't offer incorrect completions.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.9

### Extra context or searc

[2022-10-12 17:20] tgodzik commented on #4498
Duplicate of https://github.com/scalameta/metals/issues/4357

[2022-10-12 17:20] #4498 closed

[2022-10-12 17:48] tgodzik commented on #4357
I digged in a bit more and I am highly confused by the behaviour of the ZipFileSystem and URIs :thinking:

Seems that even if we escaped the input properly ZipFileSystem will not take that into account and decode it by itself :thinking:

[2022-10-13 08:49] jkciesluk commented on #4515
Thanks for reporting!
 The problem here is that we were not distinguishing between
[code]
 I see two simple solutions:
 1. Suggest next `case` completion only after there is something after the `=>` in the previous one.
 2. Check if the next `ca@@` is in different line than the previous one. This might be better, because someone might want to list all cases before handling them

[2022-10-13 15:00] josh-s-g opened #4518 "Metals exited with status code 1 after opening build.sbt in Sublime Text"
### Describe the bug

I use metals with VS Code successfully but haven't been able to get it to work with Sublime Text:

Steps to reproduce
1. Installed Sublime Text
2. Installed LSP (as per [this](https://scalameta.org/metals/docs/editors/sublime))
3. Installed LSP-metals
4. Open a Scala project
5. Open build.sbt file

I receive this error message:

<img width="248" alt="image" src="https://user-

[2022-10-13 15:42] tgodzik commented on #4518
Thanks for reporting! Are you using VS Code and Sublime at the same time with Metals server? That might not work, but I haven't really tested that ever. Does it work with sublime by itself?

[2022-10-13 15:46] josh-s-g commented on #4518
Same behaviour if I either
(a) Open Sublime on its own
(B) Open Sublime after having opened VS code

[2022-10-13 16:18] tgodzik commented on #4518
@ayoub-benali any idea what might be happening here?

[2022-10-14 11:53] pxs7 opened #4528 "can not find java11"
in windows,  i have installed java and set java_home in setting,  but when downloading metas,  the warnings that java 11 cannot find out came out,

how does this come out