[2021-12-13 15:48] #3359 closed

[2021-12-14 16:16] #3354 closed

[2021-12-15 10:59] silviobierman opened #3373 "Metals inside VSCODE uses the wrong JDK on Fedora by default"
**Describe the bug**

When JAVA_ROOT is not set Metals does not select the system default JDK on Fedora (35). Because of a LibreOffice dependency Fedora needs an installed OpenJDK11 but apart from that I mostly use an OpenJDK17 which comes from a running version OpenJDK package. The JDK17 is set as the system default but Metals selects the JDK11 version anyway.

**To Reproduce**

Start VSCODE/Meta

[2021-12-15 11:24] dos65 commented on #3373
Thanks for reporting!

In case if `java` from `$PATH `points to jdk17 on your system it might be fixed if we merge [this](https://github.com/scalameta/metals-languageclient/pull/382).
Would it fit for you case?

[2021-12-15 12:24] silviobierman commented on #3373
Typically Linux will have /usr/bin in $PATH and a /usr/bin/java that is a symbolic link to /etc/alternatives/java that in turn is a symbolic link to the default java binary. To translate this to something akin to JAVA_HOME one would need to follow the symbolic links and translate the resulting path that points to the java executable into a path that points to its containing directory. That should

[2021-12-15 17:50] dos65 commented on #3373
@silviobierman yep, I used the approach as you described. I asked that because I wasn't 100% sure that there is no difference between Fedora and debian-based distros in this mechanic.

So, as scalameta/metals-languageclient#382 was merged I think we can close this issue.

[2021-12-15 17:50] #3373 closed

[2021-12-16 16:24] dos65 commented on #3379
@tgodzik I think I've seen it at least two times but was unable to reproduce. After reloading window everything started working well.

[2021-12-16 16:58] kpodsiad commented on #3379
@gombosg I'll add more logging points in changes coming from the commit you found and also an option that enables debug output. Then we should have more information about what's going on.

[2021-12-17 09:00] gombosg commented on #3379
@kpodsiad
Thanks! It's surely that commit because reverting it on top of `main` helps the issue for me.
You don't necessarily have to release a debugging patch, if that helps you can just add some debugging to a branch and I can compile that and get back with some logs.

[2021-12-17 12:19] ckipp01 commented on #3352
Closed via https://github.com/scalameta/metals/pull/3353

[2021-12-17 12:19] #3352 closed

[2021-12-17 15:09] ckipp01 opened #3381 "Incorrect (but correct in some sense) completions in expression evaluation"
**Describe the bug**

I very randomly hit on this today and thought it was a fun little issue. I can see exactly where the issue is and I have a fix for it, but _cannot_ get the tests to pass and don't get why.

The issue is when you are trying to use the expression evaluation completions. Let's say you have the following code:

[code]

Then when you start your expression evaluation trigger a comp

[2021-12-17 15:58] ayoub-benali opened #3383 "Invalid scaladoc links in hover response"
**Describe the bug**
The hover response contains invalid scaladoc links

**To Reproduce**
1. Hover over the `String` type
2. Click on the `scala.collection.immutable.StringOps` link
3. Browser opens up with an invalid url

Bellow is the LSP log

[code]
**Expected behavior**
This kind of scaladoc links should probably be rewritten by metals and be replace by a `goto-position` command. Ultimately th

[2021-12-17 16:24] tgodzik commented on #3383
Thanks for reporting! What is the invalid link that this opens?

[2021-12-17 16:27] ayoub-benali commented on #3383
`scala.collection.immutable.StringOps` is the invalid link as you can see it in the hover response above

[2021-12-17 16:29] tgodzik commented on #3383
Ach, right! I looked at the other link in the response.

[2021-12-17 19:07] tgodzik commented on #3381
An alternative would be to do `stripPrefix(".")` maybe? Though adding `;` should work :thinking:

[2021-12-19 16:59] mikail-khan opened #3386 "Discover Changes To A Type Hierarchy"
**Bug**

Metals fails to pick up changes to a type hierarchy.

**To Reproduce**

[code]
☝️ all ok - Now if I change the definition of A

[code]

and do the code completion again, I get

[code]

i.e. the IDE fails to pick up that C has been added.

**Expected behavior**
Code completion feature should pick up the changes to the definition.

**Installation:**

- Operating system: Linux
- Editor: Visu

[2021-12-19 19:26] ckipp01 commented on #3386
Just confirming that I can reproduce this and as mentioned on Discord restarting the PC does fix the issue.  Thanks for reporting @mikail-khan!

[2021-12-20 12:02] WojciechMazur opened #3387 "Metals fails to index not existing file"
**Describe the bug**

Inside Scala Native project there is a project `sandbox` with a single file `Test.scala`. For some reason, when Metals tries to index it its name is resolved with the name `.scala` instead of `Test.scala`, which leads to failure.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone [Scala Native repository](https://github.com/scala-native/scala-native) at revision `e

[2021-12-20 12:07] tgodzik commented on #3387
Thanks for reporting! We are most likely treating any file that ends with `.scala` as a Scala file. We should also check if it's a file.

[2021-12-20 13:22] kpodsiad commented on #3387
What's more disturbing is fact that `scala-native/sandbox/src/main/scala/Test.scala` is somehow transformed into `scala-native/sandbox/src/main/scala/.scala`. Adding a check if the path is a file won't solve the root cause of this issue. I'll try to add more logging in that area and maybe we'll discover what's going on.

[2021-12-20 17:19] kpodsiad commented on #3379
@gombosg @yaoqiang-se I just merged https://github.com/scalameta/metals/pull/3388. Now 'no build target message' is more verbose and prints file for which presentation compiler isn't loaded.
Could you use metals snapshot version published from that merge and send metals' output? Maybe it'll point us a direction what's not working.

[2021-12-20 19:45] kpodsiad commented on #3379
Actually, you could add `-Dswoval.log.level=debug` to `Metals: Server Properties` and then watch `metals.log` using for example `tail -f -n 300 .metals/metals.log` (I don't know what will be the windows equivalent of this)

[2021-12-21 07:16] gombosg commented on #3379
Thanks for taking this into your hands! I added the debug log argument and compiled the patched version.
What is your email @kpodsiad? All file names in the project are in the log file and this is a closed-source project.

This is the extended no build target error BTW:
[code]

[2021-12-21 07:31] kpodsiad commented on #3379
@gombosg you can use kpodsiadlo@virtuslab.com

I have similar output, I'll investigate what this mysterious file contains, but it seems unrelated to the main problem.

[2021-12-22 19:36] uncle-betty commented on #3379
After @gombosg narrowed it down, I was able to come up with this change, which fixes the issue for me:

[code]

According to a source code comment, file watching has issues when paths to non-existing directories are registered to be watched. As a workaround, the code creates any missing directories, then does the registration, and afterwards deletes the created directories again.

It was a bit of

[2021-12-22 22:26] kpodsiad commented on #3379
@uncle-betty do you have problems with closed source project? It would be nice to have a open source project when we can reproduce this issue :/

[2021-12-23 00:23] liubenyuan opened #3396 "java.nio.file.NoSuchFileException: /scalac-plugin.xml"
**Describe the bug**

I install metals for vscode under archlinux, during metal running, it reports a nio error for scalac-plugin.xml

**Screenshots**

[code]

**Installation:**

- Operating system: Linux x64 5.15.10-1-clear
- Editor: Visual Studio Code, Version: 1.63.2
- Metals version: v0.10.9
- JDK java-11-openjdk
- scala version: Scala code runner version 2.13.7-20211220-212922-unknown -- Copy

[2021-12-23 03:31] uncle-betty commented on #3379
Unfortunately, my project is closed source. But I just managed to create a minimal working example: [mwe.zip](https://github.com/scalameta/metals/files/7766401/mwe.zip)

Here's how I am able to reproduce the problem:

  * Ensure that no Java processes are running, i.e., no Bloop, no SBT, nothing.
  * `unzip mwe.zip`
  * `cd mwe`
  * `vim app/test/Test.scala` - this starts Metals 0.10.9.
  * Import

[2021-12-23 10:33] ayoub-benali opened #3397 "Doctor doesn't report missing src.zip file"
**Describe the bug**

When the `src.zip` file is missing from the java home directory, `textDocument/definition` would yield no results for java standard library classes like `java.time.LocalDate`.

Running metals doctor commands shows you that everything is fine.

**To Reproduce**
1. Remove or rename `src.zip`
2. Start Metals
3. Try go to definition in `java.time.LocalDate`
4. Notice that nothing

[2021-12-23 11:43] tgodzik commented on #3396
Thanks for reporting! I've seen this issue with Mill in https://github.com/scalameta/metals/issues/1720

Could it be the same case?

[2021-12-23 11:48] tgodzik commented on #3397
Thanks for reporting! We should refactor the doctor for sure and add more useful information like this.

[2021-12-23 11:50] dos65 commented on #3397
I'm wondering if it would be easy to download jdk-sources if they don't exist

[2021-12-23 12:04] tgodzik commented on #3397
We would need to download the whole JDK and unpack from that. The other option is to ship our own JDK as a default, which would always have src.zip, but that would be a bit heavy.

[2021-12-23 14:01] ayoub-benali commented on #3397
Yeah I think downloading the sources would be overkill. For the moment just better error reporting would be a win.

[2021-12-23 15:20] Arthurm1 opened #3398 "Java support status placeholder"
Supported features...
- [x] Shows Java-only build targets
- [x] Code navigation (Find References/Goto definition)
- [x] Formatting (file or selection)
- [x] New Java File
- [x] `super` code lenses
- [x] Document highlight
- [x] Error/warning - line number only
- [x] Run/Debug code lens (only main)
- [x] Find implementations
- [x] Folding ranges
- [x] Code navigation from source jar java files - de

[2021-12-23 15:28] ckipp01 commented on #3398
So, more of just a question, but in the TODO section, how many of these things do we actually want? Is the goal truly to cover them all? It's incredible that we now support java targets, but I'm also wondering at what point does Metals, the **Scala** language server venture too far into the Java land support? Realistically we'll never reach parity with something like IntelliJ for cross-JVM languag

[2021-12-23 15:46] ckipp01 opened #3399 "auto-imports can break scala-cli scripts"
**Describe the bug**

When using https://scala-cli.virtuslab.org/ if you have some code like

[code]

And then you trigger an auto-import, it will insert the import above the directive since it thinks it's just a comment, and then can lead to broken scripts.

**To Reproduce**

Steps to reproduce the behavior:

1. Copy the above
2. Auto import something
3. You now changed your scala version

**Expe

[2021-12-23 15:49] Arthurm1 commented on #3398
I'm pretty happy with the current set of functionality.  It makes working with combined Scala/Java codebases so much easier.

I think run/debug `main` and code folding should be simple to add and help ease of use and I will probably look to implement.

As for the others, I thought I'd fix whatever problems came up after release and then wait to see if anyone has a real need for anything else.  I d

[2021-12-23 15:57] ckipp01 commented on #3398
😆 of course, a larger user base is always great, but I think it's important to talk about where we'd like to end up in terms of interop.

I'm maybe an outlier in that if I talk with people that work in heavy Java / Scala projects, I recommend IntelliJ with zero hesitation. We also have a decent size user base that uses Metals because it's lighter, faster, and more agile due to its limited scope. I

[2021-12-23 16:03] dos65 commented on #3399
I think respecting comment at the beginning of file and placing first import after it should works well.
There is also a rare case when file starts from the long license-comment

[2021-12-23 16:19] tgodzik commented on #3398
A lot of the features that depend on semanticdb should be simple to add and should use exactly the same logic. The hardest part would be things requiring PC, which I don't believe is in our reach. I would also not support any refactorings and focus on the Scala ones. Of course if anyone is willing to contribute anything I would gladly accept those, but I don't think the should ever be in our main

[2021-12-23 16:19] tgodzik commented on #3398
Btw. I think we could do hover using semanticdb, which would be low effort, but could help out people investigating their codebases.

[2021-12-23 19:37] tgodzik commented on #3398
I took a look at fixing renames and there seems to be an issue with file watcher for java semanticdb files and also semanticdb for Java files starts at 0 instead of 1 like in Scala.

My attempt is here: https://github.com/scalameta/metals/compare/main...tgodzik:fix-java-renames?expand=1

Another issue we noticed is that we should not show java in the doctor for Scala only files (or figure out a sm

[2021-12-23 19:52] Arthurm1 commented on #3398
For the Doctor - I guess we could check if there are no java files in the project - then not show the java info.  I'm not sure there's anything from the BSP to indicate this as it's valid to have empty javacoptions.

Not sure it's possible to even specify in the build tools that the project is only Scala.  With Gradle you can't have a project that supports only Scala (java support is implicit).  N

[2021-12-23 20:04] ckipp01 commented on #3398
One thing I keep seeing for example when in the Java files in Metals is this in the logs:

[code]

[2021-12-23 20:32] Arthurm1 commented on #3398
I think `/.tmp/mainXXX.scala` gets created when ScalaFix warming up and this gets triggered when indexing is complete. I don't think it's java relevant
 https://github.com/scalameta/metals/blob/11c7c27145a2d01d4a97897a4d29da48e5b33cdc/metals/src/main/scala/scala/meta/internal/metals/ScalafixProvider.scala#L56

I've never seen the `mirror` issue.  You get this when navigating from something like `s

[2021-12-23 20:41] kpodsiad commented on #3398
@ckipp01 @Arthurm1 I can confirm that `.metals/.tmp/mainXXX.scala` is not related to the java support. Previously it'll be `no build target: using presentation compiler with only scala-library ...` but I changed it in https://github.com/scalameta/metals/pull/3388 to include path.

We should filter this out, it can be very misleading.

[2021-12-23 21:00] ckipp01 commented on #3398
Ahhh sorry for the noise!! I never noticed it before 😬 and happened to when paying more attention to the logs now when trying every out.

[2021-12-23 21:08] Arthurm1 commented on #3398
No worries - I fully expect some issue(s) as it's a big PR and I've only run it on Windows+WSL which I doubt is that common.  Plus I may have been a bit lax on writing tests :worried:

[2021-12-23 23:56] gombosg commented on #3379
Very nice  @uncle-betty ! Unfortunately #3395 doesn't seem to work for me. But your repro works, as in find references is not working for `foo()` and also it works after reverting 2422494.

[2021-12-24 00:15] liubenyuan commented on #3396
Hi, I am new to scala and mill, do you mean that the lates mill version (0.9.11) might be the cause of this problem?

[2021-12-24 17:09] ayoub-benali opened #3402 "Metals snapshot not starting on java 8"
**Describe the bug**

Metals doesn't start when using latest snapshot `0.10.9+226-e28384c3-SNAPSHOT` on Java 8.

From the error bellow it seems to be related to https://github.com/scalameta/metals/pull/2520

[code]

**To Reproduce**

1. Set Metals version to `0.10.9+226-e28384c3-SNAPSHOT`
2. Open scala project
3. Open `.metals/metals.log`
4. See error

**Expected behavior**

Metals to still run on

[2021-12-24 17:14] Arthurm1 commented on #3402
This commit should have fixed that...
https://github.com/scalameta/metals/commit/a4a681e5790ff358a81ff5dc949c3d3cfcfa254f

[2021-12-25 07:18] liubenyuan opened #3403 "Metals Bloop Install failed"
**Describe the bug**

Install metals vscode on windows 11, scala-2.13.7 and
[code]

The error log is:
[code]

The build.sc is
[code]

[2021-12-25 12:10] uncle-betty commented on #3379
Cool, thanks for trying, @gombosg.

Well, it looks like me taking wild guesses won't get us anywhere. :) So, maybe collect some more data on the issue? I created a little experiment that allows us to better understand the behavior of the `file-tree-views` library that Metals's change detection is based on: [repro.zip](https://github.com/scalameta/metals/files/7775763/repro.zip)

Here's how I use i

[2021-12-25 22:42] uncle-betty commented on #3379
In case somebody else wants to poke around in Metals, here's the version of `inotify.so` that I use for Metals: [inotify.zip](https://github.com/scalameta/metals/files/7776321/inotify.zip)

From what I've seen so far, it does not look like the above unexpected behavior of `file-tree-views` has anything to do with the Metals issue, though. In my MWE, the directories on the path of the `.semanticdb`

[2021-12-26 00:31] uncle-betty commented on #3379
Ah! I think that I might finally be getting somewhere. After reading a bit of `file-tree-views`'s `NioPathWatcher.java`, I went back to my little `repro.zip` experiment. Suppose the following setup:

  * The following directory exists: `A/B2`. `A` is empty other than containing `B2`.
  * Register a watch for `A/B1`.
  * Register a watch for `A/B2/C`.

Here's what happens in `NioPathWatcher.findOrA

[2021-12-26 01:03] uncle-betty commented on #3379
One last thought for today: If my analysis is correct, then I think that a workaround in Metals would be to register the paths reverse-ordered by the length of their longest existing prefix. In my toy example, we'd register `A/B2/C` (longest existing prefix: `A/B2`, i.e., length 2) before `A/B1` (longest existing prefix `A`, i.e., length 1).

Let me see whether already I know enough Scala to try t

[2021-12-26 01:37] liubenyuan commented on #3396
@tgodzik

I do not think they are the same problem. Any more information that I could provide?

[2021-12-26 02:08] uncle-betty commented on #3379
@gombosg, could you try out the proposed workaround in #3404? It seems to do the trick for my MWE as well as for my real (closed source) project.

[2021-12-26 09:10] ckipp01 commented on #3396
Hey @liubenyuan so I believe this is the exact same scenario as the issue @tgodzik linked. So in your build you're including this compiler plugin:

[code]
When you look at how this compiler plugin is setup here: https://github.com/SpinalHDL/SpinalHDL/blob/ba10ff311062ac4bf28c8e396f924190a791e787/build.sbt#L104-L106 notice that the scala-compiler is a dependency, but should be marked as `Provided`.

[2021-12-26 10:27] uncle-betty commented on #3379
Quick update: There is now version 2.1.8 of `file-tree-views`. Building Metals with this version instead of 2.1.7 also fixes the Metals issue for me.

[2021-12-26 10:34] gombosg commented on #3379
@uncle-betty nice find! It was a direct fix for this issue, see the commit linked above. https://github.com/swoval/swoval/commit/40278472cdeff02be8feebf26eaf7a538a5e9561 As I see, the fix is based on your findings, so it was very useful that you dug into this. I haven't had the patience to do so. 🙂

[2021-12-26 10:41] kpodsiad commented on #3379
Wow, @uncle-betty. Your work is incredible, there are simply no words to describe what you've done!

[2021-12-26 11:01] uncle-betty commented on #3379
Thank you very much for your kind words, guys. I'm glad that I could help.

Let's also not forget @eatkins who analyzed the issue in practically no time and released an upgrade of his component within hours. Awesome work! Thank you!

[2021-12-26 11:12] ckipp01 commented on #3398
After chatting with @Arthurm1 on Discord about this a bit, here's what I'd propose. What if instead of showing an entire new target for this we just do something like this:

[code]

And java support is calculated based on `diagnostics + goto definition + find references` in the java target all being green. I find this less intrusive and can potentially avoid confusion for newcomers seeing two diff

[2021-12-26 12:03] ayoub-benali commented on #3402
It seems that one of them at least isn't targeting java 8

[2021-12-26 13:01] liubenyuan commented on #3396
@ckipp01 Thank you! I delete .metals and .vscode and restart the project, It works!

[2021-12-26 13:01] #3396 closed

[2021-12-26 13:23] gombosg commented on #3379
It works great, I tested editing files, adding new files! 🎉

[2021-12-27 10:16] dos65 commented on #3402
As we are close to release I think the best option would be to move java formatter to a subproject.
This would allow us to fetch/run it dynamically in the same way as we work with mtags and do it only if jvm version is >= 11.

We can't drop java8 support as long as we keep scala 2.11 support.
We can also consider to replace eclipse formatter by some other one but I know nothing about java formatte

[2021-12-27 11:17] ayoub-benali commented on #3402
How about forking the formatter lib and publishing it for java 8 ?

[2021-12-27 11:25] ckipp01 commented on #3379
Closed via #3405

Thanks again for all your work on this!

[2021-12-27 11:25] #3379 closed

[2021-12-27 11:33] dos65 commented on #3402
@ayoub-benali I'm afraid it the most hardest option. It's not just a library - it's full eclipse platform or a part of it.
Also, looks like a bit out of scalameta's scope :smile:

[2021-12-27 12:17] ckipp01 commented on #3403
Thanks for reporting @liubenyuan

I've hit on this issue in other projects before when dealing with temp paths on windows. Since at times when you create a temp path it will be on a different drive than your actual cwd. Then when you call `relativize` it blows up since it tries to compute it given two paths on two different drives. In theory I guess this could happen here since we do create these

[2021-12-27 12:58] Arthurm1 commented on #3402
@ayoub-benali Can you find out what version of `org.eclipse.text-XXXX.jar` you are using.  Ideally it should be `org.eclipse.text-3.9.0.jar`.  This should be listed in your `.bloop/metals.json` file if you're using Bloop.

Also - when you say you're using `0.10.9+226-e28384c3-SNAPSHOT`, is that a local snapshot you've published?  Or are metals snapshots published to a public repo somewhere - if so

[2021-12-27 13:15] dos65 commented on #3402
@Arthurm1 each merge into main branch triggers snapshot release. [Here](https://scalameta.org/metals/docs/#latest-metals-server-versions) you can find the latest one.

[2021-12-27 13:40] liubenyuan commented on #3403
Yes, I do have a arch linux machine and metals on vscode works fine. I do have success run Metals on vscode on this windows 11 box, but I uninstalled sbt, scala, tried scoop and reinstall scala, sbt, mill, and it all messed up. I will try if it is reproducible on my another windows box.

[2021-12-27 14:08] Arthurm1 commented on #3402
Ah - I see

Looks like the pom [here](https://oss.sonatype.org/content/repositories/public/org/scalameta/metals_2.12/0.10.9+228-ad3d4da0-SNAPSHOT/) doesn't take into account the `dependencyOverrides` i specified [here](https://github.com/scalameta/metals/pull/2520/commits/a4a681e5790ff358a81ff5dc949c3d3cfcfa254f).

In fact now that I've read the [manual](https://www.scala-sbt.org/1.x/docs/Library-

[2021-12-27 19:41] w-r-z-k opened #3407 "no build target found for .../.metals/.tmp/Main.scala. Using presentation compiler with project's scala-library version: 2.13.7"
**Describe the bug**

Error reporting isn't showing up in nvim.  There's a bug report in [nvim-metals](https://github.com/scalameta/nvim-metals/issues/306) that has a detailed description.  Since the problem occurs whether I am using the `nvim-metals` plugin or the `lspconfig` configuration, I believe this to be a bug in metals.

When I wipe out all `.bloop` and `.bsp` and `.metals` and `target` f

[2021-12-27 22:03] w-r-z-k commented on #3407
I have figured out why this happens; and it is not related to that message in the log.  **Simply put:** _The errors reported in nvim in the file you are editing are based on the results of an overall sbt build not on the errors currently in the file you are editing._

I have a full explanation in the closure report on [nvim_metals issue #306](https://github.com/scalameta/nvim-metals/issues/306)

[2021-12-27 22:03] #3407 closed

[2021-12-28 09:17] dos65 commented on #3402
Fixed by #3406

[2021-12-28 10:48] #3397 closed

[2021-12-29 11:46] ckipp01 commented on #3402
Closing since this was fixed in #3406

[2021-12-29 11:46] #3402 closed

[2021-12-29 11:59] dos65 commented on #3402
:facepalm:  I forgot to close it

[2021-12-29 14:48] ckipp01 commented on #2093
I'm curious where we are at with this issue? Do we still have significant problems here? @smarter since you originally created this, did you have another group of students? If so, how was the experience?

[2021-12-29 15:01] smarter commented on #2093
I think build import is still unreliable but I didn't do much TAing this semester, @mbovel had more hands-on experience :)

[2021-12-29 15:06] ckipp01 commented on #2925
So I played around here with a few things trying to reproduce and I wasn't able to. The last status of this seems to be that some things were changed to fix some of the issues and others were mentioned should be reported upstream. I'm going to close for now, but please do report back or re-open if you either get more info on one of these by coming across it again.

[2021-12-29 15:06] #2925 closed

[2021-12-29 15:17] mbovel commented on #2093
I haven't noticed many build import failures this semester. But I can have a closer look next semester when we do the setup :)

[2021-12-29 16:38] ckipp01 commented on #3228
Hey @Meowcolm024, just checking back in here, with the newest Metals are you still having an issue with this?

[2021-12-29 16:41] ckipp01 commented on #3301
Since this isn't really a bug, but rather a limitation of Bloop atm, I'll go ahead and close since there some work arounds, using sbt as a  BSP server for example. If you have any other questions on this, don't hesitate.

[2021-12-29 16:41] #3301 closed

[2021-12-29 16:51] dos65 commented on #3301
Maybe transfer it to bloop?
It's not just a limitation but also a security issue

[2021-12-29 16:53] ckipp01 commented on #3301
Well from my understanding in the past there is nothing actually keeping 2 Bloop servers from running. It _can_ already happen, but we don't do it and the site make site sound like it's impossible. I'm unaware of the security issue. What's the issue @dos65?

[2021-12-29 16:57] tgodzik commented on #3301
I think there is no way to have it currently, since both will try to use the same port. Using named sockets would solve it.

The security issue is that Bloop could be started by a different user that has root access and connencted to by clients that don't have that access (I think.)

[2021-12-29 17:11] dos65 commented on #3301
@ckipp01

I haven't tried it yet but the following should be possible: you could put a project into `/tmp` and run code with an access to home directory of user who started bloop.

[2021-12-29 17:20] ckipp01 commented on #3301
Gotcha, thanks for explaining. I went ahead and transferred it over to Bloop.

[2021-12-29 17:26] #3399 closed

[2021-12-29 17:27] tpolecat opened #3414 "crash on mouseover with Scala 3"
**Describe the bug**

Metals reports an error and hover/completion actions fail for Scala 3, when using metals with scala-cli and vs-code.

**To Reproduce**

- Create `foo.scala` with the following content

[code]

- Do `scala-cli compile .`
- `code .`
- Observe that compilation and diagnostics work fine, but hover actions and dot-completions fail, with the following error in the log:

[code]

- I

[2021-12-29 17:33] ckipp01 commented on #2093
Sounds good, please do let us know!

[2021-12-29 17:48] tgodzik commented on #3403
Actually this will no longer be a problem with newer versions of Mill and Metals thanks to https://github.com/scalameta/metals/pull/3356

This should work with new Metals version (probably 0.11.0) and Mill >= 0.9.10

[2021-12-29 17:48] #3403 closed

[2021-12-29 20:32] dos65 commented on #3414
@tpolecat could you add versions of Metals and scalai-cli that you use?

I tried it on scala-cli=`0.9.0` and Metals=`0.10.9` + latest snapshot but was unable to reproduce this problem.

[2021-12-29 21:40] tpolecat commented on #3414
- Scala CLI 0.0.9 (I assume 0.9.0 above is a typo?)
- Metals 0.10.9, also tried with 0.10.9+236-b93b0a91-SNAPSHOT
- VS-Code 1.63.2
- graalvm-ce-java8
- MacOS 11.3.1

[2021-12-30 14:01] Meowcolm024 commented on #3228
I think there're no problems now :P

[2021-12-30 14:40] ckipp01 commented on #3228
Ok great, if this springs up again, please don't hesitate commenting back.

[2021-12-30 14:40] #3228 closed

[2021-12-30 15:59] dos65 commented on #3414
@tpolecat
Yep it was a typo.
Checked it additionally on graalvm-ce-java8 but can't check it on MacOS.
Unfortunately, I still can't reproduce it.

We need more details.
Does it always fail in your case? Does rebooting help? Where exactly is the hover position when an error occurs?

[2021-12-30 16:00] silviobierman opened #3419 "No code completion / code suggestions"
The Scala editor does not provide any suggestions when typing the . character. Nothing happens and when I press CTRL+SPACE I see a small box that says "No suggestions.". Neither Scala methods from my own sources nor methods from predefined Scala/Java classes are shown.

- Operating system: Linux (Fedora 35)
- Editor: Visual Studio Code
- Metals version: v0.10.9
- JDK: OpenJDK 17 (I tried switching

[2021-12-30 16:05] silviobierman commented on #3419
I tried that. It shows nothing but green checks...

![Screenshot from 2021-12-30 17-03-58](https://user-images.githubusercontent.com/734637/147768275-ef95debf-1017-4d06-9f11-98a5c75c84b0.png)

[2021-12-30 16:12] tpolecat commented on #3414
Yes, it always fails, and it does so whenever I mouse over an identifier, like the instant the cursor enters the region. It also happens when I type a `.`. I just  noticed that it also happens immediately on startup, after opening a `.scala` file but before interacting with it. Here is the full startup log:

[code]

[2021-12-30 16:14] tgodzik commented on #3414
@kpodsiad could you check on MacOS with graalvm-ce-java8  ? Maybe it's that combination causing issues?

@smarter  any idea what might be causing:
`Exception in thread "pool-4-thread-2" java.lang.AssertionError: assertion failed: `-Yread-docs` enabled, but no `docCtx` is set.`
?

[2021-12-30 16:15] tgodzik commented on #3419
Could you check if there is anything popping up in `.metals/metals.log` Some exceptions don't get forwarded correctly to the output tab.

[2021-12-30 16:17] silviobierman commented on #3419
Wait what? I checked the settings for "suggest" and under "Metals" found an option "Edit in settings.json". That takes me to a file with that name that contains a bunch of:

    "editor.suggest.showClasses": false,
    "editor.suggest.showConstants": false,
    "editor.suggest.showCustomcolors": false,
    "editor.suggest.showConstructors": false,
    "editor.suggest.showEnumMembers": false,
    "

[2021-12-30 16:19] tgodzik commented on #3419
That's super weird, looks like global VS Code settings, they should not be set by default. You could remove them to make them fo to default.

[2021-12-30 16:23] silviobierman commented on #3419
Thank you. I will delete them all and see what happens.

[2021-12-30 16:25] silviobierman commented on #3419
Yes! That restores all the suggestion behavior I used to have. Thank you very much!

[2021-12-30 16:25] #3419 closed

[2021-12-30 16:33] tgodzik commented on #3419
It's super weird it happened, maybe it was contributed by someone in `.vscode` directory?

[2021-12-30 16:42] dos65 commented on #3414
@tpolecat could you also check if the same happens without scala-cli using bloop/sbt project?

[2021-12-30 16:42] tpolecat commented on #3414
Yes, will do.

[2021-12-30 17:04] tpolecat commented on #3414
It works fine with an sbt project, so this is a good clue. The startup for a new sbt project, pre-import, looks like this.

[code]

[2021-12-30 17:11] kpodsiad commented on #3414
I tried with opendjk11 and everything works.
@tpolecat could you provide a version of your `graalvm-ce-java8` java?

[2021-12-30 17:25] kpodsiad commented on #3414
Reproduced on `openjdk_1.8.0_292`. It seems related to the java version, not the particular vendor.

[2021-12-30 17:26] tpolecat commented on #3414
Wow interesting. I'll verify that it works with java 11.

[2021-12-30 17:32] tpolecat commented on #3414
Yep, works fine in modern Java (I use 8 because some stuff at work is stuck there, but I'm fine switching when I work on other stuff). Thanks! As far as I'm concerned we can close this.

[2021-12-30 17:37] tgodzik commented on #3414
Let's close this in favour of the compiler issue, this isn't probably anything that we can fix on the metals side. Thanks everyone for investigating!

[2021-12-30 17:37] #3414 closed

[2021-12-30 17:38] tpolecat commented on #3414
Yes, thanks everyone, very much!

[2021-12-30 19:53] dos65 commented on #3414
I've noticed these lines in log from @tpolecat
[code]

Then I reproduced the same error from PC compiler on hover having the following code
[code]

So it seems that there are two issues:
- `scala-cli` might put or return over BSP invalid scalac option
- compiler is initialized incorrectly if you pass this option

[2021-12-30 19:57] dos65 commented on #3398
Additional issue. If you open a scala-cli project as it was described in #3414 Metals warns about `Code navigation will not work for 2 build targets in this workspace due to mis-configuration.  Select 'More information' to learn how to fix this problem..`.

But this one incorrect as there is no java sources in project.

[2021-12-30 20:01] smarter commented on #3414
"-release 8" should be supported with java 8 in future scala 3 releases (iirc it's already fixed on master)

[2021-12-30 20:17] ckipp01 opened #3421 "Odd completion given back"
**Describe the bug**

I'm only able to reproduce this while using `scala-cli` and Scala 3. Given the following piece of code:

[code]

When you try to implement the `val thing` and start typing `thi` you'll see this as a completion option given:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Create a scala-cli script like above
2. Try implementing the `val thing` with `thi`
3. See

[2021-12-31 10:40] ckipp01 opened #3422 "Hover and insert type annotation shows error"
**Describe the bug**

Given the following piece of code when in Scala 3:

[code]

You'll get diagnostics on the apply that:

[code]
Then when you try to use the insert type annotation code action on `apply` you end up with:

[code]
You can also see the `<error unspecified error>` in the hover on `apply` as well.

**Expected behavior**

This error shouldn't be shown to the user in the hover, and it

[2021-12-31 12:07] ckipp01 commented on #3421
I'm also seeing this in other situations for example I just noticed this:
<img width="719" alt="Screenshot 2021-12-31 at 13 07 02" src="https://user-images.githubusercontent.com/13974112/147822539-199f32a6-02e2-40d7-b8e9-cb76ee84af99.png">

I made a spelling mistake here and tried to match on `deps` instead of `dep`, but for some reason I'm seeing that error message in my completion item.

[2021-12-31 12:55] tgodzik commented on #3421
We can probably check if the type is an error, let me check that.

[2021-12-31 13:38] tgodzik commented on #3422
Thanks Chris for noticing these issues, every time I've seen it I was busy with something else and forgot to file it.

[2021-12-31 14:58] ckipp01 opened #3424 "Analyze stacktrace doesn't work for scala-cli projects"
**Describe the bug**

When using `scala-cli` it seems that some sources aren't able to be navigated to in the stacktrace including the code in your project. For example I hit on an exception while running something and when I copied it and tried to use the analyze stacktrace command this is what was returned:

[code]

Notice there are only 3 opens on the scala sources, but none on the dotty ones a

[2021-12-31 15:25] #3422 closed

[2021-12-31 16:13] #3421 closed

[2021-12-31 17:36] #3424 closed

[2022-01-01 06:09] liubenyuan commented on #3403
Though, I can run these command under windows terminal successfully.
[code]

[2022-01-01 20:48] ckipp01 commented on #3398
One thing I just hit on in a project which isn't a huge issue, but still should probably be addressed, I have a `Tree` type in my project and when trying to complete Tree I got the following as a completion option:

[code]

I guess I wouldn't expect this to be offered as a completion item. How come this is, and is there a way we can ensure this isn't offered unless a user is explicitly using this?

[2022-01-02 08:51] ckipp01 opened #3454 "Insert type annotation in Scala 3 breaks on `Either`"
**Describe the bug**

When trying to use the "Insert type annotation" feature in Scala 3 when the inferred type is an `Either` somehow the `import scala.{util => ju}` auto import is getting brought in and `ju.Either` is getting slammed into the variable name.

**To Reproduce**

Steps to reproduce the behavior:

1. Have some code like this

[code]
2. Try to use the "Insert type annotation" code act

[2022-01-02 11:24] LoranceChen opened #3455 "Ammonite >= 2.5.0 not supported"
**Describe the bug**
- summary: occurred a error in Metals Ouput window when open a sc file( ammonite scala script) in vscode.
- affect: Can not start Metals server for amm scala script.
- env:
  - Metals version: 0.10.9
  - vscode: 1.63.2
  - macOS: 11.3.1
  - amm: 2.5.0
- Metals output:
[code]

- reproduce:
1. create a file `test.sc` with content:
[code]
2. open with vscode
3. see error in Metal

[2022-01-02 11:28] ckipp01 commented on #3455
Hey @LoranceChen thanks for the report. Amm 2.5.0 isn't yet supported by Metals as it needs some changes in the [library](https://github.com/alexarchambault/ammonite-runner/pull/127) we use for Ammonite support. Are you able to try with 2.4.0 instead?

[2022-01-02 11:34] LoranceChen commented on #3455
@ckipp01 Thanks for you quick response!
with test.sc:
[code]

another error occurred:
[code]

It seems amm not match some scala version.

[2022-01-02 11:37] LoranceChen commented on #3455
try fixing scala version, seems works!
// Ammonite 2.4.0, scala 2.12.11

![image](https://user-images.githubusercontent.com/8775828/147874522-f62731b1-6ce7-4747-964f-1e374f61cc1a.png)

[2022-01-02 11:38] ckipp01 commented on #3455
Huh, looks like you're right with the version. From looking at
[code]
You should also be able to use 2.4.1 with 2.13.7

[2022-01-02 11:40] LoranceChen commented on #3455
ammonite 2.4.1 works fine with 2.13.7
![image](https://user-images.githubusercontent.com/8775828/147874627-2f8c273b-6589-462a-adab-84f8b69ff0eb.png)

thanks.

[2022-01-02 11:45] ckipp01 commented on #3455
Glad it works! I went ahead and changed the title to reflect the original issue and I'll leave this open to track progress on that.

[2022-01-03 04:02] liubenyuan commented on #3403
Hi, I tried the latest snapshot version `0.10.9+271-a8bb69f6-SNAPSHOT`
It reports `Cannot resolve --mill-version. Try `mill resolve _` to see what's available.`, so, does it mean that we do not need to provide mill version to millw.bat?

[code]

[2022-01-03 04:05] liubenyuan opened #3456 "Running latest snapshop, Cannot resolve --mill-version. Try `mill resolve _` to see what's available."
**Describe the bug**

The project settings are the same as #3403 , I use the latest snapshot, `0.10.9+271-a8bb69f6-SNAPSHOT`

It reports the following error:
[code]

[2022-01-03 11:30] ckipp01 commented on #3456
Thanks for the report @liubenyuan! Looks like there was actually a bug in the last millw.bat script that we were using. I've opened #3457 to fix this.

[2022-01-03 11:31] tgodzik commented on #3398
That's because the java plugin ends up on the classpath :/  We could exclude it from completions, but this means if anyone wants to use it the would need to modify the exclude paths :thinking:

[2022-01-03 11:37] ckipp01 commented on #3398
🤔 hmm excluding isn't ideal either, that could probably cause a lot of confusion for someone wanting to actually use that dep and then they get no completions unless it's removed. I'm not sure then.

[2022-01-03 12:16] #3456 closed

[2022-01-03 15:39] ckipp01 opened #3458 "Scala 3 @main can't be discovered using debug discovery"
**Describe the bug**

When using the debug discovery with ~`run` or~ `runOrTestFile` on a Scala 3 main defined with `@main` it won't work. However when running with the code lens, it does work.

**To Reproduce**

Steps to reproduce the behavior:

1. `g8 scala/scala3.g8`
2. Import and navigate to `Main.scala`
3. Run the file with the code lens, all works
4. Try to trigger a run file, fails.

You se

[2022-01-03 15:44] Arthurm1 commented on #3398
Could we ask Sourcegraph to release an additional jar that's entirely shaded?  And Metals/Bloop could use that one?

[2022-01-03 15:46] ckipp01 commented on #3458
Actually update, this is an issue with `runOrTestFile`, it works with plain `run`.

[2022-01-03 16:15] dos65 commented on #3398
@tgodzik

I think it might be solved on bloop side. I don't see sourcegraph jars in bloop json files so it seems that the returned only over bsp request

[2022-01-03 16:22] Arthurm1 commented on #3398
The jar gets added to the classpath dynamically [here](https://github.com/scalacenter/bloop/blob/36888397457c55624ae3398af736aa6887ca3b98/frontend/src/main/scala/bloop/data/Project.scala#L478) based on the contents of the `bloop.settings.json` file

[2022-01-03 17:00] tpolecat opened #3461 "java.lang.AssertionError: NoDenotation.owner"
**Describe the bug**

Completions sometimes fail with **Scala 3**, yielding the following stacktrace in `metals.log`.

[code]

**To Reproduce**

- Create the following file.

[code]

- Do `scal-cli compile .` and then `code .` to open the project.
- Type a dot after `sql""` to see completions. None will appear, and a stacktrace like the above will appear in the log.

**Discussion**

As this is an

[2022-01-03 17:13] smarter commented on #3461
From the stacktrace, metals is the one calling .owner on some symbol without checking if it .exists first (atlernatively one could use .maybeOwner), even if there was a bug in your macro it shouldn't lead to a crash.

[2022-01-03 18:10] dos65 opened #3462 "Go to defition on errored symbol in for-comprhension doesn't work"
Having the following sample, go-to-definition at errored `foo` in `a` doesn't work.

[code]

However, without for-comp with the same error the following works well:
[code]

**Installation:**

- Metals version: v0.10.9

[2022-01-04 09:52] kpodsiad commented on #3398
I wanted to test java support in Metals. I opened a Gradle project with only java sources and Metals won't start since there is no `.scala` file.
Should we bother to support such cases? @tgodzik had an idea that we can add a command `Enable Metals`. It might be a good idea, it doesn't conflict with java lsp and we don't have to create additional conditions when to enable Metals.

[2022-01-04 09:59] #3458 closed

[2022-01-04 10:01] dos65 commented on #3398
@kpodsiad

I can't imagine the case when somebody wants to use Metals on a full-java project.

[2022-01-04 10:02] ckipp01 commented on #3398
Agreed, imo this isn't an area we want to venture in.

[2022-01-04 11:22] ckipp01 opened #3464 "Compiling status never stops"
**Describe the bug**

I don't have a clear reproduction for this yet, but it is happening enough to me that I'd like to try and track down what exactly is happening, and it's good to have this at least up here in case others hit on it. The issue is that the compilation message just never seems to stop even though compilation has finished. You'll end up with something like this:

<img width="280" a

[2022-01-04 11:32] dos65 commented on #3464
I've seen this thing a lot of times in scalameta/scalameta repo.
The only I noticed that is this case the issue happens somewhere in bloop + scala native or scala js. The direct command `bloop compile` could not complete until restarting the bloop process.

[2022-01-04 13:03] #3454 closed

[2022-01-04 13:25] #3461 closed

[2022-01-04 14:07] tgodzik commented on #3398
I did a quick PoC of showing hover using semanticdb [here](https://github.com/tgodzik/metals/pull/new/java-hover), but I am not 100% sure if we want to go this way.

What we would need to do still:
- use `GlobalClassTable` for dependency symbols
- find symbols in workspace for anything outside the current file
- add modifiers

Main drawback of this would be that it would be much less efficient and

[2022-01-04 14:14] ckipp01 commented on #3246
Seeing that this has been a couple months and we haven't received any more info I'm going to go ahead and close since it's not actionable with the current info. Please do report back if you have more info and we can re-open.

[2022-01-04 14:14] #3246 closed

[2022-01-05 16:26] dos65 opened #3473 "Missing `provided`/ `optional` dependencies"
### Describe the bug

I found this thing during checking go-to-definition for dependency java sources in #3470.

Artifacts might have provided and optional dependencies but they aren't reflected by in classpath because they aren't needed for compilation. However, in case of IDE they might be required for semanticdb generation.
For example:
- Optional
  [`org.flyway:flyway-core:8.0.3`](https://mvnr

[2022-01-06 11:39] ckipp01 opened #3476 "Goto definition (references) returning end marker"
### Describe the bug

When I want to see the usage of a class I often just trigger a goto definition on the class name or do a find references on it. I noticed that in Scala 3 this returns the end marker of that class as well as the usage site.

### Reproduction steps

1. Ope the Scala 3 `CompletionProvider.scala` in Metals.
2. Do a goto defintion on `CompletionProvider`
3. See the following two r

[2022-01-06 11:44] tgodzik commented on #3476
This is kind of expected behaviour since the end marker has a reference to that symbol. This also allows the rename to work correctly in that case. We would need to special case it otherwise and filter it out (which might not be simple.)

[2022-01-06 11:47] ckipp01 commented on #3476
Ahh I didn't think about the rename case. Alright, I'll close.

[2022-01-06 11:47] #3476 closed

[2022-01-06 14:34] Arthurm1 opened #3477 "Metals won't run/debug main after X successful runs"
### Describe the bug

This is intermittent, but after successfully running and stopping a java main class a few times, the app will refuse to run again and I'll get log messages...
`ERROR java.nio.file.FileSystemAlreadyExistsException`

Full log...
[code]

There's no stack trace.  The error is appearing in the bsp trace so I guess it's from Bloop?

I have to restart Bloop (not Metals) to be able t

[2022-01-06 15:15] tgodzik commented on #3477
Thanks for finding this! I think it may have something to do with https://github.com/scalacenter/scala-debug-adapter

@adpi2 it's that error again :scream: Any idea where it might be coming from exactly?

[2022-01-06 15:45] adpi2 commented on #3477
Yeah it probably comes from the scala-debug-adapter, or potentially from Bloop too. On the debug-adapter side, it seems all file-systems are correctly closed though.

Also it could be a problem of concurrency: we try to open a file-system while it is being used by another thread. However it would not be so deterministic: here it seems it stops working completely after some time.

@Arthurm1 can you

[2022-01-06 15:48] Arthurm1 commented on #3477
Build server currently being used is Bloop v1.4.11-30-75fb3441

[2022-01-06 21:06] ckipp01 opened #3478 "SymbolPrefixes are messing up other util packages"
### Describe the bug

When you have code that is in another util package and there is a conflicting import, the symbol prefix for `java/util` screws up your import.

You can reproduce this with the following snippet:
[code]

You'll end up with the following:

[code]

### Expected behavior

I'd expect the fully qualified name just be inserted in place or something like `util.SourceFile`

[code]

##

[2022-01-07 13:51] dos65 opened #3479 "Jdk sources selected incorrectly"
### Describe the bug

Currently, in case of several JDK are available its sources might be selected incorrectly.

Metals might take jdkHome from `userConfiguration.javaHome` or the default one that corresponds to JDK in which Metals process was started.

However, project might use a different one for compilation.
BSP has [`JvmBuldTarget`](https://build-server-protocol.github.io/docs/extensions/jvm

[2022-01-07 13:58] dos65 commented on #3478
@ckipp01 Thx for the investigation! Looks like a source of issue

[2022-01-10 20:11] #3478 closed

[2022-01-13 08:00] vishalovercome opened #3500 "Feedback on Java & Test Explorer Support"
### Describe the bug

I want to thank everyone for this extension which has served me will for years!

I was really looking forward to the current release as Java & Test Explorer support were two of my most sought after features. I want to share some initial feedback:

1. Java support "works" but it's a CPU hog at the moment. I've had to switch back to older Metals for now
2. Previously I was foll

[2022-01-13 08:33] Arthurm1 commented on #3500
Hi @vishalovercome

Could you supply some more info on the CPU hogging issues.  Is this happening during indexing, compiling or when browsing java files?  And if it's browsing java files then is it when using some specific function i.e. "goto definition", formatting, code folding?  And does this happen in your java source files or dependency sources?

Also - what size is your code base - how many

[2022-01-13 09:12] vishalovercome commented on #3500
1. I've observed high cpu long after the project is imported and built. Basically auto-completion for my own project's Java classes has become unusable. I haven't tested the performance for external libraries.
2. There would be around 500 Java files and about 200 Scala files. Both are mixed within a multi-project code base
3. I've been using Metals + Redhat LSP + sbt-eclipse + lombok plugin and it

[2022-01-13 09:16] Arthurm1 commented on #3500
Thanks for the info.

Could you upload your format file here?

[2022-01-13 09:18] vishalovercome commented on #3500
https://github.com/google/styleguide/blob/gh-pages/eclipse-java-google-style.xml

[2022-01-13 09:30] dos65 commented on #3500
@vishalovercome
Thanks for the feedback.

Could you provide a bit more details? At which moment CPU usage get higher? Is it a constantly high from the start or rises during typing/opening source file (in which source `scala`/`java`)? Or maybe after saving file and triggering compilation?

[2022-01-13 09:31] vishalovercome commented on #3500
It spikes as soon as I type and until auto-complete suggestions load. Then it drops back again.

[2022-01-13 09:34] vishalovercome commented on #3500
I didn't try Scala files before I switched back to the older version of the extension. I'll try it over the weekend and get back to you. Thank you very much for your quick response!

[2022-01-13 10:00] dos65 opened #3501 "Typing in VSCode always executes command to refresh test-exporer"
### Describe the bug

Reproduction step:
- Enable: `Files: Auto Save: afterDelay`
- Start watching traces: `tail -f ~/.cache/metals/lsp.trace.json`
- Open any file and start typing with a delay (one char per sec)
- Notice that CPU usage gets higher
- Notice  `window/executeCommand` with the following result constantly appears:
[code]

### Expected behavior

It seems that at least this command shou

[2022-01-13 10:17] tgodzik commented on #3500
Thanks for the feedback!

We need to compile the entire codebase for all tests to appear so most likely once you open the file that module gets compiled. You can use `cascade-compile` to make sure that the entire project is compiled, but it should be compiled at the start when the workspace is open.

Code lenses use the same mechanism for running, so there should really be no difference in regards

[2022-01-13 10:41] vishalovercome commented on #3477
I've faced this issue several times and while restarting usually works, eventually bloop and metals go into a restart loop after which VSCode will kill metals. Restarting VSCode makes this problem go away.

In the past I created an issue about worksheets that stop working just like that. Maybe these are related 🤷🏽

[2022-01-13 11:02] kpodsiad commented on #3501
Is this happening with `Code Lenses` too? Refreshing tests via Text Explorer shouldn't be much more expensive since they both share the same mechanism - tests are refreshed after every compilation.

[2022-01-13 11:08] dos65 commented on #3501
@kpodsiad nope. I set explorer to `Code Lenses` and cpu spikes disappeared. I can look at it more detailed at it a bit later.

[2022-01-13 11:09] vishalovercome commented on #2093
I've faced this several times and have seen my colleagues switch to IntelliJ (which they use for their Java projects) due to it not working 100% of the time. With the latest Metals we seem to have added a "start button". Perhaps that button can do _everything_ (start, import, compile, refresh test explorer, etc.)

[2022-01-13 11:10] tgodzik commented on #3501
Do you have autosave on ? I can't seem to reproduce it :thinking:

[2022-01-13 11:12] dos65 commented on #3501
@tgodzik

Yes

[2022-01-13 11:23] tgodzik commented on #2093
@vishalovercome what build tool had that issue? I haven't seen any on projects I worked with.

Unfortunately, we can't run everything under the start button as the import might have already happened, so it would not be neccessary.

[2022-01-13 11:33] vishalovercome commented on #2093
Just bloop. It works _most_ of the time but not all of the time. When it doesn't "import build" gets the job done 90% of the time and restarting gets us there in the remaining 10% of the time. Some details about the project:

1. multi project
2. scala + java codebase

I never got sbt to work as BSP reliably, but this was when bsp support in sbt was just added

[2022-01-13 11:41] vishalovercome commented on #2093
As a datapoint - I faced this problem after upgrading to latest Metals today. Then "import build" -> "sbt bloopInstall" -> all good (except integration tests discovery in test explorer).

[2022-01-13 11:45] tgodzik commented on #2093
Did you have any kind of logs inside the Metals output or in `.metals/metals.log` ? I recently updated it to print more messages when it happens.

[2022-01-13 11:49] vishalovercome commented on #2093
As I described in another ticket, I had to switch to older metals due to performance problems and don't have the logs anymore. I'll grab them when I face this problem. This problem is further compounded by the fact that even doctor doesn't work reliably all the time - clicking it takes us nowhere at times. Thus its pretty much second nature to import / restart bloop / vscode.

[2022-01-13 11:54] tgodzik commented on #2093
I think the performance issue might be coming from the `Test Explorer`, so if you switch to lenses it should go away.

[2022-01-13 11:57] Arthurm1 commented on #2011
This works for me now on the latest Metals...

![image](https://user-images.githubusercontent.com/5612295/149325901-6c9973f8-6a4b-4c31-9dcf-3dfd7e9403ba.png)

But it doesn't work in the `Watch` section...

![image](https://user-images.githubusercontent.com/5612295/149325971-874ae997-8531-4c0e-88d2-1462144ac2cd.png)

[2022-01-13 12:00] vishalovercome commented on #2011
Exactly what I mentioned here - https://github.com/scalameta/metals-feature-requests/issues/194. Unfortunately Watch rarely ever works (my project is a mix of Java & Scala code)

[2022-01-13 12:12] vishalovercome commented on #2093
Performance is a separate issue - my point was that I don't have the logs as I switched to older version due to performance. I'll certainly share the logs when I hit this particular issue

[2022-01-13 12:51] keynmol opened #3503 "Inconsistent test detection with project matrices"
### Describe the bug

I'm testing the Test Explorer new feature which I'm super excited about.

There are two cases I've seen so far:

### Only the first project gets picked up:
![image](https://user-images.githubusercontent.com/1052965/149331739-93ce0ae8-ab37-4223-a15f-5f3b5c89029c.png)

Reproduction:

1. Clone https://github.com/disneystreaming/smithy4s/
2. Import build (it will take a long time

[2022-01-13 16:22] Arthurm1 commented on #3500
Java formatting wasn't picking up the user settings.  Should be fixed by https://github.com/scalameta/metals/pull/3504

[2022-01-13 16:48] tgodzik commented on #2011
Looks like it's trying to use Scala expression compiler for Java files, which is why this doesn't work.

I wonder if we can fall back to Java expression evalautor in this case.

@vishalovercome did you have any issues in Scala files?

[2022-01-13 17:57] tgodzik commented on #2011
Tried to add this here: https://github.com/scalacenter/scala-debug-adapter/compare/main...tgodzik:add-java-expression-eval?expand=1

Turns out that for expression evaluator you need to be in an Eclipse project :/ Everything is super dependent on that. Anything really connected to JDT is problematic now.

[2022-01-13 19:36] ruippeixotog opened #3508 "Metals v0.11.0 stuck at start time"
### Describe the bug

Metals is stuck at VS Code opening time since yesterday. The message "Starting Metals server..." stays forever in the status bar below while a `java` process is taking 85-90% CPU in the background. Closing VS Code leaves doesn't terminate that process, which is left hanging.

Metals output in VS Code shows only:

[code]

### Expected behavior

Metals should start correctly.

[2022-01-13 19:58] Blossme233 commented on #3508
I have the same issue since I update the metals to the latest version.
MacOS. Same version. Same output.

[2022-01-13 20:00] tgodzik commented on #3508
It looks like the java version is wrongly detected maybe? What's is the full path to java? Are you able set it manually in the settings?

[2022-01-13 20:05] Blossme233 commented on #3508
it seems the path of java is /Library/Java/JavaVirtualMachines/jdk-11.0.13.jdk/Contents/Home

[2022-01-13 20:10] tgodzik commented on #3508
Could you try setting it by hand?

[2022-01-13 20:23] Blossme233 commented on #3508
Yes. After adding the

[code]
VScode shows that "Unknown Configuration Setting".
I am not sure I am doing it correctly.

[2022-01-13 20:25] Blossme233 commented on #3508
Nevermind! Problem solved!

[2022-01-13 20:27] Blossme233 commented on #3508
The output should looks like something like this:
`Java home: /Library/Java/JavaVirtualMachines/jdk-11.0.13.jdk/Contents/Home
Metals version: 0.11.0`

[2022-01-13 20:49] ruippeixotog commented on #3508
Setting Java home manually (/Library/Java/JavaVirtualMachines/jdk1.8.0_202.jdk/Contents/Home) also fixes the problem for me.

Should I leave this issue open to track the problem of Metals not identifying Java path correctly? I would expect Metals to handle this much better - leaving one dangling process at 100% CPU doesn't look good.

[2022-01-13 21:03] tgodzik commented on #3508
I think I know what might be the cause here, let's leave this open for now

[2022-01-14 07:23] vishalovercome commented on #2011
Pardon my ignorance, but can't a Scala project also be an Eclipse project? Isn't that what the sbt-eclipse plugin does?

[2022-01-14 09:51] tgodzik commented on #2011
I need to generate eclipse configuration first, which would weird for the users. We could probably work around it, but it's not a low hanging fruit which I hoped it is. This is the same problem as with interactive features for Java.

[2022-01-14 10:27] adpi2 commented on #2011
"Variables" only evaluate `toString` while "Watch" treats the input as an expression and so it tries to compile it (which is not yet supported for Java). Maybe we should make an exception for expressions made of a single variable and not try to compile them at all.

[2022-01-14 12:12] tgodzik commented on #3477
Trying to reproduce it, but I run a Java mian over 20 times, tried with breakpoint etc but nothing works. We might try and print the stack trace in that situation.

@Arthurm1 what is the Java version you are using? Would you be able create a reproduction that this eventually happens on?

[2022-01-14 13:02] arturopala commented on #3500
After migrating to 0.11.1 I've been not able to run tests anymore, the log shows each time only:
[code]

[2022-01-14 13:05] tgodzik commented on #3500
Is there anything more in `.metals/metals.log` ?

[2022-01-14 13:11] arturopala commented on #3500
ok, problem has been solved by swithing to openjdk from zulu

before
[code]
after

[code]

[2022-01-14 13:13] arturopala commented on #3500
but 0.10.15 has been working fine running tests on  `Zulu 8.58.0.13-CA-macos-aarch64`, is it a `bloop` issue?

[2022-01-14 13:13] kpodsiad opened #3509 "Duplicated symbols in `BuildTargetClasses`'s test classes"
### Describe the bug

Not sure if it's even a bug, but I'm creating an issue to not forget about it and I'll try to get back to it later.

For every test suite `a.MunitTestSuite` Metals will create 2 test entries, but only one of them has a location in the source code.
[code]

Here code responsible for that:
https://github.com/scalameta/metals/blob/5898e3b5bd4d56a4e930e37c5cb3fba8366af055/metals/s

[2022-01-14 13:27] kpodsiad commented on #3500
@arturopala do you run tests via code lenses or test explorer?

[2022-01-14 13:34] arturopala commented on #3500
both `Testing` and `Run & Debug`

[2022-01-14 13:36] vishalovercome commented on #3500
Retried it today and I can confirm that the issue is far worse:

1. CPU constantly pegged at over 99% in both Scala/Java code
2. Code takes a lot longer to compile
3. Auto-complete is unusable
4. CPU drops back after auto-complete pop up or after compilation
5. All of the above is true even after switching to Code Lens. Thus the issue you created yesterday (#3501) is most likely not the root cause

[2022-01-14 13:43] kpodsiad commented on #3500
@arturopala then it looks like an issue with the bloop

[2022-01-14 13:43] vishalovercome commented on #3501
Probably this is happening under both Code Lens as well as Test Explorer (explained in the thread above)

[2022-01-14 13:43] tgodzik commented on #3500
That might be already fixed, though did you restart Bloop when switching Java versions? Could you try both with `1.4.12-6-1261d1aa` Bloop version? IT can be changed in the metals settings.

@vishalovercome that is unexpected, I wonder why it is influencing you more than others, maybe it's due to added Java support combined with autosave? Would it be possible for you to do a stacktrace when things

[2022-01-14 13:48] vishalovercome commented on #3500
I don't have auto-save enabled actually. That's why I don't think the other issue tracking this might not be the root cause (but could be aggravating things). One thing I do see different from earlier version is that there are many more code lens generation related logs and they seem to take quite a bit of time.

Can you tell me the exact command to capture the stacktrace?

[2022-01-14 13:52] tgodzik commented on #3500
In the same place where you have java located there should be the `jstack` and `jps` command. You can use `jps` to locate which PID Metals has and then run `jstack <PID> > jtack.txt` repalceing `<PID>` with the one you got from `jsp`

[2022-01-14 14:00] arturopala commented on #3500
yes, I did kill `bloop` process and have deleted `.bloop` folder before restarting VSCode after VM change to openjdk.

[2022-01-14 14:32] LingarajVB commented on #3075
Hello,
I am also facing the same issue, I have java installed on mac and even i was trying hello-world project but its not working.

<img width="941" alt="Screenshot 2022-01-14 at 8 00 33 PM" src="https://user-images.githubusercontent.com/39855043/149
<img width="481" alt="Screenshot 2022-01-14 at 7 57 26 PM" src="https://user-images.githubusercontent.com/39855043/149532208-6bf99c73-96af-44a3-88da

[2022-01-14 14:40] LingarajVB opened #3511 "mac | hello-world | unable to run code"
Hello,
I am also facing the same issue, I have java installed on mac and i was trying hello-world project but its not working.

<img width="481" alt="Screenshot 2022-01-14 at 7 57 26 PM" src="https://user-images.githubusercontent.com/39855043/149532336-9649df61-c06d-44f4-b57c-b1161e055f93.png">

getting the following error:

<img width="941" alt="Screenshot 2022-01-14 at 8 00 33 PM" src="https://u

[2022-01-14 14:52] kpodsiad commented on #3511
Hey @LingarajVB. It seems that Bloop is being started with a JRE instead of the JDK.
Could you paste the output from running: `bloop about` and `echo &JAVA_HOME`?

[2022-01-14 15:09] LingarajVB commented on #3511
@kpodsiad
Thanks for letting me know but as i mentioned i did not install bloop externally because it is asking me to force update my mac.

[2022-01-14 15:14] arturopala commented on #3500
after switching back clean to `Zulu 8.58.0.13-CA-macos-aarch64`, the test attempt hangs forever and metals.log shows:
[code]

and after rolling back the bloop version to `v1.4.12-6-1261d1aa` nothing improves :-(
[code]

[2022-01-14 15:17] kpodsiad commented on #3500
@arturopala Is it shown for which path `java.nio.file.NoSuchFileException` is raised? It seems like the path is incomplete.

[2022-01-14 15:20] arturopala commented on #3500
@kpodsiad nope, just `/Users`

[2022-01-14 15:27] LingarajVB commented on #3511
Okay!!!!
So here is what I did, I made sure that all of the below java versions are pointing to same java home (not the jdk but java home, for example : /Library/Java/JavaVirtualMachines/jdk1.8.0_231.jdk/Contents/Home)

metals (settings > metals settings > metals java home) === this fixed my actual issue
bloop (bloop.settings.json)
hello-world.json (platform.config.home).  === this fixed below iss

[2022-01-14 15:29] LingarajVB commented on #3511
No, This did not work.
And, about the previous issue, i was surprised that when i removed java_home that i set in metals settings (letting it use the default) my run did not work.
does it mean i should make sure bloop and metals are using same java jre or java home?

[2022-01-14 15:32] kpodsiad commented on #3500
@arturopala could you create and fill a separate issue for it? It's hard to tell what's going on, this may require additional investigation.

[2022-01-14 15:52] tgodzik commented on #3500
This might be the usual issue with /Users directory included in some jar.

[2022-01-14 15:57] tgodzik commented on #3511
They don't need to use the same JVM, but Bloop does require a JDK.

`bloop about` will only work if you install the CLI manually.

When metals run import they will do so using the specified Java version and that version will later be used for running the application or tests. You should not set the `hello-world.json` manually as this will be overriden the next time you do an import.

[2022-01-14 16:01] kpodsiad commented on #3511
Happy to hear that everything worked ;) I was writing an answer but I see that @tgodzik was quicker :D

I can recommend [sdk man](https://sdkman.io/) for managing among others JDK's, it updates everything for you and allows you to change jdk's easily.

Most of the time you don't have to worry about mismatch between debugger and debugge version, it only affects positions in the Java standard librar

[2022-01-14 17:54] tgodzik commented on #3500
It seems the issue is connected to https://github.com/scalameta/metals/pull/3512 we should be able to release a new version soon.

[2022-01-14 17:55] LingarajVB commented on #3511
@kpodsiad
Thank you for letting me know about sdkman. i will check it out.

@tgodzik
Thanks for coming back on this so quick.
If you think my java is correctly setup (as in the first picture, in the first comment of this thread),
i dont know what else is wrong, just now i tested, when i removed java_home that i set up in Metals settings, it started failing.
Yah, i removed bloop java_home that i ha

[2022-01-14 19:38] tgodzik commented on #3500
`0.11.0+15-ea6ea86c-SNAPSHOT` should fix the performance issue, please test it out if you have time!

[2022-01-14 20:39] Arthurm1 commented on #3477
I think I've found the reason...

I've got a dependency on javaFX.
`"org.openjfx:javafx-controls:17.0.1:win"`
`"org.openjfx:javafx-controls:17.0.1:linux"`

 This brings in 3 jars...
`javafx-controls-17.0.1-linux.jar`
`javafx-controls-17.0.1.jar`
`javafx-controls-17.0.1-win.jar`

These are all in `entries` which is accessed in parallel [here](https://github.com/scalacenter/scala-debug-adapter/blob/

[2022-01-15 01:47] arturopala commented on #3500
how to test snapshot with VSCode?

[2022-01-15 01:50] arturopala commented on #3511
I'm successfully using [jenv](https://www.jenv.be/) to manage JVMs on my mac

[2022-01-15 03:19] #3511 closed

[2022-01-15 06:54] kpodsiad commented on #3500
@arturopala open settings, then search and change `server version`:
<img width="597" alt="Screenshot 2022-01-15 at 07 52 39" src="https://user-images.githubusercontent.com/37124721/149612524-dfdef9fd-503a-4f2f-94ba-c3ab9f65440f.png">

[2022-01-15 08:44] adpi2 commented on #3477
@Arthurm1 That's a good catch! Thanks a lot for investigating it.

Right, we need to read all `SourceFile` from the list of distinct source entries and then we can build the `ClassEntryLookup`.

May I propose you to open a pull request to https://github.com/scalacenter/scala-debug-adapter?

[2022-01-15 13:41] vishalovercome commented on #3500
[jstack.txt](https://github.com/scalameta/metals/files/7875056/jstack.txt)

Running jstack itself causes metals to crash sometimes. Managed to grab some output when the cpu was > 99% which is the norm now.

[2022-01-15 14:34] kpodsiad commented on #3509
It's not a bug. At this moment Metals don't know if the class name refers to the class (e.g. munit or junit) or object (e.g. utest).

[2022-01-15 14:34] #3509 closed

[2022-01-15 14:50] Arthurm1 commented on #3500
@vishalovercome  The new snapshot should fix that exact stacktrace issue

[2022-01-15 17:33] arturopala commented on #3500
after playing a bit with `0.11.0` and  `0.11.0+15-ea6ea86c-SNAPSHOT`:
- it seems CPU demand is much lower when using the snapshot
- in both versions:
  - cannot run tests on `(Zulu 8.58.0.13-CA-macos-aarch64) (build 1.8.0_312-b07)`
  - can run tests on `Zulu11.52+13-CA (build 11.0.13+8-LTS)`

[2022-01-15 17:36] arturopala commented on #3500
additionally, when using `OpenJDK Runtime Environment Homebrew (build 11.0.12+0)` then metals logs `2022.01.15 17:01:19 WARN  Can't instantiate JavaInteractiveSemanticdb (version: None, jdkHome: /Users/arturopala/.jenv/versions/openjdk64-11.0.12, javac exists: true)[0m
`

[2022-01-16 09:09] dos65 commented on #3500
@arturopala

Could you look at `/Users/arturopala/.jenv/versions/openjdk64-11.0.12/release` file?
Does it exist? What does it have in `version` field?

[2022-01-16 17:00] #3501 closed

[2022-01-16 20:57] kpodsiad opened #3526 "Parsing error"
### Describe the bug

I noticed that there are no code lenses for test suites in scala-yaml. For example after opening [this test suite](https://github.com/VirtusLab/scala-yaml/blob/7c0f31a69a2e87bd31d9375d127498d9b4fdba5c/core/jvm/src/test/org/virtuslab/yaml/YamlEncoderSuite.scala)
which starts as below, there are multiple errors in `metals.log`
[code]

I suspect this is a configuration error sin

[2022-01-16 21:05] tgodzik commented on #3526
Thanks for reporting! I think that the dialect might be wrongly detected for the file. Could you check the doctor?

[2022-01-16 21:09] kpodsiad opened #3527 "improvement: Don't partition test into shards manually"
Currently, tests are partitioned into shards by manually maintained lists in [code](https://github.com/scalameta/metals/blob/fea28d117a152f411ce6a13ada7477e269eaa067/project/TestGroups.scala). However, this is very tedious to maintain, it's easy to forget:
- to add a newly created test suite
- to rename stale entry after some refactor (e.g. renaming)

I found [`Category`](https://scalameta.org/mun

[2022-01-16 21:12] kpodsiad commented on #3526
Yes, I checked the doctor. Every target has `Scala 3.1.0` type.
I'll check what's going on at these lines, see what target is passed to the parser.
[code]

[2022-01-16 22:28] tgodzik commented on #3526
The issue seems to not be the parser. I haven't looked before closely enough, but that class is in mtags for Scala 2 and will only be invoked when no target is available.

My guess is that you have a fallback Scala version set to Scala 2 and the file is not being recognised as being part of any target.

[2022-01-16 22:50] kpodsiad commented on #3503
I took a quick look at this and it seems to be more than just a test explorer's issue. Saving changes on one of the files in `test` folder triggers compilation only at the `core2_12-test` target which will trigger [rebuild index](https://github.com/scalameta/metals/blob/fea28d117a152f411ce6a13ada7477e269eaa067/metals/src/main/scala/scala/meta/internal/metals/debug/BuildTargetClasses.scala#L24) wit

[2022-01-16 22:51] kpodsiad commented on #3526
Thanks, that was the case.

 I'll have to investigate why this source file is not being recognized as a part of the scala3 target.

[2022-01-17 07:18] yaoqiang-se opened #3530 "The performance is very slow when used for a long time & CPU usage higher(>80%)"
### Describe the bug

I am VS Code + Metals, and upgrade Metals to latest version(v0.11.0), there never feel slowly before

I think maybe relations with  #3379

step:
1) open vscode at morning, and coding well
2) sleep PC at lunch, ~ 2h later
3) go back work, update code and save
4) output show `compiling root (1 scala source)`, then very very slowly, and CPU usage >90%
5) restart vscode, it just

[2022-01-17 07:32] tgodzik commented on #3527
Not sure about it, it is still possible to forget it and the current CI mechanism is lenient when it comes to forgetting a suite. I will just add it to the first shard and we can update the test suite later.

But maybe using Category would be a bit better? I am ok with both approaches.

[2022-01-17 09:25] markehammons opened #3531 "Metals chokes on path dependent types"
### Describe the bug

Add the following code to a repository:

[code]

Metals will not identify `y` as being `time_t` no matter how long you hover over it. It will also not suggest that `+` and other integral operations are available on `x`

### Expected behavior

Metals should show the appropriate type hints and method suggestions.

### Operating system

Linux

### Editor/Extension

VS Code

###

[2022-01-17 10:17] arturopala commented on #3500
[code]

[2022-01-17 10:19] kpodsiad opened #3532 "`java.lang.AssertionError: NoDenotation.owner` again"
### Describe the bug

Previously occurred in https://github.com/scalameta/metals/issues/3461. I can't find any `owner` -> `maybeOwner` to fix.

[code]

Reproduction:
Honestly, I don't know what I did, I was watching `metals.log` for a completely different reason.

### Expected behavior

The exception isn't thrown.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

[2022-01-17 10:38] kpodsiad opened #3533 "Metals compile only one build target after source file is modified"
It is possible for a source file to belong to many build targets (e.g. multiple scala versions have the same sources)/ However, Metals store information about only one build target - see [`DependencySources`](https://github.com/scalameta/metals/blob/31512bb4ec5284f04299f6d25800a0d8cd7954c2/metals/src/main/scala/scala/meta/internal/metals/DependencySources.scala). Both `setBuildTarget` and `getBuil

[2022-01-17 12:04] tgodzik commented on #3531
Thanks for reporting! @dos65 do you know if this needs to be fixed in Metals or the compiler itself?

[2022-01-17 12:14] froth commented on #2287
Is there any progress on this? Currently working on projects that use 2.X and 3.X macros via cross compile is reminding me of the old days when I used vim and gcc ;)

[2022-01-17 12:49] vishalovercome commented on #3500
With the latest plugin, it still doesn't seem to work. Can you tell me for the file I linked above, what should be the value of `metals.javaFormat.eclipseProfile`. I tried empty string, "GoogleStyle", "google-java-format" but the response is always `ERROR Java formatting profile NAME not found`

[2022-01-17 13:03] Arthurm1 commented on #3500
@vishalovercome  I have the following in my workspace settings...
[code]

[2022-01-17 13:05] vishalovercome opened #3534 "Metals 0.11.1 Queries & Observations"
1. Is this something to worry about - `ERROR ERROR StatusLogger Reconfiguration failed: No configuration found for '250b5e5b' at 'null' in 'null'`
2. Running tests with test explorer doesn't seem to be working. Worse, it seems to be stuck at "Running tests, 0/1 passed (0.00%)". I also see this stray process (jps output): `15431  -- main class information unavailable`
3. Output of jstack (when idle

[2022-01-17 13:10] kpodsiad commented on #3534
Thanks for another portion of feedback @vishalovercome.
2. Could you switch to code lenses and check if the problem is still present?

[2022-01-17 13:11] Arthurm1 commented on #3500
@vishalovercome The format file should start with something like...
[code]
and the `metals.javaFormat.eclipseProfile` setting should match whatever `name="XXX"` is set to.  In this case `GoogleStyle`

[2022-01-17 13:24] vishalovercome commented on #3500
I've had to switch to an older version of this extension due to some other issues I'm facing, particularly to do with performance. My suggestion would be that the default Metals formatter should be the same as https://github.com/sbt/sbt-java-formatter as that's what Scala developers would be looking to use in the absence of metals. Thanks a lot for your support!

[2022-01-17 13:30] dos65 opened #3536 "JavaInteractiveSemanticDb - jdk version inferring issue"
### Describe the bug

It was reported [here](https://github.com/scalameta/metals/issues/3500#issuecomment-1013722332).

Currently, we detect jdk version by reading `$JVM_HOME/release` and `version` field value from it.
We expected that it should works for Jdk11+ version but it seems there is no guarantee that `release` file will be presented in jdk-distributive.

As a solution if there is no `rele

[2022-01-17 13:31] dos65 commented on #3500
@arturopala

cat: /opt/homebrew/Cellar/openjdk@11/11.0.12/release: No such file or directory
cat: /Users/arturopala/.jenv/versions/openjdk64-17.0.1/releases: No such file or directory

Thx, turned it into an issue - #3505

[2022-01-17 13:49] tgodzik commented on #3500
Closing this one, I would like to propose the following:
- if it's specific problem, please raise an issue
- if it's more general, let's use the discussions

[2022-01-17 13:49] #3500 closed

[2022-01-17 13:50] tgodzik commented on #3536
Thanks for raising this! We already do the same thing in Bloop, so this shouldn't be hard to fix.

[2022-01-17 13:54] tgodzik commented on #2287
@froth no progress currently, but using project-matrix can work around it.

[2022-01-17 15:00] froth commented on #2287
Thanks, for the info. I will have a look if project-matrix makes my life easier :)

[2022-01-17 15:27] tgodzik commented on #3530
This should be fixed in the current version, let me know if that is not the case still.

[2022-01-17 15:27] #3530 closed

[2022-01-17 16:42] ckipp01 opened #3539 "Using Ammonite constantly logs out "could not load snapshot""
### Describe the bug

Create a single `test.sc` script in a directory. Open it up with Metals and tell it to import it as an Ammonite script. Start moving around. You'll see this in your logs.

[code]

### Expected behavior

I wouldn't expect this to constantly log, which makes the user think something is going wrong. I think in this scenario we may not just be handling Ammonite correctly.

### Op

[2022-01-18 03:40] Meowcolm024 opened #3542 "Failed to connect to build server (Metals 0.11.1, M1 macOS)"
### Describe the bug

The server can successfully start yesterday but, it does not work today.
When checking the log, the Metals version used yesterday is 0.11.0, but today is 0.11.1.

It keeps `Waiting for the bsp connection to come up...`

### Expected behavior

Server should start.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.1

### Extra context or

[2022-01-18 03:44] Meowcolm024 commented on #3542
It is strange that it may not always fail. Restart the build server may fix the problem, but then clicking `import build` will bring out this problem again.

[2022-01-18 04:06] Meowcolm024 commented on #3542
It may be a duplicate of #3532, but the metals version is slightly different.

[2022-01-18 07:51] tgodzik commented on #3542
Thanks for reporting! What version of Java Zulu 17 do you have exactly? Does it help if you switch to a different version?

[2022-01-18 07:53] Meowcolm024 commented on #3542
I'm using:
[code]
I currently change to bsp instead.

[2022-01-18 10:42] tgodzik commented on #3542
I haven't managed to reproduce, but it what is curious is what you wrote previously:

Looks like maybe it's connected to Java support and the additional export flags that we use to generate semanticdb indexes for Java files. Although that should fail when compiling and not when connecting.

Could try setting Bloop to the newest snapshot see if it helps? in `Bloop version` setting you can set it to

[2022-01-18 10:52] #3539 closed

[2022-01-18 12:09] tgodzik commented on #3542
We could probably try running Bloop CLI with verbose on, but you would need to install that separately via coursier `cs install bloop` and run `bloop compile -verbose <project-name>`. That might give us more information.

Last thing you can try is if Open JDK from https://adoptium.net/ is working for you.

[2022-01-18 14:23] Meowcolm024 commented on #3542
I think I would use bsp for now :(

[2022-01-18 15:07] tgodzik commented on #3542
Sure! If anyone bumps into this problem and can try running Bloop, do let me know!

[2022-01-19 09:09] RafalSierkiewicz commented on #3542
I think that I run into the same issue.
On metals 0.11.1 I am no able to get things working.

`2022.01.19 09:39:06 INFO  Attempting to connect to the build server...
2022.01.19 09:39:06 ERROR Failed to connect with build server, no functionality will work.
java.util.concurrent.ExecutionException: org.eclipse.lsp4j.jsonrpc.ResponseErrorException: Failed to load project from .../.bloop/app-build-bui

[2022-01-19 09:24] RafalSierkiewicz commented on #3542
Running `bloop compile --verbose <project-name>` finished successfully

[2022-01-19 10:19] RafalSierkiewicz commented on #3542
Ok, I guess that it was strange coincidence.
Yesterday I changed project sbt.version up to 1.6.1 and locally was 1.5.5. After local update it started to work again.

Sorry for the problems !

[2022-01-21 09:05] kpodsiad opened #3556 "Debug Server resources are never being cancelled"
### Describe the bug

https://github.com/scalameta/metals/blob/f604e4d00527742c0f2cf2c6124215e92bcf6bdb/metals/src/main/scala/scala/meta/internal/metals/MetalsLanguageServer.scala#L1783-L1793

`cancelables.add(server)` add `server` to list of cancellable resources. However, it is never removed nor canceled. Running subsequent debug requests keeps adding new resources to that list.

### Expected be

[2022-01-22 12:03] ckipp01 opened #3559 "Scala 3 underscore completions"
### Describe the bug

Given a minimal piece of code like this in Scala 3:

[code]
When you trigger a completion at `@@` you'll notice that there are completions returned that included the `_1`, and`_2` methods that are generated by the compiler as the top options. While these are valid I guess:

_cfr output_
[code]
It's arguably not what the user wants. Should we maybe filter these out?

<img widt

[2022-01-23 17:31] doofin opened #3561 "insert type annotation doesn't conform to type hints"
### Describe the bug

when try to insert type annotation ,the type hints are correct which is Future[Unit], but the action just give Any:

[code]

### Expected behavior

inserted type annotation should be same as the type hints

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

"0.11.2-SNAPSHOT"

### Extra context or search terms

_No response_

[2022-01-24 13:02] ckipp01 opened #3563 "`documentHighlight` highlighting entire chunk of code"
### Describe the bug

While navigating around the Dotty code base I came across a situation where Metals started highlighting the entire code block.

Starting here in `Desurgar.scala` you can see it's working normal, and then starts highlighting the entire block:

https://github.com/lampepfl/dotty/blob/26dbd774eadfa4b5e66dae098f2695da91b5e154/compiler/src/dotty/tools/dotc/ast/Desugar.scala#L393

!

[2022-01-24 13:09] dos65 commented on #3563
@ckipp01 I'll close it as it's a duplicate of #3053

[2022-01-24 13:09] #3563 closed

[2022-01-24 13:10] ckipp01 commented on #3563
Ahh sorry I totally missed that. Thanks!

[2022-01-24 14:51] ckipp01 commented on #3053
Related to this, I noticed that when this happens and you see usage of `showing` like in the above example, code navigation is also impacted. For example trying to goto a definition of a symbol inside of that block ends up leading you to `showing` instead.

![2022-01-24 15 50 42](https://user-images.githubusercontent.com/13974112/150805522-3d10bf00-fc28-4225-b98b-b82dbc72a554.gif)

[2022-01-24 15:48] tgodzik commented on #3561
Thanks for reporting! I can't seem to reproduce it in Scala 2 or Scala 3. Could you add a bit more information? For example what is the Scala versions and maybe the whole sample that this fails in.

[2022-01-24 18:59] doofin commented on #3561
Thanks for quick reply ! I also try to reproduce it in other places,but it didn't show up. It's a mixed scalajs /jvm project, and the bug occurs in a simple method of an object in scala js part. I tried to look at metals.log but nothing special is printed. How can I get more debug info?

[2022-01-24 19:06] tgodzik commented on #3561
Does this happen always in JS projects or only in that specific one? Can you reproduce it for example using https://scala-cli.virtuslab.org/ or sbt ? It should be possible to use it with JS

[2022-01-24 19:24] doofin commented on #3561
I might worked out a minimal sample  for that ,it seems related to implicits:
[code]

Then import it somewhere

[code]

[2022-01-25 08:25] tgodzik commented on #3561
So it seems that the problem is that you don't do:
`import scala.concurrent.Future`

future is undefined in that scope, so that is why you are getting `Any`

[2022-01-25 11:36] Z1kkurat opened #3565 "'Show decompiled with javap/CFR' doesn't work with dependency classes"
### Describe the bug

'Show decompiled with javap' and 'Show decompiled with CFR' both don't work for dependency classes.

Steps to reproduce:
1. Have some library as a dependency (for example, cats-effect)
2. Go to one of its files (for example, `cats/effect/internals/BlockerPlatform.scala`
3. Invoke either 'Show decompiled with javap' or 'Show decompiled with CFR'
4. Nothing happens

I saw no er

[2022-01-25 12:47] Arthurm1 commented on #3565
Currently jar dependencies aren't handled by the Source Analysis tools (CFR, javap) but I hope to change this soon

[2022-01-25 14:49] doofin commented on #3561
Sorry for my lapse,I have this `import scala.concurrent.Future` in the example ,it still annotate `Any`

[2022-01-25 14:57] tpolecat opened #3566 "Scala 3 mouseover type hints crush singleton types"
### Describe the bug

Singleton types In Scala 3 are widened in mouseover hints.

![image](https://user-images.githubusercontent.com/1200131/151000354-54ab97e3-be5f-44ef-abbf-c7dbea6d73c2.png)

### Expected behavior

The hint should read `val one: 1`.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.1

### Extra context or search terms

_No response_

[2022-01-25 17:45] doofin commented on #3561
It's not hover on type. In this one the hover doesn't work either.  I guess it's due to bugs in imlicits resolution,but the show inferred type still works:
![image](https://user-images.githubusercontent.com/6041353/151029979-b880dfa5-4bbe-4a71-ba81-1c6f4cd8ea43.png)

[2022-01-25 17:46] tgodzik commented on #3561
` show inferred type ` is using the last compiled state here, which is why it works.

[2022-01-26 12:43] #3566 closed

[2022-01-26 15:15] Arthurm1 opened #3570 "Running tests after failed compilation stops tests working"
### Describe the bug

1. Run a test using VSCode's `Run Test` icon in margin. (Successful)
2. Introduce an error into that test source file and save it so it won't compile
3. The `Run Test` icon is still there - so use it to run the test again.  Test will fail to run because the codebase doesn't compile
4. Fix the codebase and save the file
5. Run the test again - test won't run.  VSCode needs a r

[2022-01-26 16:12] tgodzik commented on #3570
Looks like an issue on the VS Code side, no request is being sent and we are getting:
[code]

[2022-01-27 16:41] kubukoz opened #3581 "Support synthetics in worksheets"
### Is your feature request related to a problem? Please describe.

When working with worksheets, it's not possible to see which implicits are used.

### Describe the solution you'd like

Similar decorations on synthetics as in normal .scala files.

### Describe alternatives you've considered

Manually copy-pasting expressions into a Scala file and inspecting synthetics there.

### Additional cont

[2022-01-28 16:15] dubielt1 opened #3575 "Launching Play-Seed Projects"
### Describe the bug

There is no clear avenue for launching Play Framework projects / applications with Metals, as far as I can tell.

I am using VSCode Remote Containers for development, so I do not have Java / SBT / etc. installed on my base Windows OS.

Repro:
1. Install VSCode
2. Open a workspace
3. Re-Open workspace in Container
4. Select default Java 8
5. After Container is built and opened

[2022-01-28 16:43] tgodzik commented on #3113
Did you manage to update to a newer sbt version? We haven't had any issues with disconnection in sbt 1.5.x

[2022-01-28 16:46] tgodzik commented on #3575
Thanks for reporting! Good news is that it is possible to launch Play projects in Metals thanks to:
https://github.com/scalameta/metals/issues/1667

Something like this in `.vscode/launch.json` should work:
[code]
However, it is not obvious. We should most likely improve the user experience here, the minimum thing we can do is have a preconfigured play launch configuration. We can look into that.

[2022-01-28 18:23] dubielt1 commented on #3575
Hi Tomasz, thank you for the quick reply!

I've created a `.vscode/launch.json` like described in your comment.

If I try to F5 or Ctrl-F5 while `HomeController.scala` file is open and has context, I get the below error (excerpt):

[code]

Any tips?

Thanks!

[2022-01-28 19:48] dubielt1 commented on #3575
@tgodzik - correct me if I am wrong, but one major downside here is that we lose the "hot reload" the play framework provides, since we are launching the Prod Server?

Would be nice if there was some entry point into the dev server, if only for semantic reasons, but looking through the play framework code I don't see a straightforward way to do so.

[2022-01-29 07:53] tribbloid commented on #2595
also affect me, which renders sc files unusable.

The matrix at https://scalameta.org/metals/docs/ should mark support  to ammonite scripts as "incomplete"

[2022-01-29 08:30] ckipp01 commented on #2595
I just added a small note about this in the docs @tribbloid.

[2022-01-29 14:00] kitbellew commented on #2595
i think you need a new parser, one which returns `Seq[Source]` or a new type altogether, rather than a new dialect. `@` separates ammonite code into rather independent pieces.

[2022-01-31 03:30] lancelet opened #3583 "Expired GPG key error when installing metals from emacs lsp-mode"
### Describe the bug

When trying to fetch metals via the LSP mode in doom emacs, I encountered the following error:

[code]

I'm not sure exactly where the error originates (it may be from Coursier, and not Metals, I think), but I was able to circumvent it by doing:

[code]

### Expected behavior

Expected installation of metals via lsp-mode to work.

### Operating system

macOS

### Editor/Exten

[2022-01-31 07:58] ckipp01 commented on #3583
Thanks for the report @lancelet! Just to tie this all together it looks like this has been reported upstream as well.

- https://github.com/emacs-lsp/lsp-metals/issues/65
- https://github.com/coursier/coursier/issues/2346

This will need to be fixed upstream but we can leave this open until it's resolved in case anyone else hits on it.

[2022-01-31 09:35] tgodzik commented on #3575
Unfortunately, you are right. I am not sure how to even make it work with the dev server. It looks like the server itself is started in sbt here: https://github.com/playframework/playframework/blob/fe4861300034eb0625867de3d33c4671635fc82a/dev-mode/sbt-plugin/src/main/scala/play/sbt/run/PlayRun.scala#L77

Maybe it would be possible to do with sbt BSP? Though I am afraid that might be a lot more wor

[2022-01-31 09:53] tgodzik commented on #3575
I added the configuration snippet here: https://github.com/scalameta/metals-vscode/pull/863

It should be a bit easier to discover. We don't have any custom integrations for any tools yet, so not sure even if we want to go that way (we try to rein in the scope a bit.), I opened upa feature request in https://github.com/scalameta/metals-feature-requests/issues/252

I will close this issue in favour

[2022-01-31 09:53] #3575 closed

[2022-01-31 13:52] chessman opened #3584 "Running tests from Emacs stopped working"
### Describe the bug

I can still run tests using bloop but in Emacs dap-mode it doesn't work anymore. I see a suspicious UncheckedIOException in metals logs - I do have /home directory.

Also, is it ok that the client in traces is shown as "vscode"?

[code]

dap-server.trace.json
[code]

dap-client.trace.json
[code]

### Expected behavior

_No response_

### Operating system

Linux

### Editor/Ex

[2022-01-31 14:11] tgodzik commented on #3584
Thanks for reporting! `"clientName": "Visual Studio Code",` seems suspicious, but that is set (or should be) by the dap-mode. What is your java home?  Looks like it's an issue with the debugging process not able to start. Does it work for you on an earlier Bloop version?

@kpodsiad do you think this could have been caused by your recent changes?

[2022-01-31 17:04] chessman commented on #3584
@tgodzik Yep, looked in dap-mode code, it pretends to be vscode.
Checked metals with different bloops: 1.4.12, 1.4.11, 1.4.10, got the same error in metals.log. `bloop test` works on all versions.
Actually, I installed very old Metals 0.10.0 (`cs install metals:0.10.0`) and also had the same problem. It is weird, because it definitely worked before.
JAVA_HOME is /home/ea/.cache/coursier/jvm/amazon

[2022-01-31 20:13] kpodsiad commented on #3584
I don't think so, especially because I haven't touched dunning internals yet. If `metals:0.10.0` doesn't work either something else has to be an issue (however, I'll have a closer look at this tomorrow just to be sure).

@tpasternak are you able to run tests on your machine?

[2022-01-31 20:33] ironfish commented on #3542
Just ran into this exact problem. After I killed the running java process, everything is now working.

[2022-02-01 09:50] ckipp01 opened #3593 "Hover on annotation in Scala just shows the Ref it's on"
### Describe the bug

Having a minimal piece of code like this:

[code]

When you attempt to do a hover on `@nowarn` you actually get the `TypeRef` of `Foo` shown instead of the information about `@nowarn`.

<img width="281" alt="Screenshot 2022-02-01 at 10 48 01" src="https://user-images.githubusercontent.com/13974112/151946431-33224950-cd78-4210-855c-0f63c45c2ac6.png">

The tree that is returned

[2022-02-01 12:16] tgodzik commented on #3593
I dug into that recently actually and it seems that the annotation tree is in the type.

I did fix an issue related to it in  https://github.com/lampepfl/dotty/pull/13834/files

[2022-02-01 12:25] chessman opened #3594 "Cannot index swagger-ui package"
### Describe the bug

1. Add `libraryDependencies += "org.webjars" % "swagger-ui" % "4.2.1"`
2. `sbt bloopInstall`

There is a stacktrace in metals.log:

[code]

The source file doesn't contain any sources actually, only one yaml file. Maybe indexer expects to find something.

### Expected behavior

No stacktrace.

### Operating system

Linux

### Editor/Extension

Emacs (lsp-metals)

### Version

[2022-02-01 15:01] #3581 closed

[2022-02-01 16:36] Quafadas opened #3596 "Minor doc update - metals uses JDK 17?"
### Describe the bug

![Screenshot 2022-02-01 at 17 33 43](https://user-images.githubusercontent.com/24899792/152009902-4c3c919b-03a8-42a2-a3a3-21dea962fd17.png)

This message tells me that metals will search for the most recent version between 8 & 11. On my Mac, it's finding java 17... so I think the description here is no longer accurate? This is the minorest of minor "bug" reports.

### Expecte

[2022-02-01 16:53] kubukoz opened #3597 ""Show semanticdb" missing for worksheets / sbt files"
### Describe the bug

The following options only show up in .scala files:

<img width="286" alt="image" src="https://user-images.githubusercontent.com/894884/152013293-d728ed48-bc71-4dfd-b033-b7de3b46e3e2.png">

However, semanticdb is now used in .scala, .sbt and .worksheet.sc files. I think these options should be available in these files as well.

### Expected behavior

Semanticdb can be dumped

[2022-02-01 18:38] tgodzik commented on #3594
Thanks for reporting! That jar seems to be a bit weird, someone put their home directory path, which I've seen break in a couple places. I am not able to reproduce it however. Does it show more information for you if you use the newest Metals snapshot?

[2022-02-02 10:04] zerodouglas commented on #3542
Following @ironfish comment, I also killed the running Java process and everything went back to normal.

## Operating system

macOS 12.1 (M1)
Editor/Extension

## VS Code
Version of Metals

v1.12.16

## Extra context or search terms

Java: OpenJDK v1.8.0_292

## Log:
[code]

[2022-02-02 12:43] kpodsiad commented on #3387
@WojciechMazur Does the problem still exist? I wasn't able to reproduce described behavior using Metals 0.11.1. In case it'll return we can always reopen this issue.

[2022-02-02 12:50] WojciechMazur commented on #3387
With the last release, this problem seems to no longer exist. Thanks!

[2022-02-02 12:50] #3387 closed

[2022-02-02 17:15] ironfish commented on #3542
Mine was for nvim metals instead of VSCode, but under the covers they both are using the same idea with bloop.

[2022-02-02 21:44] PhilParisot commented on #2724
Hey @matheussbernardo how did you solve this issue? I'm having the same on Ubuntu 20.04

[2022-02-03 16:10] tgodzik commented on #2724
source jar are not downloaded by default in some distributions. I am adding info to show what was searched in https://github.com/scalameta/metals/pull/3606

@PhilParisot Are you using some symlinks etc to set the Java path?

[2022-02-03 20:21] PhilParisot commented on #2724
Hey @tgodzik I got it fixed by installing `sudo apt insall openjdk-11-source`.

Thanks for the quick reply!

[2022-02-03 23:42] trK54Ylmz opened #3608 "Metals detects incorrect Scala version on Maven project"
### Describe the bug

Metals detects Scala as 2.12.0 but project uses Scala 2.12.15.

My environment is,

OS : macOS Monterey 12.1
VSCode : 1.64.0
VSCode Metals plugin : v1.12.0
Metals version : 0.11.1
Java : 1.8.0_282
Scala : 2.13.8 (Maven Scala library version is Scala 2.12.15)

<details>
<summary>pom.xml content</summary>

[code]
</details>

<details>
<summary>Maven dependency tree</summary>

[

[2022-02-04 11:41] tgodzik commented on #3608
Thanks for reporting! I think this is coming from `scala-version` being defined as `2.12`.  I think I only seen that field used as a full version not just a binary one. Are you using https://davidb.github.io/scala-maven-plugin/?  This is the only one supported currently by Metals and I think you can even drop `scala-version` and it should use the library version (which is the recommened way).

[2022-02-04 13:12] tgodzik commented on #3594
Actually I managed to reproduce it, no need to report an exception in this case since the jar itself is unreadable.

[2022-02-04 13:14] tgodzik commented on #3584
Actually, this doesn't seem to be related to Emacs at all, but to the broken swagger jar reported in https://github.com/scalameta/metals/issues/3594

@chessman is it the same workspace? I cannot run/debug either and it seem the fault is in unhandled exception in https://github.com/scalacenter/scala-debug-adapter

[2022-02-04 13:18] tgodzik commented on #3561
It seems we would be unable to fix it, if the presentation compiler resolves the type to `Any` there is nothing we can do about it. We cannot block insert type if there are compilation errors, since in a lot of cases this will work.

[2022-02-04 13:18] #3561 closed

[2022-02-04 13:20] tgodzik commented on #3542
I think we should be able to invoke coursier to manually kill Bloop (using bloopgun) in this case when restarting and if the BSP server is disconencted.

[2022-02-04 15:04] #3594 closed

[2022-02-04 16:16] chessman commented on #3584
@tgodzik Yes, this is the same project containing the broken jar.

[2022-02-04 16:17] tgodzik commented on #3584
Cool, that should be fixed by the other PR

[2022-02-04 17:48] #2960 closed

[2022-02-04 22:04] trK54Ylmz commented on #3608
I moved to `net.alchim31.maven:scala-maven-plugin` in Maven but this time gives `Upgrade to Scala 2.13.8 and run 'Import build' to enable code navigation.` @tgodzik

<details>
<summary>Maven dependency tree</summary>

[code]
</details>

<details>
<summary>Metals doctor</summary>

[code]
</details>

[2022-02-05 07:31] tgodzik commented on #3608
How did the pom change? Looks like something is still setting a wrong 2.13.0 or 2.13 version.

[2022-02-05 07:33] parhamshahriar opened #3612 "DO NOT OPEN FEATURE REQUESTS HERE"
Please open feature requests here https://github.com/scalameta/metals-feature-requests

The main issue tracker is reserved for bug reports and issues with an assigned milestone.

[2022-02-05 07:46] tgodzik commented on #3612
Please take a look at the other repository and open the issue there.

[2022-02-05 07:46] #3612 closed

[2022-02-05 13:48] doofin commented on #3561
Should we instead use the info from last compiled state similar to show inferred type ?

[2022-02-05 20:15] tgodzik commented on #3561
It would be hard to figure out whether we should use the old or if maybe the code was changed and type is different now. This will also only work if you compiled and then broke the code, which might not be that often.

[2022-02-06 23:00] doofin commented on #3561
Should we add a config key for this ? The old is actually not that different from the new one.Would be glad to help

[2022-02-06 23:14] doofin opened #3615 "Expand Selection selects too wide scope"
### Describe the bug

When use selection->Expand Selection,it sometimes selects the wrong range

Reproduction:
1.type single line some comment
2.put  cursor before `//` or after `//`
3.expand selection will select wrong block

In addition,it's also problematic with expand selection on block comment `/* */`

### Expected behavior

expand selection should only select the comment block when cursor is

[2022-02-07 09:36] tgodzik commented on #3615
Thanks for reporting! This is related to the fact that the Scala parser omits comments, we should probably do a similar thing to what we do for keywords in https://github.com/scalameta/metals/blob/main/mtags/src/main/scala-2/scala/meta/internal/pc/Keywords.scala#L66

Check if we are in the comment and expand the selection for it otherwise do it normally.

[2022-02-07 09:39] tgodzik commented on #3561
I would rather avoid adding a setting here, since we try to not grow the settings too much and the bahaviour here could cause a lot of flakiness.

[2022-02-07 11:32] NekoiNemo opened #3616 "Incorrect error detected"
### Describe the bug

Hello.

I encountered a peculiar bug in Metals where it detects incorrect error in the code:

![screenshot_1644232898](https://user-images.githubusercontent.com/3595771/152778925-b56d6f6c-85bf-4245-ac2f-dc13f293da87.png)

This happened after i used the rename command in VSCode to rename the type that is being highlighted as an error, immediately followed by renaming the field

[2022-02-07 12:26] trK54Ylmz commented on #3608
I found the problem by doing so much `mvn dependecy:tree -Dverbose`. The problem was related to the pom.xml file, just like you have mentioned. Thank you @tgodzik.

I have excluded `scala-library` versions from dependencies. For example,

[code]

And the problem fixed. It's working now.

<details>
<summary>Metals doctor</summary>

[code]
</details>

[2022-02-07 12:30] tgodzik commented on #3608
Glad to hear this worked!

[2022-02-07 12:30] #3608 closed

[2022-02-07 18:15] tgodzik commented on #3616
Thanks for reporting! I am currently working on updating some things in Bloop, which is used for compilation here. We should be able to reproduce the issue at hand and check it out later after the updates are done.

[2022-02-07 18:22] NekoiNemo commented on #3616
Also fixing the error in code didn't get bloop to be unstuck from the error - i had to nuke the .bloop & .metals dirs (i'm not sure which one did it) and rebuild project to get the error to go away. I snapshotted the project (and those directories) in the broken state just in case.

[2022-02-09 15:15] LingarajVB opened #3622 "Code Autosuggest/Autocomplete Issues"
### Describe the bug

**Autocomplete failed in the following case**

I was trying to convert Array[String] to Seq[Row] (note: Row comes from "import org.apache.spark.sql.Row")
i.e.,  Array("dir1/","dir2") to Seq(Row("dir1/"),Row("dir2/")) by making a slight modification to existing String literals in the Array **(as shown below)**

<img width="459" alt="image" src="https://user-images.githubuserco

[2022-02-09 15:18] damienzhang opened #3623 "Missed dependency when running test through VS Code testing API"
### Describe the bug

sbt version: 1.6.1
scala version: 2.13.7
vs code version: 1.64

metals build server: sbt

When I run a project that has a transitive dependency on jffi-1.3.1-native, running a test through `sbt test` succeeds, but running the same test through the VS Code testing UI fails. It appears that whatever code determines the classpath is not including this critical JAR: `$HOME/.cache

[2022-02-09 15:54] tgodzik commented on #3622
Thanks for reporting! Which Scala version are you using?

[2022-02-09 16:00] LingarajVB commented on #3622
@tgodzik Scala 2.11.12

[2022-02-09 16:11] dos65 commented on #3622
@LingarajVB which jvm version do you use? I've seen that completions doesn't work with scala2.11 + jvm > 8

[2022-02-09 16:36] dos65 opened #3624 "Bloop launcher ignores `JAVA_HOME`"
### Describe the bug

To reproduce:
  - install several JVMs
  - run Metals from non default one(`JAVA_HOME=$alternative code .`)
  - notice that bloop java version is different from Metals (`jcmd $bloop-process-id VM.version`)

### Version of Metals

v0.11.1

[2022-02-09 16:56] dos65 commented on #3559
@ckipp01 I've checked this. There are `_1` and `_2` in completions items but they comes after `a`, `b` that is correct.
Maybe there is some issue with ordering in nvim?

I don't think that we should remove these method from completion as they are valid options.

[2022-02-09 17:03] dos65 commented on #3531
@markehammons I couldn't reproduce you issue. At least it works fine for me on scala `3.1.1`.
Could you check it one time or provide more details?

[2022-02-09 17:13] tgodzik commented on #3624
JAVA_HOME variable should work in most cases though we can't actually send it from Metals as Bloop is global, which is why this might not work.

Proper way of setting Java home is by setting it `~/.bloop/bloop.json`, which we could do automatically.

[2022-02-09 17:21] tgodzik commented on #3526
Let's reopen this in case of a reproduction.

[2022-02-09 17:56] tgodzik commented on #3622
IT seems I can reproduce it with:
[code]

but sometimes it work and sometimes it doesn't :O

[2022-02-09 17:59] dos65 commented on #3622
@tgodzik could you check `.metals/metals.log`? Probably there will be errors from PC

[2022-02-09 18:00] tgodzik commented on #3622
There is nothing :D Quite a mistery this is.

[2022-02-09 19:47] ckipp01 commented on #3559
yea agree.

As for the ordering, it looks like the completion framework I'm using is trying to do some smart stuff with it. Either way, I'll close.

[2022-02-09 19:47] #3559 closed

[2022-02-09 19:52] kpodsiad commented on #3623
First of all, thanks for already minimized reproduction @damienzhang!

I won't be able to check this today, but I'll look at that tomorrow ;)

[2022-02-10 06:44] LeUser111 commented on #1923
Hi! I'm unfortunately giving up on Metals for now. I've tried to import a maven project for many hours now and it just won't work due to ignoring any and all proxy settings I've provided!

My setup is really simple: There's a proxy running on localhost:3128 without any authentication requirements.

The environment variables http_proxy, https_proxy, HTTP_PROXY and HTTPS_PROXY are configured correct

[2022-02-10 07:04] adampauls opened #3625 "Autocomplete at end of line with whitespace"
### Describe the bug

With this prefix:

[code]

autocomplete will (correctly) suggest both `otxxx` and `other` if either (a) the cursor is immediately after the comma, or (b) there is another line (like `val x = 5`) after the Widget line.

I think this might be a bug in the underlying Scala parser, but I am not sure.

### Expected behavior

Autocomplete should behave the same regardless of whites

[2022-02-10 09:06] kpodsiad commented on #3624
The value will be coming from JAVA_HOME or current metals jdk? In the second case, taking into account that users can have different jdk specified per different workspaces (https://github.com/scalameta/metals-vscode/pull/861) this setting will be constantly overwritten.

[2022-02-10 12:28] tgodzik commented on #1923
@LeUser111 I am very sorry that you haven't managed to set Metals up and seems you were very close. We need to handle things much better, but I haven't managed to work on it yet.

I think what needs to be done here is to add `-Dhttp.proxyHost=127.0.0.1 -Dhttp.proxyPort=3128` to `.bloop/bloop.json`  as described in https://scalacenter.github.io/bloop/docs/server-reference#custom-java-options

What

[2022-02-10 14:51] #3477 closed

[2022-02-10 16:06] tgodzik commented on #3625
Thanks for reporting! Suprisingly, if you start writing `o` it will also suggest the correct completions. I think this is one of the cases that we might need to add the artificial `CURSOR` name so that the parser doesn't fail. It's something we haven't yet ported from Scala 2.

[2022-02-10 17:01] mhammons-ledger commented on #3531
![image](https://user-images.githubusercontent.com/95632425/153457894-63d1b028-8b9b-48b5-8e5f-eb3bdcbb2bbe.png)

y should be reported as `gid_t`. `gid_t` **is** `Int` on my computer, but it varies per computer, and it's not actually provably an `Int` at the location shown.

[2022-02-10 17:04] mhammons-ledger commented on #3531
I found an error in my code. The path dependent type detection is now working properly:
![image](https://user-images.githubusercontent.com/95632425/153458695-8d979dd1-091a-4b80-ab2b-47df0ffdc660.png)

[2022-02-10 23:54] adampauls commented on #3625
Hmm, actually, now I'm confused. Look at what I believe are [dotty's completion unit tests](https://github.com/lampepfl/dotty/blob/main/language-server/test/dotty/tools/languageserver/CompletionTest.scala), there are no unit tests for filling in arguments to an `Apply`, i.e. nothing like `foo(${m1}`. Does the functionality for filling in argument names and values by type live only in Metals? If so

[2022-02-11 01:12] adampauls commented on #3625
Ah, I found [this](https://github.com/scalameta/metals/blob/1ad113dace0375e8d7f1748d613fdae33862201e/mtags/src/main/scala-3/scala/meta/internal/pc/Completions.scala), so it seems that the Scala compiler only provides some of the completions functionality.

[2022-02-11 12:34] tgodzik commented on #3625
We do a number of custom completions that are built upon the information from the Dotty presentation compiler. We try to port some of the improvements to the compiler itself, but since that can be used by a number of different tools we need to be careful what we include upstream.

[2022-02-11 16:47] LingarajVB commented on #3622
jdk1.8 home/jre

[2022-02-11 16:47] LingarajVB commented on #3622
jdk1.8 home/jre

[2022-02-11 17:35] damienzhang commented on #3623
Yeah it's quite mysterious. I tried a workaround that also failed, and maybe this one will fail for you too.

I tried adding the JFFI jars as unmanaged dependencies into `lib/` and then excluded jffi as a dependency in `build.sbt`. Here is the branch for that https://github.com/damienzhang/jffi_metals_bug/tree/unmanaged_dep

This works fine with `sbt test`, and `display build target info` now show

[2022-02-11 20:09] tgodzik commented on #3623
I think I managed to fix the issue in https://github.com/scalacenter/scala-debug-adapter/pull/192 :tada:

[2022-02-12 02:29] kubukoz commented on #2634
This looks pretty similar:

[code]

Things like `putHeaders` aren't actually suggested, and even after writing that Metals doesn't know what this method is.

Scala 2.13.7, dependencies: `"org.http4s" %% "http4s-ember-client" % "0.23.10"`, metals: `0.11.1+114-58f06ff8-SNAPSHOT`

[2022-02-12 09:36] #2595 closed

[2022-02-15 08:52] dos65 commented on #3624
Fixed by https://github.com/scalacenter/bloop/pull/1671

[2022-02-15 08:52] #3624 closed

[2022-02-15 11:18] kpodsiad commented on #2117
I tried to reproduce this error using steps described in https://github.com/scalacenter/bloop/issues/1380 but it seems that it's been already fixed.

@eloots in case you'll encounter this problem again let us know about it.

[2022-02-15 11:18] #2117 closed

[2022-02-15 12:37] LeUser111 commented on #1923
@tgodzik Thank you very much for your reply! I've incorporated the setting you suggested and the installation proceeded another step :) It's now running into another issue, but I have yet to take a closer look at it (and time is extremely short these days -.- ).

In any case I'd gladly test an improved setup. Should we choose to use metals, I'd also have to set it up for several colleagues and pro

[2022-02-16 08:47] tgodzik commented on #2634
That one I can't reproduce:

![bug-repro](https://user-images.githubusercontent.com/3807253/154228138-5940330f-01d5-45c0-8d0f-4239ff70fa44.gif)

It's probably another issue.

[2022-02-18 15:27] lambdista opened #3647 "Hover not working for expressions involving types defined in package objects"
### Describe the bug

I found hover doens't work in a for expression if the type involved is defined in a package object. E.g.:
[code]
then in `Test.scala`:
[code]
Hover doesn't work on `a` and `b`.
However if I uncomment the above import and define `Tmp` as follows then hover works as expected:
[code]

### Expected behavior

I expect hover to work just fine even if the type is defined in a packag

[2022-02-18 15:44] ckipp01 opened #3648 "When you save a resource it's not copied over to your classes"
### Describe the bug

In a situation where you have a `src/main/resources/file.sql` or any other type of resource there are times (especially when using DAP to run the app) that you'll want your resources to be up to date. However, there seems to be no `didSave` event sent to metals from the editor when you save one of these files. This for sure happens in `nvim-metals` and in VS Code. This can le

[2022-02-18 16:29] ekrich commented on #3648
This would be especially good for Scala Native too as we use the resources for native C/C++ and hopefully soon Rust so having the changed files copied would be excellent. So anything in `src/main/resources` or `src/test/resources`.

[2022-02-21 18:59] ckipp01 opened #3654 "`latests.json` both returning same version"
### Describe the bug

If you take a look at http://localhost:3000/metals/latests.json notice that both are just returning `0.11.2-SNAPSHOT`.

### Expected behavior

I'd expect this to match what's on the website with `0.11.1` for the release and something like `0.11.1+158-06755eb9-SNAPSHOT` for the snapshot.

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of

[2022-02-21 19:00] #3654 closed

[2022-02-21 19:01] ckipp01 commented on #3654
Ugh, ignore me I couldn't get this to work online because I was searching `latest.json` and then when I finally figured it out locally it was only returning the local version..... and I first realized I was still looking at localhost when I created the issue. I'm so smart.

[2022-02-22 13:29] gcnyin opened #3655 "Error downloading org.scalameta:mtags SNAPSHOT"
### Describe the bug

OS: windows 11
IDE: vscode
Metals plugin version: SNAPSHOT

Open sbt project in WSL(Ubuntu 20.04), but show some errors

[code]

### Expected behavior

Download metals in WSL.

### Operating system

Windows

### Editor/Extension

VS Code

### Version of Metals

v0.11.1+158-06755eb9-SNAPSHOT

### Extra context or search terms

_No response_

[2022-02-22 14:04] tgodzik commented on #3655
Thanks for reporting! Are you using Scala 2.13.0? It's no longer supported, so bets to upgrade to the newest one `2.13.8`

[2022-02-23 16:11] dos65 commented on #3648
The basic case works well without any actions from Metals side, at least in bloop. Resources in classes dir are refreshed before starting debug session.

@ckipp01 Could you specify in which case it doesn't work?
Are you about the case when you started debug session and then do changes in resources being resumed on breakpoint?

[2022-02-23 18:56] ckipp01 commented on #3648
I only verified that when you have a resource, change it, and then keep coding that it's not carried over on save. I didn't actually try any DAP stuff. This was a report based of the info @tpolecat was giving on Discord.

[2022-02-24 11:21] KaranAhlawat opened #3659 "Wrong indentation in Emacs"
### Describe the bug

Having setup metals-emacs with Eglot, when I open a project, and try to write some code, if I hit the RET key to go to the next line, the previous line has all of it's indentation removed, essentially starting at the first column.

Reproduction Steps:-
1. Setup scala-mode, sbt-mode, and eglot.
2. Open a scala file.
3. Connect to metals-emacs using eglot.
4. Go to the next lin

[2022-02-24 11:39] tgodzik commented on #3659
Thanks for reporting! Does it happen every time or in a specific scenarion? This might be the editor problem/misconfiguration and in that case best to report it to one of the Emacs plugins or discuss it on lsp-mode gitter.

[2022-02-24 11:56] KaranAhlawat commented on #3659
This happens everytime so far, no exceptions. It might be, but my configuration for scala is pretty much just what's on the Metals website section.

[2022-02-24 12:44] tgodzik commented on #3659
Probably best to ask around in the lsp-mode gitter, the configuration might be out of date unfortunately

[2022-02-24 15:58] ckipp01 opened #3660 "Test Explorer won't work... message shouldn't be shown in clients that don't implement the test explorer"
### Describe the bug

When using a client that doesn't implement the test explorer and Metals detects something that might now work right you get a warning that pops up. For example when using `nvim-metals` I hit on this today:

[code]

### Expected behavior

`nvim-metals` doesn't implement the test explorer so any issues related to it shouldn't surface to the client. This is probably due to the p

[2022-02-24 17:43] tgodzik commented on #1923
I am fixing the main problem behind this issue in https://github.com/scalameta/metals/pull/3662

I will also be working on making sure proxies and mirrors are working currently, starting with https://github.com/scalameta/metals-vscode/pull/899

The main issue we need to address is https://github.com/scalameta/metals/issues/2485

[2022-02-24 18:46] #1923 closed

[2022-02-24 18:47] tgodzik commented on #3655
IF you find any other issues please let us know, but we don't support Scala 2.13.0

[2022-02-24 18:47] #3655 closed

[2022-02-25 07:33] #3660 closed

[2022-02-25 14:23] tgodzik commented on #1923
@LeUser111 the new coursierMirror setting should be available in the prerelease version. Please let me know if it it helps. In the meantime I am looking into some other potential fixes.

[2022-02-25 14:24] tgodzik commented on #2485
It should now be possible to download coursier jars from an alternate repository using the new `coursierMirror` setting (in the prerelease version currently). Please do report if it's not working.

I am looking into some other issues now.

[2022-02-26 02:46] KaranAhlawat commented on #3659
Figured out the root cause of the issue, it's emacs-scala-mode itself. Doesn't fully support Scala 3 yet it looks like. I'll be closing the issue, thank you for your help.

[2022-02-26 02:46] #3659 closed

[2022-02-28 20:37] #1691 closed

[2022-03-01 10:44] Baccata opened #6782 "Add a way to filter in/out modules to prevent metals from triggering their compilation"
### Is your feature request related to a problem? Please describe.

I maintain a number of cross-compiled libraries and metals seem to struggle with them (ie, I need to restart it fairly often, etc), but also, I don't necessarily want to cross-compile against all targets whilst I'm developing, because it uses a lot of resources (even with incremental compilation), and sometimes drags the attention

[2022-03-01 13:08] dos65 commented on #3648
@tpolecat Could you specify the case when you found this thing might be useful?
Technically, it isn't hard to do on metals side but there is a chance that it's needed to be done in build tool.

[2022-03-01 14:47] tpolecat commented on #3648
The use case is that I update a `.sql` file in my resources folder and then git Ctrl+F5 to run my program and the updated resource is not visible. I have to go into the sbt console and do `copyResources`. My expectation here is that resources should be copied on save, the same way sources are compiled on save.

[2022-03-01 15:37] tpolecat commented on #3648
I'm using sbt as my build server.

[2022-03-01 15:46] ekrich commented on #3648
I think whether it is Bloop or sbt, when a resources file is saved/changed, Metals needs to send a BSP message to the build server that the file changed. At that point sbt or bloop should copy the file into the classes dir. I think if you put sbt in `~compile` mode it should copy the file if changed or at least `~run` mode.

[2022-03-01 16:03] Arthurm1 commented on #3648
I see - it seems Bloop and SBT behave differently with resources dirs...

Bloop
[code]

SBT
[code]

[2022-03-02 14:11] #1634 closed

[2022-03-03 13:02] #2561 closed

[2022-03-04 20:38] dos65 commented on #3648
@tpolecat thx for response! As I figured out it was the issue only with Ctrl+F5 in vscode client.
Currently `run|test` code lens works well.

[2022-03-07 10:41] #3648 closed

[2022-03-08 18:52] ckipp01 opened #3688 "Ignored DefinitionCrossLspSuite test fails in CI but not locally."
### Describe the bug

The `underscore` test in `DefinitionCrossLspSuite` fails in CI but not locally.

### Expected behavior

I'd expect this to pas.

NOTE: I'll include some more details on this, but just creating this for now to get a ticket number to put in https://github.com/scalameta/metals/pull/3631

[2022-03-08 18:56] ckipp01 opened #3689 "Flaky printing in `dependencies` WorkspaceSymbolLspSuite`."
### Describe the bug

The `dependencies` test is currently marked flaky in `WorkspaceSymbolLspSuite` since the references that are returned on the same line seem to keep flopping when you run it locally or in CI causing some non-deterministic behavior. You can witness this with the results that are returned for lines 524 and 550.

### Expected behavior

I'd expect for the returned values to always

[2022-03-08 21:11] tnielens opened #3736 "code action - generate companion object"
### Is your feature request related to a problem? Please describe.

When developing in vscode, I'd like to generate a companion object snippet.

### Describe the solution you'd like

Add a "generate companion object" code action. See comparable feature in intelliJ:
<img width="349" alt="image" src="https://user-images.githubusercontent.com/11885535/157325243-93fe4bbd-81af-4fd0-adce-6f60424b93a0.pn

[2022-03-09 06:56] tanishiking commented on #2183
Let me delve into this, as I'm unable to use sbt + BSP in my private project because of this issue.

[2022-03-09 06:59] tanishiking commented on #2183
So

- We can potentially fix this issue by https://github.com/sbt/sbt/issues/6037#issuecomment-720384726 👍
- There's a concern about the re-compilation fired by program generation https://github.com/sbt/sbt/issues/6037#issuecomment-720426998 and I also agree with @tgodzik https://github.com/sbt/sbt/issues/6037#issuecomment-720439642
- Looks like there's already `generated` flag in BSP https://buil

[2022-03-09 08:41] chessman commented on #3584
I can confirm that it works with Metals 0.11.2. Thanks for the fix!

[2022-03-09 08:41] #3584 closed

[2022-03-09 11:47] tanishiking opened #3690 "Second parameter starts with `$` become `|` in autofill arg completion, hover, signature help (Scala2)"
### Describe the bug

I found this issue while working on https://github.com/scalameta/metals/pull/3686#discussion_r821609453

- Define a method whose parameter starts with `$`
- Hover, signature help, `autofill with default argument` for the parameter starts with `$` shown as `|`
  - Only the second parameter becomes `|` 🤔

<img width="1163" alt="Screen Shot 2022-03-09 at 20 39 47" src="https://u

[2022-03-09 15:18] #3689 closed

[2022-03-09 18:41] #2400 closed

[2022-03-10 13:03] mirzov opened #3698 "Autocomplete not working properly for tab-indented Scala 3 code"
**Describe the bug**

Intellisense/autocomplete does not work as expected in Scala 3 projects on the lines that are indented with tabs.

**To Reproduce** Steps to reproduce the behavior:

1. Open a Scala 3 project
2. Indent a line of code with one or more tabs
3. Anywhere within the line, add a dot after an identifier, and press Ctrl+Space
4. "No suggestions" pops up instead of the expected list.

[2022-03-11 09:26] #3688 closed

[2022-03-11 15:08] tgodzik commented on #3398
Closing this one, I mentioned what still needs to be done in https://github.com/scalameta/metals-feature-requests/issues/5

[2022-03-11 15:08] #3398 closed

[2022-03-11 15:08] tgodzik commented on #2681
This is now working and there us a test for it.

[2022-03-11 15:08] #2681 closed

[2022-03-11 18:22] tgodzik commented on #2954
Let's reopen this if we get a bit more information.

[2022-03-11 18:24] tgodzik commented on #2946
This should work properly now, since we try to download mtags for the Scala version first and only then show the warning.

[2022-03-11 18:24] #2946 closed

[2022-03-11 18:27] tgodzik commented on #2495
@tanishiking do you think we can close this? We have better signatures currently and I would open new issues if we find any problematic cases.

[2022-03-11 18:28] tgodzik commented on #1974
Done in https://github.com/scalameta/metals/pull/3631 :tada:

[2022-03-11 18:28] #1974 closed

[2022-03-11 19:30] #3381 closed

[2022-03-12 02:20] tanishiking commented on #2495
Yeah, let's close this.

[2022-03-12 02:21] #2495 closed

[2022-03-12 06:36] #3625 closed

[2022-03-12 07:25] #3698 closed

[2022-03-12 15:08] kpodsiad commented on #1974
Do we want `Migrate codebase to 3` ticket? ;)

[2022-03-12 17:32] tgodzik commented on #1974
Let's maybe hold off for a bit still 😅

[2022-03-13 12:11] talestonini commented on #2207
I experienced exactly the same issue:
[code]
And after much debugging and arriving at this page I can confirm that simply **restarting the machine** did the trick.

[2022-03-14 11:28] ckipp01 opened #3730 "Provide feedback to user while waiting for a "run" to happen."

[2022-03-15 07:14] tanishiking opened #3718 "Add `generated` information to `Source Directories` section of `Display build target info`"
### Describe the bug

This issue is a follow up from https://github.com/scalameta/metals/pull/3694#issuecomment-1063933077

Currently,`> display build target info` prints something like:

[code]

### Expected behavior

It would be nice if it prints like

[code]

?

FYI: https://github.com/scalameta/metals/pull/3694#discussion_r823566814

### Operating system

_No response_

### Editor/Extension

_

[2022-03-15 07:42] tanishiking opened #3719 "[sbt BSP] editing a file fires `buildTarget/compile` against independent project"
### Describe the bug

Clone: https://github.com/tanishiking/sbt-multi-project/tree/20a3d476dc874db295fb3af3450873f8f211f1ea

[code]

[code]

[code]

[code]

---

- (compile all projects)
- open and edit `proj2/src/main/scala/B.scala`

the metals log shows:

[code]

- compilation on `proj1` happens (though no files compiled thanks to zinc).
  - (and `buildTarget/scalaMainClasses` compiles `proj1`)

[2022-03-15 08:11] tgodzik commented on #3718
Thanks for reporting! Should we enable it only for sbt or also for Bloop? For the latter we might need to modify the configuration files

[2022-03-15 08:39] #2183 closed

[2022-03-15 09:00] tgodzik commented on #3719
Thanks for finding this, I wonder if it's related to https://github.com/scalameta/metals-feature-requests/issues/258 ?

We can check via BSP logs what gets sent to sbt and this way figure out on which end the problem lays.

[2022-03-15 09:12] tanishiking commented on #3719
I'm not sure, that feature request seems like both for sbt and bloop, and this issue occurs only with sbt BSP 🤔

Thanks! I'll check the logs :+1:

[2022-03-15 09:15] tanishiking commented on #3718
I think it's ok to support only sbt at the first step (because Bloop doesn't return `generated` flags for [buildTarget/sources](https://build-server-protocol.github.io/docs/specification.html#build-target-sources-request) at least for the directories),
but in the future, yes, bloop also should be able to support this.

[2022-03-15 18:08] #1683 closed

[2022-03-16 07:55] kpodsiad opened #3722 "Doctor - compilation status improvements"
That's handy - I've often thought it would be useful to have more info on the compilation status - both "compiling" and "failed"

Is it possible to add this info to the Metals Tree View - i.e. have the project name go red on an error (yellow on warnings) - maybe even drill down to package or class level?  And have an hourglass next to the project name if it's compiling?

Also - is it possible to h

[2022-03-16 09:37] mirzov opened #3724 "Highlight of identifiers broken for tab-indented Scala 3 code"
### Describe the bug

The bug has been observed in VSCode, but since it occurs only with Scala 3, not with Scala 2, I'm assuming the problem is with metals. When putting a cursor on an identifier (e.g. variable or a method name), all the instances of the identifier get highlighted. The problem with tab-indented code is that the highlighted areas are off (see the screenshot).

Interestingly, fixing

[2022-03-16 10:44] tanishiking commented on #3719
Maybe this is just my misunderstanding because of the log output granularity.

Here's the log from `.metals/bsp.trace.log` when I edit a `/proj2/src/main/scala/B.scala`, and I can see both `sbt` and `bloop` receive only `buildTarget/compile`, `buildTarget/scalaMainClasses`, and `buildTarget/scalaTestClasses` against `proj2`. There's no request for `proj1`.

I'll analyze more about the BSP log diff

[2022-03-16 11:46] kpodsiad commented on #3719
Isn't title misleading? "editing a file fires `buildTarget/compile` against independent project" - after looking at the logs it's more like a problem with how build server interprets compile for proj2.

It seems like Bloop knows that nothing changed in `proj1` - `Start no-op compilation for proj1`, but sbt doesn't so it run normal compilation on it. However, Zinc is probably smart enough to detect

[2022-03-16 11:48] tanishiking commented on #3719
### send a `buildTarget/compile` against `proj2`
- otification `build/taskStart` (for `proj1`)
  - bloop: "Start no-op compilation for proj1"
  - sbt: "Compiling proj1"
- **only sbt** publishDiagnostics (for proj1)
- notification `build/taskFinish`
  - bloop has the following params in `data`
    - "isNoOp": true,
    - "isLastCycle": true,
    - "clientDir": "file:///Users/tanishiking/src/github.

[2022-03-16 11:56] tanishiking commented on #3719
@kpodsiad Yes, that's correct.
The thing is
- bloop notifies `buildTarget/taskStart` with a message "Start no-op compilation proj1", while sbt has "Compiling proj1"
  - and metals just ignore the notification from bloop here https://github.com/scalameta/metals/blob/c21487886e99150209d1857e5e41da20c9746426/metals/src/main/scala/scala/meta/internal/metals/ForwardingMetalsBuildClient.scala#L158
    -

[2022-03-16 12:11] spangaer opened #3726 ""Metals: Find text in dependency JAR files" does not seem to work"
### Describe the bug

1.  launch command
2. type .conf
3. type buffer (well any word failed)

VSCode Metals log -> `{"code":"Unknown","name":"Error (FileSystemError)"}`

### Expected behavior

Expect results 🤷‍♂️

### Operating system

Windows

### Editor/Extension

VS Code

### Version of Metals

v0.11.2

### Extra context or search terms

_No response_

[2022-03-16 12:18] kpodsiad commented on #3719
Ahh, now I see that bloop is comparing Zinc Analysis. I wonder if we can make some changes in sbt to align this behavior.

[2022-03-16 12:28] spangaer commented on #3726
- works in ext v1.11.1 + metals 0.11.0
- works in ext v1.12.0 + metals 0.11.1
- does not work in ext v1.13.0 + metals 0.11.2

Regression due to the virtual document change?

[2022-03-16 12:33] tanishiking commented on #3719
Yeah, also, bloop seems to compare the Zinc Analysis, and if there's no change in diagnostics, it doesn't notify the `build/publishDiagnostics` to BSP client (metals). This significantly reduces the message load between metals and bloop.

[2022-03-16 12:34] spangaer opened #3727 "Virtual Documents based dependency source reader lost the in-editor breadcrum"
### Describe the bug

Before using the virtual documents back-end for showing dependency source files the breadcrum navigation was available in the editor like for any other project source file.

Possibly this was due to it just being a copied source file, so it came "for free" before and now no longer is, but it does feel like a regression.

- there in ext v1.11.1 + metals 0.11.0
- there in ext v

[2022-03-16 12:35] dos65 commented on #3726
@spangaer Thanks for reporting and for hint. Will look what is going wrong

[2022-03-16 12:41] kpodsiad commented on #3727
Yes, this is exactly what happened.
As a workaround, for now, you could use `Metals: Reveal Active File in Side Bar` described in the [release notes](https://scalameta.org/metals/blog/2022/03/08/aluminium#vscode-view-source-jar-files-as-virtual-docs). It's not perfect but should be helpful in some situations.

[2022-03-16 12:41] tanishiking commented on #3719
@kpodsiad Where did you find the code where bloop compares Zinc Analysis? I'm trying to read bloop code, but I'm new to the repo, it would be helpful if there're some pointers :)

[2022-03-16 12:44] #3719 closed

[2022-03-16 12:44] kpodsiad commented on #3623
This should be fixed now with the new version of scala debug adapter

[2022-03-16 12:44] #3623 closed

[2022-03-16 12:45] #3718 closed, assigned to tanishiking

[2022-03-16 12:49] tanishiking commented on #3719
Thanks! @tgodzik @kpodsiad

[2022-03-16 12:58] Arthurm1 commented on #3727
@olafurpg has suggested [FileSystemProvider](https://code.visualstudio.com/api/references/vscode-api#FileSystemProvider) support which would allow proper exploration of the jars in the file explorer view (and bring back breadcrumbs) and seems fairly straightforward.

[2022-03-16 13:28] tgodzik commented on #3724
Thanks for reporting!

It looks like maybe `cursorPos.source.offsetToLine(offset)` is broken in the Dotty compiler, where we produce semanticdb. @dos65 did you take a look at that in compiler itself?

[2022-03-16 13:51] tanishiking commented on #3719
[note]
- `isNoOp`
  - [if `cycleCount` equals 0, `isNoOp = true`](https://github.com/tanishiking/bloop/blob/a9b3ea59631ca300c06394effbdf4b2a8e88dbf1/frontend/src/main/scala/bloop/reporter/BspProjectReporter.scala#L352)
  - [reportStartIncrementalCylcle increment cycleCount](https://github.com/tanishiking/bloop/blob/a9b3ea59631ca300c06394effbdf4b2a8e88dbf1/frontend/src/main/scala/bloop/reporter/Bsp

[2022-03-16 14:26] tgodzik commented on #3726
From what I checked the issue is when the jar is broken. Managed to reproduce it on the Metals repository. We could probably just add a Try somewhere to be sure.

[2022-03-16 14:30] dos65 commented on #3726
@Arthurm1 I took a look. It seems that it might be solved by introducing FileSystemProvider.

However, I think we need to do changes on server side too. There is an issue with preview text. Currently we extract it by reading a whole file on client side that wasn't optimal even with having files on disk. It would be better to extend protocol and send prepared preview-text from the server

[2022-03-16 14:42] Arthurm1 commented on #3726
@dos65  OK, but if you don't want to go that far - I think you can just change the VSCode side to use `workspace.openTextDocument(uri)` instead of reading the file directly...

[code]

[2022-03-16 15:09] spangaer commented on #3727
Is it delusional to think that would automagically bring the ability to browse JARs for resources genre .conf files, because that would really be supercool!

[2022-03-16 20:46] jackcviers commented on #3659
@KaranAhlawat -- there is a [branch supporting scala 3](https://github.com/Kazark/emacs-scala-mode/tree/scala3) that you can clone into `~/.emacs.d/elisp/scala-mode/`. Then you can load it by putting the following into your init file:

[code]

Then configure for metals as normal.

[2022-03-17 03:38] KaranAhlawat commented on #3659
@jackcviers Hi, yes I tried that shortly after finding the issue. Unfortunately, even that branch isn't very complete yet, so my mileage wasn't great. And there seems to be no activity for a while now. Thanks for taking your time though!

[2022-03-17 10:10] tanishiking commented on #3719
Opened an issue on https://github.com/sbt/sbt/issues/6844

[2022-03-17 14:29] jackcviers commented on #3659
Yeah, it does seem to work better than the existing scala-mode even with
the occasional newline return issues, though.

Jack Viers - 515.313.7838 ***@***.***

On Wed, Mar 16, 2022, 10:38 PM Karan Ahlawat ***@***.***>
wrote:

[2022-03-18 09:49] ckipp01 commented on #3736
Transferring to the main repo since this is currently being worked on.

[2022-03-20 13:54] ckipp01 opened #3740 "Too many newlines in hover when showing synthetics with Scala 3"
### Describe the bug

When hovering on a method that has an implicit param there are multiple extra new lines in the hover that is returned that aren't needed. It then renders like this:

<img width="342" alt="Screenshot 2022-03-20 at 14 50 22" src="https://user-images.githubusercontent.com/13974112/159165673-d71d522a-2549-4ad9-bdbc-bcb8d5a3d07d.png">

Notice all the extra space between `Some mess

[2022-03-20 15:13] ckipp01 commented on #3740
Alright, looking closer this seems to be an upstream issue actually.

When we call `renderAsMarkdown` on `/** Some message */` it returns it back from Dotty with two extra newlines at the end. I think the best place to fix this would be there.

[2022-03-21 05:45] Atry opened #3741 "Cannot decompile companion object of opaque types in Scala 3"
### Describe the bug

Reproduction steps:

1. Check out https://github.com/Atry/metals-decompile
2. Open the project in VS Code with Metals
3. Import the project with bloop compiler server
4. Open `src/main/scala/mypackage/MyOpaqueType.scala` in the editor
5. From the Command Palette, run "Metals: Show decompiled with javap verbose"

Then the error message is shown in a new tab

[code]

### Expect

[2022-03-21 09:58] tgodzik commented on #3740
We could also replace too many `\n+` with `\n` as a workaround

[2022-03-21 10:07] tgodzik commented on #3740
Awesome!

[2022-03-21 13:46] andyczerwonka opened #3744 "[Scala 3] Code Actions for Imports Don't Work"
### Describe the bug

I don't know if this is just a feature that has yet to be added, but I'm reporting a defect simply because this feature works for Scala 2 projects.

Code completions are working, but if I copy/paste some code with missing imports, Metals does not give me any help with those missing imports.
![image](https://user-images.githubusercontent.com/138898/159273798-27a22524-f258-48d1

[2022-03-21 14:07] tgodzik commented on #3741
Thanks for reporting! It looks like with opaque type the object classfile is different than when the object is a companion to a non opaque topelevel type.

`mypackage/MyOpaqueType$package$MyOpaqueType$.class` instead of `mypackage/MyOpaqueType$.class`

If we put the type into another class/object then the resulting classfiles are as we would expect them. We could special case this scenario or see

[2022-03-21 14:18] tgodzik commented on #3744
Thanks for reporting! What is the exact Scala version you are using here? Also, which build server?

IT seems I can't reproduce it at all:

![metals-decompile-1647872248378](https://user-images.githubusercontent.com/3807253/159280445-2f3ff979-71c4-4d11-8680-65ed6ec75ed0.gif)

The only difference I see is that the message is different. `Not found: type` instead of `Not found: type Try`

Anything in

[2022-03-21 14:23] andyczerwonka commented on #3744
That's strange. Scala is `3.1.1` and I'm using Bloop `v1.4.13`.

My `build.sbt` is as follows:

[code]

[2022-03-21 14:40] #3744 closed

[2022-03-22 07:15] #3740 closed

[2022-03-22 12:11] #3736 closed

[2022-03-22 16:28] mdelomba opened #3747 "Unverified breakpoints as a result of naming convention"
### Describe the bug

As a result of us not strictly enforcing naming conventions we have projects with different naming conventions as shown below:
LibraryProject
    subprojecta
    subProjectB
    SubProjectC

When debugging I've noticed that the only code that has verified breakpoints are the projects with all lowercase naming. The other projects will show as "Unverified Breakpoint". After ren

[2022-03-23 09:47] HyoungsungKim commented on #2525
Hi How did you import akka in vscode worksheet?

[2022-03-23 10:05] HyoungsungKim commented on #2525
@ckipp01 I really really thanks for your fast reply!

[2022-03-25 10:20] tgodzik opened #3754 "Cancel should cancel all current requests"
### Describe the bug

Currently if user cancels a compilation only one compilation is canceled while all the others still work.

### Expected behavior

All current compilations are cancelled

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.2

### Extra context or search terms

cancel compile

[2022-03-25 13:09] pvid opened #3755 "Calls to `doctor.check` on each build target compilation significantly degrade performance"
### Describe the bug

Using recent SNAPSHOT versions, I encountered a significant delay between saving a file and editor receiving diagnostics. It went from nearly imperceptible to > 10 seconds.

It is happening in a module that transitively depends on multiple other modules in a large sbt project. I managed to track the issue down to`doctor.check()` being called on each build target compilation.

[2022-03-25 13:19] tgodzik commented on #3755
Thanks for reporting! @kpodsiad it's probably related to your changes?

[2022-03-25 18:47] pvid opened #3757 "Stale diagnostics after build re-import"
### Describe the bug

Reproduction in the `metals` repo:

1. Make sure that the project is imported and fully indexed
2. Open `build.sbt` and `FileWatcher.scala` file
3. Comment out the `swoval` dependency in `build.sbt` project and import build when prompted
4. After successful import, errors regarding  missing classes should be visible
5. Fix `build.sbt` file and reimport
6. Errors regarding mis

[2022-03-25 19:02] kpodsiad commented on #3755
@pvid could you try https://github.com/kpodsiad/metals/tree/fix/doctor-check out? Personally, I don't have access to any codebase big enough to see what the difference looks like.

[2022-03-25 20:43] pvid commented on #3755
@kpodsiad thank you for the quick turnaround! That version seems to fix the issue 👍

[2022-03-26 07:10] kpodsiad commented on #3755
Glad to hear that it helps, but unfortunately it's rather quick & dirty than a rightful fix.

The problem is that Metals server doesn't know anything about vscode's Doctor panel, if it is open or closed. Without knowing that fact server doesn't know if reloading doctor is necessary or not.

One possible solution is to keep track of its state on the server side. However, AFAIK clients like nvim jus

[2022-03-26 08:01] ckipp01 commented on #3755
🤔 I wonder if it's possible at all to have something similar to `treeViewVisibilityDidChange`. Would it be possible that when the doctor panel gets opened we fire something like a `doctorVisibilityDidChange` notification to Metals and we track that, and we don't compute any doctor stuff unless it's open or unless we need to compute it to send along with a `metals-doctor-[run|reload]`?

Yea at leas

[2022-03-26 08:20] kpodsiad commented on #3755
Yes, it is possible to do that in vscode. But if other clients don't keep doctor opened won't it be too vscode specific? (or it's rather more universal approach, I cannot decide between these options).

Anyway, I'll go with visibility change events and see how it works.

[2022-03-26 09:01] ckipp01 commented on #3755
I think this should be ok in other editors as well. I know in Neovim it won't be an issue to send this when we open it and again when it gets closed.

[2022-03-26 15:28] ckipp01 opened #3761 "asTerm called on not-a-Term val <none> error in Scala 3"
### Describe the bug

When looking at the logs when working in Dotty you can see the following error:

[code]

You can reproduce this the following way:

1. Clone Dotty
2. Open it and import it
3. Open a file like `ErrorMessageID.scala` and look at the logs.

<details>
<summary>Full stack trace</summary>
<br>
[code]
</details>

### Expected behavior

No exceptions.

### Operating system

macOS

##

[2022-03-26 18:03] keynmol opened #3762 ""Extract class to file" refactoring leaves behind end marker"
### Describe the bug

Scala 3.1.1, Metals 0.11.2+86-4d583c7c-SNAPSHOT

_I'm having a de ja vu, I think I've reported this before..._

1. Be me
2. Have a file like this:
[code]

3. Run "Extract class Bla to file Bla.scala"
4. Class is extracted okay, but the `end Bla` line remains in the main file

![2022-03-26 18 00 02](https://user-images.githubusercontent.com/1052965/160251766-0b961474-adb1-49ed

[2022-03-27 16:28] kitbellew commented on #845
@tgodzik did you determine that `inline` is a valid keyword in scala2? how does that relate to macros?

[2022-03-27 21:57] tribbloid opened #3764 ""Resolution error: Error downloading org.scalameta:metals_2.12:0.11.2+103-92415c3d-SNAPSHOT""
### Describe the bug

1. Open any sbt project with VSCode insider
2. get the error message

### Expected behavior

_No response_

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

2.12:0.11.2+103-92415c3d-SNAPSHOT

### Extra context or search terms

_No response_

[2022-03-27 22:18] tribbloid commented on #3764
[code]

[2022-03-28 07:04] kpodsiad commented on #3764
We've recently migrated the codebase from 2.12 to 2.13 and that's why there is no snapshot for `_2.12` suffix. What's your extension version?

It seems like you modified `server version` manually, didn't you?

There are two options hot to solve this issue:
- you can remove `server version` and use default one which is compatible with your current vscode's Metals extension version
- you can switch

[2022-03-28 08:19] tgodzik commented on #3762
Thanks for reporting! This is because the end marker is included in the parent's statements, we should check this additionally.

[2022-03-28 09:19] tgodzik commented on #3761
Thanks for reporting! This looks like an issue in the compiler though? Did you ever see it before? I am wondering if it's something that popped up in the recent RC.

[2022-03-28 09:59] ckipp01 commented on #3761
It's been there for a while, as I've come across this quite a bit in the past, but never created an issue for it. As for where the actual is I'm not sure. I just saw some `scalameta` in the stacktrace where we were indexing, so I figured I'd create here and then we can figure out where the root issue is.

[2022-03-28 10:37] tgodzik commented on #3761
Alright, cool. I think we can add the check in the compiler, though it would cool to be able to reproduce it with a test.

[2022-03-28 11:55] tgodzik commented on #3755
What if we cached the doctor info so that we wouldn't recalculate everything? Is it the main problem here that check invokes a lot of calculations for the problem resolver?

Alternatively, maybe we could include the compilation status in the treeview and keep that cached on the client side? We could nicely color the failing projects in the metals view.

[2022-03-28 12:21] kpodsiad commented on #3755
That sounds like a good plan for future improvement 👍🏻 . However, I'll go with the visibility change for now as its less demanding.

[2022-03-28 15:36] tgodzik commented on #3757
Thanks for reporting! Are you using BSP sbt or Bloop? We should be clearing diagnostics when connecting to build server, but maybe this is not happening on simple reload?

[2022-03-28 16:04] dos65 commented on #917
Just hit on this problem one more time and did some investigations.

It seems that one part of this issue comes from PC and compiler side.
The problem is that whenever we do anything using PC we pass a source file and do a compile.
Compiler enters symbols from source into symbolTable and keeps them until it will be restarted.

Example, with completions:
- first phase - enter all symbol and do comp

[2022-03-28 16:31] kpodsiad commented on #3757
Recently, when adding `Wunused` to the Metals, I observed this behavior with sbt BSP. Can't tell if it's a regression or if it wasn't working before too.

[2022-03-28 17:20] olafurpg commented on #917
This might result in a significant performance degradation for a pretty modest UX improvement. I believe a better solution is to use -Youtline to build an up-to-date classpath even for erroneous code as mentioned in https://github.com/scalameta/metals/issues/917#issuecomment-729685029

[2022-03-28 18:09] ckipp01 opened #3766 "ERROR Flag -classpath set repeatedly"
### Describe the bug

I've been having a fair amount of issues with Metals recently when working in the Dotty codebase. Mainly it just stops offering goto defintions, but I don't see any issues about missing semanticdb or the normal stuff. All that to say I've been paying more attention to the logs recently and I see a ton of:
[code]
The thing that sticks out is that there are `ERROR` here, but wh

[2022-03-28 18:15] pvid commented on #3757
If it is a regression, I don’t think it is recent. I think I have ran into it a few times in the last couple of months, but never had time to reproduce/diagnose it. However, maybe my memory deceives me

[2022-03-28 19:53] tgodzik commented on #3766
I've seen it and it's most likely related to the Bloop update, but I was not able to pinpoint it exactly :/
Looks like maybe it's the way we invoke zinc :thinking: I need to take a look at it as well as some other issues I've been seeing.

[2022-03-29 08:38] dos65 commented on #3757
I also faced into this issue recently but haven't found a way to reproduce it.
After deleting `.blood` and re-importing the project, it disappeared.

[2022-03-29 12:53] kpodsiad commented on #3764
@tribbloid I'll close this issue, but if you still have mentioned errors feel free to reopen it.

[2022-03-29 12:53] #3764 closed

[2022-03-30 08:14] kpodsiad opened #3771 "Test Explorer - munit support status"
MUnit support is still in progress and this issue is a status tracker of that progress.
### Test Explorer can discover and show:

- [x] tests which are defined in class
[code]

### Test Explorer can't discover and show:

- [ ] tests when helper method is defined in parent class
[code]

- [ ] tests which are defined in parent class
[code]

- [ ] others

[2022-03-30 09:43] kpodsiad commented on #3726
Should be fixed in the https://github.com/scalameta/metals-vscode/pull/918.
It can be checked using `pre-release` version - instruction how to switch to it is [here](https://scalameta.org/metals/docs/editors/vscode#installation).

That's said, I'll close this issue. If you will still have problems @spangaer don't hesitate with reopening this issue.

[2022-03-30 09:43] #3726 closed

[2022-03-30 09:49] kpodsiad commented on #3536
Is this related?
I have metals.javaHome pinpointed to the `/Users/kpodsiadlo/.sdkman/candidates/java/current` which resolves to the
[code]
but when I try to enter some Java class, for example, `Charset.java` (`InteractiveSemanticdbs` -> `Charset`) I get

[code]

[2022-03-30 11:32] dos65 commented on #3536
@kpodsiad looks like a different one. In your case you have jdk `17.0.2` while sources are `8.0.322`. Could you turn it into another issue?

Do you have anything special in your setup? Or it's enough just to setup zulu-17.0.2 using sdkman to reproduce that?

[2022-03-31 03:13] pca006132 commented on #92
Hi, LSP now supports progress report via `$/progress`: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#progress . Wondering if it is possible to add an option to `statusBarProvider` to use this method, so editor plugins such as https://github.com/j-hui/fidget.nvim can handle this without the need to special case metals.

[2022-03-31 06:13] ckipp01 commented on #92
Hey @pca006132 we actually have a feature request for this here: https://github.com/scalameta/metals-feature-requests/issues/125. We have a couple different custom LSP extension that we use in instead of progress to enable us to do a few more things, but it is a good idea to default to progress when the client doesn't support `metals/status`.

[2022-03-31 11:30] davidmlw commented on #3301
Hi, There. Is this issue with some new progresses? It is really an limitation of metals for mutliusers in one server. As I know Bloop supprt environment `BLOOP_PORT` to start multiple server in one machine. But metals, didn't respect the env var.

[2022-03-31 14:09] #3755 closed

[2022-03-31 14:50] kpodsiad commented on #3755
@pvid there is a new pre-release version of vscode's extension. Could you try it and get us confirmation that the problem is gone?

[2022-04-02 07:30] kpodsiad opened #3783 "`JdkSources` could not infer default java sources"
### Describe the bug

I've defined java home in my vscode's settings as a `/Users/kpodsiadlo/.sdkman/candidates/java/current`.
which resolves to `/Users/kpodsiadlo/.sdkman/candidates/java/17.0.2-zulu`.
However, because of this check
https://github.com/scalameta/metals/blob/eefbe2a21bea7e1ce814e2b250231e323268671f/mtags/src/main/scala/scala/meta/internal/metals/JdkSources.scala#L34-L37

Metals won'

[2022-04-04 09:33] prolativ opened #3785 "Misplaced type annotation on backticked definitions"
### Describe the bug

Invoking `Insert type annotation` code action on a backticked definition adds the annotation in a wrong position.
For a `def`:
[code]
becomes
[code]
in scala 2.13.8 but works correctly in scala 3.1.1

For a `val`:
[code]
gives
[code]
in scala 2.13.8 and
[code]
in scala 3.1.1

### Expected behavior

[code]

[code]

### Operating system

macOS

### Editor/Extension

VS Code

##

[2022-04-04 11:42] prolativ commented on #3785
Additionally it looks like if the backticked identifier contains a dash, the ascription can be added in a different (although still incorrect) place, e.g
[code]
in scala 2.13.8 becomes
[code]

[2022-04-04 12:32] prolativ commented on #3785
In scala 2.13.8 in case of a `def` with backquoted name consisting of 3 parts, e.g
[code]
an exception is thrown
[code]

[2022-04-04 21:23] kubukoz opened #3786 "Scala 3: completions not shown after dealiasing"
### Describe the bug

Completions don't seem to work on higher-kinded types applied in a type alias. Not sure if this is a Metals issue or something in the compiler, but here it is:

[code]

Completions on `client.` don't show anything that actually comes from `Service`'s interface, but completions on `client2` work flawlessly.

### Expected behavior

Completions work in both cases

### Operating

[2022-04-05 19:36] brdoney opened #3794 "Requests fail when editing file with path that includes spaces"
### Describe the bug

Whenever I edit a file that has a path which includes spaces, for example `~/Library/Mobile Documents/com~apple~CloudDocs/Documents/testing.sc` (note the space between `Mobile` and `Documents`), requests for folding ranges, code lenses, completion, and more seem to fail, even though the features are still provided as I'm actually editing the code.

I looked at the error log i

[2022-04-05 23:52] juhp opened #3796 "Installation documentation is very terse"
I am still a newcomer to scala and metals, and an Emacs user.
I find the website documentation about installation is really too terse.
I think a note should be added somewhere about how to install metals from the command line.

[2022-04-06 05:56] kpodsiad commented on #3796
Hi @juhp, thanks for reporting this!
Do you manage to get the Metals working?

[2022-04-06 07:38] tanishiking commented on #3133
In the discussion https://github.com/scalameta/scalameta/issues/2443 we decided to deal with this problem on Metals side, I'll take a look if it's feasible option :)

[2022-04-06 08:02] ckipp01 commented on #3796
Thanks for the feedback @juhp. You can see some instructions on how to bootstrap metals from the command line [here](https://scalameta.org/metals/docs/editors/emacs#eglot) if you scroll down a bit. However, it's even easier than that as you can also do a `cs install metals` if you have [coursier](https://get-coursier.io/) installed.

Most of the editor-specific docs are maintained by users of that

[2022-04-06 10:50] juhp commented on #3796
Thanks for the helpful reply.

Would it make sense to mention `coursier install metals` as an option in a small section of the top text editors overview page?

[2022-04-06 11:35] WojciechMazur opened #3797 "Ammonite support is broken when using sources defined as symbolic links"
### Describe the bug

Using sources that are symbolic links instead of regular files leads to throwing exceptions when running Metals with Ammonite support.

Reproduction steps:
1. `mkdir source usage`
2. `touch source/script.sc`
3. `ln -fs source/script.sc usage/script.sc`
4. Open metals in `usage` directory, start ammonite server and try to import the build

Leads to exceptions listed below, rep

[2022-04-06 12:15] tanishiking commented on #2627
Gonna work simultaneously with https://github.com/scalameta/metals/issues/3133 as the issue requires a fix also in mtags .

[2022-04-06 13:06] ckipp01 commented on #3796
Honestly probably not on the overview page. Mainly because the vast majority of users will be using a client where it automatically will install Metals for you. So I'd rather not cause confusion by putting the `coursier install metals` right out in front.

[2022-04-07 08:39] tgodzik commented on #3301
@davidmlw did Bloop start with the correct port and did Metals not connect to it? I think for Metals we might be using a configuration property that you would need to add to server properties `-Dmetals.bloop-port=1234`

[2022-04-07 08:55] tanishiking opened #3801 "Flaky `CancelCompileLspSuite`"
### Describe the bug

These days, I see `tests.CancelCompileLspSuite` fails randomly.

[code]

This is not much frustrating as it usually recovers by re-running the tests, but it would be awesome if we can stabilize the test :)

### Expected behavior

Stable test result for `CancelCompileLspSuite`.

### Operating system

Any operating system on GitHub actions.

### Editor/Extension

_No response_

[2022-04-07 14:22] tgodzik commented on #3786
Thanks for reporting! This looks like something that might need to get fixed in the compiler, I will double check next week.

[2022-04-07 15:46] tgodzik commented on #3797
It seems the issue is due to the fact that we always unalias all the file uris we get, but ammonite produces ones using the symbolic name. We could add the check in:

https://github.com/scalameta/metals/blob/main/metals/src/main/scala/scala/meta/internal/metals/ammonite/Ammonite.scala#L126

if the file doesn't exist we could fallback to the link without dealias.

[2022-04-07 21:10] YeOldePorkchop commented on #3747
Thanks for the reply , we are currently using Windows 10.
I'll be getting a JSON file to you here shortly. The files need to be vetted before we can give them to you but the person to do that is out today.

The issue I'm seeing is when we initialize our subproject: `lazy val subProjectA = (project in file("subprojecta")). settings( name := "SubProjectA")`

The area `file("subprojecta")` appears to

[2022-04-08 08:58] tgodzik commented on #3747
Oh, that might be related. I haven't checked it with the project names. I will take a look next week when I will have access to a Windows machine.

[2022-04-08 15:58] tgodzik opened #3808 "Go to implementation doesn't work with self types"
### Describe the bug

Add this test to ImplementationSuite:
[code]

### Expected behavior

The test should work

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

v0.11.2

### Extra context or search terms

Part of the solution would be to analyse self parameter together with normal parents, however another issue seems to be that the parent methods do not show in o

[2022-04-08 17:13] desophos opened #3809 "Ambiguous symbols are not always disambiguated in hovers"
### Describe the bug

In my team's Scala 3.1.1 codebase, types are never disambiguated in hovers. For example, `X.ID` and `Y.ID` both show up as just `ID`. This makes hovers more confusing and less useful. We rely on package and object structure to distinguish case classes with the same name by qualifying them, so losing that qualification creates a lot of confusing ambiguity.

Here is a Gist demo

[2022-04-08 22:18] YeOldePorkchop commented on #3747
I've created a reproduction of our project structure in: https://github.com/YeOldePorkchop/NamingConventionIssue

Attached are the dap-server.trace.json text as well as the dap-client.trace.json text.

[dap-client.txt](https://github.com/scalameta/metals/files/8455547/dap-client.txt)
[dap-server.txt](https://github.com/scalameta/metals/files/8455548/dap-server.txt)

[2022-04-09 23:22] tribbloid commented on #3764
Yes you are right, the metal server version has been set to a SNAPSHOT version by the previous version. After removing it everything becomes normal.

The default/reset value is however 11.2, still not optimal and will become obsolete soon

[2022-04-10 03:37] Dev-XYS opened #3810 "Wrong 'Content-Length' in response header"
### Describe the bug

Occasionally, the `Content-Length` field in the response header does not match the actual length of the response body.

Steps to reproduce the issue:
1. Download the Metals server using command
`coursier bootstrap org.scalameta:metals_2.12:0.11.2 -o metals -f`
Put the executable `metals` anywhere on the machine, say `~/metals`.

2. Put the following simple Scala program in /t

[2022-04-10 06:24] #3796 closed

[2022-04-10 08:41] ckipp01 commented on #3764
That's the latest stable version. The default will also fall back to this. So when we release the next version of Metals, the extension will also be updated to fall back to the latest version.

[2022-04-10 08:52] ckipp01 commented on #3810
Thanks for the detailed report @Dev-XYS. I haven't heard of this being an issue anywhere before with any of the clients.

Can you expand on this a bit? What client were you using when you encountered this? What sort of issue did you have that caused the client to stop working? You're instructions are detailed, thank you, but I'm curious if this ever actually happens when using Metals with a client

[2022-04-10 09:20] Dev-XYS commented on #3810
Sorry for that, the statement is not very accurate. I just assumed that some clients will stop working if they received responses like this.

Actually, I am working on a project which utilizes existing language servers (and that's why I also found the issue with Racket language server). So I need to send messages to the server and receive messages from the server, which means I am basically develo

[2022-04-10 09:47] ckipp01 commented on #3810
😅 no worries at all, up until this point I've honestly never thought about the `Content-Length` since it's never been an issue.

Sounds like an interesting project! The tricky part is that I'd like to try and reproduce this with a client if possible, so I'll need to figure out the best way to do that. One thing you could try, which I'd be curious about (if it's easy), is to use your client to send

[2022-04-10 11:40] Dev-XYS commented on #3810
Thank you for your response. Actually I tried [eclipse.jdt.ls](https://github.com/eclipse/eclipse.jdt.ls) with my project. But it seems to use a lot of Java-specific requests instead of the general ones the LSP provides (I may be wrong here, because I don't know enough about it). So it turned out to be incompatible with the current state of my project, and I abandoned it as a result.

I will try t

[2022-04-10 12:10] tanishiking commented on #3810
Looks like `7196` comes from UTF-8 length instead of UTF-16 length, and it is correct behavior of LanguageServerProtocol as their messages are encoded with UTF-8, not UTF16 https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification

[code]

[2022-04-10 12:38] tanishiking commented on #3810
I guess the issue in Racket-LSP comes from the same reason, looks like their internal string representation is not UTF-8 (UCS-4 or UTF-16 ?)
https://docs.racket-lang.org/foreign/String_Types.html

[2022-04-10 12:50] tanishiking commented on #3810
BTW, if you're interested in how to count UTF-8 length in Java or JavaScript (whose internal string representation is not UTF-8) efficiently (than something like `str.getBytes(Charset.forName("UTF-8")).length`), please take look at my blog post :) (it's in JS though) https://tanishiking.github.io/posts/count-unicode-codepoint/

[2022-04-10 12:56] ckipp01 commented on #3810
ahhhh, good catch @tanishiking!

[2022-04-11 07:16] benrbray opened #3817 "`formatOnType` misbehaves with interpolated triple-quoted multiline strings"

[2022-04-11 07:49] Dev-XYS commented on #3810
@tanishiking Ahh, I see. It turns out that I was counting the number of characters in UTF-8 instead of the bytes count. And I did this both in my project and when I tried to get the length of the response manually in VSCode.

Thank you very much!

[2022-04-11 08:02] #3810 closed

[2022-04-11 12:51] arobertn opened #3815 "Files in sources jars with extra parent directories are not found"
### Describe the bug

## Issue description

When working with Scala in VS Code, Metals will download sources jars and support dereferencing classes from them in code files by the "Go to definition" context menu option. However if said source jars contain extra parent directories, e.g. source files are under `src/main/java/com/...` in the jar instead of `com/...` then this silently fails and you ge

[2022-04-11 14:55] #3794 closed

[2022-04-11 18:10] sid-maddy commented on #2954
@tgodzik, I have the same issue and ran `bloop compile --verbose`. Here's the output.
[bloop.log](https://github.com/scalameta/metals/files/8466679/bloop.log)

Also, here's the log generated by the metals LSP
[metals.log](https://github.com/scalameta/metals/files/8466685/metals.log)

For reference, I'm using metals with Neovim, configured with [the default configuration for Metals from nvim-lspcon

[2022-04-13 09:48] #3785 closed

[2022-04-13 10:43] tanishiking commented on #2810
I confirmed this is fixed by https://github.com/lampepfl/dotty/pull/14639 in the latest nightly Scala3 version, thanks @rochala !
I'll add a test on Metals side

[2022-04-13 14:40] tgodzik opened #3824 "Breakpoint not working in dependency jar"
### Discussed in https://github.com/scalameta/metals/discussions/3813

<div type='discussions-op-text'>

<sup>Originally posted by **lyfne123** April 11, 2022</sup>
Hi, I'm a new learner of Metals, I have a question that my breakpoints in dependency jar is not working.

below is my example code:
[code]

I can add breakpoint in TestApp, but if I add inside ++= function, which is in`org/scala-lang/s

[2022-04-13 16:53] tgodzik commented on #3809
Thanks for reporting! It looks like this never properly worked for Scala 3.

[2022-04-13 16:55] tgodzik commented on #2954
Could you try to see if this also happens with the newest Bloop version `1.4.13-70-d6f16202`?

You can change the `Metals: Bloop version` setting and restart when prompted. CLI should also correctly connect to the new server.

[2022-04-13 17:29] sid-maddy commented on #2954
Actually, the `bloop compile --verbose` command, whose output I've attached in the previous comment, is `1.4.13` (not sure about the `-70-d6f16202` suffix.)
[code]

Also, the version of `bloop-launcher` that was installed with `metals` is `1.4.13` (assuming this is the server version.)
[code]

P.S. `Metals: Bloop version` must be a setting provided by the VSCode extension. I tried changing the `ve

[2022-04-14 05:59] tanishiking commented on #1692
Now `AutoImports` for Scala3 is implemented, I'm going to work on this feature (as this is my favorite one 😄 )

[2022-04-14 08:07] #3766 closed

[2022-04-14 12:46] #3133 closed

[2022-04-14 16:42] sid-maddy commented on #2954
Tried to configure `metals` to use the development version of `bloop`, but it didn't seem to register it, even after multiple server restarts.

I did try compiling the project using the development version of `bloop` from `coursier`, but that fails to compile the project as well.

[bloop-development-version.log](https://github.com/scalameta/metals/files/8490860/bloop-development-version.log)

[2022-04-14 16:56] tgodzik opened #3830 "[Scala 3] Inferred types are not backquoted"
### Describe the bug

This was fixed for Scala 2 in https://github.com/scalameta/metals/pull/3829 using backported code from scalafix.

### Expected behavior

Types should be backquoted when needed

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

v0.11.2

### Extra context or search terms

backquotes types infer

[2022-04-14 17:04] tgodzik commented on #2954
I will take a look at the sample you provided then, thanks!

[2022-04-15 03:03] #2810 closed

[2022-04-16 10:04] sid-maddy commented on #2954
Managed to configure `metals` to use the development version of `bloop`, though it doesn't fix the issue.
BTW, should this issue be moved to the [Bloop](https://github.com/scalacenter/bloop) repo?

[2022-04-18 10:54] #2627 closed

[2022-04-19 07:12] hmf opened #3845 "Debugging Java with Mill using Bloop - breakpoints in Java GUI lib don't work"
**Describe the bug**

I have a Mill project that I have working correctly via Bloop. Bloop was correctly and automatically launched when the Mill build script was detected. This is a Scala 3 project. When I set breakpoints in the Scala code, the debugger pauses correctly. When I set breakpoints in the Java library code, it does not stop. I can however step into the code with no problems.

**To Rep

[2022-04-19 07:45] kpodsiad commented on #3845
Thanks for raising this issue @hmf. It seems that we hit a regression in terms of debugging recently. Until some time ago, everything which you wrote was working, but currently it isn't. There are other, similar issues such as https://github.com/scalameta/metals/issues/3824.

[2022-04-19 08:29] hmf commented on #3845
@kpodsiad Thank you for such a fast response. Seeing as you already another open issue on this, if you like, I can close this one.

[2022-04-19 08:48] kpodsiad commented on #3845
If I answered all of your questions then yes, feel free to close this issue in favor of already existing ones.

In the meantime, you should probably use IntelliJ Idea to play with Swing and GUI thread.

[2022-04-19 09:01] kpodsiad commented on #3824
I think the source of the problem are virtual documents.
Here's the trace from setting brekpoint in my Main:
<details>
  <summary>Source file</summary>

[code]
</details>
and here's the trace from dependency:

<details>
  <summary>JAR file</summary>

[code]
</details>

See that JAR file has `jar:file%3A///` prefix and I guess that `jar` is the source of problems.

[2022-04-19 11:57] hmf commented on #3845
@kpodsiad Ok. Will close then. Thanks.

[2022-04-19 11:57] #3845 closed

[2022-04-19 17:46] simlei commented on #2778
Made a MRE for demonstrating it's not yet there, in the context of NVIM + nvim-metals. Would love this feature!
https://github.com/simlei/MRE_fetchlibdocs

[2022-04-20 02:58] BloomnDoom opened #3851 "Invalid entry CRC when attempting to install Metals on Linux"
### Describe the bug

I've installed `lsp-mode` and `lsp-metals` so when opening up a file, it prompts the installation of metals. It contacts github and starts decompressing the files, but stops a second later. The coursier log shows this:

`Im trying to install metals for scala however when i start the installation it starts decompressing the files and just exits. My scala version is 2.13.8-1

T

[2022-04-20 04:49] tanishiking opened #3852 "[Scala3] Incorrect hover tooltip for `xxx.method` in for comprehension"
### Describe the bug

[code]

Hover `headOption`, then we see the following tooltip for `map`

<img width="549" alt="Screen Shot 2022-04-20 at 13 40 19" src="https://user-images.githubusercontent.com/9353584/164152438-06175031-1ad3-43bd-9fd5-643f398af5de.png">

This started to occur from https://github.com/scalameta/metals/pull/3792

### Expected behavior

- Metals should show a signature for `hea

[2022-04-20 04:55] ckipp01 commented on #3851
Thanks for the report @BloomnDoom. I believe you're hitting on [this](https://github.com/coursier/coursier/issues/2398) which needs to be fixed upstream. As a workaround I believe you should still be able to install via the java launcher (coursier) instead of the native one (cs).

[2022-04-20 05:15] BloomnDoom commented on #3851
@ckipp01 Thanks for your reply. I'm on Arch linux. I've installed coursier from the site however I'm a bit confused on what to do now. Everything i need seems to to be located at ~/.local/share/coursier/bin however opening emacs still says that no server is installed. Could you please guide me on what to do next?

[2022-04-20 08:25] ckipp01 commented on #3851
After the installation you should have `coursier` available to you as a command. You should then be able to do a `coursier install metals`. Hopefully this works whereas `cs install metals` will fail with the error. you mentioned. After this I _believe_ `lsp-metals` should just pick up Metals being on your path and everything should ™️ work.

[2022-04-20 09:36] #2697 closed

[2022-04-20 11:47] zmerr commented on #3815
It can be reproduced when JAVA_HOME is on Java 17 too.

[2022-04-20 13:40] BloomnDoom commented on #3851
Yep it works now. I just had to add a path to `~/.local/share/coursier/bin` first and then followed your steps. Thanks a lot!

[2022-04-20 13:40] #3851 closed

[2022-04-20 15:21] tgodzik commented on #3786
Finally managed to double check and it's an issue in the compiler, reported here: https://github.com/lampepfl/dotty/issues/14984

[2022-04-20 15:45] zmerr opened #3855 "the companion object is created before the end marker in the code action"
### Describe the bug

https://user-images.githubusercontent.com/93259201/164269839-283eff87-b577-4ead-83f7-c09663c55b7c.mov

### Expected behavior

Putting it after the end marker

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of Metals

v0.11.3-SNAPSHOT

### Extra context or search terms

_No response_

[2022-04-20 16:34] sid-maddy commented on #2954
Had to add that to the `<configuration>` section of the `scala-maven-plugin` to make it work.
Thanks! Didn't know that was needed (new to the Maven/Scala ecosystem.)

Works with both stable and development versions of Bloop.

[2022-04-20 16:52] tgodzik commented on #2954
Glad to hear it!

[2022-04-20 16:52] #2954 closed

[2022-04-20 19:51] slandelle commented on #2954
Hi,

One of the scala-maven-plugin maintainer here.

I beg to differ here. This property is not the solution.
Neither maven nor IntelliJ need this property to correctly resolve the correct Scala version based on the dependency tree. Bloop should be able to achieve the same.

This `scala.version` property is only used when the scala-library is not already pulled (which IMHO is a design error but sa

[2022-04-21 11:30] kpodsiad commented on #3754
I've inspected `bsp.trace.json` and there are no logs with `$/cancelRequest`. It can mean that cancelation doesn't work at all.

[2022-04-21 12:21] tgodzik commented on #3801
Might actually be related to https://github.com/scalameta/metals/issues/3754

[2022-04-21 15:46] tgodzik commented on #2954
Ach, right, that seems more like a workaround. Looks like we need an update in the Bloop maven plugin (we depend upstream on the scala maven plugin)

Though it seems I am not able to make it work properly when the only scope set is `test` and it seems due to https://github.com/davidB/scala-maven-plugin/blob/627772b0c968693f6226b72c2e0ea7172ec795a1/src/main/java/scala_maven/ScalaMojoSupport.java#L3

[2022-04-21 15:54] tgodzik commented on #2954
Trying to fix it here https://github.com/scalacenter/bloop/compare/main...tgodzik:fix-maven?expand=1

But two things remain:
- the test scope seems not enough
- multi module started failing if we don't set anything in the parent version (is it expected?)  as for example in https://github.com/scalacenter/bloop/blob/main/integrations/maven-bloop/src/test/resources/multi_scala/pom.xml

[2022-04-22 08:34] tanishiking commented on #1707
This issue is fixed by the following PRs
https://github.com/scalameta/metals/pull/3792
https://github.com/scalameta/metals/pull/3807

[2022-04-22 08:34] #1707 closed

[2022-04-22 09:10] tanishiking commented on #1692
I was trying to develop a prototype of this feature https://github.com/scalameta/metals/commit/29753fb6094c111d610a8db89baedb112d03b53b
and I stuck around listing all the members of the class.

In Scala2, we get all the members (including abstract members) by `typed.tpe.members`, and then filter methods that should be implemented.
https://github.com/scalameta/metals/blob/50c60add4e0f250e9352ab36af

[2022-04-22 10:17] tgodzik commented on #1692
Shouldn't we have that data from the classpath? That's what happens in Scala 2, we give the classpath to the presentation compiler and it's able to find all those symbols. Wouldn't it be a bug in Scala 3?

[2022-04-22 14:38] kpodsiad commented on #3824
closed via https://github.com/scalameta/metals/pull/3846

[2022-04-22 14:38] #3824 closed

[2022-04-22 14:51] #3762 closed

[2022-04-24 15:19] som-snytt commented on #3808
Relatedly in Scala 2 REPL,
[code]
I want to navigate from the "interface" to the mix-in that implements it in the concrete class.

[2022-04-25 16:25] tgodzik commented on #3747
I think I know what might be going on.

Normally, directory names need to match exactly, but on Windows `subProjectA` is the same as `subprojecta`, while Metals will try to match exactly. This seems to be an issue in https://github.com/scalacenter/scala-debug-adapter/blob/b3d0140ef132d6de0674880e4f818347ffde1a19/core/src/main/scala/ch/epfl/scala/debugadapter/internal/SourceEntryLookUp.scala

@adpi

[2022-04-26 09:48] #3855 closed

[2022-04-26 12:49] moberer commented on #3536
Regarding the relevancy of this issue:
On openSUSE the Java directory does not have a release file.
Therefore one can not currently use Metals on openSUSE.

[2022-04-26 14:34] moberer opened #3870 "exception logged (after workspace/didChangeConfiguration)"
### Describe the bug

When using `metals-emacs` with `lsp-mode`/`lsp-metals` there are repeatedly exceptions logged to the metals.log file.
While the expected features at the client side (jump to definition, jump to reference) still work, it still seems that this is unintendend.

The metals log up until the first occurence of the issue is:
[code]

### Expected behavior

No exceptions in log file.

[2022-04-26 14:47] tgodzik commented on #3870
Thanks for reporting! It looks like an issue on the client side. The settings field should not be null (it's actually marked as NonNull) and that's what seems to be sent to the server.

[2022-04-26 15:16] moberer commented on #3536
Is there any particular reason to not just use this approach in all cases?
Because I see no reason to rely on any other, potentially wrong sources than the actual java binary.

[2022-04-26 15:20] tgodzik commented on #3536
The primary reason is that it's usually faster to just read a file instead of running a separate process.

[2022-04-26 16:13] moberer commented on #3870
Hmm, interesting. I've just tried it with eglot too and get the same exception in the log.

[2022-04-26 17:14] moberer commented on #3536
Excuse my possible lacking understanding, but isn't this a one-time job, to do at startup?

[2022-04-26 17:54] tgodzik commented on #3536
Yeah, that might have been premature optimization on out part :sweat_smile:

[2022-04-27 08:14] moberer commented on #3870
Opened an issue with the eglot client.

[2022-04-27 09:39] tgodzik commented on #3870
https://microsoft.github.io/language-server-protocol/specification#workspace_didChangeConfiguration allows for `any`, so I would assume that's not a null? Nullable fields are usually indicated with `?:`

[2022-04-27 12:31] moberer commented on #3870
Was resolved on the client side. Thanks for your help!

[2022-04-27 12:31] #3870 closed

[2022-04-28 04:05] #3852 closed

[2022-04-28 06:27] yadavan88 opened #3877 "VSCode Metals quickhelp doesnt implement methods"
### Describe the bug

The quickhelp suggestions in vscode with metals doesn't work.

Steps to reproduce:
1. Create a small object extending IOApp.Simple in cats effect
2. It will show compilation error since run() is not implemented
3. Click on the bulb icon and then click on "implement all members"
4. Nothing happens

### Expected behavior

It should implement the _run()_ method in this case

###

[2022-04-28 06:43] tanishiking commented on #3877
@yadavan88 Thank you for reporting! Unfortunately, this feature is not yet available in Scala3 https://github.com/scalameta/metals/issues/1692 (Maybe we shouldn't show a CodeAction in Scala3 because it's confusing).
However, we are working on this feature, stay tuned!

[2022-04-28 06:58] tanishiking opened #3878 "Don't show quickfix if it's not available"
### Describe the bug

Currently, in Scala3, several code actions are not yet available.
However, Metals show quick help as if they're available, and when we click it, nothing happens.

It isn't very clear for those who don't know which code actions are implemented in Scala3 or not (meaning almost all the users).

### Expected behavior

Metals don't show a quick help if the codeaction is not availa

[2022-04-28 06:59] tanishiking commented on #3877
I opened an issue not to show a quick help if the code action is not available https://github.com/scalameta/metals/issues/3877

[2022-04-28 07:02] yadavan88 commented on #3877
@tanishiking Thank you very much for such a quick response.

[2022-04-28 07:28] tanishiking commented on #3877
Let me close this issue for https://github.com/scalameta/metals/issues/3878 and https://github.com/scalameta/metals/issues/1692
Again, thank you very much for reporting!

[2022-04-28 07:28] #3877 closed

[2022-04-28 14:40] tanishiking commented on #1692
@dos65 Thank you for confirming, yeah, I realized the problem is the scala3 project I'm playing with which is wrongly configured the sbt project, and the presentation compiler always fallback to the standalone version :bow:
Also I realized that `symbol.tpe.abstractTermMembers` do the thing, and we don't need to do it manually :)

[2022-04-28 15:05] tgodzik commented on #3786
Looks like this will be fixed in the next compiler version. Let's take a look at it then.

[2022-04-29 01:59] yinshurman opened #3884 "vs code always Warning "Unable to find a java 11 or java 17 ""
### Describe the bug

when open a sbt project in vscode , there is a warning:
` Unable to find a java 11 or java 17 on this computer. To fix this problem ,update metals.javahome ...`
but I already set that value to my java 11 home (graalvm version):
`/Library/java/JavaVirtualMachines/graalvm/Contents/Home`
Until now  everything works except the warning information always show up ,it is a little an

[2022-04-29 09:59] tgodzik commented on #3884
Thanks for reporting! @kpodsiad is it possible it's releated to the recent changes in VS Code?

[2022-04-29 10:00] tgodzik commented on #3884
Also @yinshurman does metals work correctly (completions, hovers etc.) or does it never get to that point. And is the warning showing up in the pop up?

[2022-04-29 12:00] kpodsiad commented on #3884
I don't think so, changes were (at least should) be related only with the installing jdk (offer 17, do not offer 8).

I'll double check that PR.

[2022-04-29 12:49] yinshurman commented on #3884
sadly, it dosen't work at all ! No completions and even No distinct colors . just the sbt can work and i just tested the sbt before.

I installed the extension 1.13.0, the warning is still there with information `Unable to find a java 8 ....`
and i continued to install the extension 1.12.0(this time also redowloaded the meta  v0.11.1 ). this time everything works fine ,No warning ,and the plugin f

[2022-04-29 12:57] yinshurman commented on #3884
extra informations which maybe help:
vscode information:
[code]
macos information:
`macOS catalina 10.15.7 with Intel Core i5`

[2022-04-29 15:42] tgodzik commented on #3884
Some related changes seem to be https://github.com/scalameta/metals-vscode/pull/861 and https://github.com/scalameta/metals-vscode/pull/864/files

Looks like `/Library/java/JavaVirtualMachines/graalvm/Contents/Home` is no detected as Java home :thinking:

Is there anything in Metals logs when you run the newest version? In Output (Metals)

[2022-04-30 00:27] yinshurman commented on #3884
ouput :
[code]

[2022-04-30 12:16] tgodzik commented on #3884
Och, that's maybe caused by https://github.com/scalameta/metals-vscode/blob/5286d7bf01758e0fefcd9f351184d203b88108e1/src/mirrors.ts#L22 and if we don't have the `.metals` directory in user then it breaks. Do you have the mirror property set maybe?

Does it work if you create the directory? We should for sure fix it to just create the metals dot directory in that case.

[2022-04-30 12:39] yinshurman commented on #3884
Manually creating  ~/.metals directory fixed  this issues !  And yes, I set the mirror property,here is the settings.json information related with metals , hope it can be helpful.
By the way, i didn't imagine it to be such a little issue, thanks for your help!
[code]

[2022-04-30 13:30] tgodzik commented on #3884
I will fix it after the weekend, should be a small hassle.

[2022-05-01 16:11] nikololiahim opened #3901 "Putting the caret on the `end given` end marker highlights more text than necessary"
**Describe the bug**
Pretty much the title.

**To Reproduce** Steps to reproduce the behavior:
1) Paste the following code in VScode:
[code]

2) Put the caret where `end given` is.

**Expected behavior**

Only `given` should be highlighted.

**Screenshots**
![image](https://user-images.githubusercontent.com/45356788/166154090-a1ec9d24-2b89-4f0e-a7cd-71731e91d02c.png)

**Installation:**

- Operatin

[2022-05-02 10:57] vishalovercome opened #3895 "Extension takes too long to load?"
### Describe the bug

I'm not sure whether this is a Metals issue or a VSCode issue or issue with some other extension but I've noticed that one of the VSCode's node process takes too much CPU for about 10-15 minutes during which the entire IDE becomes unresponsive (no text editing, etc.). One behavior that is consistent across restarts is that the node process is managing all my Java/Scala extens

[2022-05-04 07:42] vishalovercome commented on #3895
I see this in metals.log

`2022.05.04 13:11:16 INFO  shutting down Metals
2022.05.04 13:11:17 INFO  Shut down connection with build server.
2022.05.04 13:11:17 INFO  Shut down connection with build server.
May 04, 2022 1:11:17 PM org.eclipse.lsp4j.jsonrpc.RemoteEndpoint notify
INFO: Failed to send notification message.
org.eclipse.lsp4j.jsonrpc.JsonRpcException: java.nio.channels.AsynchronousClose

[2022-05-05 09:48] tgodzik commented on #3895
Thanks for reporting! It's probably best to turn off one extension at a time to see which one is causing it. Metals extension itself is rather minimal, so it shouldn't cause any long load time. The bulk of the work is done by the Metals server and it's outside VS Code.

[2022-05-05 09:56] Arthurm1 commented on #3895
VSCode can do this automatically for you using the `Help: Start Extension Bisect` command

[2022-05-05 18:54] vishalovercome commented on #3895
Thanks for the suggestions. I had done a bisect prior to creating this ticket. Unfortunately that didn't yield anything. My guess is that this is a one time startup related issue. Metals and other Java/Scala extensions don't consume any cpu at all. I'm almost certain that this is a VSCode issue rather than an extension issue. Only reason I created this is because it seems to only happen with the n

[2022-05-08 09:01] BloomnDoom opened #3902 "Metals does not get initialized with Cuda text"
### Describe the bug

I installed metals through coursier and then tried initializing it with cuda text, however i get this error message when opening up a file

`ReadLoopError: LSP: Scala - [Errno 10] No child processes`

I linked the path to metals for the setup of the lsp server, the path is

 `C:\Users\User\AppData\Local\Coursier\data\bin\metals.bat`

### Expected behavior

_No response_

###

[2022-05-08 12:33] tanishiking commented on #3902
@BloomnDoom Thank you for reporting!
Unfortunately, Metals doesn't officially support [CudaText](https://cudatext.github.io/), and it may take some more steps to run Metals on CudaText. [Integrating a new editor](https://scalameta.org/metals/docs/integrations/new-editor) page of the Metals document may help.

[2022-05-08 13:01] BloomnDoom commented on #3902
I'll check that out, thanks!

[2022-05-08 13:01] #3902 closed

[2022-05-08 13:03] tanishiking commented on #3902
If you have any questions in the document, don't hesitate to create another issue :)

[2022-05-08 22:01] tballard commented on #1627
May 2022, same problem, more obfuscated maybe. Saw this post about 8 hours in and rebooted. Yup, still the cure.

[2022-05-09 07:09] armanbilge opened #3903 "`plug-in not found: semanticdb` `javac returned non-zero exit code`"
### Describe the bug

https://github.com/armanbilge/schrodinger/commit/bffe56896175c2b2668c220dfda873882563b26e

sbt bsp server

[code]

[code]

[code]

[code]

[code]

### Expected behavior

Either it works out-of-the-box, or if the Java SemanticDB is unsupported with the sbt bsp then it should be disabled.

Edit: I see, it should be supported as of
- https://github.com/scalameta/metals/pull/3861

[2022-05-09 07:32] dos65 commented on #3903
Thanks for reporting!
I will looks what is going wrong.

As a temporal workaround you can add `ThisBuild/javaSemanticdbEnabled := false` to your build.sbt

[2022-05-09 13:43] tgodzik commented on #1627
https://github.com/scalameta/metals/issues/3542

[2022-05-09 15:57] armanbilge commented on #3903
Reproduced the problem in an scripted test in https://github.com/scalameta/metals/pull/3907.

[2022-05-10 08:11] #3903 closed

[2022-05-11 04:09] tanishiking commented on #3901
Fixed in upstream, this should be fixed in next Scala3 release :)

[2022-05-13 15:01] tgodzik opened #3915 "Wrong details for `sliding` method"
### Describe the bug

This shows up in the CompletionDocSuite:
[code]

There should ideally be no difference between the main expectation and the Scala 3 one

### Expected behavior

`Iterator[Int]#GroupedIterator[B]` is shown.

### Operating system

Linux

### Editor/Extension

VS Code

### Version of Metals

v0.11.5

### Extra context or search terms

completions iterator sliding

[2022-05-16 11:53] tgodzik opened #3923 "Migrate to single JDK 17 to be used by Metals"
Allowing the use of a lot of different JDK for the metals server causes more jobs to having to be run but also, but also causing issues with the Eclipse libraries already only on JDK 11 and doesn't allow to use any new features from new JDK versions.

I think we should do have a separate project JDK that would be use for running any of the builds and at the start also with Bloop.

We could follow

[2022-05-16 12:44] alexarchambault commented on #3923
Don't know if that can help, but you may want to download those using coursier. That way, those JVMs would be the same as the Scala CLI one, if you default to the same JVM as Scala CLI (currently `temurin:17`).

Using the coursier CLI, you can get the Java home with
[code]

Using the latest coursier-interface, you can get it with
[code]

That said, if you use the native `cs` launcher from the clie

[2022-05-16 14:16] ritschwumm commented on #3724
even worse: ctrl-click is affected, too. i'm learning to click far enough on the left, but it's still a bit annoying.

considering the somewhat longish release cycles of dotty, might it be possible to have a (temporary) workaround in this project?

[2022-05-18 10:38] tanishiking commented on #3878
Let's do our best implement all code actions for Scala3 before next release https://github.com/scalameta/metals/pull/3880#issuecomment-1112156453

[2022-05-18 10:38] #3878 closed

[2022-05-19 06:47] tanishiking opened #3926 "(scala3) OverrideCompletion should complete more accurate signature on error"
### Describe the bug

Follow-up of https://github.com/scalameta/metals/pull/3897

See `CompletionOverrideSuite#error`.

In Scala3, we print `Iterator[Any]` for `Iterator[Unknown]`

### Expected behavior

It should print `Iterator[A]` where `A` is the type parameter name of `Iterator`.

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of Metals

v0.11.6-SNAPSHOT

[2022-05-19 08:15] tanishiking opened #3927 "(scala3) OverrideCompletion should complete already overridden symbol"
### Describe the bug

follow-up https://github.com/scalameta/metals/pull/3897

see: `OverrideCompletionSuite#overriden-twice`

[code]

In this case, Metals doesn't offer override completion for `close` method.

### Expected behavior

Metals should complete `override def close: Unit = ${0:???}`

### Operating system

_No response_

### Editor/Extension

_No response_

### Version of Metals

v0.11.6

[2022-05-19 13:28] tanishiking opened #3928 "[Scala3] Better OverrideCompletions"
### Describe the bug

Follow-up of https://github.com/scalameta/metals/pull/3897

## [ ] OverrideCompletion should complete already overridden symbol
see: `OverrideCompletionSuite#overriden-twice`

[code]

In this case, Metals doesn't offer override completion for `close` method.

### Expected behavior

Metals should complete `override def close: Unit = ${0:???}`

---

## [ ] should complete more

[2022-05-19 13:29] tanishiking commented on #3926
Closing for https://github.com/scalameta/metals/issues/3928

[2022-05-19 13:29] #3926 closed

[2022-05-19 13:29] tanishiking commented on #3927
Closing or https://github.com/scalameta/metals/issues/3928

[2022-05-19 13:29] #3927 closed

[2022-05-19 13:44] prolativ opened #3929 "Hover on selection of transparent inline method application"
### Describe the bug

With scala 3.1.2:

[code]

Hovering on selected `foo(1)` shows

[code]

### Expected behavior

It should show
[code]

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.5

### Extra context or search terms

_No response_

[2022-05-20 08:06] #3929 closed

[2022-05-20 08:25] tgodzik commented on #2778
Actually, this was fixed in https://github.com/scalameta/metals/pull/3914

[2022-05-20 08:25] #2778 closed

[2022-05-20 17:26] matthughes opened #3933 "Peek references doesn't work on ETA expansion"
### Describe the bug

[code]

Peek references on `Map.apply` finds the first example, but it doesn't find the call that uses ETA expansion.

### Expected behavior

Peek references should find both calls.

### Operating system

macOS

### Editor/Extension

VS Code

### Version of Metals

v0.11.5

### Extra context or search terms

point-free, eta expansion, function application, peek references

[2022-05-20 18:50] tgodzik commented on #3933
Thanks for reporting! This might actually be semanticdb issue as you suggested, there is nothing in the synthetics section for semanticdb.

[2022-05-20 20:23] kubukoz opened #3935 "(scala3) type hints missing some type parameters"
### Describe the bug

As seen on the screenshot: type hints have empty strings instead of inferred parameters.

Reproduction:

1. use scala-cli 0.1.3
2. Create file:

[code]

3. Enable type hints

Actual result, line 16:

<img width="778" alt="image" src="https://user-images.githubusercontent.com/894884/169605053-e75969a4-1c9c-48a1-9a7e-b459dec56e86.png">

In Scala 2:

<img width="1483" alt="image

[2022-05-21 02:18] camgraff opened #3936 "no build target for test file"
### Describe the bug

After importing the build and indexing [lila](https://github.com/lichess-org/lila). I navigate to https://github.com/ornicar/lila/blob/master/modules/user/src/test/TotpTest.scala and there is no LSP functionality. From `.metals/metals.log` I see
[code]
however, the build target does exist i.e. running `sbt "project user" test` runs the test.

I see the same behavior with all